<div class="o-form-group u:content-center mt-2 {% if form.accommodation.vars.valid == false %}is-invalid{% endif %}">
  <span class="o-input-label">Accommodation</span>
  {{ form_errors(form.accommodation) }}
  <div class="signup-finalize__accommodation-grid">
    <label for="{{ form.accommodation.children[0].vars.id }}" class="signup-finalize__accommodation-option signup-finalize__accommodation-option--left">
      <input type="radio" id="{{ form.accommodation.children[0].vars.id }}"
             name="{{ form.accommodation.children[0].vars.full_name }}"
             value="{{ form.accommodation.children[0].vars.value }}"
             data-username="{{ member.username }}"
             {% if form.accommodation.vars.value is null or form.accommodation.vars.value == form.accommodation.children[0].vars.value %}checked="checked"{% endif %}
             class="noradio js-accommodation">
      <div class="signup-finalize__accommodation-content signup-finalize__accommodation-content--no {% if form.accommodation.vars.value is null or form.accommodation.vars.value == form.accommodation.children[0].vars.value %}signup-finalize__accommodation-content--active{% endif %}">
        <span class="signup-finalize__accommodation-icon signup-finalize__accommodation-icon--no" aria-hidden="true">
          <i class="fas fa-house"></i>
        </span>
        <small>{{ form.accommodation.children[0].vars.label|trans }}</small>
      </div>
    </label>
    <label for="{{ form.accommodation.children[1].vars.id }}" class="signup-finalize__accommodation-option signup-finalize__accommodation-option--right">
      <input type="radio" id="{{ form.accommodation.children[1].vars.id }}"
             name="{{ form.accommodation.children[1].vars.full_name }}"
             value="{{ form.accommodation.children[1].vars.value }}"
             {% if form.accommodation.vars.value == form.accommodation.children[1].vars.value %}checked="checked"{% endif %}
             data-username="{{ member.username }}"
             class="noradio js-accommodation">
      <div class="signup-finalize__accommodation-content signup-finalize__accommodation-content--yes {% if form.accommodation.vars.value == form.accommodation.children[1].vars.value %}signup-finalize__accommodation-content--active{% endif %}">
        <span class="signup-finalize__accommodation-icon signup-finalize__accommodation-icon--yes" aria-hidden="true">
          <i class="fas fa-house-user"></i>
        </span>
        <small>{{ form.accommodation.children[1].vars.label|trans }}</small>
      </div>
    </label>
  </div>
  {{ form_help(form.accommodation) }}
</div>
{% do form.accommodation.setRendered %}

<div id="hosting_interest"
     class="{%- if form.accommodation.vars.value == form.accommodation.children[1].vars.value %}u:block{% else %}u:hidden{% endif %} u:mt-8">
  {{ form_label(form.hosting_interest) }}
  {{ form_widget(form.hosting_interest) }}
  <div class="range text-center u:mt-8 u:text-12">
    <p class="rangeSlider__value-output">{{ 'hosting.interest.select'|trans }}</p>
  </div>
  {{ form_help(form.hosting_interest) }}
</div>
