{% extends 'profile/profile.html.twig' %}

{% block page_content %}
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.show_name) }}
  {{ form_row(form.short_name) }}

  <label class="form-label">{{ form.gender.vars.label|trans }}</label>
  <div class="u:flex u:flex-row u:justify-between">
    {% for child in form.gender %}
      <div class="o-radio">
        <input type="radio" class="o-radio__input"
               id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
               value="{{ child.vars.value }}"
               {% if child.vars.checked %}checked="checked"{% endif %}
        >
        <label class="o-radio__label">{{ child.vars.label|trans }}</label></div>
      {% do child.setRendered %}
    {% endfor %}
  </div>
  {{ form_row(form.show_gender) }}
  {{ form_row(form.birthdate) }}
  {{ form_row(form.show_age) }}

  {{ form_row(form.address) }}
  {{ form_row(form.show_address) }}

  {{ form_row(form.email) }}

  <div class="u:flex u:justify-end u:my-8">
    <input type="submit" class="o-button" value="{{ 'account.update'|trans }}">
  </div>

  {{ form_end(form) }}
{% endblock page_content %}
