{% extends 'profile/edit_subpage.html.twig' %}

{% block subpage_title -%}
  Add language
{%- endblock %}

{% block subpage_body %}
  {{ form_start(form, {attr: {class: 'p-language-form'}}) }}
  {{ form_errors(form) }}

  <div class="p-language-panel">
    <div class="p-language-panel__icon" aria-hidden="true">
      <i class="fas fa-language"></i>
    </div>
    <div class="p-language-panel__content">
      {{ form_label(form.language, null, {label_attr: {class: 'p-language-form__label'}}) }}
      {{ form_widget(form.language) }}
      {{ form_help(form.language) }}
      {{ form_errors(form.language) }}
    </div>
  </div>

  <div class="p-edit-subpage__actions">
    <input type="submit" class="o-button" value="{{ 'save'|trans }}">
  </div>

  {{ form_rest(form) }}
  {{ form_end(form) }}
{% endblock subpage_body %}
