{% extends 'profile/profile.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('password/showhide') }}
    {{ encore_entry_script_tags('password/check') }}
{% endblock %}

{% block page_content %}
    <h1>{{ 'profile.change.password' | trans }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.current) }}
    <div class="o-form-group">
        {{ form_label(form.password) }}
        <div class="u-relative">
            {{ form_widget(form.password) }}
            <button type="button" id="password_show_hide" class="js-password-show-hide u-absolute u-text-gray-50 u-border-0 u-bg-white u-h-full u-top-0 u-end-0" style="height: 38px; margin: 1px; background-color: transparent">
                <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path class="block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                    <circle class="block" cx="12" cy="12" r="3"></circle>
                </svg>
            </button>
        </div>
        <div class="u-flex u-flex-row u-space-x-4 u-my-4 u-px-8 js-password-strength">
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
        </div>
        {{ form_help(form.password) }}
        <input type="hidden" class="js-username" value="{{ app.user.username }}">
        <input type="hidden" class="js-email-address" value="{{ app.user.email }}">
    </div>
    <div class="u-flex u-justify-end">
        <button type="submit" class="o-button">{{ 'profile.change.password.label' | trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
