{% extends 'profile/profile.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
{% endblock stylesheets %}

{% block page_content %}
    <h1>{{ 'profile.change.password' | trans }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="u-flex u-justify-end">
        <button type="submit" class="o-button">{{ 'profile.change.password.label' | trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
