{% extends 'base.html.twig' %}
{% block title %}
    {{ 'profile.add.comment.title'|trans({'username': member.username}) }}
{% endblock title %}

{% block content %}
    <h1>{{ 'profile.add.comment'|trans({'username': member.username, 'gender': member.gender}) }}</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <h5 class="mt-4">{{ 'comment.host.guest.title'|trans|capitalize }}</h5>
            {{ form_row(form.relations) }}
        </div>
        <div class="col-12 col-md-6 mb-3">
            <h5 class="mt-4">{{ 'comment.quality.title'|trans|capitalize }}</h5>
            {{ form_row(form.quality) }}
            <p>{{ 'comment.not.public'|trans|raw }}</p>
        </div>
        <div class="col-12 mb-3">
            <h5 class="mt-4">{{ 'comment.text.title'|trans|capitalize }}</h5>
            {{ form_row(form.comment) }}

            <div class="modal micromodal-slide" id="experiences" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div id="modal-container" class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                        <header id="modal-header" class="modal__header">
                            <h2 class="modal__title">
                                {{ 'comment.new.experience.title'|trans|capitalize }}
                            </h2>
                            <button class="modal__close" aria-label="{{ 'modal.close'|trans }}" data-micromodal-close></button>
                        </header>
                        <div id="modal-content-content" class="modal-content-content">
                            <div id="modal-content" class="modal__content">
                                {{ 'comment.new.experience.text'|trans|raw }}
                            </div>
                            <footer id="modal-footer" class="modal__footer u:flex u:flex-row u:justify-between">
                                <a href="{{ url('profile_comments', {'username': app.user.username}) }}" class="o-button" data-bs-dismiss="modal">{{ 'comment.new.experience.no'|trans|capitalize }}</a>
                                <a href="{{ url('comment_new_experience', {'from_member': app.user.username, 'to_member': member.username }) }}" class="o-button" data-bs-dismiss="modal">{{ 'comment.new.experience.yes'|trans|capitalize }}</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="alert alert-info">{{ 'followcommentguidelines'|trans|raw }}</div>

    <div class="u:flex u:justify-between">
        <a class="o-button" href="{{ url('members_profile', { username: member.username}) }}">{{ 'cancel'|trans }}</a>
        <button type="submit" class="o-button js-submit" disabled>{{ 'save'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
