{% import 'macros.twig' as macros %}

{% set loggedInMember = app.user %}
{% if member == loggedInMember %}
    {% if comment.toMember == loggedInMember %}
        {% set other = comment.fromMember %}
    {% else %}
        {% set other = comment.toMember %}
    {% endif %}
{% endif %}
{% set show = comment.showCondition(loggedInMember) %}
{% set quality = comment.quality|lower %}
<div class="card comment-bg-{{ quality }} u-p-16">
    {% if (show > 1) %}<div>
        <strong>{{ 'commenthiddenedit'|trans }}</strong>
    </div>{% endif %}
    <div class="c-comment-header">
        <div class="c-comment-header-left">
            {%- if member == loggedInMember %}
                {# \todo add route for comment reporting #}
                <a href="/members/{{ other.Username }}/comment/{{ comment.id }}/report" title="{{ 'reportcommentproblem'|trans }}" class="gray"><i class="fa fa-flag"></i></a>
            {% endif -%}
        </div>
            <div class="c-comment-header-quality {{ quality }}">
                {%- if not member.Status != constant('\\App\\Doctrine\\MemberStatusType::PASSED_AWAY') -%}
                    {{ ('commentquality_' ~ quality )|trans }}
                {%- endif -%}
            </div>
        <div class="c-comment-header-right"><span title="{{ comment.created|format_datetime() }}" class="small">{{ comment.created.diffForHumans }}</span></div>
    </div>

    <div class="c-comment-avatars">
        <div class="o-avatar o-avatar--m o-avatar--noname">
            {{ macros.roundedavatarstack(comment.fromMember.Username, 72) }}
        </div>
        <div class="u-p-8 u-self-center">
            <p class="text-center u-text-gray-80">
                {{ 'about'|trans }}
            </p>
        </div>
        <div class="o-avatar o-avatar--m o-avatar--noname">
            {{ macros.roundedavatarstack(comment.toMember.Username, 72) }}
        </div>
        <div>
            {{ macros.profilelink(comment.fromMember.Username) }}
        </div>
        <div>
            {%- if comment.editCondition(loggedInMember) %}
                <a class="o-button o-button--s" href="members/{{ member.Username }}/comments/edit" title="Edit">{{ 'edit'|trans }}</a>
            {% endif -%}
        </div>
        <div>
            {{ macros.profilelink(comment.toMember.Username) }}
        </div>
    </div>

    <div>
        <p class="small u-italic u-p-0 u-mb-8">{% for relation in comment.relations|split(',') %}
            {{  ('comment_' ~ relation)|lower|trans }}
        {% endfor %}</p>

        {{ comment.TextFree|nl2br|purify }}

        {% if show == 2 %}
            <a href="/admin/comment/{{ comment.id }}">{{ 'editcomment'|trans }}</a>
        {% endif %}
        {% if comment.created != comment.updated %}
            <p class="small">{{ 'commentlastupdated'|trans }}: <span title="{{ comment.updated|format_datetime() }}">{{ comment.updated.diffForHumans }}</span></p>
        {% endif %}

    </div>
</div>
