{% extends 'profile/profile.html.twig' %}

{% block page_content %}
    <h3>{{ 'profile.delete.headline'|trans }}</h3>
    {{ form_start(form) }}
    {{ form_row(form.feedback) }}
    {{ form_row(form.data_retention) }}
    <button type="submit" id="delete" class="o-button" onclick="return confirmDelete();">{{ 'profile.delete'|trans }}</button>
    {{ form_end(form) }}
{% endblock page_content %}

{% block javascripts %}
<script type="application/ecmascript">
    {% set confirmText = 'profile.delete.confirm'|trans%}
    function confirmDelete() {
        return confirm("{{ confirmText }}");
    }
</script>
{% endblock javascripts %}
