{% extends 'base-lite.html.twig' %}

{% block content %}
    <h3>{{ 'profile.delete.headline'|trans }}</h3>
    <p class="u-mb-8">{{ 'profile.delete.not.logged.in'|trans }}</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.feedback) }}
    {{ form_row(form.data_retention) }}
    <button type="submit" id="delete" class="o-button" onclick="return confirmDelete();">{{ 'profile.delete'|trans }}</button>
    {{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
<script type="application/ecmascript">
    {% set confirmText = 'profile.delete.confirm'|trans%}
    function confirmDelete() {
        return confirm("{{ confirmText }}");
    }
</script>
{% endblock javascripts %}
