{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.title'|trans({username:member.Username}) }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile/profile') }}
  {{ encore_entry_script_tags('lightbox') }}
{% endblock javascripts %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('lightbox') }}
  {{ encore_entry_link_tags('leaflet') }}
{% endblock %}

{% block main %}
<main role="main">
  {% include 'profile/header.html.twig' %}
  <div class="container-lg pt-0">
    {% block above_body %}{% endblock %}
    {% block page_content %}{% endblock %}
    {% block below_body %}{% endblock %}
  </div>
</main>
{% endblock main %}
