{% extends 'profile/edit_subpage.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tailwind') }}
    {{ encore_entry_link_tags('leaflet') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile/setlocation') }}
{% endblock javascripts %}

{% block subpage_title -%}
    {{ 'profile.set.location' | trans }}
{%- endblock %}

{% block subpage_body %}
    {{ form_start(form, {attr: {class: 'p-location-form'}}) }}
    <div class="p-location-panel">
        <label class="p-language-form__label" for="{{ form.fullname.vars.id }}">
            {{ 'trip.leg.location'|trans }}
        </label>
        <div class="auto-search-wrapper max-height p-location-search">
            <i class="fas fa-search p-location-search__icon" aria-hidden="true"></i>
            <input type="text"
                   id="{{ form.fullname.vars.id}}"
                   name="{{ form.fullname.vars.full_name }}"
                   class="o-input js-location-picker"
                   autocomplete="off"
                   placeholder="{{ 'trip.leg.location'|trans }}"
                   aria-label="{{ 'trip.leg.location'|trans }}"
                   {% if form.fullname.vars.value %}value="{{ form.fullname.vars.value }}"{% endif %}>
        </div>
        <div class="p-location-form__errors">
            {{ form_errors(form.fullname) }}
            {{ form_errors(form.geoname_id) }}
        </div>
    </div>

    {% do form.fullname.setRendered %}
    {{ form_widget(form.geoname_id) }}
    {{ form_widget(form.latitude) }}
    {{ form_widget(form.longitude) }}
    {% set address = member.activeAddress %}
    <input type="hidden" id="original_latitude" value="{{ address.latitude }}">
    <input type="hidden" id="original_longitude" value="{{ address.longitude }}">

    <input type="hidden" id="marker_label_text" value="{{ 'profile.setlocation.marker'|trans }}">
    <div class="p-location-map" id="map">
    </div>

    <div class="p-edit-subpage__actions">
        <input type="submit" class="o-button" value="{{ 'save location'|trans }}">
    </div>

    {{ form_end(form) }}
{% endblock subpage_body %}
