{% import 'macros.twig' as macros %}

{% extends 'profile/profile.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('readmore') }}
    {{ encore_entry_link_tags('lightbox') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('readmore') }}
    {{ encore_entry_script_tags('lightbox') }}
{% endblock %}

{% block content %}
    {% set own = app.user == member %}
    {# dump(member) #}
    {% set translatedFields = member.translations %}
    {% set fallbacks = member.fallbacks %}
    {% set profileLanguages = translatedFields|keys %}
    {% set activeLocale = locale in profileLanguages ? locale : 'en' %}

    {% set languageLevels = member.languageLevels %}
    <div id="language-switch-container" class="u-p-8 u-my-4 form-inline u-z-[10000] u-flex u-justify-end {% if own %}u-sticky{% endif %} u-bg-white u-border-bewelcome u-rounded-8" style="top:60px; border: 2px solid #f37000;">
        <label for="language-switch" class="u-mr-8">{{ 'profile.switch.locale'|trans }}</label>
        <select id="language-switch" class="o-input o-input--select o-input--select-short" name="language-switch">
            {% for profileLanguage in profileLanguages %}
                <option value="{{ profileLanguage }}" {% if profileLanguage is same as(activeLocale) %}selected="selected"{% endif %}>{{ ("lang_" ~ profileLanguage)|lower|trans({}, "messages", profileLanguage) }}</option>
            {% endfor %}
        </select>
    </div>
    {% for profileLanguage in profileLanguages %}
        {% set emptyProfileLangauge = translatedFields[profileLanguage]|length == 1 %}
        <div id="profile-language-{{ profileLanguage }}"
            class="u-mb-16 max-sm:u-flex max-sm:u-flex-col md:u-columns-2 {% if profileLanguage != activeLocale %}u-hidden{% endif %}" >
            {#
                Add cards in order
                'About Me', 'Languages', 'My Interests', 'Travel Experiences', 'Groups', 'Gallery', 'Family and Friends'
                'Accommodation', 'Comments'
            #}
            {% set aboutMe = translatedFields[profileLanguage]['AboutMe'] ?? '' %}
            {% set fallback = fallbacks[profileLanguage]['AboutMe'] ?? false %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16">
                <div class="card">
                    <h3 class="card-header">
                        {{ 'profilesummary'|trans({}, "messages", profileLanguage)|raw }}
                    </h3>
                    <div class="card-block p-2 {% if own and fallback %}u-bg-gray-10 u-p-[4px]{% endif %}">
                        <div class="card-text m-0">
                            {% if aboutMe|length != 0 %}
                                {{ aboutMe|purify|nl2br }}
                            {% else %}
                                {{ 'profile.no.about_me'|trans({}, "messages", profileLanguage) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                <div class="card">
                    <h3 class="card-header">{{ 'profilelanguagesspoken'|trans({}, "messages", profileLanguage)|raw }}</h3>
                    <div class="card-block p-2">
                        <div class="card-text m-0">
                            <div class="p-2">
                                {% for languageLevel in languageLevels %}
                                    <p class="m-0">
                                        {{ ('lang_' ~ languageLevel.language.ShortCode)|lower|trans({}, "messages", profileLanguage) }}
                                        <sup
                                            class="ml-1 gray">{{ ('languagelevel_' ~ languageLevel.level)|lower|trans({}, "messages", profileLanguage) }}</sup>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Check if any interests are set #}
            {% set hobbies = translatedFields[profileLanguage]['Hobbies'] ?? '' %}
            {% set books = translatedFields[profileLanguage]['Books'] ?? '' %}
            {% set music = translatedFields[profileLanguage]['Music'] ?? '' %}
            {% set movies = translatedFields[profileLanguage]['Movies'] ?? '' %}
            {% set organizations = translatedFields[profileLanguage]['Organizations'] ?? '' %}
            {% set interests = hobbies|length != 0 or books|length != 0 or music|length != 0 or movies|length != 0
                or organizations|length != 0 %}
            {% if interests %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <h3 class="card-header">{{ 'profileinterests'|trans({}, "messages", profileLanguage)|raw }}</h3>
                        <div class="card-block p-2">
                            <div class="card-text m-0">
                                {% if hobbies|length != 0 %}
                                <div class="h5 u-mt-8 u-mb-0">{{ 'profilehobbies'|trans({}, "messages", profileLanguage) }}
                                    {% if own %}({{ profileLanguage }}){% endif %}
                                </div>
                                <div>{{ hobbies|purify }}</div>
                                {% endif %}
                                {% if books|length != 0 %}
                                <div class="h5 u-mt-8 u-mb-0">{{ 'profilebooks'|trans({}, "messages", profileLanguage) }}
                                    {% if own %}({{ profileLanguage}}){% endif %}
                                </div>
                                <div>{{ books|purify }}</div>
                                {% endif %}
                                {% if music|length != 0 %}
                                <div class="h5 u-mt-8 u-mb-0">{{ 'profilemusic'|trans({}, "messages", profileLanguage) }}
                                    {% if own %}({{ profileLanguage }}){% endif %}
                                </div>
                                <div>{{ music|purify }}</div>
                                {% endif %}
                                {% if movies|length != 0 %}
                                <div class="h5 u-mt-8 u-mb-0">{{ 'profilemovies'|trans({}, "messages", profileLanguage) }}
                                    {% if own %}({{ profileLanguage }}){% endif %}
                                </div>
                                <div>{{ movies|purify }}</div>
                                {% endif %}
                                {% if organizations|length != 0 %}
                                <div class="h5 u-mt-8 u-mb-0">{{ 'profileorganizations'|trans({}, "messages", profileLanguage) }}
                                    {% if own %}({{ profileLanguage }}){% endif %}
                                </div>
                                <div>{{ organizations|purify }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# Check if any travel experience is there #}
            {% set pastTrips = translatedFields[profileLanguage]['PastTrips'] ?? '' %}
            {% set plannedTrips = translatedFields[profileLanguage]['PlannedTrips'] ?? '' %}
            {% if pastTrips|length != 0 or plannedTrips|length != 0 %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <h3 class="card-header">{{ 'profiletravelexperience'|trans({}, "messages", profileLanguage) }}</h3>
                        <div class="card-block p-2">
                            <div class="card-text m-0">
                                {% if pastTrips|length != 0 %}
                                    <div class="h5 u-mt-8 u-mb-0">{{ 'profilepasttrips'|trans({}, "messages", profileLanguage) }}
                                        {% if own %}({{ profileLanguage }}){% endif %}
                                    </div>
                                    <div>{{ pastTrips|purify }}</div>
                                {% endif %}
                                {% if plannedTrips|length != 0 %}
                                    <div class="h5 u-mt-8 u-mb-0">{{ 'profileplannedtrips'|trans({}, "messages", profileLanguage) }}
                                        {% if own %}({{ profileLanguage }}){% endif %}
                                    </div>
                                    <div>{{ plannedTrips|purify }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if member.groups|length > 0 %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <h3 class="card-header">{{ 'profilegroups'|trans({}, "messages", profileLanguage) }}</h3>
                        <div class="p-2">
                            {% for group in member.groups|slice(0,5) %}
                                <div class="mb-3 d-flex d-column">
                                    <div>
                                        <a href="{{ url('group_start', {group_id: group.id}) }}">
                                            <img class="framed float-left mr-2" width="50" height="50" alt="Group"
                                                 src="{{ url('group_thumbimg', {group_id: group.id}) }}"/>
                                        </a>
                                    </div>
                                    <div class="text-truncate">
                                        <h4 class="m-0 text-truncate"><a
                                                href="{{ url('group_start', {group_id: group.id}) }}">{{ group.name }}</a>
                                        </h4>
                                        <p class="m-0 text-truncate">
                                            {% set groupMembership = group.membership(member) %}{{ (groupMembership.comments|first).sentence|purify|truncate(50) }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if member.groups|length > 5 %}
                                <a class="btn btn-sm btn-block btn-outline-primary"
                                   href="{{ url('group_user_all', {username:member.username}) }}">{{ 'groupsallmylink'|trans({}, "messages", profileLanguage) }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if pictures|length > 0 %}
            <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                <div class="card">
                    <h3 class="card-header">{{ 'gallerytitlelatest'|trans({}, "messages", profileLanguage) }}</h3>
                    <div class="card-block p-2 d-flex flex-wrap justify-content-around">
                        {% for picture in pictures %}
                            <a href="{{ url('gallery_image', {id: picture.id}) }}"
                               style="max-width: 40%; display: flex; align-items: center; margin-bottom: 1rem;"
                               data-toggle="lightbox"
                               data-gallery="profile-gallery"
                               data-type="image"
                               data-title="{{ picture.title }}">
                                <img
                                    src="{{ url('gallery_thumbnail', {id: picture.id, t: 1}) }}"
                                    class="img-fluid"
                                    alt="{{ picture.title }}"
                                />
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if relations|length != 0 %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <h3 class="card-header">{{ 'myrelations'|trans({}, "messages", profileLanguage) }}</h3>
                        <div class="card-block u-p-4">
                            {% for relation in relations|slice(0,10) %}
                                <div class="u-w-full u-mb-16">
                                    <div class="o-avatar o-avatar--s u-mr-4 u-float-left">
                                        {{ macros.roundedavatarstack(relation.owner.username, 48, false) }}
                                    </div>
                                    <a href="{{ url('members_profile', {username: relation.owner.username}) }}">{{ relation.owner.username }}</a>
                                    <p class="u-leading-16">
                                        {{ relation.commentText }}
                                    </p>
                                </div>
                                <div class="clearfix u-mb-4"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16 u-break-before-column">
                <div class="card">
                    <h3 class="card-header">{{ 'profileaccommodation'|trans({}, "messages", profileLanguage) }}</h3>
                    <div class="card-block p-2">
                        <div class="card-text m-0">
                            <div id="quickinfo" class="float-right text-right">
                                {% if member.isWheelChairAccessible %}
                                    <img
                                    src="{{ asset('images/icons/wheelchairblue.png') }}" alt="{{ 'wheelchair'|trans({}, "messages", profileLanguage) }}
                             title="{{ 'canhostwheelchairyes'|trans({}, "messages", profileLanguage) }}">
                                {% endif %}
                                <img src="images/icons/{{ member.accommodation }}.png"
                                     alt="{{ member.accommodation|trans({}, "messages", profileLanguage) }}
                             title="{{ ('canoffer' ~ member.accommodation)|trans({}, "messages", profileLanguage) }}">
                            </div>

                            <div id="accommodation" class="clearfix mb-1">
                                {% if member.maxGuests != 0 %}
                                    <div
                                        class="guests h5">{{ 'profilenumberofguests'|trans({}, "messages", profileLanguage) }} {{ member.maxGuests }}</div>
                                {% endif %}
                                {% if translatedFields[profileLanguage]['MaxLengthOfStay'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilemaxlenghtofstay'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>
                                        {{ translatedFields[profileLanguage]['MaxLengthOfStay']|purify }}
                                    </div>
                                {% endif %}
                                {% if translatedFields[profileLanguage]['ILiveWith'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profileilivewith'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>{{ translatedFields[profileLanguage]['ILiveWith']|purify }}</div>
                                {% endif %}
                                {% if translatedFields[profileLanguage]['PleaseBring'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilepleasebring'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>{{ translatedFields[profileLanguage]['PleaseBring']|purify }}</div>
                                {% endif %}
                                {% set standardOffers = member.StandardOffers %}
                                {% set offerGuests = translatedFields[profileLanguage]['OfferGuests'] ?? '' %}
                                {% if standardOffers|length > 0 or offerGuests|length > 0 %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'profileofferguests'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>
                                        {% for offer in standardOffers %}
                                            {{ ('ProfileTypicOffer_' ~ offer)|lower|trans({}, "messages", profileLanguage) }}
                                            <br>
                                        {% endfor %}
                                        {% if offerGuests|length > 0 %}
                                        {{ offerGuests }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if translatedFields[profileLanguage]['OfferHosts'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profileofferhosts'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>{{ translatedFields[profileLanguage]['OfferHosts']|purify }}</div>
                                {% endif %}
                                {% if translatedFields[profileLanguage]['AdditionalAccommodationInfo'] is defined
                                    or translatedFields[profileLanguage]['InformationForGuest'] is defined %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'otherinfosforguest'|trans({}, "messages", profileLanguage) }}</div>
                                    {% if translatedFields[profileLanguage]['AdditionalAccomodationInfo'] is defined %}
                                        {{ translatedFields[profileLanguage]['AdditionalAccomodationInfo']|purify }}
                                    {% endif %}
                                    {% if translatedFields[profileLanguage]['InformationForGuest'] is defined %}
                                        {{ translatedFields[profileLanguage]['InformationForGuest']|purify }}
                                    {% endif %}
                                {% endif %}
                                {% if translatedFields[profileLanguage]['PublicTransport'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilepublictransport'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>{{ translatedFields[profileLanguage]['PublicTransport']|purify }}</div>
                                {% endif %}
                                {% set restrictions = member.Restrictions %}
                                {% if restrictions|length > 0 or translatedFields[profileLanguage]['OtherRestrictions'] is defined %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'profilehouserules'|trans({}, "messages", profileLanguage) }}</div>
                                    <div>
                                        {% for restriction in restrictions %}
                                            {{ ('Restriction_' ~ restriction)|lower|trans({}, "messages", profileLanguage) }}
                                            <br>
                                        {% endfor %}
                                        {% if translatedFields[profileLanguage]['OtherRestrictions'] is defined %}
                                            {{ translatedFields[profileLanguage]['OtherRestrictions']|purify }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if member.accommodation == constant('App\\Doctrine\\AccommodationType::YES') %}
                                    <div>
                                        <a href="{{ url('hosting_request', {username: member.username}) }}"
                                           class="btn btn-primary float-right"><i
                                                class="fa fa-bed mr-1"></i>{{ 'profile.request.hosting'|trans({}, "messages", profileLanguage) }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if comments|length != 0 %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16">
                <div class="card">
                    <h3 class="card-header">{{ 'latestcomments'|trans({}, "messages", profileLanguage) }}</h3>
                    <div class="card-block u-p-4">
                        {% set commentsShown = 0 %}
                        {% for comment in comments|slice(0,10) %}
                            {% set commentToVisible = (comment['to'] is defined) ? (comment['to'].showCondition(app.user) > 0) : false %}
                            {% set commentFromVisible = (comment['from'] is defined) ? (comment['from'].showCondition(app.user) > 0) : false %}
                            {% if commentToVisible or commentFromVisible %}
                                {% set commentsShown = commentsShown + 1 %}
                                {% include 'profile/comment.embedded.html.twig' with { comment: comment, language: profileLanguage } %}
                            {% endif %}
                        {% endfor %}
                        {% if comments|length != visibleComments %}
                            <a href="{{ url('profile_comments', {username: member.username}) }}" class="btn btn-block btn-sm btn-outline-primary">
                                {{ 'showallcomments'|trans({}, "messages", profileLanguage) }} <span class="badge badge-primary u-rounded-8 u-px-8 u-min-w-20">{{ visibleComments }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
