{% import 'macros.twig' as macros %}

{% extends 'profile/profile.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('readmore') }}
    {{ encore_entry_link_tags('lightbox') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('readmore') }}
    {{ encore_entry_script_tags('lightbox') }}
    {{ encore_entry_script_tags('profile/profile') }}
{% endblock %}

{% block page_content %}
    {% set own = app.user == member %}
    {% set translated_fields = member.translations %}
    {% set fallbacks = member.fallbacks %}
    {% set profile_languages = translated_fields|keys %}
    {% set active_locale = locale in profile_languages ? locale : 'en' %}
    {% set language_levels = member.languageLevels %}
    <div id="language-switch-container" class="u-p-8 u-my-4 form-inline u-z-[999] u-flex u-justify-end {% if own %}u-sticky{% endif %} u-bg-white u-border-bewelcome u-rounded-8" style="top:60px; border: 2px solid #f37000;">
        <label for="language-switch" class="u-mr-8">{{ 'profile.switch.language'|trans }}</label>
        <select id="language-switch" class="o-input o-input--select o-input--select-short" name="language-switch">
            {% for profileLanguage in profile_languages %}
                {# only add languages that actually have content except for own profile to show missing content #}
                {% if translated_fields[profileLanguage]|length != 1 or own %}
                    <option value="{{ profileLanguage }}" {% if profileLanguage is same as(active_locale) %}selected="selected"{% endif %}>{{ ("lang_" ~ profileLanguage)|lower|trans({}, "messages", profileLanguage) }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% for profile_language in profile_languages %}
        {% set edit_text = 'profile.edit'|trans({}, 'messages', profile_language) %}
        {% set profileTranslation = translated_fields[profile_language] %}
        <div id="profile-language-{{ profile_language }}"
            class="u-mb-16 max-sm:u-flex max-sm:u-flex-col md:u-columns-2 {% if profile_language != active_locale %}u-hidden{% endif %}" >
            {#
                Add cards in order
                'About Me', 'Languages', 'My Interests', 'Travel Experiences', 'Groups', 'Gallery', 'Family and Friends'
                'Accommodation', 'Comments'
            #}
            {% set aboutMe = profileTranslation['AboutMe'] ?? '' %}
            {% set fallback = fallbacks[profile_language]['AboutMe'] ?? false %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">
                        {{ 'profilesummary'|trans({}, "messages", profile_language)|raw }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'about-me'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-block p-2">
                        <div class="card-text m-0">
                            {% if aboutMe|length != 0 %}
                                {{ aboutMe|purify|nl2br }}
                            {% else %}
                                {{ 'profile.no.about.me'|trans({}, "messages", profile_language) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">{{ 'profilelanguagesspoken'|trans({}, "messages", profile_language)|raw }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'languages'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-block p-2">
                        <div class="card-text m-0">
                            {% for languageLevel in language_levels %}
                                <p class="m-0">
                                    {{ ('lang_' ~ languageLevel.language.ShortCode)|lower|trans({}, "messages", profile_language) }}
                                    <sup
                                        class="ml-1 gray">{{ ('languagelevel_' ~ languageLevel.level)|lower|trans({}, "messages", profile_language) }}</sup>
                                </p>
                            {% else %}
                                {{ 'profile.no.languages'|trans({}, 'messages', profile_language) }}
                            {% endfor %}
                         </div>
                    </div>
                </div>
            </div>

            {# Check if any interests are set #}
            {% set hobbies = profileTranslation['Hobbies'] ?? '' %}
            {% set books = profileTranslation['Books'] ?? '' %}
            {% set music = profileTranslation['Music'] ?? '' %}
            {% set movies = profileTranslation['Movies'] ?? '' %}
            {% set organizations = profileTranslation['Organizations'] ?? '' %}
            {% set interests = hobbies|length != 0 or books|length != 0 or music|length != 0 or movies|length != 0
                or organizations|length != 0 %}

            <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">{{ 'profileinterests'|trans({}, "messages", profile_language)|raw }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'interests'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-block p-2">
                        {% if interests or own %}
                        <div class="card-text m-0">
                            {% if hobbies|length != 0 or own %}
                            <div class="h5 u-mt-8 u-mb-0">{{ 'profilehobbies'|trans({}, "messages", profile_language) }}
                            </div>
                            <div>{{ hobbies|purify }}</div>
                            {% endif %}
                            {% if books|length != 0 or own %}
                            <div class="h5 u-mt-8 u-mb-0">{{ 'profilebooks'|trans({}, "messages", profile_language) }}
                            </div>
                            <div>{{ books|purify }}</div>
                            {% endif %}
                            {% if music|length != 0 or own %}
                            <div class="h5 u-mt-8 u-mb-0">{{ 'profilemusic'|trans({}, "messages", profile_language) }}
                            </div>
                            <div>{{ music|purify }}</div>
                            {% endif %}
                            {% if movies|length != 0 or own %}
                            <div class="h5 u-mt-8 u-mb-0">{{ 'profilemovies'|trans({}, "messages", profile_language) }}
                            </div>
                            <div>{{ movies|purify }}</div>
                            {% endif %}
                            {% if organizations|length != 0 or own %}
                            <div class="h5 u-mt-8 u-mb-0">{{ 'profileorganizations'|trans({}, "messages", profile_language) }}
                            </div>
                            <div>{{ organizations|purify }}</div>
                            {% endif %}
                        </div>
                        {% else %}
                            No interests
                        {% endif %}
                    </div>
                </div>
            </div>

            {# Check if any travel experience is there #}
            {% set pastTrips = profileTranslation['PastTrips'] ?? '' %}
            {% set plannedTrips = profileTranslation['PlannedTrips'] ?? '' %}
            {% if pastTrips|length != 0 or plannedTrips|length != 0 or own %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <div class="card-header u-flex u-flex-row u-justify-between">{{ 'profiletravelexperience'|trans({}, "messages", profile_language)|raw }}
                            {%- if own -%}
                                {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'travels'}) %}
                                <a href="{{ edit_link }}">
                                    <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                    <span class="u-sr-only">{{ edit_text }}</span>
                                </a>
                            {%- endif -%}
                        </div>
                        <div class="card-block p-2">
                            <div class="card-text m-0">
                                {% if pastTrips|length != 0 or own %}
                                    <div class="h5 u-mt-8 u-mb-0">{{ 'profilepasttrips'|trans({}, "messages", profile_language)|raw }}
                                    </div>
                                    <div>{{ pastTrips|purify }}</div>
                                {% endif %}
                                {% if plannedTrips|length != 0 or own %}
                                    <div class="h5 u-mt-8 u-mb-0">{{ 'profileplannedtrips'|trans({}, "messages", profile_language)|raw }}
                                    </div>
                                    <div>{{ plannedTrips|purify }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if member.groups|length > 0 or own %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <div class="card-header u-flex u-flex-row u-justify-between">{{ 'profilegroups'|trans({}, "messages", profile_language)|raw }}
                            {%- if own -%}
                                {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'groups'}) %}
                                <a href="{{ edit_link }}">
                                    <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                    <span class="u-sr-only">{{ edit_text }}</span>
                                </a>
                            {%- endif -%}
                        </div>
                        <div class="p-2">
                            {% for group in member.groups|slice(0,5) %}
                                <div class="mb-3 d-flex d-column">
                                    <div>
                                        <a href="{{ url('group_start', {group_id: group.id}) }}">
                                            <img class="framed float-left mr-2" width="50" height="50" alt="Group"
                                                 src="{{ url('group_thumbimg', {group_id: group.id}) }}"/>
                                        </a>
                                    </div>
                                    <div class="text-truncate">
                                        <h4 class="m-0 text-truncate"><a
                                                href="{{ url('group_start', {group_id: group.id}) }}">{{ group.name }}</a>
                                        </h4>
                                        <p class="m-0 text-truncate">
                                            {% set groupMembership = group.membership(member) %}{{ (groupMembership.comments|first).sentence|purify|truncate(50) }}</p>
                                    </div>
                                </div>
                            {% else %}
                                {{ 'profile.no.groups'|trans({}, 'messages', profile_language) }}
                            {% endfor %}
                            {% if member.groups|length > 5 %}
                                <a class="btn btn-sm btn-block btn-outline-primary"
                                   href="{{ url('group_user_all', {username:member.username}) }}">{{ 'groupsallmylink'|trans({}, "messages", profile_language) }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if pictures|length > 0 or own %}
            <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">{{ 'gallerytitlelatest'|trans({}, "messages", profile_language)|raw }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'pictures'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-block p-2">
                        {% if pictures|length > 0 %}
                        <div class="d-flex flex-wrap justify-content-around">
                        {% for picture in pictures %}
                            <a href="{{ url('gallery_image', {id: picture.id}) }}"
                               style="max-width: 40%; display: flex; align-items: center; margin-bottom: 1rem;"
                               data-toggle="lightbox"
                               data-gallery="profile-gallery"
                               data-type="image"
                               data-title="{{ picture.title }}">
                                <img
                                    src="{{ url('gallery_thumbnail', {id: picture.id, t: 1}) }}"
                                    class="img-fluid"
                                    alt="{{ picture.title }}"
                                />
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ 'profile.no.pictures'|trans({}, 'messages', profile_language) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if relations|length != 0 %}
                <div class="md:u-break-inside-avoid max-sm:u-order-3 u-mb-16">
                    <div class="card">
                        <div class="card-header u-flex u-flex-row u-justify-between">{{ 'myrelations'|trans({}, "messages", profile_language)|raw }}
                            {%- if own -%}
                                {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'relations'}) %}
                                <a href="{{ edit_link }}">
                                    <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                    <span class="u-sr-only">{{ edit_text }}</span>
                                </a>
                            {%- endif -%}
                        </div>
                        <div class="card-block u-p-4">
                            <div class="u-grid u-grid-cols-[80px_auto] u-gap-x-8 u-gap-y-12">
                            {% for relation in relations|slice(0,10) %}
                                <div class="u-flex u-flex-col u-items-center">
                                    <div class="o-avatar o-avatar--s u-mr-4">
                                        {{ macros.roundedavatarstack(relation.owner.username, 48, false) }}
                                    </div>
                                    <a href="{{ url('members_profile', {username: relation.owner.username}) }}" class="u-text-[.875em] u-text-center" style="word-break: break-all;">{{ relation.owner.username }}</a>
                                </div>
                                <div class="u-leading-16">
                                    {{ relation.commentText }}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if not member.accommodation is null or own %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16 u-break-before-column">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">{{ 'profileaccommodation'|trans({}, "messages", profile_language)|raw }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'accommodation'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-block p-2">
                        <div class="card-text m-0">
                            <div id="accommodation" class="mb-1">
                                <div class="u-flex u-flex-row u-justify-between u-mb-8">
                                {% if member.maxGuests != 0 %}
                                    <div
                                        class="guests h5">{{ 'profilenumberofguests'|trans({}, "messages", profile_language)|raw }} {{ member.maxGuests }}</div>
                                {% endif %}
                                    <div id="quickinfo" class="align-self-end">
                                        {% if member.isWheelChairAccessible %}
                                            <img
                                            src="{{ asset('images/icons/wheelchairblue.png') }}" alt="{{ 'wheelchair'|trans({}, "messages", profile_language) }}
                                 title="{{ 'canhostwheelchairyes'|trans({}, "messages", profile_language) }}">
                                        {% endif %}
                                        <img src="images/icons/{{ member.accommodation }}.png"
                                             alt="{{ member.accommodation|trans({}, "messages", profile_language) }}
                                 title="{{ ('canoffer' ~ member.accommodation)|trans({}, "messages", profile_language) }}">
                                    </div>
                                </div>
                                {% if profileTranslation['MaxLengthOfStay'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilemaxlenghtofstay'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>
                                        {{ profileTranslation['MaxLengthOfStay']|purify }}
                                    </div>
                                {% endif %}
                                {% if profileTranslation['ILiveWith'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profileilivewith'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>{{ profileTranslation['ILiveWith']|purify }}</div>
                                {% endif %}
                                {% if profileTranslation['PleaseBring'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilepleasebring'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>{{ profileTranslation['PleaseBring']|purify }}</div>
                                {% endif %}
                                {% set standardOffers = member.StandardOffers %}
                                {% set offerGuests = profileTranslation['OfferGuests'] ?? '' %}
                                {% if standardOffers|length > 0 or offerGuests|length > 0 %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'profileofferguests'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>
                                        {% for offer in standardOffers %}
                                            {{ ('ProfileTypicOffer_' ~ offer)|lower|trans({}, "messages", profile_language) }}
                                            <br>
                                        {% endfor %}
                                        {% if offerGuests|length > 0 %}
                                        {{ offerGuests }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if profileTranslation['OfferHosts'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profileofferhosts'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>{{ profileTranslation['OfferHosts']|purify }}</div>
                                {% endif %}
                                {% if profileTranslation['AdditionalAccommodationInfo'] is defined
                                    or profileTranslation['InformationForGuest'] is defined %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'otherinfosforguest'|trans({}, "messages", profile_language)|raw }}</div>
                                    {% if profileTranslation['additionalAccomodationInfo'] is defined %}
                                        {{ profileTranslation['AdditionalAccomodationInfo']|purify }}
                                    {% endif %}
                                    {% if profileTranslation['informationForGuest'] is defined %}
                                        {{ profileTranslation['InformationForGuest']|purify }}
                                    {% endif %}
                                {% endif %}
                                {% if profileTranslation['PublicTransport'] is defined %}
                                    <div
                                        class="stay h5 u-mt-8 u-mb-0">{{ 'profilepublictransport'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>{{ profileTranslation['PublicTransport']|purify }}</div>
                                {% endif %}
                                {% set restrictions = member.Restrictions %}
                                {% if restrictions|length > 0 or profileTranslation['OtherRestrictions'] is defined %}
                                    <div
                                        class="h5 u-mt-8 u-mb-0">{{ 'profilehouserules'|trans({}, "messages", profile_language)|raw }}</div>
                                    <div>
                                        {% for restriction in restrictions %}
                                            {{ ('restriction_' ~ restriction)|lower|trans({}, "messages", profile_language) }}
                                            <br>
                                        {% endfor %}
                                        {% if profileTranslation['OtherRestrictions'] is defined %}
                                            {{ profileTranslation['OtherRestrictions']|purify }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if member.accommodation == constant('App\\Doctrine\\AccommodationType::YES') %}
                                    <div>
                                        <a href="{{ url('hosting_request', {username: member.username}) }}"
                                           class="btn btn-primary float-right"><i
                                                class="fa fa-bed mr-1"></i>{{ 'profile.request.hosting'|trans({}, "messages", profile_language) }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if comments|length != 0 or own %}
            <div class="md:u-break-inside-avoid max-sm:u-order-1 u-mb-16">
                <div class="card">
                    <div class="card-header u-flex u-flex-row u-justify-between">{{ 'latestcomments'|trans({}, "messages", profile_language) }}
                        {%- if own -%}
                            {% set edit_link = url('profile_edit', {'username': member.username, 'language': profile_language, section: 'comments'}) %}
                            <a href="{{ edit_link }}">
                                <i class="fa fa-edit" title="{{ edit_text }}" aria-hidden="true"></i>
                                <span class="u-sr-only">{{ edit_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-block u-p-4">
                        {% set commentsShown = 0 %}
                        {% for comment in comments|slice(0,10) %}
                            {% set commentToVisible = (comment['to'] is defined) ? (comment['to'].showCondition(app.user) > 0) : false %}
                            {% set commentFromVisible = (comment['from'] is defined) ? (comment['from'].showCondition(app.user) > 0) : false %}
                            {% if commentToVisible or commentFromVisible %}
                                {% set commentsShown = commentsShown + 1 %}
                                {% include 'profile/comment.embedded.html.twig' with { comment: comment, language: profile_language } %}
                            {% endif %}
                        {% else %}
                            {{ 'profile.no.comments'|trans({}, 'messages', profile_language) }}
                        {% endfor %}
                        {% if comments|length != visibleComments %}
                            <a href="{{ url('profile_comments', {username: member.username}) }}" class="btn btn-block btn-sm btn-outline-primary">
                                {{ 'showallcomments'|trans({}, "messages", profile_language) }} <span class="badge badge-primary u-rounded-8 u-px-8 u-min-w-20">{{ visibleComments }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock page_content %}
