{% extends 'base.html.twig' %}

{% block title %}
    {{ member.Username }}
{% endblock %}

{% block content %}
    {% set FirstName, LastName = member.FirstName, member.LastName %}
    {% set myself = app.user %}
    <div>

        <div class="btn-group btn-group-profile" role="group">
            {% if member.id == myself.id %}
                <a href="#" class="btn btn-edit"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>{{ 'MyPreferences' | trans  }}</a>
            {% else %}
                <a href="{{ path('message/compose', { username: member.Username }) }}"
                   class="btn btn-edit"><i class="fa fa-envelope"></i> Message</a>
                <a href="#" class="btn btn-secondary hidden-md-down"><i
                            class="fa fa-user-plus"></i> Add as friend</a>
                <a href="#" class="btn btn-secondary hidden-md-down"><i
                            class="fa fa-pencil btn-edit-animation"></i> Write comment</a>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i> Add to...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">...new list</a>
                        <a class="dropdown-item" href="#">People in Berlin</a>
                        <a class="dropdown-item" href="#">Holidays in France</a>
                    </div>
                </div>

            {% endif %}
        </div>

        <div class="btn-group">
            <small><a href="#" class="report"><i class="fa fa-flag"></i><span
                            class="icontext">report</span></a></small>
        </div>
    </div>

    <div class="row justify-content-start headerimg mb-3">
        <div class="p-3">{{ macros.avatar( member.username, 150, true) }}</div>
        <div class="p-3">
        <span class="profilebig whiteshadow">
                            {% if FirstName|length == 0 and LastName|length == 0 %}
                                {{ member.username }}
                            {% else %}
                                {{ FirstName }} {{ LastName }}
                            {% endif %}
                            </span><br>

            <span class="profilemedium regularfont whiteshadow">
                                    {{ member.birthdate.DiffInYears() }} {{ 'years old' | trans }}

                {% if member.gender == 'male' %}
                    <i class="fa fa-mars" title="male"></i>
                                    {% elseif member.gender == 'female' %}
                    <i class="fa fa-venus" title="female"></i>
                {% else %}
                    <i class="fa fa-intersex" title="other"></i>
                {% endif %}

                                </span>

            {% if member.occupation %}
                {# TODO guessing this tag was for occupation #}
                <br><span class="text-truncate whiteshadow">{{ member.occupation }}</span>
            {% endif %}

            {% if member.id == myself.id %}
                <br><a href="{{ path('member/edit') }}" class="btn btn-sm btn-edit"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>{{ 'EditMyProfile' | trans  }}</a>
            {% endif %}

            <div class="mt-4">
                <span class="h4 whiteshadow text-uppercase">
                    <small><strong><i class="fa fa-commenting"></i><span class="icontext">Speaks</span></strong></small>
                    {# if on own profile #}<a href="editmyprofile"></a></span>
                <span class="lang mother mx-1 whiteshadow" title="Mother tongue">Galician</span> <span class="lang mx-1 whiteshadow" title="Fluent">English</span> <span class="lang whiteshadow mx-1" title="Fluent">Basque</span> <span class="lang whiteshadow basic mx-1" title="Basic">Whatever</span>
            </div>

            {# if member admin
             <div>
                Set status and add comment as admin<br>
                <select>
                    <option value="Active" selected="selected">Active</option>
                    <option value="MailToConfirm">Not confirmed yet</option>
                    <option value="OutOfRemind">Out of remind</option>
                    <option value="SuspendedBeta">Suspended</option>
                    <option value="Banned">Banned</option>
                    <option value="ChoiceInactive">Inactive (own choice)</option>
                    <option value="DuplicateSigned">Duplicate</option>
                    <option value="ActiveHidden">Admin profile</option>
                    <option value="AskToLeave">Retired</option>
                    <option value="PassedAway">Passed away</option>
                </select>
                   <br>
                 <input type="text" name="admincomment" placeholder="-">
                <button class="btn btn-edit"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>Set</button>
            </div>
            #}
        </div>
        <div class="ml-auto profilestatusbox card m-3 py-3 px-3">
            {% include(':profile:cards/hosting.html.twig') %}
        </div>

    </div>

    <div class="row">
        <div class="col-12 col-md-5">

            <div class="card mb-3">
                <a name="aboutme"></a>
                <h3 class="card-header profile-bg2">
                    <i class="fa fa-info-circle"></i><span class="icontext">About me</span>
                    {% if member.id == myself.id %}
                        {# TODO the span tag was empty, assuming edit #}
                        <a href="{{ path('member/edit') }}" class="btn btn-sm btn-edit float-right"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>edit</a>
                    {% endif %}
                </h3>

                <div class="card-block">
                    <p class="card-text">{{ member.profilesummary }}</p>
                </div>
            </div>

            <div class="card mb-3">
                <a name="interests"></a>
                <h3 class="card-header profile-bg2">
                    <i class="fa fa-bicycle"></i><span class="icontext">Interests</span>
                    {% if member.id == myself.id %}
                        <a href="{{ path('member/edit') }}" class="btn btn-sm btn-edit float-right"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>edit</a>
                    {% endif %}
                </h3>

                <div class="card-block">
                    <p class="card-text">{{ member.hobbies }}</p>
                    <p class="card-text">{# member.music #}</p>
                    <p class="card-text">{# member.films #}</p>
                    <p class="card-text">{# member.books #}</p>
                    <p class="card-text">{# member.organisations #}</p>
                </div>

            </div>

            {% include(':profile:cards/gallery.html.twig') %}

            {% if member.PastTrips %}
                {% include(':profile:cards/travels.html.twig') %}
            {% endif %}

            {% if member.groups %}
                {% include(':profile:cards/groups.html.twig') %}
            {% endif %}

            {% if member.languages %}
                {% include(':profile:cards/languages.html.twig') %}
            {% endif %}
        </div>

        <div class="col-12 col-md-7">

            {% include(':profile:cards/accommodation.html.twig') %}

            {% include(':profile:cards/contact.html.twig') %}

            {% include(':profile:cards/comments.html.twig') %}

            {% include(':profile:cards/relationships.html.twig') %}

        </div>

    </div>
    {% if member.id == myself.id %}
        </form>
    {% endif %}
{% endblock content %}
