{% extends '@base/base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.query) }}
    <div id="parameters">
        {# render parameter inputs and submit button only after
           the user selected a query #}
        {% if form.param1 %}{{ form_row(form.param1) }}{% endif %}
        {% if form.param2 %}{{ form_row(form.param2) }}{% endif %}
        {% if form.submit %}{{ form_row(form.submit) }}{% endif %}
    </div>
    {{ form_end(form) }}

    {{ dump( results ) }}
    {% if results %}
        <div>{{ results }}</div>
    {% endif %}
{% endblock content %}