{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ menuItem.url }}">{{ menuItem.key | trans }}</a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('member/autocomplete') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block content %}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">{{ 'button.update' | trans }}</button>
    {{ form_end(form) }}
    <div class="log"></div>
    {% if logs.nbResults == 0 %}
        <div class="alert alert-warning">{{ 'admin.logs.no.logs' | trans }}</div>
    {% else %}
        {% if logs.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( logs, 'rox_default' ) }}
            </div>
        {% endif %}
        <table class="table table-striped table-hover">

        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Member</th>
            <th>Logged</th>
        </tr>
        {% for log in logs.currentPageResults %}
            <tr>
                <td>{{ log.type }}</td>
                <td>{{ log.logMessage }}</td>
                <td>{{ log.Username }}</td>
                <td>{{ log.created }}</td>
            </tr>
        {% endfor %}
        </table>
        {% if logs.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( logs, 'rox_default') }}
            </div>
        {% endif %}

    {% endif %}
{% endblock %}
