<div id="activitiesdisplay" class="col-xs-12">
    <table class="table">
        <tbody>

        {% for activity in activities %}
            <tr>
                <td class="p-l-0 p-r-0 verticalmiddle">
                    <div class="calendar calendar-icon-{{ activity.start | date("m") }}">
                        <div class="calendar-day">{{ activity.start  | date("d") }}</div>
                    </div>
                </td>
                <td class="p-l-0 dateandtitle">
                    <small class="calendar-year">{{ activity.start | date("Y") }}-{{ activity.start | date("m") }}-{{ activity.start | date("d") }}</small><br>
                    <span class="text-truncate activitytitle"><strong><a href="activities/{{ activity.id }}">{{ activity.title }}</a></strong></span>
                </td>
                <td class="p-a-0 verticalmiddle">
                    <span class="h4"><i class="fa fa-map-marker"></i></span>
                </td>
                <td class="compacttext verticalmiddle activityinfo">
                    <small>{{ activity.place }}<br>{{ activity.country }}</small>
                </td>
                <td class="p-a-0 verticalmiddle">
                    <span class="h4"><i class="fa fa-users"></i></span>
                </td>
                <td class="compacttext p-r-0 verticalmiddle activityinfo">
                    <small>{{ activity.yes }} yes<br>{{ activity.maybe }} maybe</small>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <p>No activites near you</p>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
