{% import '@macros/macros.twig' as macros %}
<div id="threadsdisplay" class="scrollcontent">

    {# 4 most recent forum messages #}
    {% for thread in threads %}

        <div class="row pl-1 pr-1">
            <div class="col-xs-12 fullheight">
                <div class="hidden-xs-down float-xs-left avatarpadding">
                    {{ macros.avatar(thread.lastuser, 50, true) }}
                </div>
                <div class="dashentry">
                    <p class="text-truncate">
                        {#{% if not thread.read %}<strong>{% endif %}#}
                            <a href="{{ url('forum_thread', {'threadId': thread.id}) }}">{{ thread.title }}</a>
                            {#{% if not thread.read %}</strong>{% endif %}#}
                        <br><small>by {{ macros.profilelink(thread.lastuser) }} {{ thread.time.diffForHumans }}</small>
                    </p>
                </div>
                <div class="float-xs-right hidden-md-down chevplace">
                    <a href="{{ url('forum_thread', {'threadId': thread.id}) }}"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

    {% endfor %}

    {# infinite scroll??? #}

</div>
