{% import '@macros/macros.twig' as macros %}
<div id="messagesdisplay" class="scrollcontent">
    {% for message in messages %}
    <div class="row pl-1 pr-1">
        <div class="col-xs-12 fullheight">
            <div class="hidden-xs-down float-xs-left avatarpadding">
                {{ macros.avatar( message.user, 50, true) }}
            </div>
            <div class="dashentry">
                <p class="text-truncate">
                    {% if not message.read %}<strong>{% endif %}
                        <a href="messages/{{ message.id }}">{{ message.title|raw }}</a>
                        {% if not message.read %}</strong>{% endif %}<br>
                    <small>from <a href="members/{{ message.user }}">{{ message.user }}</a> {{ ago(message.time) }}</small>
                </p>
            </div>
            <div class="float-xs-right hidden-md-down chevplace">
                <a href="messages/{{ message.id }}"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
{% else %}
    <em>{{ 'No messages' | trans }}</em>
{% endfor %}
</div>
