{% extends 'base.html.twig' %}

{% block title %}
	{{ 'getactive' | trans }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
        <h1>{{ 'aboutuspage' | trans }}</h1>
		<h2>{{ 'getactive' | trans }}</h2>
		<p>{{ 'getactiveintro' | trans | purify | nl2br }}</p>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-code" aria-hidden="true"></i>
					{{ 'getactivedevtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomedevtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivedevcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivedevtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-flask" aria-hidden="true"></i>
					{{ 'getactivetestingtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcometestingtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivetestingcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivetestingtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-server" aria-hidden="true"></i>
					{{ 'getactivesysadmintitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpsysadmintags' | trans | purify }}<br>{{ 'helpsysadmincontact' | trans | purify }}: {{ 'getactivesysadmincontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivesysadmintext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-paint-brush" aria-hidden="true"></i>
					{{ 'getactivedesigntitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomedesigntags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivedesigncontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivedesigntext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="far fa-question-circle" aria-hidden="true"></i>
					{{ 'getactivesupporttitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomesupporttags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivesupportcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivesupporttext' | trans | purify }}</p>
			</div>
		</div>
	</div>


	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-language" aria-hidden="true"></i>
					{{ 'getactivetranslatetitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcometranslatetags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivetranslatecontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivetranslatetext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					{{ 'getactiveprtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomeprtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactiveprcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactiveprtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="far fa-handshake" aria-hidden="true"></i>
					{{ 'getactivenmbwtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomenmbwtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivenmbwcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivenmbwtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					{{ 'getactivemodtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomemodtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivemodcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivemodtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-map-marker-alt" aria-hidden="true"></i>
					{{ 'getactivelocaltitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomelocaltags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivelocalcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivelocaltext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-euro-sign" aria-hidden="true"></i>
					{{ 'getactivedonationtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomedonationtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivedonationcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivedonationtext' | trans | purify }}</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-3">
		<div class="card p-3 h-100">
			<div class="card-body">
				<h3 class="card-title m-0">
					<i class="fa fa-heart" aria-hidden="true"></i>
					{{ 'getactivebvtitle' | trans }}</h3>
				<p class="text-muted">{{ 'helpbewelcomebvtags' | trans | purify }}<br>{{ 'helpbewelcomecontact' | trans | purify }}: {{ 'getactivebvcontact' | trans | purify }}</p>
				<p class="card-text">{{ 'getactivebvtext' | trans | purify }}</p>

			</div>
		</div>
	</div>
</div>
{% endblock content %}
