{% import 'macros.twig' as macros %}
{% block stylesheets %}
  {{ encore_entry_link_tags('tailwind') }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>
        {% apply spaceless %}
            {{ 'login' | trans }} | BeWelcome
        {% endapply %}
    </title>

    <meta name="description" content="{{ 'default_meta_description' | trans }}">
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
    <meta name="robots" content="{{ 'robots' | trans }}">

    {% include 'webpreview.html.twig' %}

    {{ encore_entry_link_tags('bewelcome') }}
    <base id="baseuri" href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">

    <link rel="manifest" href="{{ asset('manifest.webmanifest') }}">
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('{{ asset('service-worker.js') }}');
            });
        }
    </script>
</head>
<body style="
  /* Location of the image */
  background-image: url(/images/homepicture-1200px_1-min.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
">
<nav class="navbar navbar-sticky-top navbar-expand-md navbar-dark bg-primary bordert-1 borderb-1">
    <div class="container-lg">
        <a class="navbar-brand mr-3 float-left" href="{{ url('homepage') }}"><img
                    src="{{ asset('images/logo_index_top.png') }}" alt="BeWelcome"/></a>
    </div>
</nav>
{% block content %}
<main role="main">
    <noscript>
        <div class="container-lg">
            <div class="alert alert-danger"><p class="h5">You need to activate Javascript for bewelcome.org</p><small>Without
                    it some function won't work.</small></div>
        </div>
    </noscript>
    <div class="container-lg">
        {% for label, messages in app.flashes %}
            <div class="row">
                {% for message in messages %}
                    <div class="col-12">
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="container-lg">
        <div class="u-flex u-flex-col">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="flash error">
                        {{ flash_message | trans }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash notice">
                        {{ flash_message | trans }}
                    </div>
                {% endfor %}
                <h1 class="u-text-32 u-leading-40 u-text-white u-text-center u-my-16 u-font-700">BeWelcome - {{ 'indexpageteaseropendoor' | trans }}</h1>
            </div>
            {% if error %}
                <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'messages')|raw }}
                    </div>
                </div>
            {% endif %}

            <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                <div class="card-deck">
                    <div class="card o-card">
                        <form id="main-login-form"
                              class="u-m-0"
                              role="form"
                              method="post"
                              action="{{ path('security_check') }}">
                            <div class="card-body p-2">
                                <h4 class="card-title">{{ 'login' | trans }}</h4>
                                <div class="o-form-group">
                                    <label for="login-u">{{ 'username' | trans }}</label>
                                    <input type="text" id="login-u" name="_username" autofocus required
                                           value="{{ last_username }}"
                                           class="o-input">
                                </div>
                                <div class="o-form-group">
                                    <label for="login-p">{{ 'password' | trans }}</label>
                                    <input type="password" id="login-p" name="_password" class="o-input">
                                </div>
                                <div class="u-flex u-items-center u-my-8">
                                    <input type="checkbox"
                                           id="login-r"
                                           class="u-mr-8"
                                           value="1"
                                           name="_remember_me">
                                    <label class="u-m-0" for="login-r">{{ 'stayloggedin' | trans }}</label>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                {% if not error is null %}
                                    <p class="col-12 mt-3">
                                        {% if error.messageKey == 'Invalid credentials.' %}
                                            {{ 'login.forgot.password' | trans }}<br>
                                            <a href="{{ url('member_request_reset_password') }}">{{ 'login.password.getnew' | trans }}</a>
                                            <br>
                                            {{ 'login.forgot.username' | trans }}
                                        {% endif %}
                                        {% if error.messageKey == 'login.mail.not_confirmed' %}
                                            {{ 'login.mail.not_confirmed' | trans }}<br>
                                            <a href="{{ url('resend_confirmation_email', { 'username': last_username}) }}">{{ 'login.resend.confirmation' | trans }}</a>
                                        {% endif %}
                                        {% if error.messageKey == 'member_banned' %}
                                            {{ 'login.account.banned' | trans }}
                                        {% endif %}
                                        {% if error.messageKey == 'member_expired' %}
                                            {{ 'login.account.expired' | trans }}
                                        {% endif %}
                                        {% if error.messageKey == 'member_not_allowed_to_login' %}
                                            {{ 'login.account.no_login' | trans }}
                                        {% endif %}
                                        <br>
                                        <a href="{{ url('feedback', { 'IdCategory': 3}) }}">{{ 'login.contact.support' | trans }}</a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="u-flex u-justify-center u-items-center">
                                <button type="submit"
                                        class="o-button o-button--full">{{ 'indexpageloginsubmit' | trans }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="card o-card">
                        <div class="card-body p-2">
                            <h4 class="card-title">{{ 'signupnow' | trans }}</h4>
                            <p class="u-text-18 u-mt-24">{{ 'login.signup.info'|trans|raw }}</p>
                        </div>
                        <div class="u-flex u-justify-center u-items-center"><a href="{{ url('signup_1') }}" class="o-button o-button--full" role="button">
                                {{ 'signup'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% include 'footer.html.twig' %}
{{ encore_entry_script_tags('bewelcome') }}
<script type="application/javascript">
    $(".select2").select2({
        theme: 'bootstrap4',
        width: 'auto',
        dropdownAutoWidth: true
    });
</script>
</body>
</html>
