{# TODO: make a wordcode for this text #}

<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <h1 class="m-0">{{ 'signup.finished' | trans }}</h1>
        {{ 'signup.finished.congratulations'|trans({'username': username})|purify }}
        {{ 'signup.finished.sent.to'|trans({'email': email_address})|purify }}
        {{ 'signup.finished.check.spam'|trans|purify }}
    </div>

    <div class="w-100"></div>

    {# TODO: add useful info #}
    <div class="col-12 col-lg-6">
        <a href="{{ url('landingpage') }}" class="btn btn-primary">BeWelcome</a>
    </div>

</div>
