{% extends 'base.html.twig' %}

{% block content %}
    <h1>BeWelcome Terms of Use</h1>
{#    {%  if locale != 'en' %}
        <p><strong>{{ 'terms.not.translated'|trans }}</strong></p>
    {% endif %}
#}    <p><em>(<a href="{{ url('terms_of_use', {'locale':'fr'}) }}">French version</a>)</em></p>

    <p>BeWelcome (<a href="https://www.bewelcome.org">www.bewelcome.org</a>) is a network that promotes the ideas of
        hospitality and cultural exchange. It is a project of the non-profit association BeVolunteer and run exclusively
        by volunteers. BeVolunteer is a French association registered in the prefecture of Ille-et-Vilaine, in
        Rennes/France (registration number W3530003536).</p>

    <p>This document constitutes the BeWelcome Terms of Use (ToU) which govern the relationship between BeVolunteer (the
        provider of the service “BeWelcome”) and you, as a user of the BeWelcome service. In any disputes, French law is
        applicable, and a French version of the ToU is available here (<a href="{{ url('terms_of_use', {'locale':'fr'}) }}">French
            version</a>).</p>

    <p>By creating an account and a profile on BeWelcome, you consent to BeVolunteer and other BeWelcome members using
        the personal data that you provide for the purposes of hospitality and cultural exchange. BeWelcome supports
        exchanges in many countries, so some of this data may be used outside of the EU.</p>

    <h3>1. Membership</h3>

    <p>By registering an account on the BeWelcome website, you become a member of the BeWelcome community. This allows
        you to fully participate in the network and to use all member services that the website offers.</p>

    <p>Membership is open to physical persons only (i.e. membership is not open to organisations). You are only allowed
        to have one account (profile) on BeWelcome. Any additional accounts you create will be removed along with all
        their content.</p>

    <p>To become a member of BeWelcome, you must have a minimum age of 18.</p>

    <p>Membership is indefinite which means that it is valid until cancelled (see section 6: Cancellation of
        membership).</p>

    <p>If you wish to suspend hospitality activities for a time, but wish to retain your account on BeWelcome, you can
        use the “set inactive” button in your profile settings. While your account is set to inactive, your profile and
        personal data will continue to be stored but will not be displayed and will only be available to advanced member
        searches. Your account can only be set to inactive for a maximum of 2 years. After that, your account may be
        deleted without further notice.</p>

    <p>During the suspension period, you can re-activate your account at any time by using the profile settings.</p>

    <p>In order to keep your account, you are required to log in to BeWelcome from time to time. If you do not log in
        for a continuous period of 2 years, your account may be cancelled and any profile data deleted, without further
        notice.</p>

    <h3>2. Registration</h3>

    <p>At registration, you will be required to provide certain data in order to activate a BeWelcome account. (This is
        detailed in the <a href="{{ url('privacy', {'locale': 'en'}) }}">Privacy Policy</a>.) Any other profile
        information you provide is completely optional. However, your profile is made available to other BeWelcome
        users, for the purposes of hospitality and cultural exchange, and providing more information about yourself in
        the profile makes hosting and being hosted more likely.</p>

    <p>It is your responsibility to ensure that any information you provide is accurate and up to date. This is
        especially important with respect to your e-mail address, since this is the primary way in which we communicate
        with you about your account. Providing false or misleading information can lead to your account being cancelled
        (see section 6 below).</p>

    <p>As part of the registration process you will be asked to set a password that has to comply with our password
        security requirements. It is your responsibility to keep this password confidential.</p>

    <h3>3. Privacy</h3>

    <p>By setting up a profile on BeWelcome, you consent to the use of any data you provide, including personal data,
        for the purposes of hospitality and cultural exchange. You have the right to edit the data in your profile and
        you may withdraw consent at any time by cancelling your membership of BeWelcome. In the event of cancellation,
        we will delete your profile and any data it contains, except for as specified in section 6.</p>

    <p>The BeWelcome <a href="{{ url('privacy', {'locale': 'en'}) }}">Privacy Policy</a> describes which data BeWelcome
        collects and how your content and data is used. We encourage you to read the Privacy Policy and use it to make
        informed decisions regarding the privacy options we offer. BeWelcome is not a platform for data storage.
        BeWelcome takes no responsibility for any data (e.g. photos) placed on the site.</p>

    <h3>4. Conduct</h3>

    <p>You agree to use BeWelcome for its designated purposes – hospitality and cultural exchange – and to contribute to
        furthering these purposes in a strictly non-commercial way, free of charge. Failure to comply with this can
        result in your membership of BeWelcome being cancelled without further notice.</p>

    <p>The following are some examples of what you agree NOT to do on BeWelcome:</p>
    <ol type="a">
        <li>use BeWelcome for any illegal or disruptive activities;</li>
        <li>provide any information that is false or misleading;</li>
        <li>violate the rights of any third party;</li>
        <li>attack, defame or make discriminatory statements about any other people or groups of people;</li>
        <li>molest, mob, stalk, harass, threaten, or intimidate any other user of our services, including volunteers and
            volunteer teams;
        </li>
        <li>post content that is threatening, contains graphic violence, or incites or glorifies violence or harm
            against self or others;
        </li>
        <li>collect or store any information you obtain through our services for any unauthorized purpose;</li>
        <li>use our services for any commercial purpose, especially for the distribution of commercial messages or
            advertisements;
        </li>
        <li>use our services for the purpose of finding sexual partners;</li>
        <li>post pornographic or sexually explicit content or images showing genitalia;</li>
        <li>post or publish any personal data about other users, including photos, without their permission;</li>
        <li>use our services for unsolicited messages with no connection to the purpose of BeWelcome or for unsolicited
            invitations;
        </li>
        <li>use our services to collect donations for any other entity than BeVolunteer; or</li>
        <li>assist any third party in doing any of the foregoing.</li>
    </ol>

    <p>BeWelcome reserves the right to block you from participating in selected areas of the website or to cancel your
        membership/delete your account in cases of violations of these regulations (see section 6. “Cancellation of
        membership” for further details).</p>

    <h3>5. Content</h3>

    <p>Content that you own remains in your ownership when you post it on BeWelcome.</p>

    <p>You are responsible for all the content you upload, copy, distribute and display using our services.</p>

    <p>For content that is protected by copyright you must be the copyright owner or have the consent of the copyright
        owner to use it that way.</p>

    <p>When posting pictures, you are responsible for obtaining the authorization to post from all private people
        portrayed in them.</p>

    <p>For the limited purpose of providing the service, you give BeWelcome a license to use, host, store, copy,
        distribute and display the content you upload to the BeWelcome website, subject to your privacy settings.
        BeWelcome cannot use your content for any other purposes - such as promotional material or newspaper articles -
        unless you explicitly give your consent to that use, and if such a possibility arises, we will ask you.
        BeWelcome cannot and will not use your content for any commercial purposes.</p>

    <p>When you post content on BeWelcome, you participate in a community. If you choose to delete your profile, some of
        your content will remain in the system - including but not limited to, private messages you have sent to other
        people, group and forum posts, wiki contributions, profile comments, activities, and suggestions.</p>

    <p>Other content, including your profile and photos, we will delete upon cancellation of membership. We will make
        every reasonable effort to delete this content in a timely manner. The license granted above expires upon
        deletion.</p>

    <h3>6. Cancellation of Membership</h3>

    <p>BeWelcome reserves the right to refuse or cancel your membership for the following reasons:</p>
    <ol type="a">
        <li>Requirements for membership are not fulfilled (physical person, at least 18);</li>
        <li>The data in your account is false;</li>
        <li>Your email address is not confirmed;</li>
        <li>You engage in any behaviour which is not in line with section 4 of these terms or which endangers or harms
            other BeWelcome members;
        </li>
        <li>You have not logged in to BeWelcome for over 2 years; or</li>
        <li>Any other violation of the Terms of Use.</li>
    </ol>
    <p>BeWelcome also reserves the right to cancel a membership for other reasons upon the recommendation of the Safety
        Team.</p>

    <p>In all cases where the membership was cancelled by BeWelcome, the former member can appeal to the Board of
        Directors of BeVolunteer.</p>

    <p>You may cancel your membership yourself at any time.</p>

    <p>When your membership is cancelled, your profile, gallery and trips will be deleted. Your community contributions
        – that is, content that you shared with others during your membership – will remain visible. This includes, but
        is not limited to, posts in the BeWelcome forum and groups, comments left on the profiles of other members, and
        activities you created.</p>

    <p>In certain circumstances (detailed in the BeWelcome Privacy Policy link) some data from cancelled accounts may be
        stored for longer periods, but it will no longer be visible. For example, in the case of a cancellation as a
        result of serious abuse, BeWelcome reserves the right to store information for an indefinite time to prevent the
        abuser from creating a new account.</p>

    <p>If the account was cancelled as a result of serious abuse, BeWelcome reserves the right to ban the user
        permanently from setting up another account.</p>

    <h3>7. Liability</h3>

    <p>BeWelcome provides a platform for registered members to offer and find private hospitality, to arrange cultural
        exchange and to plan their travels.</p>

    <p>Unfortunately, we cannot guarantee that our services will always meet your expectations and that they are 100%
        accurate, reliable at all times, error-free, uninterrupted, and fast. All services are provided on an “as is”
        and “as available” basis. Herewith you waive the right to form any claims or engage our liabilities whatsoever
        arising from or in connection with our services. BeVolunteer reserves the right to modify, suspend or
        discontinue the services at its sole discretion at any time and without prior notice. You agree that BeVolunteer
        is not and will not be held liable for any modification, suspension, or discontinuance of its services.</p>

    <p>BeVolunteer and BeWelcome cannot be held liable for any activities created by members of our service.</p>

    <p>In case of a dispute between members, we shall not be liable nor held responsible. If you interact with someone
        through our services who you feel is acting or has acted inappropriately, please immediately report such person
        to the appropriate authorities and to us by contacting us through the contact form.</p>

    <p>Please note that, although we encourage you to report misconduct, we are not responsible or liable for our
        members’ actions and we are not obligated to take any action.</p>

    <p>You agree to defend, indemnify, and hold harmless BeWelcome and BeVolunteer, its directors and
        volunteers, from and against any claims, liabilities, damages, losses, and expenses, including, but not limited
        to, reasonable legal and expert fees, arising out of or in any way connected with your access to or use of the
        services, or your violation of these terms.</p>

    <h3>8. Litigation</h3>

    <p>These Terms of Use are subject to French law and shall be subject to territorially competent jurisdiction.</p>

    <p>These terms constitute the entire agreement between BeWelcome and the legal organization behind it, BeVolunteer,
        and you, with respect to your use of our services. In all legal matters, the authoritative version of these
        terms will be the French version.</p>

    <p>Failure of BeWelcome or BeVolunteer to enforce any right or provision in these terms shall not constitute a
        waiver of such right or provision.</p>

    <p>If a court should find that one or more provisions contained in these terms are invalid, the remainder of the
        terms remains enforceable.</p>

    <p>BeVolunteer reserves the right to amend these terms and will notify members of the changes at least 30 days
        before they take effect.</p>

{% endblock content %}
