{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>{{ title }} - BeWelcome</title>
    <meta name="description" content="{{ 'default_meta_description' }}"/>
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}"/>
    <meta name="robots" content="{{ 'default_meta_robots' | trans }}"/>

    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ asset('build/backwards.js') }}"></script>
    <![endif]-->
    <script type="text/javascript" src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>

    <link rel="stylesheet" href="{{ asset('build/bewelcome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}"/>
</head>
<body id="parallax-home">
{% include 'loginbar.html.twig' %}
<!-- Section #1 -->
<!-- first section - Home -->
<div id="skrollr-body">
    <div class="jarallax">
        <img class="jarallax-img" src="images/homepicture-1200px_1.jpg" alt="Background image for parallax">
        <div class="d-flex container h-100 align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">
                    <h1>{{ 'home.headline.bewelcome.cultural' | trans }}</h1>
                    <h4 class="d-none d-md-block">{{ 'home.abstract.bewelcome.cultural' | trans }}</h4>
                </div>
                <div class="col-auto text-center">
                    <p><a href="{{ url('signup') }}" class="btn btn-primary btn-lg">{{ 'home.button.join' | trans }}</a></p>
                    <p class="bg-dark p-3 text-white rounded">{{ 'home.bewelcome.free' | trans | escape |replace({'%link_start%': '<a href="'~path('wiki_page', { 'pageTitle': 'Can BeWelcome be sold'})~'" class="text-primary">', '%link_end%': '</a>'})|raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {# about #}
    <div id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 mb-1"><h1 class="my-2">{{ 'tourpage' | trans }}</h1></div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-6 col-lg-3">
                    <p><i class="far fa-start fa-handshake" aria-hidden="true"></i></p>
                    <h3>{{ 'tour_link_meet' | trans }}</h3>
                    <p>{{ 'tourpage_text3' | trans }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p><i class="fa fa-start fa-map-signs" aria-hidden="true"></i></p>
                    <h3>{{ 'tour_link_travel' | trans }}</h3>
                    <p>{{ 'tourpage_text4' | trans }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p><i class="fa fa-start fa-magic" aria-hidden="true"></i></p>
                    <h3>{{ 'tour_link_info' | trans }}</h3>
                    <p>{{ 'tourpage_text5' | trans }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p><i class="far fa-start fa-heart" aria-hidden="true"></i></p>
                    <h3>{{ 'tour_link_share' | trans }}</h3>
                    <p>{{ 'tourpage_text2' | trans }}</p></div>
            </div>
        </div>
    </div>
    {# end about #}
    <div class="jarallax">
        <img class="jarallax-img" src="images/homepicture-1200px_2.jpg" alt="Background image for parallax">
        <div class="d-flex container h-100 align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h1>{{ 'home.headline.find.hosts' | trans }}</h1>
                </div>
            </div>
        </div>
    </div>
    {# statistics #}
    <div id="statistics">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="text-center">{{ 'Some statistics' | trans }}</h1>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-6 col-lg-2">
                    <p><i class="far fa-start fa-user" aria-hidden="true"></i></p>
                    <h2>{{ stats.members }}</h2>
                    <h4>{{ 'members' | trans }}</h4></div>
                <div class="col-12 col-md-6 col-lg-2">
                    <p><i class="far fa-start fa-flag" aria-hidden="true"></i></p>
                    <h2>{{ stats.countries }}</h2>
                    <h4>{{ 'countries' | trans }}</h4></div>
                <div class="col-12 col-md-6 col-lg-2">
                    <p><i class="fa fa-start fa-language" aria-hidden="true"></i></p>
                    <h2>{{ stats.languages }}</h2>
                    <h4>{{ 'languages' | trans }}</h4></div>
                <div class="col-12 col-md-6 col-lg-2">
                    <p><i class="far fa-start fa-smile" aria-hidden="true"></i></p>
                    <h2>{{ stats.comments }}</h2>
                    <h4>{{ 'positive comments' | trans }}</h4></div>
                <div class="col-12 col-md-6 col-lg-2">
                    <p><i class="far fa-start fa-calendar-check" aria-hidden="true"></i></p>
                    <h2>{{ stats.activities }}</h2>
                    <h4>{{ 'Activities' | trans }}</h4></div>
            </div>
        </div>
    </div>
    {# end statistics #}
    <div class="jarallax">
        <img class="jarallax-img" src="images/homepicture-1200px_3.jpg" alt="Background image for parallax">
        <div class="d-flex container h-100 align-items-center">
            <div class="row w-100 justify-content-center text-center">
                <div class="col-12">
                    <h1>{{ 'The world is just one step from here' | trans }}</h1>
                    <p class="text-white">{{ 'We believe that sharing creates a better world. You can let people stay over or show them around. It\'s easy and it\'s called hospitality.' | trans }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    {{ form_start(username) }}
                    {{ postHandler.registerCallbackMethod('SignupController', 'signupFormCallback')|raw }}
                    <div class="form-group">
                        <h4 class="text-uppercase">{{ 'IndexPageWord_share' | trans }}</h4>
                        <span class="text-white">{{ 'and start meeting people from everywhere.' | trans }}</span>
                    </div>
                    <label for="{{ username.username.vars.id }}"
                           class="sr-only">{{ 'Choose your username!' | trans }}</label>
                    <div class="input-group">
                        <span class="input-group-prepend"><i class="input-group-text fa fa-lg fa-user"
                                                             aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="{{ username.username.vars.name }}"
                               id="{{ username.username.vars.id }}"
                               placeholder="{{ 'Choose your username!' | trans }}"
                               value="{{ username.username.vars.value }}"/>
                        <span class="input-group-append p-0">
                        <button class="btn btn-primary border-0" type="submit">
                            <i class="fa fa-lg fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">{{ 'Submit' | trans }}</span>
                        </button>
                        {% do username.username.setRendered %}
                    </span>
                    </div>
                    {{ form_end(username) }}
                </div>

                <div class="col-12 col-md-6 col-lg-5">
                    {{ form_start( search ) }}
                    <div class="form-group">
                        <h4 class="text-uppercase">{{ 'Find a place to stay' | trans }}</h4>
                        <span class="text-white">{{ 'and meet locals when traveling worldwide.' | trans }}</span>
                    </div>
                    <label for="location" class="sr-only">{{ 'Where do you want to go?' | trans }}</label>
                    <div class="input-group">
                        <span class="input-group-prepend"><i class="input-group-text fa fa-lg fa-map-marker"
                                                             aria-hidden="true"></i></span>
                        {{ form_widget( search.location, { 'attr' : { 'class' : 'search-picker form-control' } } ) }}
                        <span class="input-group-append">
                        <button id="{{ search.updateMap.vars.id }}" name="updateMap" type="submit"
                                class="btn btn-primary">
                                <i class="fa fa-lg fa-chevron-right" aria-hidden="true"></i>
                                <span class="sr-only">{{ 'Search' | trans }}</span>
                        </button>
                        {% do search.updateMap.setRendered %}
                    </span>
                    </div>
                    <div class="d-none invisible">{{ form_rest( search ) }}</div>
                    {{ form_end( search ) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <a href="{{ url('about') }}"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
                <a href="{{ url('terms_french') }}" target="new">{{ 'TermsOfUse' | trans }}</a> •
                <a href="{{ url('privacy') }}" target="new">{{ 'Privacy' | trans }}</a> •
                <a href="{{ url('imprint') }}">{{ 'Imprint' | trans }}</a> •
                <a href="{{ url('faq') }}">{{ 'faq' | trans }}</a> •
                <a href="{{ url('feedback') }}">{{ 'Contact us' | trans }}</a> •
                <a href="{{ url('feedback', {'IdCategory': 1, 'RequestUri': url('homepage')}) }}">{{ 'Reportbug' | trans }}</a><br>
                &copy;2007
                &mdash; {{ "now" | date("Y") }} {{ 'CopyrightByBV' | trans | escape | replace({'%link_start%': '<a href="https://bevolunteer.org">', '%link_end%': '</a>'})| raw }}
                - {{ 'RunningOn' | trans }} BW Rox rev. {{ version }} ({{ version_dt }})
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/bewelcome.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/skrollr.js') }}"></script>
<script src="{{ asset('build/jquery_ui.js') }}"></script>
<script src="{{ asset('build/search/searchpicker.js') }}"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#efefef",
                    "text": "#404040"
                },
                "button": {
                    "background": "#f37000"
                }
            },
            "theme": "classic",
            "position": "bottom-right",
            "content": {
                "href": "https://www.bewelcome.org/privacy"
            }
        })
    });
</script>
<script>
    jarallax(document.querySelectorAll('.jarallax'));
</script>
</body>
</html>