{% import 'macros.twig' as macros %}
<div class="col-12 col-sm-6 card {% if not mute %}comment-bg-{{ comment.quality|lower }}{% else %}text-muted{% endif %}">
    <div class="d-flex flex-row justify-content-between">
        <div><p class="h4 good">{{ comment.quality }}</p></div>
        <div><span title="2013-01-22 00:00:00" class="small">{{ comment.created.diffForHumans }}</span></div>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <div>
            <p class="h4 m-0">{{ 'From:' | trans }}</p>
            {{ macros.avatarstack(comment.FromMember.Username, 50) }}
        </div>
        <div class="my-1">
            <p class="text-mute small p-3 font-italic">
                {{ comment.TextWhere | nl2br }}</p>
        </div>
        <div class="text-right">
            <p class="h4 m-0">{{ 'about' | trans}}</p>
            {{ macros.avatarstack(comment.ToMember.Username, 50, true) }}
        </div>
    </div>
    <div>
        <p>{{ comment.TextFree | nl2br }}</p>
        {% set relations = comment.relations | split(',') %}
        <p class="small font-italic p-0 m-0">{% for relation in relations %}{{ ('Comment_' ~ relation) | trans }}{% endfor %}</p>
    </div>
</div>
