{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    <h1>{{ 'comment.report.header' | trans }}</h1>
    <div class="row">
        {% include 'member/comment.html.twig' with {'comment' : comment, 'mute': false } %}
        <div class="col-12 col-sm-6 o-card">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row"><div class="col-12 mb-4">{{ 'comment.report.help'|trans }}</div></div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
