{% extends 'base-lite.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'reset.password' | trans }}</h1>
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="o-button u-float-right">{{ 'reset.password' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
