{% extends 'profile/profile.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('roxeditor') }}
  {{ encore_entry_script_tags('profile/edit_accommodation') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('roxeditor') }}
{% endblock %}

{% block page_content %}
  <div class="u:w-full">
    <div class="card">
      <div class="card-header u:flex u:flex-row u:justify-between">
        {{ 'profilesummary'|trans({}, "messages", language)|raw }}
      </div>
      <div class="card-block p-2">
        <div class="card-text">
          {{ form_start(form) }}
          {{ form_errors(form) }}

          {% include 'profile/accommodation_widget.html.twig' %}

          {{ form_row(form.max_guests) }}

          {% set username = member.username %}
          {% set translations = member.translations %}
          {{ macros.field_translation(form.length_of_stay, locale, language, 'MaxLengthOfStay', username, translations) }}
          {{ macros.field_translation(form.i_live_with, locale, language, 'ILiveWith', username, translations) }}
          {{ macros.field_translation(form.please_bring, locale, language, 'PleaseBring', username, translations) }}

          <span class="form-check-label">{{ form.offers.vars.label|trans }}</span>
          <div class="u:flex u:flex-row u:justify-between">
            {% for child in form.offers.children %}
              <div class="o-checkbox">
                <input type="checkbox" class="o-checkbox__input"
                       id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
                       value="{{ child.vars.value }}"
                       data-offer="{{ child.vars.value }}"
                       {% if child.vars.checked %}checked="checked"{% endif %}
                >
                <label class="o-checkbox__label" for="{{ child.vars.id }}">{{ child.vars.label|trans({}, "messages", language) }}</label></div>
              {% do child.setRendered %}
            {% endfor %}
            <div class="o-checkbox">
              <input type="checkbox" class="o-checkbox__input"
                     id="{{ form.wheelchair_accessible.vars.id }}"
                     name="{{ form.wheelchair_accessible.vars.full_name }}"
                     data-offer="accessible"
                    {% if form.wheelchair_accessible.vars.checked %}checked="checked"{% endif %}
              >
              <label class="o-checkbox__label" for="{{ form.wheelchair_accessible.vars.id }}">{{ form.wheelchair_accessible.vars.label|trans({}, "messages", language) }}</label>
            </div>
            {% do form.wheelchair_accessible.setRendered %}
          </div>

          {{ macros.field_translation(form.offer_guests, locale, language, 'OfferGuests', username, translations) }}
          {{ macros.field_translation(form.where_you_sleep, locale, language, 'WhereYouSleep', username, translations) }}
          {{ macros.field_translation(form.additional_info, locale, language, 'AdditionalAccommodationInfo', username, translations) }}

          <span class="form-check-label">{{ form.restrictions.vars.label|trans }}</span>
          <div class="u:flex u:flex-row u:justify-between">
            {% for child in form.restrictions.children %}
              <div class="o-checkbox">
                <input type="checkbox" class="o-checkbox__input"
                       id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
                       value="{{ child.vars.value }}"
                       data-restrictions="{{ child.vars.value }}"
                       {% if child.vars.checked %}checked="checked"{% endif %}
                ><label class="o-checkbox__label" for="{{ child.vars.id }}">{{ child.vars.label|trans({}, "messages", language) }}</label></div>
              {% do child.setRendered %}
            {% endfor %}
          </div>

          {{ macros.field_translation(form.house_rules, locale, language, 'HouseRules', username, translations) }}
          {{ macros.field_translation(form.getting_there, locale, language, 'GettingThere', username, translations) }}

          <div class="u:flex u:justify-end u:my-8">
            <a href="{{ url('profile_edit', {username: username, language: language}) }}" class="o-button">{{ 'profile.back'|trans({}, "messages", language) }} - {{ ('lang_' ~ language)|trans({}, "messages", language) }}</a>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
