{% extends 'profile/edit_subpage.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subpage_title -%}
  {{ 'profile.interests'|trans({}, 'messages', language)|raw }} · {{ ('lang_' ~ language)|lower|trans({}, 'messages', language) }}
{%- endblock %}

{% block subpage_body %}
  {{ form_start(form) }}

  {% set username = member.username %}
  {% set translations = member.translations %}
  {{ macros.field_translation(form.hobbies, locale, language, 'Hobbies', username, translations) }}
  {{ macros.field_translation(form.books, locale, language, 'Books', username, translations) }}
  {{ macros.field_translation(form.music, locale, language, 'Music', username, translations) }}
  {{ macros.field_translation(form.movies, locale, language, 'Movies', username, translations) }}
  {{ macros.field_translation(form.organizations, locale, language, 'Organizations', username, translations) }}

  <div class="p-edit-subpage__actions">
    <input type="submit" class="o-button" value="{{ 'save'|trans({}, 'messages', language) }}">
  </div>
  {{ form_end(form) }}
{% endblock subpage_body %}
