{% extends 'profile/profile.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('roxeditor') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('roxeditor') }}
{% endblock %}

{% block page_content %}
  <div class="u:w-full">
    <div class="card">
      <div class="card-header u:flex u:flex-row u:justify-between">
        {{ 'profile.interests'|trans({}, "messages", language)|raw }}
      </div>
      <div class="card-block p-2">
        <div class="card-text">
          {{ form_start(form) }}

          {% set username = member.username %}
          {% set translations = member.translations %}
          {{ macros.field_translation(form.hobbies, locale, language, 'Hobbies', username, translations) }}
          {{ macros.field_translation(form.books, locale, language, 'Books', username, translations) }}
          {{ macros.field_translation(form.music, locale, language, 'Music', username, translations) }}
          {{ macros.field_translation(form.movies, locale, language, 'Movies', username, translations) }}
          {{ macros.field_translation(form.organizations, locale, language, 'Organizations', username, translations) }}

          <div class="u:flex u:justify-end u:my-8">
            <a href="{{ url('profile_edit', {username: username, language: language}) }}" class="o-button">{{ 'profile.back'|trans({}, "messages", language) }} - {{ ('lang_' ~ language)|trans({}, "messages", language) }}</a>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
