{% extends 'profile/edit_subpage.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subpage_title -%}
  {{ 'profile.travel.experience'|trans({}, 'messages', language)|raw }} · {{ ('lang_' ~ language)|lower|trans({}, 'messages', language) }}
{%- endblock %}

{% block subpage_body %}
  {{ form_start(form) }}

  {% set username = member.username %}
  {% set translations = member.translations %}
  {{ macros.field_translation(form.past, locale, language, 'PastTrips', username, translations) }}
  {{ macros.field_translation(form.planned, locale, language, 'PlannedTrips', username, translations) }}

  <div class="p-edit-subpage__actions">
    <input type="submit" class="o-button" value="{{ 'save'|trans({}, 'messages', language) }}">
  </div>
  {{ form_end(form) }}
{% endblock subpage_body %}
