{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('build/jquery_ui.js') }}"></script>
    <script src="{{ asset('build/landing.js') }}"></script>
    <script src="{{ asset('build/searchpicker.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <div class="row welcomeback mx-0 mb-4 p-2">

        {% include ':landing:widget/profilepicturewithaccommodation.html.twig' with {
        member: my_member
        } only %}

        <div class="col-12 col-lg-6 align-self-center">
            <div class="d-flex flex-column">
                <div class="d-inline-flex h2 my-2">
                    <span class="d-none d-md-flex mr-md-2">Welcome back,</span>{{ macros.profilelink(my_member.Username) }}
                </div>
                <div class="d-inline-flex align-items-center h4">
                    <span class="d-none d-md-flex">Your hosting status is</span>
                    {% include ':landing:widget/accommodation.html.twig' with {
                    member: my_member
                    } only %}
                    in
                    {# Provide a way to search in your location #}
                    {{ form_start( searchLocation, {'attr' : {'style' : 'display: inline;'}} ) }}
                    {{ form_widget(searchLocation.update_map, {'attr' : {'class' : 'searchsubmit ml-1 mb-0 homecity'},
                        'label': searchLocation.vars.value.search } ) }}
                    {{ form_rest(searchLocation) }}
                    {{ form_end(searchLocation) }}
                </div>
            </div>


        </div>
        {# where do you want to go? #}
        <div class="col-12 col-lg-4 align-self-center ml-auto">
            {{ form_start( tinySearch ) }}

            <label for="search_goto_location_form_search" class="sr-only">Where are you going?</label>
            <div class="input-group">
                {{ form_widget( tinySearch.search, { 'attr' : { 'class' : 'search-picker form-control' } } ) }}
                <span class="input-group-append">
                                {{ form_widget( tinySearch.update_map, { 'attr' : { 'class' : 'btn btn-primary' },
                                    'label': 'Go' } ) }}
                </span>
            </div>
            <div style="display: none">{{ form_rest( tinySearch ) }}</div>
            {{ form_end( tinySearch ) }}

        </div>
    </div>

    <div class="d-flex row align-items-stretch flex-wrap pb-3">
        
        {# messages box #}
        <div class="col-12 col-lg-5 align-items-stretch">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" aria-controls="messages" href="#messages" role="tab" data-toggle="tab">Messages
                        received {% if messageCount %}<span
                                class="badge badge-primary">{{ messageCount }}</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-controls="notifications" href="#notifications" role="tab"
                       data-toggle="tab">Notifications</a>
                </li>
            </ul>

            <div class="dashbox h-100 tab-content p-1">

                {# messages #}
                <div role="tabpanel" class="tab-pane h-100 active" id="messages">
                    <!-- all / unread messages toggle -->
                    <div class="d-flex btn-group justify-content-center m-1" data-toggle="buttons">
                        <label class="btn btn-primary btn-radio active" id="all">
                            <input type="radio" name="options" autocomplete="off" onclick="updateMessages()"
                                   checked hidden="true">All
                        </label>
                        <label for="unread" class="btn btn-primary btn-radio" id="unread">
                            <input type="radio" name="options" autocomplete="off" onclick="updateMessages()" hidden="true">Unread
                        </label>
                    </div>

                    {# received messages #}
                    <div id="messagesdisplay" class="scrollcontent">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br>
                            {{ 'Please wait while we load the messages' | trans }}</p>
                    </div>

                    {# message buttons #}
                    <div class="text-center">
                        <a href="{{ url( 'messages' )}}" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-envelope"></i> My inbox {% if messageCount %}<span
                                    class="badge badge-primary badge-pill">{{ messageCount }}</span>{% endif %}</a>
                    </div>
                </div>

                {# notifications #}
                <div role="tabpanel" class="tab-pane h-100 p-2" id="notifications">

                    <div id="notificationsdisplay">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br/>
                            {{ 'Please wait while we load the notifications' | trans }}</p>
                    </div>
                </div>

            </div>
        </div>

        {# community box #}
        <div class="col-12 col-lg-7 align-items-stretch">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#threads" class="nav-link active" aria-controls="threads" role="tab" data-toggle="tab">Forum</a>
                </li>
                <li class="nav-item">
                    <a href="#activities" class="nav-link" aria-controls="activities" role="tab" data-toggle="tab">Activities</a>
                </li>
            </ul>

            <div class="dashbox h-100 tab-content p-1">
                {# forum discussions #}
                <div role="tabpanel" class="tab-pane h-100 active" id="threads">

                    {# display settings#}
                    <div class="d-flex btn-group justify-content-center m-1" data-toggle="buttons">
                        <label class="btn btn-primary btn-radio active" id="groups">
                            <input type="checkbox" autocomplete="off" checked hidden="true">groups
                        </label>
                        <label class="btn btn-primary btn-radio" id="forum">
                            <input type="checkbox" autocomplete="off" checked hidden="true">forum
                        </label>
                    </div>

                    {# received messages #}
                    <div id="threadsdisplay">
                        <p class="text-center">
                            <i class="fa fa-4x fa-spin fa-spinner my-5 align-middle"></i><br/>
                            {{ 'Please wait while we load the forum threads' | trans }}</p>
                    </div>

                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="/forums" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-comments mr-1"></i>Discussions</a>
                            <a href="/groups/mygroups" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-users mr-1"></i>My groups</a>
                            <a href="/forums/subscriptions" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-check-square-o mr-1"></i>My subscriptions</a>
                        </div>
                    </div>

                </div>

                {# load activities #}
                <div role="tabpanel" class="tab-pane h-100" id="activities">
                    <div class="d-flex btn-group justify-content-center m-1" role="group">
                        <a href="/activities" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-map-o"></i> All activities</a>
                        <a href="/activities/myactivities" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-calendar"></i> My activities</a>
                        <a href="/activities/create" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-calendar-plus-o"></i> Create activity</a>
                    </div>
                    <div id="activitiesdisplay" class="col-12">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br/>
                            {{ 'Please wait while we load the activities near you' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pt-4">
        &nbsp; {# rendering fix #}
    </div>

    {# 4 widgets#}
    <div class="d-flex row flex-wrap">

        <div class="col-12 col-lg-5 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">Be Involved<br/><span class="homesubt">help the community</span></h4>

                {% if campaign.yearDonated < campaign.yearNeeded %}
                    <p class="text-center mb-0">Goal for {{ campaign.year }} - {{ campaign.year + 1 }}:
                        <strong>€{{ campaign.yearNeeded }}</strong></p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ (campaign.yearDonated / campaign.yearNeeded) * 100 }}%;" aria-valuenow="{{ campaign.yearDonated }}" aria-valuemin="0" aria-valuemax="{{ campaign.yearNeeded }}"></div>
                    </div>
                    <p class="text-center">
                    {{ '€ ' ~ campaign.yearDonated ~ ' received' | trans }}</p>

                    <p><a href="/donate" class="btn btn-outline-primary btn-homewhite btn-block mb-1"><i
                                    class="fa fa-euro"></i> Please donate</a></p>
                {% endif %}

                <p>BeWelcome is run by volunteers - free of charge and open source. Volunteering
                    for the project is a great opportunity for you to get to know enthusiastic people who really
                    believe in promoting hospitality and respect for each other. And it's fun, too!</p>
                <a href="/about/getactive" class="btn btn-outline-primary btn-homewhite btn-block"><i
                            class="fa fa-wrench"></i> Help BeWelcome</a>

                {% if campaign.yearDonated > campaign.yearNeeded %}
                    <a href="/donate" class="btn btn-outline-primary btn-homewhite btn-block mb-1"><i
                                class="fa fa-euro"></i> Please donate</a>
                {% endif %}


            </div>
        </div>
        {# TO BE INCLUDED WHEN THE FEATURE GOES LIVE
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">Potential guests<br/><span class="homesubt">travelers in your area</span></h4>
                {% if travellers %}
                    {% for traveller in travellers %}
                        <div class="media mt-1 potentialguestinfo">
                            <div class="h6 ma-0">{{ macros.profilelink(traveller.Username) }}</div>
                            <div class="media-left p-0 float-left">
                                {{ macros.avatar( traveller.Username, 50, true) }}
                            </div>
                            <div class="media-body p-0">
                                <p class="m-0 p-0"><i class="fa fa-calendar"></i>
                                    <small>{{ traveller.arrives }}</small>
                                </p>
                                <p class="m-0 p-0"><i class="fa fa-rocket"></i>
                                    <small>{{ traveller.leaves }}</small>
                                </p>
                                <p class="m-0 p-0"><i class="fa fa-home"></i>
                                    <small>{{ traveller.livesIn.name }}
                                        , {{ traveller.livesIn.Country.name }}</small>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="{{ path('trip') }}" class="btn btn-outline-primary btn-homewhite btn-block mt-1"><i
                                class="fa fa-plus-circle"></i> View more</a>
                {% else %}
                    <p class="text-justify">
                    {{ 'There are no trips planned to your area in the next three months.' | trans }}<br>
                    {{ 'But you can go ahead and plan a trip of your own.' | trans }}<br>
                    </p>
                {% endif %}
                <a href="{{ path('trip_create') }}" class="btn btn-outline-primary btn-homewhite btn-block"><i
                            class="fa fa-map-marker"></i> Plan your trip</a>
            </div>
        </div>
        #}

        <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">BeWelcome News<br/><span class="homesubt">and other updates</span></h4>

                <h5>
                    <a href="{{ url('communitynews_show', { id: communityNews.id} ) }}">{{ communityNews.title }}</a>
                </h5>
                {{ communityNews.text | truncate(200) | raw }}<a
                            href="{{ url('communitynews_show', { id: communityNews.id} ) }}"
                            class="btn btn-sm btn-primary">{{ 'Read more' | trans }}</a>
                <div>
                    <small>{{ communityNews.createdAt.diffForHumans }}</small>
                    {% set commentsCount = communityNews.comments | length %}<small class="float-right">{% transchoice commentsCount with {'%commentsCount%': commentsCount} %}communityNewsComments{% endtranschoice %}</small>
                </div>
                <a href="{{ url('communitynews') }}" class="btn btn-outline-primary btn-homewhite btn-block mt-2"><i
                            class="fa fa-newspaper-o"></i> All news</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">Be Informed<br/><span class="homesubt">Transparency</span></h4>
                <a href="{{ url('about') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-question"></i> About</a>
                <a href="/faq" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-question"></i> FAQ</a>
                <a href="/wiki" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book"></i> Wiki</a>
                <a href="/safety" class="btn btn-outline-primary btn-homewhite btn-sm btn-block mb-1 text-truncate"><i
                            class="fa fa-shield"></i> Safety</a>
                <a href="/wiki/BeVolunteer" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-bullseye"></i> BeVolunteer</a>
                <a href="/wiki/Annual_Report" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book"></i> Annual report</a>
                <a href="/wiki/Finances" class="btn btn-outline-primary btn-homewhite btn-sm btn-block mb-1 text-truncate"><i
                            class="fa fa-money"></i> Finances</a>
                <a href="/terms" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book"></i> Terms of Use</a>
                <a href="/privacy" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book"></i> Privacy Policy</a>
            </div>
        </div>
    </div>

{% endblock content %}

