{% extends '@base/base.html.twig' %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-xs-right">
                {% include '@base/pagination.html.twig' with {
                currentFilters: filter,
                currentPage: page,
                paginationPath: "communitynews",
                lastPage: pages,
                showAlwaysFirstAndLast: false
                } only %}
            </div>
        </div>
    </div>
    {% for news in communityNews %}
        <div class="row">
            <div class="col-xs-12">
                <h1><a href="{{ url('communitynews_show_title', { id: news.id, title: news.title }) }}">{{ news.title }}</a></h1>
                <p class="small text-muted">{{ 'Written by' | trans }}{{ macros.avatar( news.creator.Username, 30, true) }} {{ news.created_at.diffForHumans }}
                    {% if news.updater and news.creator.Username != news.updater.Username %} {{ 'and last updated by' | trans}}{{ macros.avatar( news.updater.Username, 30, true) }} {{ news.updated_at.diffForHumans }}{% endif %}</p>
                <p>{{ news.text| truncate(600) }}
                {% if news.text|length > 600 %}<br/><span style="float: right"><a href="{{ path('communitynews_show_title', { id: news.id, title: news.title }) }}">{{ 'more' | trans }}</a></span>{% endif %}</p>
            </div>
        </div>
    {%  endfor %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-xs-right">
            {% include '@base/pagination.html.twig' with {
            currentFilters: filter,
            currentPage: page,
            paginationPath: "communitynews",
            lastPage: pages,
            showAlwaysFirstAndLast: false
            } only %}
            </div>
        </div>
    </div>
{% endblock content %}
