{% extends '@base/base.html.twig' %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ communityNews.title }}</h1>
    {{ communityNews.creator.Username }}, {{ communityNews.created_at.diffForHumans }} {% if communityNews.updater %}{{ communityNews.updater.Username }}, {{ communityNews.updated_at.diffForHumans }}{% endif %}<br>
    {{ communityNews.text| raw }}<br>
{% endblock content %}
