{% extends 'base.html.twig' %}

{% block title %}
    {{ title | trans }}
{% endblock %}



{% macro widget_prototype(widget) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}


    <div data-content="{{ name }}">
        <div class="row my-2 mt-5">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-9 col-md-6">{{ form_widget(form.search) }}</div>
            <div class="col-sm-3 col-md-4">
                {{ form_label(form.search) }}
                <button class="btn btn-primary btn-remove pull-right" data-related="{{ name }}"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-3">{{ form_widget(form.arrival) }}</div>
            <div class="col-sm-3">{{ form_widget(form.departure) }}</div>
            <div class="col-sm-12 col-md-4"></div>
        </div>
        <div class="row my-2">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-6">{{ form_widget(form.options) }}</div>
            <div class="col-sm-12 col-md-4"></div>
        </div>
        {{ form_rest(form) }}
    </div>

{% endmacro %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
    '@jquery_ui_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts
        '@jquery_ui_js'
        'bundles/app/js/search/searchpicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%  endjavascripts %}
    <script type="text/javascript">
        jQuery(function($) {
            $(document).on('click', '.btn-add[data-target]', function(event) {
                var collectionHolder = $('#' + $(this).attr('data-target'));

                if (!collectionHolder.attr('data-counter')) {
                    collectionHolder.attr('data-counter', collectionHolder.children().length);
                }

                var prototype = collectionHolder.attr('data-prototype');
                var form = prototype.replace(/__name__/g, collectionHolder.attr('data-counter'));

                collectionHolder.attr('data-counter', Number(collectionHolder.attr('data-counter')) + 1);
                collectionHolder.append(form);

                event && event.preventDefault();
            });

            $(document).on('click', '.btn-remove[data-related]', function(event) {
                var name = $(this).attr('data-related');
                $('*[data-content="'+name+'"]').remove();

                event && event.preventDefault();
            });
        });
    </script>
{% endblock javascripts %}

{% block content %}

        <h2>{{ title | trans }}</h2>

    <div class="card card-block w-100">
        {{ form_start( form ) }}


    {{ form_row( form.summary ) }}
    {{ form_row( form.description ) }}
    {{ form_row( form.countoftravellers ) }}
    {{ form_row( form.additionalinfo ) }}
    {# store the prototype on the data-prototype attribute #}

            <div id="subtrips-list"
                data-prototype="{{ _self.widget_prototype(form.subtrips.vars.prototype)|escape }}">
                {% for subtrip in form.subtrips %}
                    {{ _self.widget_prototype(subtrip) }}
                {% endfor %}
        </div>
    <div class="row mb-3">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-6">
            <button class="btn btn-primary btn-add" data-target="subtrips-list"><i class="fa fa-plus"></i></button>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-6">
    {% if create %}
        <input class="btn btn-primary form-control" type="submit" value="{{ 'Create' | trans }}" >
    {% else %}
        <input class="btn btn-primary form-control" type="submit" value="{{ 'Update' | trans }}" >
    {% endif %}
        </div>
        </div>
    {{ form_end( form ) }}

{% endblock content %}