{% extends 'base.html.twig' %}

{% block title %}
    {{ title | trans }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2>{{ title | trans }}</h2>
        </div>
        <div class="col-md-3"></div>
    </div>

    {{ form_start( form ) }}
    {{ form_row( form.summary ) }}
    {{ form_row( form.description ) }}
    {{ form_row( form.countoftravellers ) }}
    {{ form_row( form.additionalinfo ) }}
    {# iterate over each existing tag and render its only field: name #}
    {% for subtrip in form.subtrips %}
            {{ form_row(subtrip) }}
    {% endfor %}
    {{ form_end( form ) }}
    <script>
        function addSubTripForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#trip_form_subtrips');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addSubTripForm($collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock content %}