{% extends ':emails:email.html.twig' %}

{% block sender %}
<div class="from">
    Sender: <a href="{{ url('homepage') }}members/{{ sender.username }}" target="_blank">{{ sender.username }}</a>
</div>
{% endblock %}

{% block content %}
    {# Subject: {{ subject }}
    Sender: {{ sender.username }}
    Receiver: {{ receiver.username }}
#}


    {{ message_text | raw }}

{% endblock %}