{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('requests') }}"
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
    {{ encore_entry_link_tags('requests')  }}
{% endblock stylesheets %}

{% block content %}
    {% import 'macros.twig' as macros %}

    {% set original = thread | last %}
    {% set current = thread | first %}
    {% set invitation = current.request %}
    {% set receiver =  original.receiver %}
    {% set myself =  app.user %}

    {{ macros.messageheader_no_buttons(thread) }}

    {% include 'invitation/trip.summary.html.twig' with {'open': false} %}

    {% include 'invitation/header.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    <div class="row">
        <div class="col-12 mb-2">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
{#
                <div class="o-form-group">
                    {{ form_label(form.request.duration) }}
                    <div class="input-group date" id="arrival" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#arrival" data-toggle="datetimepicker">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                        {{ form_widget(form.request.duration, {'attr': { 'class': 'js-litepicker'}}) }}
                    </div>
                </div>
#}
        </div>
        <div class="col-12 u-flex u-justify-end mb-2">
            {{ form_row(form.request.arrival) }}
            {{ form_row(form.request.departure) }}
            {{ form_row(form.request.numberOfTravellers) }}
            {{ form_row(form.request.inviteForLeg) }}
            {{ form_widget(form.update, {'attr': {'class': 'o-button--s md:o-button mb-2'}}) }}
            <div class="btn-group u-ml-4">
                <button type="submit" class="o-button--s md:o-button o-button--cut-right md:o-button--cut-right">
                    {{ form.decline.vars.label|trans }}
                </button>
                <button type="button" class="o-button--s md:o-button dropdown-toggle dropdown-toggle-split o-button--cut-left md:o-button--cut-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ url('conversation_decline', {id: current.id}) }}">{{ 'label.decline.no.message'|trans }}</a>
                </div>
                {% do form.decline.setRendered %}
            </div>
            {% if form.tentatively is defined %}
                {{ form_widget(form.tentatively, {'attr': {'class': 'o-button--s md:o-button ml-1 mb-2'}}) }}
            {% endif %}
            {% if form.accept is defined %}
                {{ form_widget(form.accept, {'attr': {'class': 'o-button--s md:o-button ml-1 mb-2'}}) }}
            {% endif %}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    {% include 'message/thread.html.twig' with {'show_deleted': false} %}
{% endblock %}
