{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('requests') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('requests')  }}
{% endblock stylesheets %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% set original = thread | last %}
    {% set current = thread | first %}
    {% set sender =  original.sender %}

    <div class="row no-gutters bg-white mb-1">
        {% set myself = app.user %}
        <div class="pull-left">{{ macros.avatarstack(guest.Username, 50, false) }}</div>
        <div class="col">
            <h3 id="MessageSubject" class="p-3 text-truncate">{{ current.Subject.Subject }}</h3>
        </div>
        <div class="pull-right text-right">{{ macros.avatarstack(host.Username, 50, true) }}</div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}

    <div class="row mb-1">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="o-form-group">
                {{ form_label(form.request.duration) }}
                <div class="input-group date" id="arrival" data-target-input="nearest">
                    <div class="input-group-prepend" data-target="#arrival" data-toggle="datetimepicker">
                    <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </span>
                    </div>
                    {{ form_widget(form.request.duration, {'attr': { 'class': 'light-picker'}}) }}
                </div>
                <small id="duration-original" class="text-muted d-none">
                    {{ 'original' | trans}}:
                    {{ form.request.arrival.vars.value| format_date('full') }} -
                    {{ form.request.departure.vars.value| format_date('full') }}
                </small>
                {{ form_row(form.request.arrival) }}
                {{ form_row(form.request.departure) }}
                {% if current.request.flexible %}
                    <p class="text-muted">{{ 'request.host.suggest.dates'|trans }}</p>
                {% else %}
                    <p class="text-muted">{{ 'request.host.fixed.dates'|trans }}</p>
                {% endif %}
                {{ form_widget(form.request.flexible) }}
                {{ form_label(form.request.flexible) }}
                {{ form_label(form.request.numberOfTravellers) }}
                {{ form_widget(form.request.numberOfTravellers) }}
        </div>
        </div>
        <div class="col-12 col-md-8">
            {{ form_row(form.message) }}
            {% if current.sender.Username == app.user.Username %}
                {% set label = 'update' %}
            {% else %}
                {% set label = 'reply' %}
            {% endif %}
            {{ form_widget(form.cancel, {'attr': {'class': 'btn-primary mr-1 pull-right',
                'onclick': 'return confirm(\'' ~ ('invitation.confirm.cancel'|trans) ~ '\');'}})
            }}

            {{ form_widget(form.update, {'attr': {'class': 'btn-primary mr-1 pull-right'},
                'label' : label}) }}
            <div class="clearfix"></div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    {% include 'message/thread.html.twig' with {'show_deleted': false} %}
{% endblock %}
