{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
{% endblock stylesheets %}

{% block content %}
    {% set original = thread | last %}{% set invitation = (thread | first).request %}
    {% set myself = app.user %}
    {% set otherUser = (myself == original.Sender) ? original.Receiver : original.Sender %}
    {% if (thread | first).Sender.Username == myself.Username %}
        {% set label = 'update' %}
    {% else %}
        {% set label = 'reply' %}
    {% endif %}

    {{ macros.messageheader(thread, {show_deleted: show_deleted, is_spam: is_spam}) }}

    <div class="row no-gutters bg-white mb-2 p-1">
        <div class="col-12 p-1 mb-2">
            <div class="alert alert-info mb-0 p-2">
            {% if original.Initiator == myself %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<i
                    class="fa fa-question mr-1"></i> {{ 'invitation.host.open'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_CANCELLED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'invitation.host.cancelled'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'invitation.host.declined'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<i
                    class="far fa-handshake mr-1"></i> {{ 'invitation.host.accepted'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<i
                    class="fa fa-question mr-1"></i> {{ 'invitation.host.tentatively'|trans }}{% endif %}
            {% else %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<i
                    class="fa fa-question  mr-1"></i> {{ 'invitation.guest.open'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_CANCELLED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'invitation.guest.cancelled'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'invitation.guest.declined'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<i
                    class="far fa-handshake mr-1"></i> {{ 'invitation.guest.accepted'|trans }}{% endif %}
                {% if invitation.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<i
                    class="fa fa-question mr-1"></i> {{ 'invitation.guest.tentatively'|trans }}{% endif %}
            {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2 p-1">
            {% set numberOfTravellers = 'request.number.of.travellers' %}
            {% if original.Initiator == myself %}
                {% set numberOfTravellers = 'request.number.of.travellers.host' %}
            {% endif %}
            {% if invitation.numberOfTravellers != 1 %}
                <div>
                    <i class="fa fa-users mr-1"></i>{{ numberOfTravellers | trans({'numberOfTravellers': invitation.numberOfTravellers}) }}
                </div>
            {% endif %}
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-2 p-1">
            <div><i class="fa fa-calendar mr-1"></i>{{ 'request.arrival' | trans }}</div>
            <div>{{ invitation.arrival|format_date('full') }}</div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-2 p-1">
            <div><i class="fa fa-calendar mr-1"></i>{{ 'request.departure' | trans }}</div>
            <div>{{ invitation.departure|format_date('full') }}</div>
        </div>
    </div>

    {% include 'message/thread.html.twig' %}
{% endblock content %}
