<h3>{{ 'GetActive' | trans }}</h3>

<p>{{ 'GetActiveIntro' | trans | raw }}</p>

<div class="row m-t-2">
    <div class="col-12 col-lg-6">

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/application-x-php.png" alt="Development">

            <h4 class="card-title">{{ 'GetActiveDevTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeDevTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans | raw }}: {{ 'GetActiveDevContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveDevText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/applications-science.png" alt="Testing">

            <h4 class="card-title">{{ 'GetActiveTestingTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeTestingTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveTestingContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveTestingText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/help-browser.png" alt="Support">

            <h4 class="card-title">{{ 'GetActiveSupportTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeSupportTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveSupportContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveSupportText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/system-users.png" alt="Local volunteering">

            <h4 class="card-title">{{ 'GetActiveLocalTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeLocalTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveLocalContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveLocalText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/donatek.png" alt="Donation">

            <h4 class="card-title">{{ 'GetActiveDonationTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeDonationTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveDonationContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveDonationText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/system-users.png" alt="BeVolunteer" >

            <h4 class="card-title">{{ 'GetActiveBVTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeBVTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveBVContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveBVText' | trans | raw }}</p>
        </div>

    </div>

    <div class="col-12 col-lg-6">

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/applications-graphics.png" alt="Design">

            <h4 class="card-title">{{ 'GetActiveDesignTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeDesignTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveDesignContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveDesignText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/system-users.png" alt="New member BeWelcome">

            <h4 class="card-title">{{ 'GetActiveNMBWTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeNMBWTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveNMBWContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveNMBWText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/languages.png" alt="Translate">

            <h4 class="card-title">{{ 'GetActiveTranslateTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeTranslateTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveTranslateContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveTranslateText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/help-browser.png" alt="Suggestions">

            <h4 class="card-title">{{ 'GetActiveSuggestionsTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeSuggestionsTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveSuggestionsContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveSuggestionsText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/megaphone.png" alt="Communication and PR">

            <h4 class="card-title">{{ 'GetActivePRTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomePRTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActivePRContact' | trans | raw }}</h6>

            <p>{{ 'GetActivePRText' | trans | raw }}</p>
        </div>

        <div class="card card-block">
            <img class="float-left m-r-1" src="images/icons/tango/32x32/system-users.png" alt="Forum moderation">

            <h4 class="card-title">{{ 'GetActiveModTitle' | trans }}</h4>

            <h6 class="card-subtitle text-muted">{{ 'HelpBeWelcomeModTags' | trans | raw }} &#124; {{ 'HelpBeWelcomeContact' | trans }}: {{ 'GetActiveModContact' | trans | raw }}</h6>

            <p>{{ 'GetActiveModText' | trans | raw }}</p>
        </div>

    </div>

</div>
