<h2>{{ 'SoWhat' | trans }}</h2>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3>{{ 'AboutUs_TheIdea' | trans }}</h3>
        <p>{{ 'AboutUs_TheIdeaText' | trans }}</p>
        <h3>{{ 'AboutUs_GetActive' | trans }}</h3>
        <p>{{ 'AboutUs_GetActiveText' | trans | raw }}</p>
        <p>{{ 'AboutUs_Greetings' | trans }}</p>
        <h3>{{ 'AboutUs_GiveFeedback' | trans }}</h3>
        <p>{{ 'AboutUs_GiveFeedbackText' | trans | raw }}</p>
    </div>

    <div class="col-xs-12 col-md-6">
        <h3>{{ 'AboutUs_HowOrganized' | trans }}</h3>
        <p>{{ 'AboutUs_HowOrganizedText' | trans | raw }}</p>

        <h3><a href="blog/tags/Community News for the frontpage">{{ 'CommunityNews' | trans }}</a></h3>

        {#<a href="rss/blog/tags/Community%20News%20for%20the%20frontpage"><img src="images/icons/feed.png" alt="{{ 'GetRSSFeed' | trans }}"></a>#}

        {# Two latest blog posts #}
        {% for blog in [1, 2] %}
            <h4 class="news">
                <a href="">{{ faker.realText(40) }}</a>
            </h4>

            <span class="small grey">
                {{ 'written_by' | trans }}
                <a href="">{{ faker.name }}</a>
                - {{ faker.dateTimeThisYear | date }}
            </span>

            <p>
                {{ faker.realText(600) }}
            </p>

            {# Show this link if length is greater than 600 #}
            <p><a href="">{{ 'BlogItemContinued' | trans }}</a></p>
        {% endfor %}

        <a href="blog/tags/Community News for the frontpage">{{ 'ReadMore' | trans }}</a>
    </div>
</div>
