<h2>{{ 'ThePeople' | trans }}</h2>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3>{{ 'ThePeople_Title1' | trans }}</h3>
        <p>{{ 'ThePeople_Text1' | trans }}</p>
    </div>

    <div class="col-xs-12 col-md-6">
        <h3>{{ 'ThePeople_TitleInterviews' | trans }}</h3>
        <p>{{ 'ThePeople_TextInterviews' | trans | raw }}</p>
    </div>
</div>

{# TODO carousel for bootstrap4 #}

{#<!-- bootstrap carousel !-->#}
{#<div id="carousel-example-generic2" class="carousel" data-ride="carousel">#}
    {#<div class="carousel-inner">#}
        {#<div class="item active">#}
            {#<img src="http://farm3.static.flickr.com/2200/2204242456_f2a726c103.jpg">#}
        {#</div>#}
        {#<div class="item">#}
            {#<img src="http://farm3.static.flickr.com/2275/2204241012_756d5234e6.jpg">#}
        {#</div>#}
        {#<div class="item">#}
            {#<img src="http://farm3.static.flickr.com/2157/2204319026_8764a0573a.jpg">#}
        {#</div>#}
        {#<div class="item">#}
            {#<img src="http://farm3.static.flickr.com/2161/2206203954_9a511d50d2.jpg">#}
        {#</div>#}
        {#<div class="item">#}
            {#<img src="http://farm3.static.flickr.com/2179/2204240888_d90054b31a.jpg">#}
        {#</div>#}
    {#</div>#}
{#</div><!-- end: bootstrap carousel !-->#}
{#<div class="caption">#}
    {#<p class="small"><?php echo $words->getFormatted('ThePeople_PictureText1','<a title="unconference: A meeting with a non-fixed schedule that can be changed all the time.">','</a>') ?>#}
        {#<br><?php echo $words->getFormatted('ThePeople_PictureText2','<a href="http://www.flickr.com/photos/22828233@N05/">','</a>') ?></p>#}
{#</div>#}

<div class="row">
    <div class="col-xs-12">
        <h3>{{ 'ThePeople_Title3' | trans }}</h3>

        <p>{{ 'ThePeople_Text3' | trans | raw }}</p>

    </div>
</div>
