{% import '@macros/macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ language.ShortCode }}">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>
        {%- spaceless -%}
            {# @see http://stackoverflow.com/a/13806784 #}
            {% set _block = block('title') %}

            {% if _block is not empty %}
                {{ _block }} |
            {%- endif %} BeWelcome
        {%- endspaceless -%}
    </title>

    <meta name="description"
          content="{{ 'default_meta_description'|trans }}"/>
    <meta name="keywords"
          content="{{ 'default_meta_keyword'|trans }}"/>
    {#<meta name="robots" content="{{ meta.robots }}"/>#}
    {#{% include '@base/stylesheets.html.twig' %}#}
    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ asset('js/backwards.js') }}"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('js/built.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <div class="navandcontent">
        {% include '@base/menu.html.twig' %}
        <noscript><h1>Please activate Javascript for bewelcome.org<small>Without it some function won't work.</small></h1></noscript>
        <div class="container" id="main">
        {% block content %}{% endblock %}
            </div>
    </div>
    {% include '@base/footer.html.twig' %}
    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : lateScriptFiles} %}#}

</body>
</html>
