{% import '@macros/macros.twig' as macros %}
<nav class="navbar navbar-sticky-top navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/logo_index_top.png" alt="{{ 'BeWelcome' | trans }}"/></a>

        <button class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" data-target="#mainNavBar">
            &#9776;
        </button>

        {# navigation on small screens #}
        <div class="collapse navbar-toggleable-md hidden-md-up" id="mainNavBar">

            <ul class="nav navbar-nav">
                <li class="nav-item col-xs-12 border">
                <a href="{{ path('member', { username: my_member.Username }) }}" class="nav-link">{{ 'Profile' | trans }}</a>
                </li>
                <li class="nav-item col-xs-12 border">
                    <a href="/search/members" class="nav-link">{{ 'MapSearch' | trans }}</a>
                </li>
                <li class="nav-item col-xs-12 border">
                    <a href="/trips" class="nav-link">{{ 'Trips' | trans }}</a>
                </li>
                <li class="nav-item col-xs-12 border">
                    <a href="/mynotes" class="nav-link">{{ 'MyNotes' | trans }}</a>
                </li>
                <li class="nav-item col-xs-12 border">
                    <a href="{{ path('message') }}" class="nav-link">{{ 'MyMessages' | trans }}</a>
                </li>
                <li class="nav-item col-xs-12 border">
                    <a href="{{ path('auth/logout') }}" class="nav-link">{{ 'Logout' | trans }}</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler hidden-lg-up hidden-sm-down pull-xs-right" data-toggle="collapse" data-target="#mainNavBar2">
            &#9776;
        </button>

        <div class="collapse navbar-toggleable-md" id="mainNavBar2">

            <ul class="nav navbar-nav">
                <li class="navbar-divider hidden-md-down"></li>
                <li class="nav-item">
                    <a href="/search/members" class="nav-link">{{ 'FindMembers' | trans }}</a>
                </li>
                <li class="navbar-divider hidden-md-down"></li>
                <li class="nav-item">
                    <a href="/community" class="nav-link">{{ 'CommunityMenu' | trans }}</a>
                </li>
                <li class="navbar-divider hidden-md-down"></li>
                <li class="nav-item">
                    <a href="/safety" class="nav-link">{{ 'Safety' | trans}}</a>
                </li>
                <li class="navbar-divider hidden-md-down"></li>
                <li class="nav-item">
                    <a href="/volunteer" class="nav-link">{{ 'Volunteer' | trans}}</a>
                </li>
                <li class="navbar-divider hidden-md-down"></li>
                <li class="nav-item dropdown hidden-md-down">
                    <a href="#" class="nav-link" id="subNavBar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &#9776;
                    </a>

                    <div class="dropdown-menu subnav" aria-labelledby="subNavBar">
                       <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="button" class="close pull-xs-right" aria-label="Close" data-toggle="collapse" data-target="#mainNavBar2">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-b-1">
                                    <div class="col-xs-2">
                                        <a href="/search" class="h4 subnavtitle">{{ 'FindMembers' | trans }}</a>

                                        <a href="/search/members" class="btn btn-block btn-primary-outline p-y-0 text-xs-left m-t-1">{{ 'MapSearch' | trans }}</a>
                                        <a href="/places" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'BrowseCountries' | trans}}</a>
                                        <a href="/trips" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'Trips' | trans}}</a>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="/community" class="h4 subnavtitle">{{ 'CommunityMenu' | trans }}</a>

                                        <a href="/forums" class="btn btn-block btn-primary-outline p-y-0 text-xs-left m-t-1">{{ 'CommunityDiscussions' | trans }}</a>
                                        <a href="/groups/search" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'Groups' | trans }}</a>
                                        <a href="/activities" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'Activities' | trans}}</a>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="{{ path('about') }}" class="h4 subnavtitle">{{ 'GetAnswers' | trans}}</a>

                                        <a href="/faq" class="btn btn-block btn-primary-outline p-y-0 text-xs-left m-t-1">{{ 'FAQ' | trans }}</a>
                                        <a href="/feedback" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'ContactUs' | trans}}</a>
                                        <a href="/wiki" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'Wiki' | trans}}</a>
                                        <a href="/stats" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'StatsPage' | trans}}</a>
                                        <a href="/terms" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'TermsOfUse'  | trans}}</a>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="/volunteer" class="h4 subnavtitle">{{ 'Volunteer' | trans}}</a>

                                        <a href="{{ path('about', { page: 'getactive'}) }}" class="btn btn-block btn-primary-outline p-y-0 text-xs-left m-t-1">{{ 'About_GetActive' | trans}}</a>
                                        <a href="/donate" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ 'DonateLink'  | trans}}</a>
                                        {% for team in teams if teams %}
                                        <a href="/{{ team.link }}" class="btn btn-block btn-primary-outline p-y-0 text-xs-left">{{ team.trans | trans}}</a>
                                        {% endfor %}
                                    </div>

                                    <div class="col-xs-4 usermenu">
                                        <div class="col-xs-12 p-l-2 m-b-2">
                                            <a href="{{ path('member', { username: my_member.Username }) }}" class="h4">{{ macros.avatar( my_member.Username, 50, true) }} {{ my_member.Username }}</a>
                                        </div>

                                        <div class="col-xs-6 pull-xs-left">
                                            <a href="/editmyprofile" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-edit"></i> {{ 'EditMyProfile' | trans }}</a>
                                            <a href="/mypreferences" class="btn btn-sm btn-block btn-primary-outline text-xs-left m-t-0"><i class="fa fa-sliders"></i> {{ 'MyPreferences' | trans }}</a>
                                            <a href="/groups/mygroups" class="btn btn-sm btn-block btn-primary-outline text-xs-left m-t-0"><i class="fa fa-users"></i> {{ 'MyGroups' | trans }}</a>
                                        </div>

                                        <div class="col-xs-6 pull-xs-left">
                                            <a href="{{ path('message') }}" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-envelope-o"></i> {{ 'MyMessages' | trans }}</a>
                                            <a href="/mynotes" class="btn btn-sm btn-block btn-primary-outline text-xs-left m-t-0"><i class="fa fa-list"></i> {{ 'ProfileMyNotes' | trans }}</a>
                                            <a href="{{ path('auth/logout') }}" class="btn btn-sm btn-block btn-primary-outline text-xs-left m-t-0"><i class="fa fa-power-off"></i> {{ 'Logout' | trans }}</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </li>

                {# logout #}
                <li class="nav-item pull-xs-right"><a href="{{ path('auth/logout') }}" class="nav-link"><i class="fa fa-sign-out"></i></a></li>

                {# profile link on smaller screens #}
                <li class="nav-item pull-xs-right hidden-lg-up">
                    <a href="{{ path('member', { username: my_member.Username }) }}" class="nav-link"><i class="fa fa-user"></i><span class="hidden-md-down"> {{ my_member.Username }} </span></a>
                </li>

                {# member dropdown on bigger screens #}
                <li class="nav-item dropdown pull-xs-right hidden-md-down">
                    <a href="/members/{{ my_member.Username }}" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ my_member.Username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="text-xs-right"><a href="{{ path('member', { username: my_member.Username }) }}" class="dropdown-item">{{ 'Profile' | trans }}</a></li>
                        <li class="text-xs-right"><a href="/editmyprofile" class="dropdown-item">{{ 'EditMyProfile' | trans }}</a></li>
                        <li class="text-xs-right"><a href="/mypreferences" class="dropdown-item">{{ 'MyPreferences' | trans }}</a></li>
                        <li class="text-xs-right"><a href="/mynotes" class="dropdown-item">{{ 'ProfileMyNotes' | trans }}</a></li>
                        <li class="text-xs-right"><a href="/groups/mygroups" class="dropdown-item">{{ 'MyGroups' | trans }}</a></li>
                        <li class="text-xs-right"><a href="/trips" class="dropdown-item">{{ 'TripsShowMy' | trans }}</a></li>
                        <li class="text-xs-right"><a href="{{ path('auth/logout') }}" class="dropdown-item">{{ 'Logout' | trans }}</a></li>
                    </ul>
                </li>

                {# messages #}
                <li class="nav-item pull-xs-right">
                    <a href="{{ path('message') }}" class="nav-link"><i class="fa fa-lg fa-inbox"></i><noscript>{{ 'MyInbox' | trans }}</noscript> <span class="tag tag-warning">{{ messageCount }}</span></a>
                </li>

            </ul>
        </div>

        {# Always have something for noscripters #}
        <noscript>
            <div class="hidden-lg-up">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/search" class="nav-link">{{ 'FindMembers' | trans }}</a></li>
                    <li class="nav-item"><a href="/community" class="nav-link">{{ 'CommunityMenu' | trans }}</a></li>
                    <li class="nav-item"><a href="/safety" class="nav-link">{{ 'Safety' | trans}}</a></li>
                    <li class="nav-item"><a href="wiki/importantlinks" class="nav-link">All important links</a></li>
                    <li class="nav-item"><a href="{{ path('message') }}" class="nav-link">{{ 'MyMessages' | trans }}</a></li>
                    <li class="nav-item"><a href="{{ path('member', { username: my_member.Username }) }}" class="nav-link">{{ my_member.Username }}</a></li>
                </ul>
            </div>

            {# always show a noscript logout #}
            <ul class="nav navbar-nav">
                <li class="nav-item pull-xs-right"><a href="{{ path('auth/logout') }}" class="nav-link">{{ 'Logout' | trans }}</a></li>
            </ul>
        </noscript>

    </div>

</nav>
