<div class="card o-card mb-3">
    <a name="accommodation"></a>

    <h3 class="card-header profile-bg2">
        <i class="fa fa-home"></i><span class="icontext">Accommodation</span>
        {% if member.id == app.user.id %}
            <a href="{{ path('member/edit') }}" class="btn btn-sm btn-edit float-right"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>edit</a>
        {% else %}
            <a href="#" class="btn btn-primary-outline btn-sm float-right request p-0"><i
                        class="fa fa-angle-double-right"></i> Send a request</a>
        {% endif %}
    </h3>

    <div class="card-block">

        <p class="card-text m-b-0"><strong>Max. number of guests:</strong> {{ member.maxguest }}</p>
        <p class="card-text m-b-0"><strong>Max. length of stay:</strong> {{ member.maxlenghtofstay }}</p>


        <div id="accordion" role="tablist" aria-multiselectable="true">

            {% if member.ilivewith %}
            <div role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne" class="collapsed btn btn-secondary btn-block text-left">
                        <i class="fa fa-angle-double-down mr-1"></i>I live with
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block pt-0">
                    {{ member.ilivewith }}
                </div>
            </div>
            {% endif %}

            {% if member.pleasebring %}
            <div role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed btn btn-secondary btn-block text-left" data-toggle="collapse"
                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-angle-double-down mr-1"></i>Please bring
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block pt-0">
                    {{ member.pleasebring }}
                </div>
            </div>
            {% endif %}

            {% if member.otherrestrictions %}
            <div role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed btn btn-secondary btn-block text-left" data-toggle="collapse"
                       data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                       aria-controls="collapseThree">
                        <i class="fa fa-angle-double-down mr-1"></i>House rules
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block pt-0">
                    {{ member.otherrestrictions }}
                </div>
            </div>
            {% endif %}

            {% if member.offerguests %}
            <div role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed btn btn-secondary btn-block text-left" data-toggle="collapse"
                       data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-angle-double-down mr-1"></i>I can offer my guests
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block pt-0">
                    {{ member.offerguests }}
                </div>
            </div>
            {% endif %}

            {% if member.additionalaccommodationinfo %}
            <div role="tab" id="headingFive">
                <h5 class="mb-0">
                    <a class="collapsed btn btn-secondary btn-block text-left" data-toggle="collapse"
                       data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fa fa-angle-double-down mr-1"></i>About my accommodation
                    </a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-block pt-0">
                    {{ member.additionalaccommodationinfo }}
                </div>
            </div>
            {% endif %}

            {% if member.publictransport %}
            <div role="tab" id="headingSix">
                <h5 class="mb-0">
                    <a class="collapsed btn btn-secondary btn-block text-left" data-toggle="collapse"
                       data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="fa fa-angle-double-down mr-1"></i>How to get there
                    </a>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="card-block pt-0">
                    {{ member.publictransport }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
