<div class="d-flex flex-row">
    <h1 class="profilecity mb-3"><small><i class="fa fa-map-marker-alt"></i></small> {{ member.city.name }}, {{ member.city.country.name }}</h1>
</div>
<div class="d-flex">
    <div class="mr-3">

        {%  if member.Accommodation == 'anytime' %}{% set hosttext = 'Hosting' %}{% endif %}
        {%  if member.Accommodation == 'dependonrequest' %}{% set hosttext = 'Maybe Hosting' %}{% endif %}
        {%  if member.Accommodation == 'neverask' %}{% set hosttext = 'Not hosting' %}{% endif %}

        {% if member.id == app.user.id %}

            {# TODO: display right status #}
            <a href="#" id="SetStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/icons/{{ image }}.png">
            </a>
            {# TODO: make a working form chaning status #}
            <div class="dropdown-menu top0" aria-labelledby="SetStatus">
                <a href="#" class="dropdown-item"><img src="/images/icons/anytime.png"><span class="icontext">Yes</span></a>
                <a href="#" class="dropdown-item"><img src="/images/icons/dependonrequest.png"><span class="icontext">Maybe</span></a>
                <a href="#" class="dropdown-item"><img src="/images/icons/neverask.png"><span class="icontext">No</span></a>
            </div>
        {% else %}
            <img src="/images/icons/{{ member.Accommodation }}.png">
        {% endif %}

        <span class="text-uppercase"><small><strong>{{ hosttext }}</strong></small></span>
        <br>
        <span><small>(Max. guests: <strong>{{ member.MaxGuest }}</strong>)</small></span>
        <br><br>
        <span class="gray"><small><i>
                {{ 'last.login' | trans }} {{ member.LastLogin ? member.LastLogin.diffForHumans : 'never' | trans }}
            </i></small></span>

    </div>

    <div class="ml-auto">
        <img class="mappreview" src="https://maps.googleapis.com/maps/api/staticmap?center={{ member.Latitude }},{{ member.Longitude }}&zoom=10&size=117x117&key=AIzaSyAiF_lG8CdC-hCIXbGs9jilOFJRoXteM3k">
    </div>
</div>
<div class="d-flex flex-row pt-3">
    {% if member.id == app.user.id %}
        <a href="#" class="btn btn-sm btn-primary btn-block btn-edit"><i class="fa fa-street-view"></i><span class="icontext">Change location</span></a>
    {% else %}
        <a href="{{ path('message/compose', { username: member.Username }) }}" class="btn btn-sm btn-primary btn-block btn-profile"><i class="fa fa-envelope"></i><span class="icontext">Send request</span></a>
    {% endif %}
</div>