{% extends '@base/base.html.twig' %}

{% set scriptFiles = ['jqueryui.js', 'leaflet.js', 'member/createmap.js', 'member/searchpicker.js'] %}

{% set cssFiles = ['leaflet.css', 'jquery-ui.css'] %}

{% block content %}

    <div class="container">
        {{ form_start(form, {'attr': {'class': 'form-inline p-1 mb-2 framed shadowed'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lg fa-bed"></i></span>
                    {{ form_row(form.search, {'attr': {'class': 'search-picker form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="hostcheckimg"><img src="/images/icons/yesicanhost.png"/>
                    <div class="hostcheckbox">{{ form_widget(form.search_accommodation_anytime) }}</div>
                </div>
                <div class="hostcheckimg"><img src="/images/icons/maybe.png"/>
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_dependonrequest) }}</div>
                </div>
                <div class="hostcheckimg"><img src="/images/icons/nosorry.png"/>
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_neverask) }}</div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.search_can_host) }}
                {{ form_widget(form.search_can_host, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.search_distance) }}
                {{ form_widget(form.search_distance, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
            {{ form_rest(form) }}
            {{ form_widget(form.update_map) }}
        </div>
{#        <div class="row">
            <div class="col-xs-12 mt-1">
                {{ form_widget(form.advanced_options) }}
            </div>
        </div> #}
        {{ form_end(form) }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="map" class=" framed" style="width: 100%; height: 480px;"></div>
            </div>
        </div>
    </div>

    <script>
        var mapMembers = {% if results %}
            {{ results.map | json_encode | raw }};
        {% else %}
            { };
        {% endif %}
    </script>
    {# TODO for showing a paginated table of members under map
        {% if results %}
            {% include '@member/results.html.twig' %}
        {% endif %}
    #}
{% endblock content %}
