{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="/">
        <link rel="shortcut icon" href="favicon.ico">

        <title>
            {%- spaceless -%}
                {# @see http://stackoverflow.com/a/13806784 #}
                {% set _block = block('title') %}

                {% if _block is not empty %}
                    {{ _block | trim }} |
                {%- endif %} BeWelcome
            {%- endspaceless -%}
        </title>

        <meta name="description" content="{{ 'default_meta_description' | trans }}">
        <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
        <meta name="robots" content="{{ robots }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        {%  javascripts
            '@backwards_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->

        {% stylesheets filter="cssrewrite"
            '@app_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'menu.html.twig' %}
        <noscript><h1>Please activate Javascript for bewelcome.org</h1><p><small>Without it some function won't work.</small></p></noscript>
        <main role="main">
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash error">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash notice">
                {{ flash_message }}
            </div>
        {% endfor %}
            {% set sidebar = (submenu is defined) %}
        <div class="container">
            <div class="row{% if sidebar %} row-offcanvas row-offcanvas-right mt-2{% endif %}">
                <div class="col-12{% if sidebar %} col-md-9{% endif %}">
                {% block content %}{% endblock %}
                </div>
                {% if sidebar %}
                    <div class="col-6 col-md-3 sidebar-offcanvas mt-3" id="sidebar">
                        <div class="list-group mb-2">
                            {% block subnav %}{% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        </main>
        {% include 'footer.html.twig' %}
        {% javascripts
        '@jquery_js'
        '@popper_js'
        '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {%  endjavascripts %}
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
