{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="favicon.ico">

        <title>
            {%- spaceless -%}
                {% if block('title') is defined %}
                    {{ block('title') | trim }} |
                {% endif %} BeWelcome
            {%- endspaceless -%}
        </title>

        <meta name="description" content="{{ 'default_meta_description' | trans }}">
        <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
        <meta name="robots" content="{{ robots }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ asset('build/backwards.js') }}"></script>
        <![endif]-->

        <link rel="stylesheet" href="{{ asset('build/bewelcome.css') }}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/bewelcome.css') }}" />
    </head>
    <body>
        {% include 'menu.html.twig' %}
        <noscript><h1>Please activate Javascript for bewelcome.org</h1><p><small>Without it some function won't work.</small></p></noscript>
        <main role="main">
            <div class="container">
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="row">
                        <div class="col-12 alert alert-danger" role="alert">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="row">
                        <div class="col-12 alert alert-info" role="alert">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="row">
                        <div class="col-12 alert alert-success" role="alert">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% set sidebar = (submenu is defined) %}
            {% set contentBlock %} {% block content %}{% endblock %} {% endset %}
            <div class="container">
                {% if sidebar %}
                    <div class="row row-offcanvas row-offcanvas-right mt-2">
                        <div class="col-12 col-md-9">
                            <p class="float-right d-md-none">
                                <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="offcanvas">Toggle nav</button>
                            </p>
                            {{  contentBlock | raw }}
                        </div>
                        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                            <div class="list-group mb-2">
                                {% for filter,menuItem in submenu.items %}
                                    <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
                                       href="{{ menuItem.url }}">{{ menuItem.key | trans({}, 'messages', 'en') }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            {{  contentBlock | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
        {% include 'footer.html.twig' %}
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/bewelcome.js') }}"></script>
        {% if sidebar %}
            <script src="{{ asset('build/offcanvas.js') }}"></script>
        {% endif %}
        <script type="application/javascript">
            $(".select2").select2({
                theme: 'bootstrap',
                containerCssClass: 'form-control'
            });
        </script>
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
