{% import 'macros.twig' as macros %}
<!DOCTYPE html lang="{{ app.request.locale }}">
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico">

        <title>
            {%- spaceless -%}
                {# @see http://stackoverflow.com/a/13806784 #}
                {% set _block = block('title') %}

                {% if _block is not empty %}
                    {{ _block | trim }} |
                {%- endif %} BeWelcome
            {%- endspaceless -%}
        </title>

        <meta name="description" content="{{ 'default_meta_description' | trans }}">
        <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
        <meta name="robots" content="{{ robots }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('js/backwards.js') }}"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ asset('js/built.js') }}"></script>

        {% javascripts
        '@jquery_js'
        '@tether_js'
        '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {%  endjavascripts %}

        {% stylesheets filter="scssphp,cssrewrite" output="css/app.css"
        'bundles/app/scss/bewelcome.scss'
        '@tether_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'menu.html.twig' %}
        <noscript><h1>Please activate Javascript for bewelcome.org<small>Without it some function won't work.</small></h1></noscript>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div id="subnav" class="container">{% block subnav %}{% endblock %}</div>
        <div class="container-content">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
