{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <title>
        {%- spaceless -%}
            {# @see http://stackoverflow.com/a/13806784 #}
            {% set _block = block('title') %}

            {% if _block is not empty %}
                {{ _block | trim }} |
            {%- endif %} BeWelcome
        {%- endspaceless -%}
    </title>

    <meta name="description" content="{{ 'default_meta_description' | trans }}">
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
    <meta name="robots" content="{{ 'robots' | trans }}">

    {#{% include '@base/stylesheets.html.twig' %}#}
    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {%  javascripts
        '@backwards_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->

    {% javascripts
        '@jquery_js'
        '@popper_js'
        '@bootstrap_js'
        '@skrollr_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets filter="cssrewrite"
        '@app_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>

    <nav class="navbar navbar-sticky-top navbar-light bg-primary">
        <div class="container">
            <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-expand" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="/">{% image 'bundles/app/images/logo_index_top.png' %}<img src="{{ asset_url }}" alt="{{ 'BeWelcome' | trans }}"/>{% endimage %}</a>
            </div>
        </div>
    </nav>

    <noscript><h1>Please activate Javascript for bewelcome.org</h1><p><small>Without it some function won't work.</small></p></noscript>

    <div class="container-content p-0">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html.twig' %}

    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : lateScriptFiles} %}#}

</body>
</html>
