{% import _self as helper %}

{% set langsel %}
    <select id="language" name="language" class="small select2 combo" style="padding-left: 0 2rem;" onchange="window.location.href=this.value; return false">
        {% for lang in languages %}
            <option {% if lang.ShortCode == app.request.locale %}selected="selected"{% endif %} value="{{ path('language', { locale: lang.ShortCode }) }}">{{ lang.name|raw }} ({{ lang.translatedname|raw }})</option>
        {% endfor %}
    </select>
{% endset %}
<div class="stickyfooter">
    <div class="container">
        <form class="form-inline" action="#" method="post">
            <div>Site currently displayed in {{ langsel }}.
                <a href="http://www.bewelcome.org/groups/60/wiki">{{ 'Help us Translate' | trans }}.</a>
            </div>
        </form>

        <div class="mt-1" >
            <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
            <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
            <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
            <a href="impressum">{{ 'Impressum' | trans }}</a> •
            <a href="faq">{{  'faq' | trans }}</a> •
            <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
            <a href="about/feedback?IdCategory=1&amp;RequestURI={{ url('homepage') }}">{{ 'Reportbug' | trans }}</a>
        </div>

        <div class="mt-1" >
            &copy; 2007 &mdash; {{ "now" | date("Y") }} <a href="http://www.bevolunteer.org/" target="_blank">BeVolunteer</a> and contributors

            - <em> Running on open source <a style="display:inline" href="https://github.com/bewelcome/rox">BW Rox</a> rev. <a href="https://github.com/BeWelcome/rox/commit/{{ version }}">{{ version }}</a> ({{ version_dt }})</em>

        </div>
    </div>
</div>
{% if is_granted('ROLE_ADMIN_WORDS') %}
<div class="container">
    {% set translations = getTranslations() %}
    {% set collector = translations.collector %}
    {% if collector.messages|length %}
        <h2>Translation Locales</h2>

        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.locale|default('-') }}</span>
                <span class="label">Locale</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.fallbackLocales|join(', ')|default('-') }}</span>
                <span class="label">Fallback locales</span>
            </div>
        </div>

        <h2>Translation Metrics</h2>

        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.countDefines }}</span>
                <span class="label">Defined messages</span>
            </div>

            <div class="metric">
                <span class="value">{{ collector.countFallbacks }}</span>
                <span class="label">Fallback messages</span>
            </div>

            <div class="metric">
                <span class="value">{{ collector.countMissings }}</span>
                <span class="label">Missing messages</span>
            </div>
        </div>

        <h2>Translation Messages</h2>
    {% block messages %}

        {# sort translation messages in groups #}
        {% set messages_defined, messages_missing, messages_fallback = [], [], [] %}
        {% for message in collector.messages %}
            {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
                {% set messages_defined = messages_defined|merge([message]) %}
            {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
                {% set messages_missing = messages_missing|merge([message]) %}
            {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
                {% set messages_fallback = messages_fallback|merge([message]) %}
            {% endif %}
        {% endfor %}

        <div class="sf-tabs">
            <div class="tab">
                <h3 class="tab-title">Defined <span class="badge">{{ collector.countDefines }}</span></h3>

                <div class="tab-content">
                    <p class="help">
                        These messages are correctly translated into the given locale.
                    </p>

                    {% if messages_defined is empty %}
                        <div class="empty">
                            <p>None of the used translation messages are defined for the given locale.</p>
                        </div>
                    {% else %}
                        {% block defined_messages %}
                            {{ helper.render_table(messages_defined) }}
                        {% endblock %}
                    {% endif %}
                </div>
            </div>

            <div class="tab">
                <h3 class="tab-title">Fallback <span class="badge {{ collector.countFallbacks ? 'status-warning' }}">{{ collector.countFallbacks }}</span></h3>

                <div class="tab-content">
                    <p class="help">
                        These messages are not available for the given locale
                        but Symfony found them in the fallback locale catalog.
                    </p>

                    {% if messages_fallback is empty %}
                        <div class="empty">
                            <p>No fallback translation messages were used.</p>
                        </div>
                    {% else %}
                        {% block fallback_messages %}
                            {{ helper.render_table(messages_fallback) }}
                        {% endblock %}
                    {% endif %}
                </div>
            </div>

            <div class="tab">
                <h3 class="tab-title">Missing <span class="badge {{ collector.countMissings ? 'status-error' }}">{{ collector.countMissings }}</span></h3>

                <div class="tab-content">
                    <p class="help">
                        These messages are not available for the given locale and cannot
                        be found in the fallback locales. Add them to the translation
                        catalogue to avoid Symfony outputting untranslated contents.
                    </p>

                    {% if messages_missing is empty %}
                        <div class="empty">
                            <p>There are no messages of this category.</p>
                        </div>
                    {% else %}
                        {% block missing_messages %}
                            {{ helper.render_table(messages_missing) }}
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
        </div>

    {% endblock messages %}

    {% endif %}
</div>
{% endif %}
    {% macro render_table(messages) %}
        <table>
            <thead>
            <tr>
                <th>Locale</th>
                <th>Domain</th>
                <th>Times used</th>
                <th>Message ID</th>
                <th>Message Preview</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td class="font-normal text-small nowrap">{{ message.locale }}</td>
                    <td class="font-normal text-small text-bold nowrap">{{ message.domain }}</td>
                    <td class="font-normal text-small nowrap">{{ message.count }}</td>
                    <td>
                        <span style="position: absolute;
top: 0;
right: 1px;
bottom: 1px;
left: .5em;
z-index: 1;
height: 1em;
font-size: 13px;
line-height: 3.5em;
color: #999;
white-space: nowrap;
cursor: text;
transition:all .1s ease;">{{ message.id }}</span>
                        {% if message.locale != 'en' %}
                        <span class="nowrap">{{ message.id | trans( {}, message.domain, 'en' ) }}</span>
                        {% endif %}
                        {% if message.transChoiceNumber is not null %}
                            <small class="newline">(pluralization is used)</small>
                        {% endif %}

                        {% if message.parameters|length > 0 %}
                            <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</button>

                            <div id="parameters-{{ loop.index }}" class="hidden">
                                {% for parameters in message.parameters %}
                                    {{ profiler_dump(parameters, maxDepth=1) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td class="prewrap">{{ message.translation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endmacro %}
