{% set langsel %}
    <select id="language" name="language" class="small select2 combo" style="padding-left: 0 2rem;" onchange="window.location.href=this.value; return false">
        {% for lang in languages %}
            <option {% if lang.ShortCode == app.request.locale %}selected="selected"{% endif %} value="{{ path('language', { locale: lang.ShortCode }) }}">{{ lang.name|raw }} ({{ lang.translatedname|raw }})</option>
        {% endfor %}
    </select>
{% endset %}
<div class="container">
    <div class="row">
        <div class="col-12">
        {% set translations = getTranslations() %}
            {{ 'Missing translations: ' | trans}}{{ translations.missing }}
            {{ 'Fallback translations: ' | trans}}{{ translations.fallback }}
        </div>
    </div>
</div>
<div class="stickyfooter">
    <div class="container">
        <form class="form-inline" action="#" method="post">
            <div>Site currently displayed in {{ langsel }}.
                <a href="http://www.bewelcome.org/groups/60/wiki">{{ 'Help us Translate' | trans }}.</a>
            </div>
        </form>

        <div class="mt-1" >
            <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
            <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
            <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
            <a href="impressum">{{ 'Impressum' | trans }}</a> •
            <a href="faq">{{  'faq' | trans }}</a> •
            <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
            <a href="about/feedback?IdCategory=1&amp;RequestURI={{ url('homepage') }}">{{ 'Reportbug' | trans }}</a>
        </div>

        <div class="mt-1" >
            &copy; 2007 &mdash; {{ "now" | date("Y") }} <a href="http://www.bevolunteer.org/" target="_blank">BeVolunteer</a> and contributors

            - <em> Running on open source <a style="display:inline" href="https://github.com/bewelcome/rox">BW Rox</a> rev. <a href="https://github.com/BeWelcome/rox/commit/{{ version }}">{{ version }}</a> ({{ version_dt }})</em>

        </div>
    </div>
</div>