{% import 'macros.twig' as macros %}
<!-- #nav: main navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-1" id="navbarToggler">
            <a class="navbar-brand" href="{{ path('homepage') }}">{% image '@AppBundle/Resources/public/images/logo_index_top.png' %}<img src="{{ asset_url }}" alt="{{ 'BeWelcome' | trans }}"/>{% endimage %}</a>
            <ul class="nav navbar-nav mr-auto ml-3">
                <li class="nav-item float-left">
                    <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                        {{ macros.input('username', 'Username') }}
                        {{ macros.input('password', 'Password', '', 'password') }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {{ macros.submit('Login') }}
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mt-1">
                <li class="nav-item dropdown float-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lg fa-globe m-r-1"></i>
                        {{ languages[locale].NativeName|raw }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" style="width: 40rem">
                        <h6 class="dropdown-header">Choose a language</h6>
                        {% for lang in languages %}
                            <a href="{{ path('language', { locale: lang.ShortCode }) }}" class="btn {% if lang.ShortCode == locale %}btn-primary{% else %}btn-secondary{% endif %} m-l-1 mb-1" data-toggle="tooltip" data-placement="top" title="{{ lang.TranslatedName }}" style="width: 12rem">{{ lang.NativeName|raw }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>