{% import 'macros.twig' as macros %}
<!-- #nav: main navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-primary bordert-1 borderb-1">
    <div class="container">

        <a class="navbar-brand ml-3" href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/images/logo_index_top.png') }}" alt="{{ 'BeWelcome' | trans }}"/></a>

        <button class="navbar-toggler btn btn-primary mr-3" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-sm-block d-md-none">
            <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                {{ macros.input('_username', 'Username') }}
                {{ macros.input('_password', 'Password', '', 'password') }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {{ macros.submit('Login') }}
            </form>
        </div>

        <div class="collapse navbar-collapse my-1" id="navbarToggler">
            <ul class="nav navbar-nav mr-auto ml-3">
                <li class="nav-item float-left d-none d-md-block">
                    <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                        {{ macros.input('_username', 'Username') }}
                        {{ macros.input('_password', 'Password', '', 'password') }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {{ macros.submit('Login') }}
                    </form>
                </li>
                <li><span class="d-none d-md-inline-block mt-3 mr-2">or</span><a href="/signup" class="btn btn-primary">Sign-up</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown float-right mt-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lg fa-globe m-r-1"></i>
                        {{ languages[locale].Name|raw }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right columns">
                        {% for lang in languages %}
                            <li class="text-center"><a href="{{ path('language', { locale: lang.ShortCode }) }}" class="btn {% if lang.ShortCode == locale %}btn-primary mb-1{% else %}btn-secondary{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ lang.TranslatedName|raw }}" style="width: 9rem">{{ lang.Name|raw }}</a></li>
                        {% endfor %}
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>