{% import 'macros.twig' as macros %}
<nav class="navbar-nav navbar-sticky-top navbar-expand-md navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
    <div class="container">
        <button class="nav-link navbar-toggler float-right d-md-none" type="button" data-toggle="collapse" data-target="#smallNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
           &#9776;
        </button>

        <a class="navbar-brand mr-3 float-left" href="{{ url('homepage') }}">{% image 'bundles/app/images/logo_index_top.png' %}<img src="{{ asset_url }}" alt="{{ 'BeWelcome' | trans }}"/>{% endimage %}</a>

        {# Navbar small screens #}
        <div class="collapse d-xl-none px-0" id="smallNavBar">
            <ul class="navbar-nav w-100 mr-auto mt-2">
                <li class="nav-item bordert-1">
                    <a href="{{ url('member', { username: my_member.Username }) }}" class="nav-link">{{ my_member.Username }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="{{ path( 'messages' ) }}" class="nav-link pl-4">{{ 'MyMessages' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/mypreferences" class="nav-link pl-4">{{ 'MyPreferences' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/mynotes" class="nav-link pl-4">{{ 'MyNotes' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="{{ url( 'homepage' ) }}" class="nav-link">{{ 'MapSearch' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/trips" class="nav-link">{{ 'Trips' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/community" class="nav-link">{{ 'CommunityMenu' | trans }}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/safety" class="nav-link px-3">{{ 'Safety' | trans}}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/about" class="nav-link px-3">{{ 'GetAnswers' | trans}}</a>
                </li>
                <li class="nav-item bordert-1">
                    <a href="/logout" class="nav-link">{{ 'Logout' | trans }}</a>
                </li>
            </ul>
        </div>

        {# Navbar big screens #}
        <div class="collapse navbar-collapse d-none d-md-block" id="mainNavBar">

            <ul class="navbar-nav mr-auto">
                <li class="menuborder">
                    <a href="/search/members" class="nav-link px-3">{{ 'FindMembers' | trans }}</a>
                </li>
                <li class="menuborder">
                    <a href="/community" class="nav-link px-3">{{ 'CommunityMenu' | trans }}</a>
                </li>
                <li class="menuborder">
                    <a href="/safety" class="nav-link px-3">{{ 'Safety' | trans}}</a>
                </li>
                <li class="menuborder">
                    <a href="/volunteer" class="nav-link px-3">{{ 'Volunteer' | trans}}</a>
                </li>
                <li class="menuborder dropdown d-none d-md-flex">
                    <a href="#" class="nav-link px-3" id="subNavBar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        &#9776;
                    </a>

                    <div class="dropdown-menu subnav py-0 bordert-1 borderb-1" aria-labelledby="subNavBar">

                        <div class="container">

                            <div class="d-flex flex-row justify-content-between">
                                <div class="py-3">
                                    <a href="/search" class="h4">{{ 'FindMembers' | trans }}</a>

                                    <a href="/search/members" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'MapSearch' | trans }}</a>
                                    <a href="/places" class="btn btn-block py-0 pl-1 text-left">{{ 'BrowseCountries' | trans}}</a>
                                    <a href="/trips" class="btn btn-block py-0 pl-1 text-left">{{ 'Trips' | trans}}</a>
                                </div>
                                <div class="py-3">
                                    <a href="/community" class="h4">{{ 'CommunityMenu' | trans }}</a>

                                    <a href="/forums" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'CommunityDiscussions' | trans }}</a>
                                    <a href="/groups/search" class="btn btn-block py-0 pl-1 text-left">{{ 'Groups' | trans }}</a>
                                    <a href="/activities" class="btn btn-block py-0 pl-1 text-left">{{ 'Activities' | trans}}</a>
                                </div>
                                <div class="py-3">
                                    <a href="about" class="h4">{{ 'GetAnswers' | trans}}</a>

                                    <a href="/faq" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'FAQ' | trans }}</a>
                                    <a href="/feedback" class="btn btn-block py-0 pl-1 text-left">{{ 'ContactUs' | trans}}</a>
                                    <a href="/wiki" class="btn btn-block py-0 pl-1 text-left">{{ 'Wiki' | trans}}</a>
                                    <a href="/stats" class="btn btn-block py-0 pl-1 text-left">{{ 'StatsPage' | trans}}</a>
                                    <a href="/terms" class="btn btn-block py-0 pl-1 text-left">{{ 'TermsOfUse'  | trans}}</a>
                                </div>
                                <div class="py-3">
                                    <a href="/volunteer" class="h4">{{ 'Volunteer' | trans}}</a>

                                    <a href="about/getactive" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'About_GetActive' | trans}}</a>
                                    <a href="/donate" class="btn btn-block py-0 pl-1 text-left">{{ 'DonateLink'  | trans}}</a>
                                    {% for team in teams if teams %}
                                        <a href="/{{ team.link }}" class="btn btn-block py-0 pl-1 text-left">{{ team.trans | trans}}</a>
                                    {% endfor %}

                                </div>
                                <div class="menuborder py-5">
                                    <div class="pl-5 pr-0">
                                        <a href="/members/{{ my_member.Username }}">{{ macros.avatar( my_member.Username, 50, true) }} <span class="h4">{{ my_member.Username }}</span></a>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between pl-5 pr-0">
                                        <div>
                                            <a href="/editmyprofile" class="btn btn-block btn-primary-outline py-0 pl-1 text-left mt-1"><i class="fa fa-edit"></i> {{ 'EditMyProfile' | trans }}</a>
                                            <a href="/mypreferences" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-sliders"></i> {{ 'MyPreferences' | trans }}</a>
                                            <a href="/groups/mygroups" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-users"></i> {{ 'MyGroups' | trans }}</a>
                                        </div>
                                        <div>
                                            <a href="/message" class="btn btn-block btn-primary-outline py-0 pl-1 text-left mt-1"><i class="fa fa-envelope-o"></i> {{ 'MyMessages' | trans }}</a>
                                            <a href="/mynotes" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-list"></i> {{ 'ProfileMyNotes' | trans }}</a>
                                            <a href="/logout" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-power-off"></i> {{ 'Logout' | trans }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-1">
                                    <button type="button" class="close pull-right float-md-right" aria-label="Close" data-toggle="collapse" data-target="#mainNavBar2">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav mr-0">

                {# profile link on smaller screens #}
                <li class="nav-item float-right d-block d-lg-none">
                    <a href="/members/{{ my_member.Username }}" class="nav-link"><i class="fa fa-lg fa-user"></i></a>
                </li>

                {# member dropdown on bigger screens #}
                <li class="nav-item dropdown float-right d-none d-lg-block">
                    <a href="/members/{{ my_member.Username }}" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ my_member.Username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="text-right"><a href="/members/{{ my_member.Username }}" class="dropdown-item">{{ 'Profile' | trans }}</a></li>
                        <li class="text-right"><a href="/editmyprofile" class="dropdown-item">{{ 'EditMyProfile' | trans }}</a></li>
                        <li class="text-right"><a href="/mypreferences" class="dropdown-item">{{ 'MyPreferences' | trans }}</a></li>
                        <li class="text-right"><a href="/mynotes" class="dropdown-item">{{ 'ProfileMyNotes' | trans }}</a></li>
                        <li class="text-right"><a href="/groups/mygroups" class="dropdown-item">{{ 'MyGroups' | trans }}</a></li>
                        <li class="text-right"><a href="/trips" class="dropdown-item">{{ 'TripsShowMy' | trans }}</a></li>
                        <li class="text-right"><a href="/logout" class="dropdown-item">{{ 'Logout' | trans }}</a></li>
                    </ul>
                </li>

                {# messages #}
                <li class="nav-item float-right">
                    {# {{ 'MyInbox' | trans }} #} <a href="/messages" class="nav-link"><i class="fa fa-lg fa-inbox"></i> <span class="badge badge-warning d-md-none d-lg-inline-block">10</span></a>
                </li>

                {# logout #}
                <li class="nav-item float-right"><a href="/logout" class="nav-link"><i class="fa fa-lg fa-sign-out"></i></a></li>
            </ul>

        </div>
    </div>
</nav>