{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ menuItem.url }}">{{ menuItem.key | trans }}</a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/jquery_ui.js') }}"></script>
    <script src="{{ asset('build/member/autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}" />
{% endblock stylesheets %}

{% block content %}
    <div class="log"></div>
    {% if faqs.nbResults == 0 %}
        <p>{{ 'No faqs found.' | trans }}</p>
    {% else %}
        {% if faqs.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( faqs, 'twitter_bootstrap4_translated') }}
            </div>
        {% endif %}
        <table class="table table-responsive table-striped table-hover">

        <tr>
            <th>Category</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for faq in faqs.currentPageResults %}
            <tr><td><br>{{ faq.qAndA }}</td><td>{{ faq.Question }}</td><td>{{ faq.Answer }}</td></tr>
        {% endfor %}
        </table>
        {% if faqs.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( faqs, 'twitter_bootstrap4_translated') }}
            </div>
        {% endif %}

    {% endif %}
{% endblock %}