{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    {% if groups|length %}
        <div class="table-responsive ">
            <table class="table table-striped w-100">
                <colgroup>
                    <col style="width:20%">
                    <col style="width:55%">
                    <col style="width:15%">
                    <col style="width:10%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">{{ 'admin.group.info'|trans }}</th>
                        <th scope="col" class="w-100">{{ 'admin.group.description'|trans }}</th>
                        <th scope="col">{{ 'admin.group.creator'|trans }}</th>
                        <th scope="col">{{ 'admin.group.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td><p><strong><a href="{{ url('group_start', {'group_id': group.id}) }}">{{ group.Name }}</a></strong><br>
                                    <small>Created: {{ group.created|localizeddate }}</small></p>
                                {% if group.approved == constant('App\\Entity\\Group::IN_DISCUSSION') %}
                                    <p class="alert alert-danger my-2">{{ 'Group approval under discussion' }}</p>{% endif %}
                                </td>
                            <td>{% for locale, description in group.descriptions %}
                                     <small class="text-muted">{{ description.Language.WordCode|lower|trans }} ({{ locale }})</small><br>{{ description.Sentence|purify }}
                                {% endfor %}
                                </td>
                            <td>{% if group.members|first %}{{ macros.avatarstack((group.members|first).Username) }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_groups_approve', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-check" title="{{ 'Approve group'|trans }}"></i></a><br>
                                <a href="{{ path('admin_groups_dismiss', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-ban" title="{{ 'Dismiss group'|trans }}"></i></a>
                                {% if group.approved != constant('App\\Entity\\Group::IN_DISCUSSION') %}<br>
                                    <a href="{{ path('admin_groups_discuss', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-comments" title="{{ 'Move group to discussion queue'|trans }}"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ 'admin.group.no.group' | trans }}
    {% endif %}
{% endblock %}
