{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    {% if groups|length %}
        <div class="table-responsive ">
            <table class="table table-striped w-100">
                <colgroup>
                    <col style="width:20%">
                    <col style="width:55%">
                    <col style="width:15%">
                    <col style="width:10%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">{{ 'Group Name'|trans }}</th>
                        <th scope="col" class="w-100">{{ 'Group Description'|trans }}</th>
                        <th scope="col">{{ 'Creator'|trans }}</th>
                        <th scope="col">{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.Name }}{% if group.approved == constant('App\\Entity\\Group::IN_DISCUSSION') %}<br><br>
                                    <p class="alert alert-danger">{{ 'Group approval under discussion' }}</p>{% endif %}</td>
                            <td>{% for locale, description in group.descriptions %}
                                     <small class="text-muted">{{ description.Language.WordCode|trans }} ({{ locale }})</small><br>{{ description.Sentence|purify }}
                                {% endfor %}
                                </td>
                            <td>{% if group.members|first %}{{ macros.avatarstack((group.members|first).Username) }}{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_groups_approve', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-check" title="{{ 'Approve group'|trans }}"></i></a><br>
                                <a href="{{ path('admin_groups_dismiss', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-ban" title="{{ 'Dismiss group'|trans }}"></i></a>
                                {% if group.approved != constant('App\\Entity\\Group::IN_DISCUSSION') %}<br>
                                    <a href="{{ path('admin_groups_discuss', { 'id': group.id }) }}"><i class="fa fa-2x fa-fw fa-comments" title="{{ 'Move group to discussion queue'|trans }}"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ 'No groups need to be approved' | trans }}
    {% endif %}
{% endblock %}