{# import '@macros/macros.twig' as macros // already included in base.html.twig? #}
{% extends '@base/base.html.twig' %}

{% block title %}
    {{ 'Messages' | trans }}
{% endblock %}

{% block content %}

    <h2>{{ 'UserMessages' | trans | format(my_member.Username) }}</h2>

    <ul class="nav nav-pills mt-1">
        <li class="nav-item">
            <a class="nav-link{% if folder == 'inbox' %} active{% endif %}" href="{{ path('message') }}">{{ 'MyMessagesReceived' | trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if folder == 'sent' %} active{% endif %}" href="{{ path('message', { filter: 'sent' }) }}">{{ 'MyMessagesSent' | trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if folder == 'spam' %} active{% endif %}" href="{{ path('message', { filter: 'spam' }) }}">{{ 'MyMessagesSpam' | trans }}</a>
        </li>
    </ul>

    {% if messages | length == 0 %}
        <p>{{ 'No messages in this folder.' | trans }}</p>
    {% else %}

    <form method="POST">

        <div class="float-right">
            {% include '@base/pagination.html.twig' with {
            currentFilters: filter,
            currentPage: page,
            paginationPath: "message",
            lastPage: pages,
            showAlwaysFirstAndLast: false
            } only %}
        </div>

        <div class="float-left btn-group m-y-1" role="group" aria-label="Delete or spam">

            <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

            {% if folder == 'spam' %}
                <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
            {% elseif folder == 'inbox' %}
                <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
            {% endif %}

        </div>

    <table class="table table-striped">

        <tr class="title">
            <th></th>
            <th class="from">
                {% if filter.dir is defined and filter.dir == 'asc' %}
                    {% set filter = filter | merge({ dir: 'desc' }) %}
                {% else %}
                    {% set filter = filter | merge({ dir: 'asc' }) %}
                {% endif %}

                <a href="{{ path('message', filter | merge({ sort: 'sender' })) }}">{{ 'From' | trans }}</a>
                /
                <a href="{{ path('message', filter | merge({ sort: 'date' })) }}">{{ 'Date' | trans }}</a>
            </th>
            <th class="message">{{ 'MessagesText' | trans }}</th>
        </tr>

        {% for message in messages %}
            {% set directionIn = my_member.id == message.receiver.id %}
            {% set otherMember = directionIn ? message.sender : message.receiver %}

                <tr class="
                    {%- if loop.index0 % 2 -%}
                        highlight
                    {%- else -%}
                        blank
                    {%- endif -%}
                ">

                <td class="select verticalalignmiddle" style="width: 25px; max-width: 25px;">
                    <input type="checkbox" name="message_id[]" class="msganchor" value="{{ message.id }}">
                </td>
                <td class="from" style="width: 20%; max-width: 20%;">
                    <div>
                        <div class="float-left p-x-1">
                            {{ macros.avatar(otherMember.Username, 50) }}
                        </div>
                        <div class="float-left username">
                            <small>
                                <a href="{{ path('member', { username: otherMember.Username}) }}"><strong>{{ otherMember.Username }}</strong></a>
                            </small>
                        </div>
                    </div>

                </td>
                <td class="message verticalalignmiddle">
                    {# DevTip: Replace message.Message with faker.Text(2000) to create random message text #}
                    {% set messageText = message.Message | replace({'\n': ' ', '<br />': ' '}) | striptags %}

                    {% spaceless %}
                    <p>
                        <a href="{{ path('message/view', { id: message.id}) }}"
                            {%- if not message.WhenFirstRead -%}
                            {{- ' class="unread"' -}}
                            {%- endif -%}
                        >
                            {%- if messageText | length >= 250 -%}
                                {{- messageText | slice(0, 250) -}} ...
                            {%- else -%}
                                {{- messageText -}}
                            {%- endif -%}
                        </a>
                    </p>
                    {% endspaceless %}
                    <span class="small" title="{{ message.DateSent }}">{{ message.DateSent.diffForHumans }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>

        <div class="float-left btn-group" role="group" aria-label="Delete or spam">

            <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

            {% if folder == 'spam' %}
                <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
            {% elseif folder == 'inbox' %}
                <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
            {% endif %}

        </div>

    </form>

    {% endif %}

{% endblock %}
