{% extends '@base/base.html.twig' %}

{% set directionIn = my_member.id == message.receiver.id %}
{% set otherMember = directionIn ? message.sender : message.receiver %}

{% block title %}
    {{ 'Messages with %s' | trans | format(otherMember.Username) }}
{% endblock %}

{% block content %}

    <div id="buttonstop">
        <p class="clearfix">
            {% if directionIn %}
                {#<a class="button float_left" href="messages/{{ message.id }}/reply"><?= $words->get('replymessage') ?></a>#}
                <a class="button float_left" href="messages/{{ message.id }}/reply">{{ 'Reply' | trans }}</a>

                {% if message.InFolder == 'Spam' %}
                    <a class="button float_right" href="messages/{{ message.id }}/nospam">{{ 'Remove spam mark' | trans }}</a>
                {% else %}
                    {#<a class="button float_right" href="messages/<?= $message->id ?>/spam"><?= $words->get('markspam') ?></a>#}
                    <a class="button float_right" href="messages/{{ message.id }}/spam">{{ 'Report as abuse' | trans }}</a>
                {% endif %}

            {% else %}
                {#<a class="button float_left" href="messages/<?= $message->id ?>/edit"><?= $words->get('editmessage') ?></a>#}
                <a class="button float_left" href="messages/{{ message.id }}/edit">{{ 'Edit' | trans }}</a>
            {% endif %}

            <a class="button float_right" href="messages/{{ message.id }}/delete" onclick="return confirm ('{{ 'Are you sure that you want to permanently delete the selected messages?' | trans }}')">{{ 'Delete' | trans }}</a>
            {#<a class="button float_right" href="messages/<?= $message->id ?>/delete" onclick="return confirm ('<?php echo $words->getBuffered('MessagesWarningConfirmDelete'); ?>')"><?= $words->get('delmessage') ?></a>#}
        </p>
    </div>
    <!-- buttonstop -->
    <div id="messageheader" class="clearfix">
        <div id="messageside" class="float_right">
            <p class="small grey">
                {#<?= $words->get('LivesIn') ?>#}
                {{ 'Lives in' | trans }} <strong>{{ message.sender.city.name }}, {{ message.sender.city.country.name }}</strong>
                <br/>
                {#<?= $words->get('Speaks') ?>#}
                Speaks

                {# TODO this isn't exactly replicating the result of Member::get_languages_spoken #}
                {% for language in otherMember.languages.sortByDesc('pivot.Level') %}
                    <strong>
                        {#<span title="<?= $words->getSilent('LanguageLevel_' . $language->Level) ?>"><?= $language->Name ?><?= $space ?></span>#}

                        <span title="{{ language.pivot.Level | trans }}">
                            {{ language.Name | raw }}
                            {% if not loop.last %}, {% endif %}
                        </span>
                    </strong>
                {% endfor %}
            </p>

            <p class="small grey">
                <a href="messages/with/{{ otherMember.Username }}">
                    <img src="images/icons/comments.png"
                         alt="{{ 'All messages with' | trans }} {{ otherMember.Username }}"
                         title="{{ 'All messages with' | trans }} {{ otherMember.Username }}"
                    >
                    {#<?= $words->getSilent('messages_allmessageswith', $contact_username) ?>#}
                    {# TODO i18n place holders #}
                    {{ 'All messages with' | trans }} {{ otherMember.Username }}
                </a>
            </p>
        </div>
        <!-- messageside -->
        <p class="float_left">
            {# TODO user image? #}
            {#<?= MOD_layoutbits::PIC_50_50($contact_username) ?>#}
        </p>

        <p class="">
            <span class="grey">
                {% if directionIn %}
                    {{ 'Message from' | trans }} <a href="{{ path('member', { username: message.sender.Username }) }}">{{ message.sender.Username }}</a>
                    {#$words->get('MessageFrom', '<a href="members/' . $contact_username . '">' . $contact_username . '</a>')#}
                {% else %}
                    {{ 'Messaget to' | trans }} {{ message.receiver.Username }}
                    {#$words->get('MessageTo', '<a href="members/' . $contact_username . '">' . $contact_username . '</a>')#}
                {% endif %}
            </span>
        </p>

        <p class="">
            <span class="grey">
                {{ 'Date' | trans }}:
                {#<?= $words->get('MessagesDate') ?>:#}
            </span>

            {#<?= date($words->getSilent('DateFormatShort'), strtotime($message->created)) ?>#}
            {# TODO format to short date, like above?#}
            {{ message.created.diffForHumans }}
        </p>
    </div>

    <div id="messagecontent">
        <p class="text">
            {{ message.Message }}

            {#{{ faker.paragraphs(random(10), true) | nl2br }}#}
        </p>
    </div>

    <!-- messagecontent -->
    <div id="messagefooter">
        <p class="clearfix">
            {% if directionIn %}
                <a class="button float_left" href="messages/{{ message.id }}/reply">{{ 'Reply' | trans }}</a>

                {% if message.InFolder == 'Spam' %}
                    <a class="button float_right" href="messages/{{ message.id }}/nospam">{{ 'Remove spam mark' | trans }}</a>
                {% else %}
                    <a class="button float_right" href="messages/{{ message.id }}/spam">{{ 'Report as abuse' | trans }}</a>
                {% endif %}

            {% else %}
                <a class="button float_left" href="messages/{{ message.id }}/edit">{{ 'Edit' | trans }}</a>
            {% endif %}

            {# TODO this one is missing the JS confirm dialog #}
            <a class="button float_right" href="messages/{{ message.id }}/delete">{{ 'Delete' | trans }}</a>
        </p>
    </div>
    <!-- messagefooter -->

{% endblock content %}
