{% extends '@base/base.html.twig' %}

{% set directionIn = my_member.id == message.receiver.id %}
{% set otherMember = directionIn ? message.sender : message.receiver %}

{% block title %}
    {{ 'Messages with %s' | trans | format(otherMember.Username) }}
{% endblock %}

{% block content %}

    <div id="buttonstop">
        <p class="clearfix">
            {% if directionIn %}
                {#<a class="button float_left" href="messages/{{ message.id }}/reply"><?= $words->get('replymessage') ?></a>#}
                <a class="btn btn-primary float-left" href="messages/{{ message.id }}/reply">{{ 'Reply' | trans }}</a>

                {% if message.InFolder == 'Spam' %}
                    <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/nospam">{{ 'Remove spam mark' | trans }}</a>
                {% else %}
                    {#<a class="button float_right" href="messages/<?= $message->id ?>/spam"><?= $words->get('markspam') ?></a>#}
                    <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/spam">{{ 'Report as abuse' | trans }}</a>
                {% endif %}

            {% else %}
                {#<a class="button float_left" href="messages/<?= $message->id ?>/edit"><?= $words->get('editmessage') ?></a>#}
                <a class="btn-primary float-left" href="messages/{{ message.id }}/edit">{{ 'Edit' | trans }}</a>
            {% endif %}

            <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/delete" onclick="return confirm ('{{ 'Are you sure that you want to permanently delete the selected messages?' | trans }}')">{{ 'Delete' | trans }}</a>
            {#<a class="button float_right" href="messages/<?= $message->id ?>/delete" onclick="return confirm ('<?php echo $words->getBuffered('MessagesWarningConfirmDelete'); ?>')"><?= $words->get('delmessage') ?></a>#}
        </p>
    </div>
    <!-- buttonstop -->

    <div class="row">
        <div class="col-xs-1 text-xs-right pr-0">
            {{ macros.avatar(otherMember.Username, 75) }}
        </div>
        <div class="col-xs-11">
            <div class="username pb-1">
                <span class="float-left">
                <strong>{{ macros.profilelink( otherMember.Username ) }}</strong></a>
                </span>
                <span class="float-right p-1 small text-xs-right locandlang">
                    {#<?= $words->get('LivesIn') ?>#}
                    {# {{ 'Lives in' | trans }} #}
                    <i class="fa fa-2x fa-map-marker"></i> <strong>{{ message.sender.city.name }}, {{ message.sender.city.country.name }}</strong>
                    <br />
                    {#<?= $words->get('Speaks') ?>#}
                    <i class="m-l-1 fa fa-2x fa-comments-o"></i>

                    {# TODO this isn't exactly replicating the result of Member::get_languages_spoken #}
                    {% for language in otherMember.languages.sortByDesc('pivot.Level') %}
                        <strong>
                        {#<span title="<?= $words->getSilent('LanguageLevel_'.$language->Level) ?>"><?= $language->Name ?><?= $space ?></span>#}

                            <span title="{{ language.pivot.Level | trans }}">
                            {{ language.Name | raw }}
                                {% if not loop.last %}, {% endif %}
                        </span>
                    </strong>
                    {% endfor %}
                </span>

                <span class="float-right">
                    <a class="btn btn-sm btn-secondary allmessages" href="messages/with/{{ otherMember.Username }}">
                    <i class="fa fa-envelope-o"></i>
                        {#<?= $words->getSilent('messages_allmessageswith', $contact_username) ?>#}
                        {# TODO i18n place holders #}
                        {{ 'All messages with' | trans }} {{ otherMember.Username }}
                </a>
                </span>

            </div>
            <div class="my-1 p-1 pb-3 messagebox">
                <div class="smaller float-right mr-1">
                    {{ 'Date' | trans }}:
                    {#<?= $words->get('MessagesDate') ?>:#}

                    {#<?= date($words->getSilent('DateFormatShort'), strtotime($message->created)) ?>#}
                    {# TODO format to short date, like above?#}
                    {{ message.created.diffForHumans }}
                </div>
                <div>
                    {{ message.Message | raw }}
                </div>

                <div class="smaller mt-1">
                    {{ 'Date' | trans }}:
                    {#<?= $words->get('MessagesDate') ?>:#}

                    {#<?= date($words->getSilent('DateFormatShort'), strtotime($message->created)) ?>#}
                    {# TODO format to short date, like above?#}
                    {{ message.created.diffForHumans }}
                </div>

                {# footer buttons #}
                <div>
                    {% if directionIn %}
                        <a class="btn btn-primary float-left" href="messages/{{ message.id }}/reply">{{ 'Reply' | trans }}</a>

                        {% if message.InFolder == 'Spam' %}
                            <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/nospam">{{ 'Remove spam mark' | trans }}</a>
                        {% else %}
                            <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/spam">{{ 'Report as abuse' | trans }}</a>
                        {% endif %}

                    {% else %}
                        <a class="btn btn-primary float-left" href="messages/{{ message.id }}/edit">{{ 'Edit' | trans }}</a>
                    {% endif %}

                    {# TODO this one is missing the JS confirm dialog #}
                    <a class="btn btn-sm btn-primary float-right" href="messages/{{ message.id }}/delete">{{ 'Delete' | trans }}</a>
                </div>

            </div>
        </div>
    </div>

    {# Obsolete? #}
    <div id="messageheader" class="invisible">
        <p class="">
            <span class="grey">
                {% if directionIn %}
                    {{ 'Message from' | trans }} {{ macros.profilelink( message.sender.Username ) }}
                    {#$words->get('MessageFrom', '<a href="members/' . $contact_username . '">' . $contact_username . '</a>')#}
                {% else %}
                    {{ 'Messaget to' | trans }} {{ message.receiver.Username }}
                    {#$words->get('MessageTo', '<a href="members/' . $contact_username . '">' . $contact_username . '</a>')#}
                {% endif %}
            </span>
        </p>
    </div>

{% endblock content %}
