{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('requests') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
    {{ encore_entry_link_tags('requests')  }}
{% endblock stylesheets %}

{% block content %}
    {% import 'macros.twig' as macros %}
    {% set original = thread | last %}
    {% set current = thread | first %}
    {% set sender =  original.sender %}

    {{ macros.messageheader_no_buttons(thread) }}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}

    <div class="u-grid u-grid-cols-3 u-gap-x-12 u-my-4">
        <div class="md:u-col-span-1 u-col-span-3">
            <div class="o-form-group">
                {{ form_label(form.request.duration) }}
                <div class="input-group date">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    {{ form_widget(form.request.duration, {'attr': { 'class': 'js-litepicker'}}) }}
                </div>
                {% if form.request.flexible is defined %}
                    {{ form_row(form.request.flexible) }}
                    <p class="text-muted">{{ 'request.host.suggest.dates'|trans }}</p>
                {% else %}
                    <p class="text-muted">{{ 'request.host.fixed.dates'|trans }}</p>
                {% endif %}
            </div>

            {{ form_row(form.request.numberOfTravellers) }}

            {{ form_row(form.request.arrival) }}
            {{ form_row(form.request.departure) }}
            {% do form.request.setRendered %}

        </div>
        <div class="md:u-col-span-2 u-col-span-3">
            {{ form_row(form.message) }}
            <div class="u-flex u-justify-end u-mt-8 u-mb-16">
                {{ form_widget(form.accept, {'attr': {'class': 'o-button--s md:o-button u-ml-4'}}) }}
                {{ form_widget(form.tentatively, {'attr': {'class': 'o-button--s md:o-button u-ml-4'}}) }}
                {{ form_widget(form.decline, {'attr': {'class': 'o-button--s md:o-button u-ml-4'}}) }}
                {{ form_widget(form.update, {'attr': {'class': 'o-button--s md:o-button u-ml-4'}}) }}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% include 'message/thread.html.twig' with {'show_deleted': false} %}

{% endblock %}
