{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('requests') }}"
{% endblock javascripts %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% set original = thread | last %}
    {% set current = thread | first %}
    {% set receiver =  original.receiver %}

    <div class="row no-gutters bg-white mb-1">
        {% set myself = app.user %}
        <div class="pull-left">{{ macros.avatarstack(host.Username, 50, false) }}</div>
        <div class="col">
            <h3 id="MessageSubject" class="p-3 text-truncate">{{ current.Subject.Subject }}</h3>
        </div>
        <div class="pull-right text-right">{{ macros.avatarstack(guest.Username, 50, true) }}</div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    <div class="row mb-1">
        <div class="col-12 col-sm-6 col-md-4 order-md-first">

            <div class="form-group">
                {{ form_label(form.request.arrival) }}
                <div class="input-group date" id="arrival" data-target-input="nearest">
                    <div class="input-group-prepend" data-target="#arrival" data-toggle="datetimepicker">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_widget(form.request.arrival, { 'attr': {'data-target': '#arrival', 'data-toggle': 'datetimepicker'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.request.departure) }}
                <div class="input-group date" id="departure" data-target-input="nearest">
                    <div class="input-group-prepend" data-target="#departure" data-toggle="datetimepicker">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_widget(form.request.departure, { 'attr': {'data-target': '#departure', 'data-toggle': 'datetimepicker'}}) }}
                </div>
            </div>

            {{ form_row(form.request.flexible) }}
            {{ form_row(form.request.numberOfTravellers) }}

        </div>
        <div class="col-12 col-md-8">
            {{ form_row(form.message) }}
        </div>
        <div class="col-12 col-md-8 col-md-offset-4">
            {% if current.sender.Username == app.user.Username %}
                {% set label = 'update' %}
            {% else %}
                {% set label = 'reply' %}
            {% endif %}
            {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-primary mr-1',
                'onclick': 'return confirm(\'' ~ ('request.confirm.cancel'|trans) ~ '\');'}})
            }}

            {{ form_widget(form.update, {'attr': {'class': 'btn btn-primary mr-1'},
                'label' : label}) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    {% include 'message/thread.html.twig' %}
{% endblock %}
