{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/requests.js') }}"></script>
{% endblock javascripts %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% set start = thread | last %}
    {% set current = thread | first %}
    {% set sender =  start.sender %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}

    <div class="row my-3">
        <div class="col-12 col-sm-6 col-md-4">

            {{ 'request.sent_by' | trans({'%sender%': sender.Username}) }}

            <p class="text-muted">{{ 'request.host.suggest.dates'|trans }}</p>
            <div class="form-group">
                {{ form_errors(form.request.arrival) }}
                <div class="input-group date" id="arrival" data-target-input="nearest">
                    <div class="input-group-prepend" data-target="#arrival" data-toggle="datetimepicker">
                        <span class="input-group-text">
                            <i class="fa fa-calendar mt-2 mr-1"></i>
                        </span>
                    </div>
                    {{ form_widget(form.request.arrival, { 'attr': {'data-target': '#arrival', 'data-toggle': 'datetimepicker'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.request.departure) }}
                <div class="input-group date" id="departure" data-target-input="nearest">
                    <div class="input-group-prepend" data-target="#departure" data-toggle="datetimepicker">
                        <span class="input-group-text">
                            <i class="fa fa-calendar mt-2 mr-1"></i>
                        </span>
                    </div>
                    {{ form_widget(form.request.departure, { 'attr': {'data-target': '#departure', 'data-toggle': 'datetimepicker'}}) }}
                </div>
            </div>

            {{ form_widget(form.request.flexible) }}
            <div class="d-flex align-items-center ml-3">
                Number of Travellers: {{ form_widget(form.request.numberOfTravellers) }}
            </div>
        </div>
        <div class="col-12 col-md-8">
            {{ form_row(form.subject.subject) }}
            {{ form_row(form.message) }}
        </div>
        <div class="col-12 col-md-8">
            <div class="btn-group-sm mt-2" role="group" aria-label="Reply to request">
                {{ form_widget(form.accept, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_widget(form.tentatively, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_widget(form.decline, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_widget(form.update, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    </div>

    <div class="hidden_row">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
    {% include 'message/thread.html.twig' %}
{% endblock %}