{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('requests') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
    {{ encore_entry_link_tags('requests')  }}
{% endblock stylesheets %}

{% block content %}
    {{ macros.new_conversation_header(host, 'request.write_to') }}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}

    <div class="u-grid u-grid-cols-3 u-gap-x-12">
        <div class="u-col-span-3">
            {{ form_row(form.subject.subject) }}
        </div>
        <div class="md:u-col-span-1 u-col-span-3">
            <div class="o-form-group">
                {{ form_label(form.request.duration) }}
                <div class="input-group date">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    {{ form_widget(form.request.duration, {'attr': { 'class': 'js-litepicker'}}) }}
                </div>
            </div>

            {{ form_row(form.request.flexible) }}
            {{ form_row(form.request.numberOfTravellers) }}
            {{ form_row(form.request.arrival) }}
            {{ form_row(form.request.departure) }}
            {% do form.request.setRendered %}
            {% do form.send.setRendered %}
        </div>

        <div class="md:u-col-span-2 u-col-span-3">
            {{ form_row(form.message) }}
            <div class="u-flex u-justify-end u-mt-4">
                <button type="submit" class="o-button u-mt-8">{{ 'label.message.button.send' | trans }}</button>
            </div>
        </div>
    </div>

    <div class="u-grid">
        <div class="u-col-span-1">
            {{ form_rest(form) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
