{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    {% set original = thread | last %}{% set request = original.Request %}
    {% set myself = app.user %}
<div id="message_thread" class="row">
    {% if original.Sender.Username == myself.Username %}{% set otherUser = original.Receiver %}{% else %}{% set otherUser = original.Sender %}{% endif %}

    <div class="col-12 sticky-top py-3 pb-0 bg-white d-inline-block mb-2 messageheader">
            <div class="pull-left">{{ macros.avatar(otherUser.Username, 50, true) }} {{ macros.profilelink(otherUser.Username) }}</div>
            <div class="pull-right">{{ macros.avatar(myself.Username, 50, true) }}</div>
            <div class="mt-2"><h3 id="MessageSubject" class="m-0 px-3 text-truncate">{{ current.Subject.Subject | raw }}</h3></div>

        <div class="col-12 mt-2">
            {% if original.Sender.Username == myself.Username %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<div class="alert alert-warning mb-0 h5"><i class="fa fa-question mr-1"></i>{{ 'Your potential host has not yet decided if he/she can host you' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_CANCELLED') %}<div class="alert alert-danger mb-0 h5"><i class="fa fa-times mr-1"></i>{{ 'You have cancelled this hosting request' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<div class="alert alert-danger mb-0 h5"><i class="fa fa-times mr-1"></i>{{ 'Unfortunately your potential host declined' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<div class="alert alert-success mb-0 h5"><i class="fa fa-handshake-o mr-1"></i>{{ 'You can stay with this host' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<div class="alert alert-warning mb-0 h5"><i class="fa fa-question mr-1"></i>{{ 'You might stay with this host' }}</div>{% endif %}
            {% else %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<div class="alert alert-warning mb-0 h5"><i class="fa fa-times mr-1"></i>{{ 'You have not yet replied to this request' }}<a class="btn btn-primary btn-sm ml-3" href="{{ path( 'hosting_request_reply', { id: thread[0].id }) }}">{{ 'Reply' | trans }}</a></div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<div class="alert alert-danger mb-0 h5"><i class="fa fa-times mr-1"></i>{{ 'You\'re not going to host this group/person' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<div class="alert alert-success mb-0 h5"><i class="fa fa-handshake-o mr-1"></i>{{ 'You\'re going to host this group/person' }}</div>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<div class="alert alert-warning mb-0 h5"><i class="fa fa-question mr-1"></i>{{ 'You\'ve told this group/person you might host them.' }}</div>{% endif %}
            {% endif %}
        </div>

    </div>

    <div class="col-12 col-md-4 h5 my-3">
    {% if original.Sender.Username == myself.Username %}
        {% if request.flexible %}<div>{{ 'I\'m flexible with arrival and departure' }}</div>{% endif %}
        {% if request.numberOfTravellers != 1 %}<div><i class="fa fa-users mr-1"></i>{{ 'Request for %s guest(s)' | format(request.numberOfTravellers) }}</div>{% endif %}
    {% else %}
        {% if request.flexible %}<div>{{ 'Flexible with arrival and departure' }}</div>{% endif %}
        {% if request.numberOfTravellers != 1 %}<div><i class="fa fa-users mr-1"></i>{{ 'Travelling in a group of %s' | format(request.numberOfTravellers) }}</div>{% endif %}
    {% endif %}
    </div>

    <div class="col-12 col-sm-6 col-md-4 my-3">
            <div class="h5"><i class="fa fa-calendar mr-1"></i>{{ 'Arrival' }}</div>
            <div>{{ request.Arrival | date('l, F d, Y') }}</div>
    </div>

    {% if  request.Departure -%}
    <div class="col-12 col-sm-6 col-md-4 my-3">
        <div class="h5"><i class="fa fa-calendar mr-1"></i>{{ 'Departure' }}</div>
        <div>{{ request.Departure | date('l, F d, Y') }}</div>
    </div>
    {%- endif %}

    {% include ':message:thread.html.twig' %}
    {% if current.Sender.Username == myself.Username %}
        {% set label = 'Update' %}
    {% else %}
        {% set label = 'Reply' %}
    {% endif %}
    <div class="col-12"><a class="btn btn-primary mb-1 float-right" href="{{ path( 'hosting_request_reply', { id: current.id }) }}">{{ label | trans }}</a></div>
</div>
{% endblock content %}
