{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    {% set original = thread | last %}{% set request = (thread | first).request %}
    {% set myself = app.user %}
    {% if original.Sender.Username == myself.Username %}
        {% set label = 'update' %}
        {% set otherUser = original.Receiver %}
    {% else %}
        {% set label = 'reply' %}
        {% set otherUser = original.Sender %}
    {% endif %}
    <div class="message_thread">
    <div class="row no-gutters bg-white">

        {% include 'message/header.html.twig' with {'otherUser': otherUser, 'myself': myself} %}
            <div class="col-12 alert alert-warning mb-2">{% if original.Sender.Username == myself.Username %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<i
                    class="fa fa-question mr-1"></i>{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_CANCELLED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'request.guest.cancelled'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'request.guest.declined'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<i
                    class="fa fa-handshake-o mr-1"></i> {{ 'request.guest.accepted'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<i
                    class="fa fa-question mr-1"></i> {{ 'request.guest.tentatively'|trans }}{% endif %}
            {% else %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}<i
                    class="fa fa-times mr-1"></i> {{ 'request.host.open'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}<i
                    class="fa fa-times mr-1"></i> {{ 'request.host.declined'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<i
                    class="fa fa-handshake-o mr-1"></i> {{ 'request.host.accepted'|trans }}{% endif %}
                {% if request.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<i
                    class="fa fa-question mr-1"></i> {{ 'request.host.tentatively'|trans }}{% endif %}
            {% endif %}</div>
        <div class="col-12 mb-2">
            {% if original.Sender.Username != myself.Username %}<a class="btn btn-sm btn-primary ml-1"
               href="{{ path( 'message_mark_spam', { id: thread[0].id }) }}">{{ 'markspam' | trans }}</a>{% endif %}
            <a class="btn btn-sm btn-primary pull-right mr-1"
               href="{{ path( 'hosting_request_reply', { id: thread[0].id }) }}">{{ label | trans }}</a>
        </div>
    </div>
    <div class="row no-gutters bg-white my-2">

        <div class="col-12 col-md-4 mb-1">
            {% if original.Sender.Username == myself.Username %}
                {% if request.numberOfTravellers != 1 %}
                    <div><i
                    class="fa fa-users mr-1"></i>{{ 'Request for %s guest(s)' | format(request.numberOfTravellers) }}
                    </div>{% endif %}
                {% if request.flexible %}
                    <div>{{ 'I\'m flexible with arrival and departure' }}</div>{% endif %}
            {% else %}
                {% if request.numberOfTravellers != 1 %}
                    <div><i
                    class="fa fa-users mr-1"></i>{{ 'Travelling in a group of %s' | format(request.numberOfTravellers) }}
                    </div>{% endif %}
                {% if request.flexible %}
                    <div>{{ 'Flexible with arrival and departure' }}</div>{% endif %}
            {% endif %}
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-1">
            <div><i class="fa fa-calendar mr-1"></i>{{ 'request.arrival' | trans }}</div>
            <div>{{ request.arrival|format_date('full') }}</div>
        </div>

        {% if  request.Departure -%}
            <div class="col-12 col-sm-6 col-md-4 mb-1">
                <div><i class="fa fa-calendar mr-1"></i>{{ 'request.departure' | trans }}</div>
                <div>{{ request.departure|format_date('full') }}</div>
            </div>
        {%- endif %}
    </div>
    {% include 'message/thread.html.twig' %}
    <div class="row no-gutters justify-content-end">
        <div class="col-auto">
            <a class="btn btn-sm btn-primary mb-1" href="{{ path( 'hosting_request_reply', { id: current.id }) }}">{{ label | trans }}</a>
        </div>
    </div>
    </div>
{% endblock content %}
