{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/tempusdominus.js') }}"></script>
    <script>
        $(function () {
            var arrival = $('#arrival');
            var departure = $('#departure');
            arrival.datetimepicker({
                format: 'YYYY-MM-DD',
                minDate: Date.now(),
            });
            departure.datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD'
            });
            arrival.on("change.datetimepicker", function (e) {
                $('#departure').datetimepicker('minDate', e.date);
            });
            departure.on("change.datetimepicker", function (e) {
                $('#arrival').datetimepicker('maxDate', e.date);
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/tempusdominus.css') }}"/>
{% endblock %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% set owner = sender.Username == my_member.Username %}
    <div class="container">
        {{ form_start(form) }}
        <div class="my-3"><h2>{{ form_widget(form.subject.subject) }}</h2></div>

        <div class="row mb-1">
            <div class="col-12 col-sm-6 col-md-4">

                <div class="form-group">
                    {{ form_errors(form.request.arrival) }}
                    <div class="input-group date" id="arrival" data-target-input="nearest">
                        <span class="input-group-addon" data-target="#arrival" data-toggle="datetimepicker">
                            <span class="fa fa-calendar"></span>
                        </span>
                        {{ form_widget(form.request.arrival, { 'attr': {'data-target': '#arrival'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_errors(form.request.departure) }}
                    <div class="input-group date" id="departure" data-target-input="nearest">
                        <span class="input-group-addon" data-target="#departure" data-toggle="datetimepicker">
                            <span class="fa fa-calendar"></span>
                        </span>
                        {{ form_widget(form.request.departure, { 'attr': {'data-target': '#departure'}}) }}
                    </div>
                </div>

                {{ form_widget(form.request.flexible) }}
                <div class="input-group">Number of Travellers: {{ form_widget(form.request.numberOfTravellers) }}</div>

            </div>
            <div class="col-12 col-sm-6 col-md-8">
                {{ form_widget(form.message) }}
                <div class="hidden-row">
                {{ form_rest(form) }}
                </div>
            </div>

        </div>

        <div class="row mb-1">
            <div class="col-12">
                {% if owner %}
                    <button type="submit" class="btn btn-primary">{{ 'Update' | trans }}</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">{{ 'Reply' | trans }}</button>
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% include ':message:thread.html.twig' %}
    {{ dump(data) }}
{% endblock %}