{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {% javascripts
    '@tempus_dominus_bootstrap4_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                language: {{ app.request.locale }},
                clearBtn: true,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
    '@tempus_dominus_bootstrap4_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron"><h2>{{ 'Write a request to %s' | trans | format(receiver.Username) }}</h2></div>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">{{ 'Send' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}