{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    {% set request = thread[0].Request %}
<div id="message_thread">
    {% if current.Sender.Username == my_member.Username %}{% set otherUser = current.Receiver %}{% else %}{% set otherUser = current.Sender %}{% endif %}
    {% set currentSubject = current.Subject.Subject %}
    <h1>{{ current.Subject.Subject }}</h1>
    <div class="row">
        <div class="col-12 col-md-6">{{ 'Arrival' }}: {{ request.Arrival | localizeddate }}</div>
        {% if  request.Departure -%}
        <div class="col-12 col-md-6">{{ 'Departure' }}: {{ request.Departure | localizeddate }}</div>
        {%- endif %}
        {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_OPEN') %}<div class="col-12">{{ 'You haven\'t decided if you want to host this group/person' }}</div>{% endif %}
        {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_DECLINED') %}<div class="col-12">{{ 'You\'re not going to host this group/person' }}</div>{% endif %}
        {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<div class="col-12">{{ 'You\'re going to host this group/person' }}</div>{% endif %}
        {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<div class="col-12">{{ 'You\'re told this group/person you might host them.' }}</div>{% endif %}
        {% if current.Sender.Username == my_member.Username %}
            {% if request.flexible %}<div class="col-12">{{ 'I\'m flexible with arrival and departure' }}</div>{% endif %}
            {% if request.numberOfTravellers != 1 %}<div class="col-12">{{ 'I\'m travelling in a group of %s' | format(request.numberOfTravellers) }}</div>{% endif %}
        {% else %}
            {% if request.flexible %}<div class="col-12">{{ 'Flexible with arrival and departure' }}</div>{% endif %}
            {% if request.numberOfTravellers != 1 %}<div class="col-12">{{ 'Travelling in a group of %s' | format(request.numberOfTravellers) }}</div>{% endif %}
            {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_OPEN') %}<div class="col-12">{{ 'You haven\'t decided if you want to host this group/person' }}</div>{% endif %}
            {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_DECLINED') %}<div class="col-12">{{ 'You\'re not going to host this group/person' }}</div>{% endif %}
            {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}<div class="col-12">{{ 'You\'re going to host this group/person' }}</div>{% endif %}
            {% if request.status == constant('AppBundle\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}<div class="col-12">{{ 'You\'re told this group/person you might host them.' }}</div>{% endif %}
        {% endif %}
        {# \todo constant(HostingRequest::REQUEST_OPEN) #}
    </div>
    <div class="row justify-content-end"><a class="btn btn-primary" href="{{ path('hosting_request_reply', { id: thread[0].id }) }}">{{ 'Reply' | trans }}</a></div>
    {% include ':message:thread.html.twig' %}
    <div class="row justify-content-end"><a class="btn btn-primary" href="{{ path('hosting_request_reply', { id: thread[0].id }) }}">{{ 'Reply' | trans }}</a></div>
</div>
{% endblock content %}
