{% extends 'trips.html.twig' %}

{% block title %}
    {{ 'trip.create' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
    {{ encore_entry_link_tags('jquery_ui') }}
    {{ encore_entry_link_tags('trips') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('trips') }}
{% endblock javascripts %}

{% macro widget_prototype(widget) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
    <div data-content="{{ name }}"
         class="c-trips__info">
        <div class="u-w-full u-mb-8 md:u-width-auto md:u-mb-0">
            {% set attributes = {
                'class': 'o-input--xl o-input--no-borders o-input--round-left o-input--translucid search-picker js-search-picker',
                'placeholder': 'trip.leg.location'|trans,
                'aria-label': 'trip.leg.location'|trans,
            } %}

            {{ form_widget(form.location.fullname, {'attr': attributes}) }}
            <div class="u-absolute">{{ form_errors(form.location) }}</div>
        </div>
        <div class="u-w-full md:u-width-auto">
            {% set attributes = {
                'class': 'o-input--xl o-input--no-borders o-input--round-right o-input--translucid duration js-duration',
                'placeholder': 'trip.leg.duration'|trans,
                'aria-label': 'trip.leg.duration'|trans,
            } %}

            {{ form_widget(form.duration, {'attr': attributes}) }}
            <div class="u-absolute">{{ form_errors(form.duration) }}</div>
        </div>
        {% if not form.location.fullname.vars.disabled %}
        <button class="btn-remove js-btn-remove o-rounded o-rounded--l u-justify-self-center c-trips__info-btn-grid"
                data-related="{{ name }}">
            <i class="fa fa-times"></i>
        </button>
        {% endif %}
        <div class="u-flex u-flex-col md:u-flex-row md:u-mt-16 u-flex-wrap u-col-span-2">
            <div class="md:u-mr-24">
                {% set attributes = {
                    'class': 'o-checkbox--white o-checkbox--display'
                } %}

                {{ form_widget(form.options[0], {'attr': attributes }) }}
            </div>
            <div class="md:u-mr-24">
                {{ form_widget(form.options[1], {'attr': attributes }) }}
            </div>
            <div class="md:u-mr-24">
                {{ form_widget(form.options[2], {'attr': attributes }) }}
            </div>
            <div class="u-absolute">{{ form_errors(form.options) }}</div>
        </div>
        {{ form_widget(form.location.name) }} {{ form_widget(form.location.geoname_id) }}
        {{ form_widget(form.location.latitude) }} {{ form_widget(form.location.longitude) }}
        {{ form_errors(form.location.fullname) }}
        {{ form_widget(form.arrival) }}
        {{ form_widget(form.departure) }}
    </div>
{% endmacro %}

{% block content %}
    <section class="l-trips-wrapper">
        {% apply spaceless %}
            {% set button_text %}
                {% if create %}{{ 'trip.create' | trans }}{% else %}{{ 'trip.update' | trans }}{% endif %}
            {% endset %}
        {% endapply %}
        {# <h1 class="u-text-56 u-leading-56 u-font-700 u-mb-24 u-text-white">{% if create %}{{ 'trip.create' | trans }}{% else %}{{ 'trip.edit' | trans }}{% endif %}</h1> #}

        {{ form_start(form, {'attr': {'autocomplete': 'off'} }) }}
        <div>
            <div class="u-mb-24 u-relative">
                {{ form_widget(form.summary, {'attr': { 'class': 'o-input--white o-input--no-border-on-hover o-input--white-xl', 'aria-label':'Title'}}) }}
                <div class="u-absolute">{{ form_errors(form.summary) }}</div>
            </div>
            <div class="u-relative u-mb-8 md:u-mb-24">
                {{ form_widget(form.description, { 'attr': {  'class': 'o-input--white o-input--no-border-on-hover', 'rows': 5, 'aria-label':'Description' }}) }}
                <div class="u-absolute">{{ form_errors(form.description) }}</div>
            </div>
            <div class="u-flex u-flex-col md:u-grid md:u-grid-cols-3">
                <div class="u-flex u-flex-col md:u-flex-row u-col-span-2 u-mb-24">
                    <div
                        class="u-flex u-flex-col md:u-flex-row u-items-start md:u-items-center md:u-mr-24 u-mb-8 md:u-mb-0 u-flex-1">
                        {{ form_label(form.countoftravellers, null, {'label_attr': { 'class': 'o-label o-label--white u-mt-8 u-mr-8 u-flex u-items-center u-whitespace-nowrap'}}) }}
                        <div class="u-relative u-w-full">
                            {{ form_widget(form.countoftravellers, {'attr': { 'class': 'o-input--select o-input--select-short md:u-w-auto u-text-center'}}) }}
                        </div>
                    </div>
                    <div class="u-flex u-flex-col md:u-flex-row u-items-start md:u-items-center  md:u-mr-24 u-mb-16 md:u-mb-0 u-flex-1">
                        {{ form_label(form.additionalinfo, null, {'label_attr': { 'class': 'o-label o-label--white u-mt-8 u-mr-8 u-flex u-items-center u-whitespace-nowrap'}}) }}
                        <div class="u-relative u-w-full">
                            {{ form_widget(form.additionalinfo, {'attr': { 'class': 'o-input--select o-input--select-short md:u-w-auto'}}) }}
                        </div>
                    </div>
                    <div class="u-flex u-flex-col md:u-flex-row u-items-start md:u-items-center u-mb-16 md:u-mb-0 u-flex-1">
                        {{ form_label(form.invitationradius, null, {'label_attr': { 'class': 'o-label o-label--white u-mt-8 u-mr-8 u-flex u-items-center u-whitespace-nowrap'}}) }}
                        <div class="u-relative u-w-full">
                            {{ form_widget(form.invitationradius, {'attr': { 'class': 'o-input--select o-input--select-short md:u-w-auto'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="subtrips-list"
                 data-prototype="{{ _self.widget_prototype(form.subtrips.vars.prototype)|escape('html_attr') }}">
                {% for subtrip in form.subtrips %}
                    {{ _self.widget_prototype(subtrip) }}
                {% endfor %}
            </div>
            <button class="btn-add js-btn-add o-rounded o-rounded--l"
                    data-target="subtrips-list">
                <i class="fa fa-plus"></i>
            </button>
            <div class="u-flex u-justify-end u-mt-48 md:u-mt-0">
                <button class="o-button"
                       type="submit"
                       value="{{ button_text|trans|capitalize }}">{{ button_text|trans|capitalize }}</button>
            </div>
        </div>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </section>
{% endblock content %}
