{% import 'macros.twig' as macros %}

<div class="c-dashboard__item">
    <div class="o-avatar o-avatar--m o-avatar--noname o-avatar--shadow-s u-mr-16 u-min-w-0">{{ macros.roundedavatarstack(leg.trip.creator.username, 72, false) }}</div>
    <div class="u-flex u-flex-col u-h-full u-justify-center u-px-8 u-w-min-0 u-overflow-hidden">
        <p class="u-font-display"><a href="{{ url('trip_show', {id: leg.trip.id, _fragment: 'leg' ~ leg.id}) }}"><strong>{{ leg.location.name }}</strong>,</a>
            {{ leg.arrival|format_date('medium') }}
                {% if leg.arrival != leg.departure %}
                    -
                    {{ leg.departure|format_date('medium') }}
                {% endif %}
        <span class="d-none d-sm-block">
            <i class="fa fa-users u-text-16 u-justify-self-center u-self-center"></i>
            {{ 'trip.count.of.travellers'| trans ({'countOfTravellers' : leg.trip.countOfTravellers}) }}
            {%- if constant('App\\Doctrine\\TripAdditionalInfoType::NONE') != leg.trip.additionalInfo -%}
                   , <i class="fa fa-info-circle u-text-16 u-justify-self-center u-self-center"></i>
                    {{ ('trip.additional.info.' ~ leg.trip.additionalInfo)| lower | trans}}
            {% endif %}</span>
        </p>
        <p class="u-font-300 u-text-14">{{ 'trip.posted.by'|trans({username: macros.profilelink(leg.trip.creator.username)})|raw }}</p>
    </div>
    <div class="u-ml-auto u-shrink-0">
        {% if constant('App\\Doctrine\\SubtripOptionsType::MEET_LOCALS') in leg.options %}
            <a class="o-rounded u-mx-4" href="{{ path('message_new', { 'username': leg.trip.creator.username }) }}" aria-label="{{ 'message.write_to' | trans | format(leg.trip.creator.username) }}" title="{{ 'message.write_to' | trans | format(leg.trip.creator.username) }}">
                <i class="fa fa-fw fa-envelope"></i>
            </a>
        {% endif %}
        {% if constant('App\\Doctrine\\SubtripOptionsType::LOOKING_FOR_HOST') in leg.options %}
            {% if leg.invitationBy(app.user) %}
                {% set invitation = leg.invitationBy(app.user) %}
                {% set username = invitation.messages[0].initiator.Username %}
                <a class="o-rounded u-m-4{% if leg.invitedBy == app.user %} u-bg-green-dark {% endif %}" href="{{ path('conversation_reply', {id: invitation.messages[0].id}) }}" aria-label="{{ 'invitation.reply' | trans | format(leg.trip.creator.username) }}" title="{{ 'invitation.reply' | trans | format(leg.trip.creator.username) }}">
                    <i class="fa fa-fw fa-house-user"></i>
                </a>
            {% else %}
                <a class="o-rounded u-m-4" href="{{ path('hosting_invitation', { 'leg': leg.id }) }}">
                    <i class="fa fa-fw fa-house-user"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

