{% extends 'trips.html.twig' %}

{% block title %}
    {{ 'trips.mytrips' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
    {{ encore_entry_link_tags('bewelcome') }}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('bewelcome') }}
{% endblock %}

{% block content %}
    {% if trips.nbResults != 0 %}
        {% set myself = app.user %}
        {% if trips.haveToPaginate %}
            <section>
                <div class="u-inline-flex u-w-full u-items-center u-justify-end u-mb-24 md:u-mb-16 md:u-h-48 u-flex-col md:u-flex-row">
                       {{ pagerfanta( trips, 'rounded_pagination', { routeName: 'trips' }) }}
                   </div>
               </section>
        {% endif %}
        <section>
            {% for trip in trips %}
            <div class="c-trip-card">
                <div class="c-trip-card__wrapper">
                    <a class="u-text-white hover:u-text-gray-20 u-text-24 u-font-display u-font-700 u-col-span-full u-mb-8" href="{{ path('trip_show', { 'id': trip.id } ) }}">{{ trip.summary }}</a>
                    <div>
                        <div class=" u-font-display u-italic u-text-white u-mb-8">{{ trip.description | nl2br | purify | truncate(200) }}</div>
                        <div class="u-text-white u-font-display u-mt-8 u-mb-16 md:u-m-0 u-flex u-flex-column">
                            <div class="u-mr-8">{{ trip.subtrips|length }} {{ 'trip.legs'|trans }}
                             {% for leg in trip.subtrips %}
                                {% if leg.location %}<span class="u-whitespace-nowrap u-mr-8">
                                    {% if leg.location.country %}
                                        <i class="o-flag o-flag--{{ leg.location.country.countryId }} u--mb-4" title="{{ leg.location.country.country.name }}"></i>
                                    {% endif %}
                                    {{ leg.location.name }}</span>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="c-trip-card__icon-grid">
                            <i class="far fa-calendar-alt u-text-white u-text-16 u-justify-self-center u-self-center"></i>
                            <p class="u-text-white u-font-display">{{ (trip.subtrips|first).arrival|format_date('short') }} - {{ (trip.subtrips|last).departure|format_date('short') }}</p>
                        </div>
                        <div class="c-trip-card__icon-grid u-leading-24">
                            <i class="fa fa-users u-text-white u-text-16 u-justify-self-center u-self-center"></i>
                            <p class="u-text-white u-font-display">{{ 'trip.count.of.travellers'| trans ({'countOfTravellers' : trip.countOfTravellers}) }}</p>
                        </div>
                        {% if trip.additionalInfo != constant('App\\Doctrine\\TripAdditionalInfoType::NONE') %}
                            <div class="c-trip-card__icon-grid u-leading-24">
                                <i class="fa fa-info-circle u-text-white u-text-16 u-justify-self-center u-self-center"></i>
                                <p class="u-text-white u-font-display">{{ ('trip.additional.info.' ~ trip.additionalInfo)| lower | trans}}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="u-flex u-justify-center md:u-justify-between u-items-center u-mt-16 md:u-m-0">
                    <a class="o-rounded o-rounded--l u-text-18 u-mr-20 md:u-m-0"
                       href="{{ path('trip_edit', {'id': trip.id}) }}" aria-label="{{ 'trip.edit'|trans }}" title="{{ 'trip.edit'|trans }}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="o-rounded o-rounded--l" data-toggle="modal" data-target="#removeTrip-{{ trip.id }}" data-backdrop="false">
                      <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="modal fade m-t-5" id="removeTrip-{{ trip.id }}" tabindex="-1" role="dialog" aria-labelledby="removeTripLabel-{{ trip.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removeTripLabel-{{ trip.id }}">{{trip.summary}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ 'trip.remove.body'|trans|raw }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'trip.remove.close'|trans }}</button>
                                <a class="btn btn-primary" role="button" href="{{ path('trip_remove', {'id': trip.id}) }}" aria-label="{{ 'trip.remove'|trans }}">{{ 'trip.remove'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="u-text-white u-font-display">{{ 'trip.no.trips'|trans }}</p>
            {% endfor %}
        </section>

        {% if trips.haveToPaginate %}
        <section>
            <div class="u-inline-flex u-w-full u-items-center u-justify-end u-mt-16 md:u-h-48 u-flex-col md:u-flex-row">
                  {{ pagerfanta( trips, 'rounded_pagination', { routeName: 'trips' }) }}
              </div>
        </section>
        {% endif %}
    {% else %}
        <p class="u-text-white u-font-display">{{ 'trip.no.trips'|trans }}</p>
    {% endif %}

{% endblock content %}
