{% extends 'trips.html.twig' %}

{% block title %}
    {{ 'Trip' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
{% endblock %}

{% block content %}
    <h1>{{ 'trip.show.details'|trans|capitalize }}</h1>
    <h2 class="u-text-56 u-leading-56 u-font-700 u-mb-24">{{ trip.summary }}</h2>
    <p class="u-font-display">
        Description:<br>
        {{ trip.description }}
    </p>
    <p># travellers: {{ trip.countOfTravellers }}</p>
    <p>Additional Info: {{ trip.additionalInfo|trans }}</p>
    {% for subtrip in trip.subtrips %}
        <span> <span class="h5">{{ 'trip.leg'|trans }}: {{ loop.index }}</span><br>
            {{ subtrip.location.fullname }}<br>
            {{ subtrip.arrival|format_date('medium') }}{% if subtrip.arrival != subtrip.departure %} - {{ subtrip.departure|format_date('medium') }}{% endif%}<br>
            {% if constant('App\\Doctrine\\SubtripOptionsType::MEET_LOCALS') in subtrip.options %}
                {{ 'trip.option.meet.locals'|trans }}
            {% endif %}
            {% if constant('App\\Doctrine\\SubtripOptionsType::MEET_LOCALS') in subtrip.options and constant('App\\Doctrine\\SubtripOptionsType::LOOKING_FOR_HOST') in subtrip.options %}
                ,
            {% endif %}
            {% if constant('App\\Doctrine\\SubtripOptionsType::LOOKING_FOR_HOST') in subtrip.options %}
                {{ 'trip.option.looking.for.host'|trans }}
            {% endif %}
        </p>
    {% endfor %}
    {% if app.user == trip.creator %}
        <p><a href="{{ path('trip_edit', {'id': trip.id}) }}" class="btn btn-primary pull-right">{{ 'trip.edit'|trans }}</a></p>
    {% endif %}
{% endblock content %}
