{% extends 'trips.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
  {{ 'Trip' | trans }}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('tailwind') }}
{% endblock %}

{% block content %}
  <section class="md:u-w-720 u-mt-8">
    <div class="u-flex u-items-center u-mb-24">
      <div class="o-avatar o-avatar--white u-mr-16">{{ macros.roundedavatarstack(trip.creator.username, 72) }}</div>
      <h1 class="u-text-32 u-leading-48 md:u-text-56 md:u-leading-60 u-text-white u-font-700">{{ trip.summary }}</h1>
      {% if app.user == trip.creator %}
        <a href="{{ path('trip_edit', {'id': trip.id}) }}" class="o-rounded u-ml-24" arial-label="{{ 'trip.edit'|trans }}""title="{{ 'trip.edit'|trans }}">
          <i class="fa fa-edit"></i>
        </a>
      {% endif %}
    </div>
    <p class="u-text-white u-font-display u-italic u-mb-24">{{ trip.description }}</p>
    <div class="c-trip-card__icon-grid">
      <i class="fa fa-users u-text-white u-text-16 u-justify-self-center u-self-center u-text-gray-20"></i>
       <p class="u-text-white u-font-display" aria-label="{{ 'trip.count.of.travellers'|trans }}"><strong>{{ trip.countOfTravellers }}</strong> {{ 'trip.count.of.travellers'|trans }}</p>
    </div>
    <div class="c-trip-card__icon-grid u-mb-24">
      <i class="fa fa-info-circle u-text-white u-text-16 u-justify-self-center u-self-center u-text-gray-20"></i>
      <p class="u-text-white u-font-display" aria-label="{{ 'trip.additional.info'|trans }}">{{ trip.additionalInfo|trans }}</p>
    </div>
    
    <ul>
      {% for subtrip in trip.subtrips %}
        <li class="l-show-trip"> 
          <span class="o-number o-number--white o-number--l u-relative u-ml-__16">{{ loop.index }}</span>
          <div class="u-ml-16 md:u-ml-0 md:u-mt-4">
            <p class="u-text-24 u-text-white u-font-display u-mb-8">{{ subtrip.location.fullname }} <i class="o-flag o-flag--round o-flag-{{ subtrip.location.country.country }} u-ml-4"></i></p>
            <p class="u-text-white u-font-display u-font-300">{{ subtrip.arrival|format_date('medium') }}{% if subtrip.arrival != subtrip.departure %} - {{ subtrip.departure|format_date('medium') }}{% endif%}</p>
          </div>
          <div class="u-ml-16 md:u-ml-0 md:u-mt-4">
            {% if constant('App\\Doctrine\\SubtripOptionsType::MEET_LOCALS') in subtrip.options %}
              <div class="c-trip-card__icon-grid u-mb-8">
                <i class="fa fa-check u-text-white u-text-16 u-justify-self-center u-self-center u-text-green"></i>
                <p class="u-text-white u-font-display" aria-label="{{ 'trip.option.meet.locals'|trans }}">{{ 'trip.option.meet.locals'|trans }}</p>
              </div>
            {% endif %}

            {% if constant('App\\Doctrine\\SubtripOptionsType::LOOKING_FOR_HOST') in subtrip.options %}
              <div class="c-trip-card__icon-grid">
                <i class="fa fa-check u-text-white u-text-16 u-justify-self-center u-self-center u-text-green"></i>
                <p class="u-text-white u-font-display" aria-label="{{ 'trip.option.meet.locals'|trans }}">{{ 'trip.option.looking.for.host'|trans }}</p>
              </div>
            {% endif %}
          </div>
        </li>
    {% endfor %}
    </ul>

    
  </section>
{% endblock content %}

