{% import 'macros.twig' as macros %}

{% if between is defined %}
    {% set otherMember = message.sender %}
{% else %}
    {% set otherMember = (message.sender == member) ? message.receiver : message.sender %}
{% endif %}
{% set lastMessageByMember = (member == message.sender) %}
{% set isInitiator = (member == message.initiator) %}
{% set unread = (message.firstRead is null) or (message.firstRead == '0000-00-00 00:00.00') %}
{% if submenu.active == 'deleted' %}
    {% set show_message_route = 'conversation_view_with_deleted' %}
{% else %}
    {% set show_message_route = 'conversation_view' %}
{% endif %}
<div class="c-conversation__item">
    <div class="u-flex u-flex-col u-justify-center">
        <span class="text-muted small u-mb-4">
            {{  message.dateSent | format_date( 'medium') }}
        </span>
        <div class="o-avatar o-avatar--m o-avatar--noname  o-avatar--shadow-s u-mr-16 u-mb-12">
            {{ macros.roundedavatarstack(otherMember.Username, 72, true) }}
        </div>
        {% if form is defined %}
            <div class="u-flex u-justify-center u-mr-12 u-mb-8" id="selectcolumn">
                {{ form_widget(form.messages[loop.index0], {'attr': {'class': 'checkable'}}) }}
            </div>
        {% endif %}
    </div>
    <div class="u-flex u-flex-col u-h-full u-justify-center u-px-8 u-w-min-0 u-overflow-hidden">
            <a href="{{ path(show_message_route, { id: message.id}) }}">
                {% if message.request %}
						<p class="badge u-bg-green-dark u-text-white u-font-500 u-text-14 u-leading-10">
							{% if message.request.inviteForLeg is null %}
								{{ 'conversations.request'|trans }}
							{% else %}
								{{ 'conversations.invitation'|trans }}
							{% endif %}
                            <span class="u-hidden md:u-inline">
                            {% if isInitiator %}
                                &lArr;
                            {% else %}
                                &rArr;
                            {% endif %}
                                ({{ 'message.initiated.by'|trans( {'username':
                                isInitiator ? message.initiator.Username :  otherMember.Username }) }})
							</span>
                            {{ message.request.arrival | format_date( 'medium') }}
                            {%- if message.request.departure %}
                            -
                            {{ message.request.departure | format_date( 'medium') }}
                            {%- endif %}
						</p>
                {% else %}
                    {% if message.subject %}
                        <span class="u-ellipsis {% if unread %}unread{% endif %} u-py-4 u-pr-8 u-mb-0">
                            {% if between is not defined %}
                                <span style="font-weight:bold">
                                    {% if lastMessageByMember %}&lArr;{% else %}&rArr;
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if message.parent %}Re:
                            {% endif %}
                            {{- message.subject.subject | striptags -}}
                        </span>
                    {% endif %}
                {% endif %}

                {% set messageText = message.Message | replace({'\n': ' ', '<br />': ' '}) | striptags %}
                {% apply spaceless %}
                <p class="u-hidden md:u-block  m-0 mb-1">{{ message.sender.Username }}:
                    {{ messageText | truncate(150) | raw -}}</p>
                <p class="md:u-hidden u-ellipsis m-0 mb-1">{{ message.sender.Username }}:
                    {{ messageText | truncate(150) | raw -}}</p>
                {% endapply %}
            </a>
        
        <div class="u-flex u-justify-start">
            <a href="{{ path('conversation_reply', { id: message.id}) }}" class="o-button o-button-xs"><i class="fa fa-reply u-mr-8"></i>{{ 'reply' | trans }}</a>
        </div>
    </div>


    <div class="u-ml-auto u-flex-shrink-0 u-justify-end">
        <a href="{{ path(show_message_route, { id: message.id}) }}" title="{{ 'view' | trans }}">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>
