{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}" href="{{ menuItem.url }}">{{ menuItem.key | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <h2>{{ type | trans | format(my_member.Username) }}</h2>

    {% if items.nbResults == 0 %}
        <p>{{ 'No messages in this folder.' | trans }}</p>
    {% else %}
        <form method="POST">

{#      <div class="float-left btn-group m-y-1" role="group" aria-label="Delete or spam">

        <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

        {% if folder == 'spam' %}
            <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
        {% elseif folder == 'inbox' %}
            <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
        {% endif %}

    </div> #}

    {% if items.haveToPaginate %}
    <div class="float-left">
        {{ pagerfanta( items, 'twitter_bootstrap4_translated') }}
    </div>
    {% endif %}
            {# set sorting header based on current folder. Outside of sent sort by sender #}
            {% set correspondent %}{% if folder == 'sent' %}receiver{% else %}sender{% endif %}{% endset %}
        <table class="table table-responsive table-striped table-hover">

        <tr>
            <th colspan="2" class="from text-center align-middle">
                <span class="small"><a href="{{ path( app.request.attributes.get('_route'), { folder: folder, sort: correspondent, dir: 'asc' }) }}">&#x25b2;</a> {{ correspondent | trans | capitalize }} <a href="{{ path( app.request.attributes.get('_route'), { folder: folder, sort: correspondent, dir: 'desc' }) }}">&#x25bc;</a></span><br>
                <span class="small"><a href="{{ path( app.request.attributes.get('_route'), { folder: folder, sort: 'date', dir: 'asc' }) }}">&#x25b2;</a> {{ 'Date' | trans }} <a href="{{ path( app.request.attributes.get('_route'), { folder: folder, sort: 'date', dir: 'desc' }) }}">&#x25bc;</a></span>
            </th>
            <th colspan="2" class="align-middle">{{ 'MessagesText' | trans }}</th>
        </tr>
        {% for message in items.currentPageResults %}
            {% set directionIn = (my_member.id == message.receiver.id) %}
            {% set otherMember = directionIn ? message.sender : message.receiver %}

            <tr>
                <td class="select align-middle">
                    <input type="checkbox" name="message_id[]" class="msganchor" value="{{ message.id }}">
                </td>
                <td class="align-middle small">
                    <p class="m-0">{{ macros.avatar(otherMember.Username, 50, true) }}</p>
                    <p class="m-0">{{ macros.profilelink(otherMember.Username) }}</p>
                </td>
                <td class="align-middle w-100">
                    {% if message.subject %}<p class="h5 m-0"><a href="{{ path('message_show', { id: message.id}) }}"
                                {%- if not message.WhenFirstRead -%}
                                    {{- ' class="unread"' -}}
                                {%- endif -%}
                        >
                            <span class="text-truncate">
                                {{- message.subject.subject | raw -}}</span>
                        </a></p>{% endif %}
                    {# DevTip: Replace message.Message with faker.Text(2000) to create random message text #}
                    {% set messageText = message.Message | replace({'\n': ' ', '<br />': ' '}) | striptags %}

                    {% spaceless %}
                        <p class="m-0 mb-1">
                            <a href="{{ path('message_show', { id: message.id}) }}" class="d-block w-100
                                    {%- if not message.WhenFirstRead -%}
                                        {{- ' unread' -}}
                                    {%- endif -%}
                           ">
                                {{- messageText | truncate(150) | raw -}}
                            </a>
                        </p>
                    {% endspaceless %}
                    {% if message.request %}
                        <div class="d-flex flex column">
                            <div class="mr-1">
                                <i class="fa fa-calendar"></i><br>
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="mr-2 font-weight-bold">
                                {{ 'Arrival' | trans }}<br>
                                {{ 'Departure' | trans }}
                            </div>
                            <div>
                                {{ message.request.arrival | localizeddate( 'medium', 'none') }}<br>
                                {{ message.request.departure | localizeddate( 'medium', 'none') }}
                            </div>
                        </div>
                    {% endif %}
                    {# Handle the case where a message/request doesn't have a sent date #}
                    {% set sentDate %}{% if message.dateSent != '-0001-11-30 00:00:00' %}{{ message.dateSent | localizeddate( 'medium', 'none') }}{% else %}{{ message.updated | localizeddate( 'medium', 'none')}}{% endif %}{% endset %}
                    <span class="text-muted small">{% if folder == 'sent' %}{% trans %}Sent on %sentDate%{% endtrans %}{% else %}{% trans %}Received on %sentDate%{% endtrans %}{% endif %}</span>
                </td>
                <td class="justify-content-between"><a href="{{ path('message_show', { id: message.id}) }}" class="btn btn-primary">{{ 'View' | trans }}</a></td>
            </tr>
        {% endfor %}
    </table>

{#    <div class="float-left btn-group" role="group" aria-label="Delete or spam">

        <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

        {% if folder == 'spam' %}
            <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
        {% elseif folder == 'inbox' %}
            <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
        {% endif %}

    </div> #}

            {% if items.haveToPaginate %}
    <div class="float-left">
        {{ pagerfanta( items, 'twitter_bootstrap4_translated') }}
    </div>
{% endif %}
</form>
        {% endif %}
{% endblock %}