{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}" href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron"><h2>{{ 'UserMessages' | trans | format(my_member.Username) }}</h2></div>

    {% if messages | length == 0 %}
        <p>{{ 'No messages in this folder.' | trans }}</p>
    {% else %}
        <form method="POST">

{#      <div class="float-left btn-group m-y-1" role="group" aria-label="Delete or spam">

        <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

        {% if folder == 'spam' %}
            <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
        {% elseif folder == 'inbox' %}
            <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
        {% endif %}

    </div> #}

    <div class="row">
        <div class="pull-right">{{ pagerfanta( messages, 'twitter_bootstrap4_translated', { routeName: 'messages' }) }}</div>
    </div>

    <table class="table table-striped">

{#        <tr class="title">
            <th></th>
            <th class="from">
                {% if filter.dir is defined and filter.dir == 'asc' %}
                    {% set filter = filter | merge({ dir: 'desc' }) %}
                {% else %}
                    {% set filter = filter | merge({ dir: 'asc' }) %}
                {% endif %}

                <a href="{{ path('message', filter | merge({ sort: 'sender' })) }}">{{ 'From' | trans }}</a>
                /
                <a href="{{ path('message', filter | merge({ sort: 'date' })) }}">{{ 'Date' | trans }}</a>
            </th>
            <th class="message">{{ 'MessagesText' | trans }}</th>
        </tr> #}

        {% for message in messages %}
            {% set directionIn = my_member.id == message.receiver.id %}
            {% set otherMember = directionIn ? message.sender : message.receiver %}

            <tr>
                <td class="select verticalalignmiddle" style="width: 25px; max-width: 25px;">
                    <input type="checkbox" name="message_id[]" class="msganchor" value="{{ message.id }}">
                </td>
                <td class="from" style="width: 20%; max-width: 20%;">
                    <div>
                        <div class="float-left p-x-1">
                            {{ macros.avatar(otherMember.Username, 50, true) }}
                        </div>
                    </div>

                </td>
                <td class="message verticalalignmiddle">
                    {% if message.subject %}<p>{{ message.subject.id }} <a href="{{ path('message_show', { id: message.id}) }}"
                                {%- if not message.WhenFirstRead -%}
                                    {{- ' class="unread"' -}}
                                {%- endif -%}
                        >
                            {{- message.subject.subject | truncate(500) -}}
                        </a></p>{% endif %}
                    {# DevTip: Replace message.Message with faker.Text(2000) to create random message text #}
                    {% set messageText = message.Message | replace({'\n': ' ', '<br />': ' '}) | striptags %}

                    {% spaceless %}
                        <p>
                            <a href="{{ path('message_show', { id: message.id}) }}"
                                    {%- if not message.WhenFirstRead -%}
                                        {{- ' class="unread"' -}}
                                    {%- endif -%}
                            >
                                {{- messageText | truncate(150) -}}
                            </a>
                        </p>
                    {% endspaceless %}
                    {% if message.request %}
                        <p>{{ 'Arrival' | trans }}: {{ message.request.arrival }}</p>
                        {% endif %}
                    <span class="small" title="{{ message.DateSent }}">{{ message.DateSent.diffForHumans }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>

{#    <div class="float-left btn-group" role="group" aria-label="Delete or spam">

        <button type="submit" name="modify" value="delete" class="btn btn-secondary" onclick="return confirm ('{{ 'MessagesWarningConfirmDelete' | trans }}')">{{ 'delmessage' | trans }}</button>

        {% if folder == 'spam' %}
            <button type="submit" name="modify" value="nospam" class="btn btn-secondary">{{ 'marknospam' | trans }}</button>
        {% elseif folder == 'inbox' %}
            <button type="submit" name="modify" value="markasspam" class="btn btn-secondary">{{ 'markspam' | trans }}</button>
        {% endif %}

    </div> #}

    <div class="row">
        <div class="pull-right">{{ pagerfanta( messages, 'twitter_bootstrap4_translated', { routeName: 'messages' }) }}</div>
    </div>

</form>
        {% endif %}
{% endblock %}