{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter, menuitem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ path( submenu.route, { filter: filter } ) }}">{{ filter | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron"><h2>{{ 'Write a message to %s' | trans | format(receiver.Username) }}</h2></div>

    <div class="container">
    {{ form_start(form) }}

    {{ form_start(form) }}
    <div class="row mb-1">
        <div class="col-12">
            {{ form_label(form.subject, null, {'label_attr': {'class': 'sr-only '} }) }}
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject.subject) }}
        </div>
    </div>

    {{ form_widget(form.message) }}
    {{ form_rest(form) }}
    <div class="row mb-1">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">{{ 'Send' | trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}