<div id="message_thread" class="container mt-1">
    {% set current = thread|first %}
    {% if current.Sender.Username == my_member.Username %}{% set otherUser = current.Receiver %}{% else %}{% set otherUser = current.Sender %}{% endif %}
    {% if current.Subject %}{% set currentSubject = current.Subject.Subject %}{% else %}{% set currentSubject = 'Discussion with %s' | trans | format(otherUser.Username)  %} {% endif %}
    {% for message in thread %}
        {% set own = (my_member.Username == message.Sender.Username) %}
        {% if message.Subject %}{% set subject = message.Subject.Subject %}{% else %}{% set subject = '' %} {% endif %}
        <div class="row">
            <div class="col-12 message_{% if own %}own{% else %}other{% endif %} {% if message.id == current.id %}current{% endif %}">
                <small class="pull-left">{{ message.id }}</small><small class="pull-right text-muted m-0">
                    {%- if own -%}
                        {{ 'You' | trans }}
                    {%- else -%}
                        {{ message.sender.Username }}
                    {%- endif %}
                    {{ message.created.DiffForHumans }}
                </small>
                <p class="clearfix m-0"></p>
                {{ message.message | purify }}
            </div>
        </div>
    {% endfor %}
</div>
