<div id="message_thread" class="mt-1 p-0">
    {% set current = thread|first %}
    {% if current.Sender.Username == my_member.Username %}{% set otherUser = current.Receiver %}{% else %}{% set otherUser = current.Sender %}{% endif %}
    {% if current.Subject %}{% set currentSubject = current.Subject.Subject %}{% else %}{% set currentSubject = 'Discussion with %s' | trans | format(otherUser.Username)  %} {% endif %}
    {% if current.Request %}{% set currentArrival = current.Request.Arrival %}{% set currentDeparture = current.Request.Departure %}{% endif %}
    {% for message in thread %}
        {% set own = (my_member.Username == message.Sender.Username) %}
        {% if message.Subject %}{% set subject = message.Subject.Subject %}
            {% if subject != currentSubject %}
                {% set currentSubject = subject %}
                <div class="row">
                    <div class="col-12 h3 px-0 mt-md-3 mb-0">{{ currentSubject | purify }}</div>
                </div>
            {% endif %}
        {% endif %}
        <div class="row {% if own %}justify-content-end{% else %}justify-content-start{% endif %}">
            <div class="col-auto{% if own %} order-12 pr-0{% else %} pl-0{% endif %}">
                {# \todo streamline code --> macro #}
                {% if own %}
                    <img class="profileimg" width="80" height="80" src="{{ path( 'avatar', { 'username': my_member.Username , 'size': 80 }) }}" title="{{ my_member.Username }}" alt="{{ 'Profile' | trans }}: {{ my_member.Username }}">
                {% else %}
                    <img class="profileimg" width="80" height="80" src="{{ path( 'avatar', { 'username': otherUser.Username , 'size': 80 }) }}" title="{{ otherUser.Username }}" alt="{{ 'Profile' | trans }}: {{ otherUser.Username }}">
                {% endif %}
            </div>
            <div class="col message_{% if own %}own{% else %}other{% endif %}">
                <small class="{% if own %}pull-right{% else %}pull-left{% endif %} text-muted m-0">
                    {%- if own -%}
                        {{ 'You' | trans }}
                    {%- else -%}
                        {{ message.sender.Username }}
                    {%- endif %}
                    {{ message.created.DiffForHumans }}
                </small>
                <p class="clearfix m-0"></p>
                {{ message.message | purify }}
                {% if message.Request %}
                    {% if message.Request.Arrival != currentArrival or message.Request.Departure != currentDeparture %}
                        {{ currentArrival | localizeddate }} {{ currentDeparture | localizeddate }}
                        {% set currentArrival = message.Request.Arrival%}
                        {% set currentDeparture = message.Request.Departure %}
                     {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
