<div id="message_thread">
    {% if current.Sender.Username == my_member.Username %}{% set otherUser = current.Receiver %}{% else %}{% set otherUser = current.Sender %}{% endif %}
    {% if current.Subject %}{% set currentSubject = current.Subject.Subject %}{% else %}{% set currentSubject = 'Discussion with %s' | trans | format(otherUser.Username)  %} {% endif %}
    {% for message in thread %}
        {% set own = (my_member.Username == message.Sender.Username) %}
        <div class="row">
            <div class="message_{% if own %}own{% else %}other{% endif %} {% if message.id == current.id %}current{% endif %}">
                {% if current.id != message.id %}<a class="divlink" href="{{ path('message_show', { id: message.id }) }}">{% endif %}
                {% if message.Subject %}{% set subject = message.Subject.Subject %}{% else %}{% set subject = '' %} {% endif %}
                {% if own %}
                    <small class="pull-right text-muted">{{ 'You' | trans }} {{ message.created.DiffForHumans }}</small>
                    <p class="clearfix m-0"></p>
                    {% if currentSubject != '' %}{% if subject != currentSubject %}<p>{{ subject }}</p>{% endif %}{% endif %}
                    {{ message.message | purify }}
                {% else %}
                    <small class="pull-left text-muted">{{ message.Sender.Username }} {{ message.created.DiffForHumans }}</small>
                    <p class="pull-right m-0">{% if not message.WhenFirstRead %}<i class="fa fa-check"></i>{% endif %} <i class="fa fa-close"></i></p>
                    <p class="clearfix m-0"></p>
                    {% if currentSubject != '' %}{% if subject != currentSubject %}<p>{{ subject }}</p>{% endif %}{% endif %}
                    <div {% if message.WhenFirstRead %}style="font-weight: normal"{% else %}style="font-weight: bold"{% endif %}>
                    {{ message.message | purify }}
                    </div>
                {% endif %}
                {% if current.id != message.id %}</a>{% endif %}
            </div>
        </div>
    {% endfor %}
</div>
