{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ menuItem.url }}">{{ menuItem.key | trans }}</a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('memebr/autocomplete') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block content %}
    <div class="row">
    {{ form(form) }}

    <div class="log"></div>
    {% if logs.nbResults == 0 %}
        <p>{{ 'admin.community.news.no.news' | trans }}</p>
    {% else %}
        {% if logs.haveToPaginate %}
            <div class="float-right">
                {{ pagerfanta( logs, 'rox_default') }}
            </div>
        {% endif %}
        <div class="row table-responsive">
        <table class="table table-striped table-hover">

        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Member</th>
            <th>Logged</th>
            <th>IP Address</th>
        </tr>
        {% for log in logs.currentPageResults %}
            <tr>
                <td>{{ log.type }}</td>
                <td>{{ log.logMessage }}</td>
                <td>{% if log.member.id > 0 %}{{ log.member.Username }}{% endif %}</td>
                <td>{{ log.created.DiffForHumans }}</td>
                <td>{{ log.ipAddress }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
        {% if logs.haveToPaginate %}
            <div class="float-right">
                {{ pagerfanta( logs, 'rox_default') }}
            </div>
        {% endif %}

    {% endif %}
    </div>
{% endblock %}
