{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'All Community News' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'Community News' | trans }}</h1>
    <div class="row">
        <div class="col-12 pull-right">{{ pagerfanta( communityNews, 'twitter_bootstrap4_translated', { routeName: 'admin_communitynews_overview' }) }}</div>
    </div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="thead-default">
            <tr>
                <th>{{ 'Community News' | trans }}<a class="btn btn-primary pull-right" href="{{ path('admin_communitynews_create') }}">{{ 'Create' | trans }}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for news in communityNews %}
                <tr>
                    <td class="w-100">
                        <div class="pull-right"><a class="ml-1 btn btn-primary" href="{{ path('admin_communitynews_edit', { id: news.id }) }}"><i class="fa fa-pencil-alt" title="{{ 'Edit' | trans }}"></i></a>
                            {%- if news.public == true -%}
                                <a class="ml-1 btn btn-primary" href="{{ path('admin_communitynews_hide', { id: news.id }) }}"><i class="fa fa-ban" title="{{ 'Hide' | trans }}"></i></a>
                            {%- else -%}
                                <a class="ml-1 btn btn-outline-secondary" href="{{ path('admin_communitynews_unhide', { id: news.id }) }}"><i class="fa fa-ban" title="{{ 'Show' | trans }}"></i></a>
                            {%- endif -%}</div>
                        <p class="h1">{{ news.title }}</p>
                        <p class="m-0"><small>{{ 'written by' | trans }}
                                {{ macros.avatar( news.createdBy.Username , 20, true) }}
                                ({{ news.createdAt.DiffForHumans }})
                                {% if news.createdAt != news.updatedAt %} {{ 'updated by' | trans }}
                                    {{ macros.avatar( news.updatedBy.Username , 20, true) }}
                                    ({{ news.updatedAt.DiffForHumans }})
                                {% endif %}</small></p>
                        <p class="m-0">{{ news.text | truncate(50) | raw }}</p>
                        <p class="m-0"><a href="{{ url('communitynews_show', { id: news.id} ) }}">{{ 'Read more' | trans }}</a></p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 pull-right">{{ pagerfanta( communityNews, 'twitter_bootstrap4_translated', { routeName: 'admin_communitynews_overview' }) }}</div>
    </div>
{% endblock content %}
