<div class="card mb-3">
    <a name="comments"></a>

    <h3 class="card-header"><i class="fa fa-comment"></i><span class="icontext">Latest Comments</span><a href="#" class="btn btn-primary-outline btn-sm float-right request p-0"><i class="fa fa-angle-double-right"></i> All comments ({{ member.comments|length }})</a></h3>

        {% for comment in member.comments %}
            <div class="card-block px-1 pb-0">
                <div class="float-left mb-0">{{ macros.avatar(comment.fromMember.username, 50, true) }} <small class="username">{{ macros.profilelink(comment.fromMember.username) }}</small></div>
                <div class="text-xs-right float-right"><span class="comment positive">Positive</span><br><span class="text-muted ">{{ comment.created.diffForHumans }}</span></div>
            </div>
            <div class="card-block px-1 pt-0">
                <p class="card-text">{{ comment.TextFree }}</p>
            </div>
        {% endfor %}

        <a class="btn btn-secondary btn-block"><i class="fa fa-comment"></i> See all {{ member.comments|length }} comment(s) for this member</a>
</div>
