<div class="d-flex flex-row">

</div>
<div class="d-flex">
    <div class="mr-3">
        <h1 class="profilemedium mb-0"><small><i class="fa fa-map-marker icontext"></i></small> {{ member.city.name }}, {{ member.city.country.name }}</h1>

        {%  if member.Accommodation == 'anytime' %}{% set image = 'yesicanhost' %}{% set hosttext = 'Hosting' %}{% endif %}
        {%  if member.Accommodation == 'dependonrequest' %}{% set image = 'maybe' %}{% set hosttext = 'Maybe Hosting' %}{% endif %}
        {%  if member.Accommodation == 'neverask' %}{% set image = 'nosorry' %}{% set hosttext = 'Not hosting' %}{% endif %}

        {% if member.id == my_member.id %}

            {# TODO: display right status #}
            <a href="#" id="SetStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/icons/{{ image }}.png">
            </a>
            {# TODO: make a working form chaning status #}
            <div class="dropdown-menu top0" aria-labelledby="SetStatus">
                <a href="#" class="dropdown-item"><img src="/images/icons/yesicanhost.png"><span class="icontext">Yes</span></a>
                <a href="#" class="dropdown-item"><img src="/images/icons/maybe.png"><span class="icontext">Maybe</span></a>
                <a href="#" class="dropdown-item"><img src="/images/icons/nosorry.png"><span class="icontext">No</span></a>
            </div>
        {% else %}
            <img src="/images/icons/{{ image }}.png">
        {% endif %}

        <span class="text-uppercase"><small><strong>{{ hosttext }}</strong></small></span>
        <br>
        <span><small><i>(Max. guests: <strong>{{ member.MaxGuest }}</strong>)</i></small></span>
        <br>
        <span class="gray"><small><i>
                {{ 'Last login:' | trans }} {{ member.LastLogin ? member.LastLogin.diffForHumans : 'never' | trans }}
            </i></small></span>

        <div class="media-body summary">
            <small>

                <br>

            </small>
        </div>

        <div class="media-body summary">

        </div>

    </div>

    <div class="ml-auto">
        <img class="mappreview" src="https://maps.googleapis.com/maps/api/staticmap?center={{ member.Latitude }},{{ member.Longitude }}&zoom=10&size=117x117&key=AIzaSyAiF_lG8CdC-hCIXbGs9jilOFJRoXteM3k">
    </div>
</div>
<div class="d-flex flex-row">
    <a href="{{ path('message/compose', { username: member.Username }) }}" class="btn btn-sm btn-primary btn-block text-xs-left btn-profile"><i class="fa fa-envelope"></i><span class="icontext">Send request</span></a>
</div>