{% import '@macros/macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ language.ShortCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>{{ title }} - BeWelcome</title>
    <meta name="description"
          content="{{ 'default_meta_description'|trans }}"/>
    <meta name="keywords"
          content="{{ 'default_meta_keyword'|trans }}"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    {% include '@base/stylesheets.html.twig' %}
    {% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="nonfooter">
    {% if logged_in %}
        {% include '@base/menu.html.twig' %}
    {% else %}
        {% include '@base/loginbar.html.twig' %}
    {% endif %}
    <noscript><h1>Please activate Javascript for bewelcome.org<small>Without it some function won't work.</small></h1></noscript>
    {% if container %}
        {# Add container div only if needed #}
        <div class="container">
    {% endif %}
    {% block content %}{% endblock %}
    {% if container %}
        </div>
    {% endif %}
</div>
    {% if logged_in %}
        {% include '@base/footer.html.twig' %}
    {% endif %}
    {% include '@base/scriptfiles.html.twig' with {scriptFiles : lateScriptFiles} %}
</body>
</html>