<!-- #nav: main navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bewelcome-navbar-collapse-1">
                <span class="sr-only">{{ 'ToggleNavigation' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main"><img src="images/logo_index_top.png"
                                                     alt="{{ 'BeWelcome' | trans }}"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bewelcome-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center"><form class="navbar-form" role="login">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Sign In</button>
            </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="language-switch">
                        <select id="language" name="language" class="form-control select2" onchange="window.location.href=this.value; return false">
                            {% for lang in languages %}
                                <option {% if lang.ShortCode == language %}selected="selected"{% endif %} value="{{ baseuri }}/rox/in/{{ lang.ShortCode }}">{{ lang.TranslatedName|raw }} ({{ lang.NativeName|raw }})</option>
                            {% endfor %}
                        </select>
                </form>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script type="text/javascript">
    <!--
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    //-->
</script>
