{% import '@macros/macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ language.ShortCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>{{ title }} - BeWelcome</title>
    <meta name="description"
          content="{{ 'default_meta_description'|trans }}"/>
    <meta name="keywords"
          content="{{ 'default_meta_keyword'|trans }}"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    {% include '@base/stylesheets.html.twig' %}
    {% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include '@base/loginbar.html.twig' %}
<!-- Section #1 -->
    <!-- first section - Home -->
    <div id="home"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -300px;">
        <div class="container">
            <div class="row" style="width: 100%; position:relative; top:260px;">
                        <h1 style="color:white" data--50-bottom="opacity:0;" data--150-bottom="text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);" data--200-bottom="opacity:1;" data--300-bottom="text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);">Find now hosts and guests everywhere in the world</h1>
            </div>
            <div class="row" style="width: 100%; position:relative; top:78px;">
                        <a href="#bottom" class="chevron_down"
                           data-250-start="opacity:0"
                           data-280-start="opacity:1">
                           <i class="chevron_icon fa fa-3x fa-chevron-down"></i>
                       </a>
                       <img class="chevron_down_img" src="http://i64.tinypic.com/978twn.png"
                            data-220-start="opacity:0"
                            data-250-start="opacity:1"
                            data-280-start="opacity:0">
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
                    <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
                    <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
                    <a href="impressum">{{ 'Impressum' | trans }}</a> •
                    <a href="faq">{{  'faq' | trans }}</a> •
                    <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
                    <a href="about/feedback?IdCategory=1&RequestURI={{ url('start') }}">{{ 'Reportbug' | trans }}</a><br>
                    &copy; 2007-2015 BeVolunteer and contributors - Running on open source BW Rox rev. ca44ccc (27 Jun 2015)
                </div>
            </div>
        </div>
    </div>
    <!-- /first section -->
    <!-- second section - About -->
    <div id="about" class="pad-section"
         data-450-top="background-color:rgb(127, 68, 0)"
         data-400-top="background-color:rgb(255, 136, 0)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" 
                    data-bottom="opacity:0;"
                    data--100-bottom="opacity:1"><h1 data-bottom="letter-spacing: 0.35em;" data--200-bottom="letter-spacing: 0.1em;">What is BeWelcome?</h1>
                <p style="text-align: center; font-size:1.25em;">BeWelcome is a culture crossing network that lets you share a place to sleep, meet up and help. Let's show you how!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1"
                    data-285-top="opacity:0"
                    data-275-top="opacity:0.2"
                    data-265-top="transform:translateX(-110px)"
                    data-245-top="transform:translateX(-20px)"
                    data-240-top="opacity:1"
                    data-235-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-225-top="transform:translateX(-30px);transform:rotate(-5deg)"
                    data-220-top="transform:translateX(-15px);transform:rotate(5deg)"
                    data-215-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/share.png"><h2>Share</h2><p>At BeWelcome we believe sharing creates a better world. We share experiences, moments, knowledge and we welcome guests in our homes, if we can...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/meet.png"><h2>Meet</h2><p>BeWelcome is about meeting others. You can get to know people online through the website or meet them in real life...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-500-top="opacity:0"
                    data-350-top="opacity:1"><img src="images/icons/travel.png"><h2>Travel</h2><p>You want to travel the world or just visit the city down the road? Organise your journey through BeWelcome and meet nice people on the way...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/inform.png"><h2>Information</h2><p>We want to make sharing and meeting not only fun but also easy. Our tools and features help with that...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-285-top="opacity:0"
                    data-275-top="opacity:0.2"
                    data-265-top="transform:translateX(110px)"
                    data-245-top="transform:translateX(20px)"
                    data-240-top="opacity:1"
                    data-235-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-225-top="transform:translateX(30px);transform:rotate(5deg)"
                    data-220-top="transform:translateX(15px);transform:rotate(-5deg)"
                    data-215-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/decide.png"><h2>Open and fair</h2><p>We are an open community. We work democratically and share our opinions, ideas and ambitions...</p></div>
            </div>
        </div>
    </div>
    <!-- /second section -->
    <!-- third section - Services -->
    <div id="about_trailing" class="pad-section"
         data-start="background-position: 0px 0px;background-blend-mode:normal"
         data-400-start="background-blend-mode:hard-light"
         data-end="background-position: 0px -300px;">
        <div class="container">
            <div class="row" style="width: 100%; position:relative; top:260px;">
                            <h1 style="color:white" data--50-bottom="opacity:0;" data--150-bottom="text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);" data--200-bottom="opacity:1;" data--300-bottom="text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);">We are 100% volunteers, Non-Profit and Open Source</h1>
            </div>
        </div>
    </div>
    <div id="statistics" class="pad-section"
        data-450-top="background-color:rgb(121,84,3)"
        data-400-top="background-color:rgb(243,168,6)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"
                    data-bottom="opacity:0"
                    data--100-bottom="opacity:1"><h1 style="text-align: center" data-bottom="letter-spacing: 0.35em;" data--200-bottom="letter-spacing: 0.1em;">Some statistics</h1>
                <p style="text-align: center; font-size:1.25em;">BeWelcome is about real life activity and travel experiences. Don't take the information on this page too serious...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1"
                    data-285-top="opacity:0"
                    data-275-top="opacity:0.2"
                    data-265-top="transform:translateX(-110px)"
                    data-245-top="transform:translateX(-20px)"
                    data-240-top="opacity:1"
                    data-235-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-225-top="transform:translateX(-30px);transform:rotate(-5deg)"
                    data-220-top="transform:translateX(-15px);transform:rotate(5deg)"
                    data-215-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/stats_members.png"><h2>62.078</h2><h3>members</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/stats_countries.png"><h2>135</h2><h3>countries</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-500-top="opacity:0"
                    data-350-top="opacity:1"><img src="images/icons/stats_languages.png"><h2>121</h2><h3>languages</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/stats_positives.png"><h2>129.339</h2><h3>positive comments</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-285-top="opacity:0"
                    data-275-top="opacity:0.2"
                    data-265-top="transform:translateX(110px)"
                    data-245-top="transform:translateX(20px)"
                    data-240-top="opacity:1"
                    data-235-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-225-top="transform:translateX(30px);transform:rotate(5deg)"
                    data-220-top="transform:translateX(15px);transform:rotate(-5deg)"
                    data-215-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/stats_activities.png"><h2>4.509</h2><h3>activities</h3></div>
            </div>
        </div>
    </div>
    <div id="statistics_trailing" class="pad-section"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -200px;">
         <div id="search" class="pad-section"
            data-start="position:fixed; visibility:hidden;"
            data-600-end="visibility:hidden;"
            data-550-end="visibility:visible;"
            data-540-end="opacity:0;"
            data-400-end="opacity:1;"
            data-end="position:fixed">
            <div class="container" data-start="position:relative; bottom:0px" data-end="position:relative">
                <div class="row">
                    <div class="col-sm-12"><h1 style="letter-spacing:0px" data-400-end="opacity:0;" data-200-end="opacity:1; text-shadow: 0px 0px 10px rgba(185, 185, 185, 1);" data-end="text-shadow: 0px 0px 3px rgba(185, 185, 185, 0.5);">The world is just one step from here</h1>
                    <p style="text-align: center; font-size:1.25em;" data-350-end="opacity:0;" data-150-end="opacity:1">We believe that sharing creates a better world. You can let people stay over or show them around. It's easy and it's called hospitality.</p>
                    </div>
                    </div>
                <form method="post" class="col-sm-4 col-sm-offset-1">
                <div class="form-group" data-250-end="opacity:0;" data-50-end="opacity:1">
                    <span style="font-size: 1.625em; text-transform:uppercase; display: block; letter-spacing: 0.03em;font-weight:700;text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);">Open your door</span>
                    <span style="display: block;">and start meeting people from everywhere.</span>
                </div>
                <div class="input-group" data-200-end="opacity:0;" data-0-end="opacity:1">
                    <span class="input-group-addon"><i class="fa fa-lg fa-user"></i></span>
                    <input type="text" class="form-control" name="live"
                           placeholder="Choose your username!"
                           value=""/>
                    <span class="input-group-addon"><i class="fa fa-lg fa-chevron-right"></i></span>
                </div>
                </form>
                <form method="post" class="col-sm-4 col-sm-offset-1">
                <div class="form-group" data-250-end="opacity:0;" data-50-end="opacity:1">
                    <span style="font-size: 1.625em; text-transform:uppercase; display: block; letter-spacing: 0.03em;font-weight:700;text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);">Find a place to stay</span>
                    <span style="display: block;">and meet locals when traveling worldwide.</span>
                </div>
                <div class="input-group" data-200-end="opacity:0;" data-0-end="opacity:1">
                    <span class="input-group-addon"><i class="fa fa-lg fa-bed"></i></span>
                    <input type="text" class="form-control" name="go"
                           placeholder="Where do you want to go?"
                           value=""/>
                    <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="statistics_trailing_blur"
            data-540-end="opacity:0;background-position: 0px -190px;"
            data-200-end="opacity:1;"
            data-end="background-position: 0px -200px;"
            >
    </div>
    <div id="bottom"></div>
    <!-- /third section -->
    <!-- fourth section - Information -->
    
    <!-- /fourth section -->
    <!-- fourth section - Information -->
    <!-- /fifth section -->
</div>
</body>
</html>

<script type="text/javascript">
    if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
    skrollr.init({
        forceHeight: false,
        smoothScrolling: true,
    });
    var s = skrollr.init();
    skrollr.menu.init(s, {animate: true, easing: 'sqrt', duration: function(currentTop, targetTop) {
        return Math.abs(currentTop - targetTop) * 0.3;},
    }) 
}
</script> 