{% import '@macros/macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ language.ShortCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>{{ title }} - BeWelcome</title>
    <meta name="description"
          content="{{ 'default_meta_description'|trans }}"/>
    <meta name="keywords"
          content="{{ 'default_meta_keyword'|trans }}"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    {% include '@base/stylesheets.html.twig' %}
    {% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include '@base/loginbar.html.twig' %}
<!-- Section #1 -->
    <!-- first section - Home -->
    <div id="home"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -100px;">
        <div class="container" id="landingcontainer" data-start="background-color:rgba(0, 0, 0, 0.4)"
                                                     data-600-start="background-color:rgba(0, 0, 0, 0.0)">
            <div class="row m-t-3">
                <div class="col-xs-0 col-md-3"></div>
                <div class="col-xs-12 col-md-6 card p-a-1 text-xs-center" id="landingcontainerdiv" 
                     data-start="opacity:1; position:fixed; right: 50%; transform: translateX(50%);"
                     data-300-start="opacity:0">
                    <h1>BeWelcome is a cultural crossing network</h1>
                    <p style="text-align: center; font-size:1.25em;">which lets you share a place to stay, connect with travellers, meet up and find accommodation on your journey</p>

                        <form method="post" novalidate action="signup/1" name="signup" id="user-register-form" class="form" role="form">
                        <input type="email" autocomplete="email" class="form-control" placeholder="Your e-mail">
                              <input type="submit" class="form-control btn btn-primary" value="Join BeWelcome!">
                        </form>

                    <p><small class="smaller">BeWelcome is and <a href="#">will always be</a> a free, open source, non for profit, democratic community</small></p>
                </div>
                <div class="col-xs-0 col-md-3"></div>
            </div>
            <div class="row" style="width: 100%; position:absolute; top:730px;">
                <h1 style="color:white"
                    data--50-bottom="color:rgba(255,255,255,0); text-shadow: 0px 0px 3px rgba(255,255,255,0), 0px -20px 3px rgba(0, 0, 0, 0);"  
                    data--100-bottom="color:rgba(255,255,255,0); text-shadow:0px 0px 3px rgba(255,255,255,0.25), 0px -10px 3px rgba(0, 0, 0, 0.2);" 
                    data--200-bottom="color:rgba(255,255,255,1); text-shadow:0px 0px 3px rgba(255,255,255,0.5), 0px -10px 3px rgba(0, 0, 0, 0.4);" 
                    data--400-bottom="color:rgba(255,255,255,1); text-shadow:0px 0px 3px rgba(255,255,255,0), 0px 30px 3px rgba(0, 0, 0, 0.4);"
                    data--450-bottom="color:rgba(255,255,255,0); text-shadow:0px 0px 3px rgba(255,255,255,0.3), 0px 30px 3px rgba(0, 0, 0, 0.2);"
                    data--500-bottom="color:rgba(255,255,255,0); text-shadow:0px 0px 3px rgba(255,255,255,0), 0px 60px 15px rgba(0, 0, 0, 0);">{{ 'Find hosts and guests everywhere in the world' | trans }}</h1>
            </div>
            <div class="row" style="width: 100%; position:absolute; top: 912px;">
                        <a href="#bottom" class="chevron_down"
                           data--50-bottom="opacity:0.4"
                           data--100-bottom="opacity:1"
                           data--250-bottom="opacity:1"
                           data--350-bottom="opacity:0">
                           <i class="chevron_icon fa fa-3x fa-chevron-down"></i>
                       </a>
                       <img class="chevron_down_img" src="http://i64.tinypic.com/978twn.png"
                            data--30-bottom="opacity:0.4"
                            data--50-bottom="opacity:1"
                            data--100-bottom="opacity:0.4"
                            data--300-bottom="opacity:0.4"
                            data--330-bottom="opacity:1"
                            data--350-bottom="opacity:0">
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
                    <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
                    <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
                    <a href="impressum">{{ 'Impressum' | trans }}</a> •
                    <a href="faq">{{  'faq' | trans }}</a> •
                    <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
                    <a href="about/feedback?IdCategory=1&RequestURI={{ url('start') }}">{{ 'Reportbug' | trans }}</a><br>
                    &copy; 2007-2015 BeVolunteer and contributors - Running on open source BW Rox rev. ca44ccc (27 Jun 2015)
                </div>
            </div>
        </div>
    </div>
    <!-- /first section -->
    <!-- second section - About -->
    <div id="about" class="pad-section"
         data-450-top="background-color:rgb(127, 68, 0)"
         data-400-top="background-color:rgb(255, 136, 0)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" 
                    data-bottom="opacity:0;"
                    data--100-bottom="opacity:1"><h1 data-bottom="letter-spacing: 0.35em;" data--200-bottom="letter-spacing: 0.1em;">{{ 'tourpage' | trans }}</h1>
                <p style="text-align: center; font-size:1.25em;">{{ 'tourpage_title1' | trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1"
                    data-335-top="opacity:0"
                    data-325-top="opacity:0.2"
                    data-315-top="transform:translateX(-110px)"
                    data-305-top="transform:translateX(-20px)"
                    data-290-top="opacity:1"
                    data-285-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-275-top="transform:translateX(-30px);transform:rotate(-5deg)"
                    data-270-top="transform:translateX(-15px);transform:rotate(5deg)"
                    data-265-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/share.png"><h2>{{ 'tour_link_share' | trans }}</h2><p>{{ 'tourpage_text2' | trans }}</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-350-top="opacity:0"
                    data-300-top="opacity:1"><img src="images/icons/meet.png"><h2>{{ 'tour_link_meet' | trans }}</h2><p>{{ 'tourpage_text3' | trans }}</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-550-top="opacity:0"
                    data-400-top="opacity:1"><img src="images/icons/travel.png"><h2>{{ 'tour_link_travel' | trans }}</h2><p>{{ 'tourpage_text4' | trans }}</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-350-top="opacity:0"
                    data-300-top="opacity:1"><img src="images/icons/inform.png"><h2>{{ 'tour_link_info' | trans }}</h2><p>{{ 'tourpage_text5' | trans }}</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-335-top="opacity:0"
                    data-325-top="opacity:0.2"
                    data-315-top="transform:translateX(110px)"
                    data-305-top="transform:translateX(20px)"
                    data-290-top="opacity:1"
                    data-285-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-275-top="transform:translateX(30px);transform:rotate(5deg)"
                    data-270-top="transform:translateX(15px);transform:rotate(-5deg)"
                    data-265-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/decide.png"><h2>{{ 'tour_link_openness' | trans }}</h2><p>{{ 'tourpage_text6' | trans }}</p></div>
            </div>
        </div>
    </div>
    <!-- /second section -->
    <!-- third section - Services -->
    <div id="about_trailing" class="pad-section"
         data-0-start="background-blend-mode:normal;"
         data-100-start="background-blend-mode:hard-light"
         data-1400-start="background-position: 0px 0px"
         data-end="background-position: 0px -300px;">
        <div class="container">
            <div class="row" style="color:white"
                data-2000-start="position:fixed">
                <h1 data-2000-start="opacity:0;"
                    data-2050-start="text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);"
                    data-2150-start="opacity:1;"
                    data-2200-start="text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);"
                    data-2400-start="opacity:1"
                    data-2600-start="opacity:0">{{ 'We are 100% volunteers, Non-Profit and Open Source' | trans }}</h1>
            </div>
        </div>
    </div>
    <div id="statistics" class="pad-section"
        data-450-top="background-color:rgb(121,84,3)"
        data-400-top="background-color:rgb(243,168,6)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"
                    data-bottom="opacity:0"
                    data--100-bottom="opacity:1"><h1 style="text-align: center" data-bottom="letter-spacing: 0.35em;" data--200-bottom="letter-spacing: 0.1em;">Some statistics</h1>
                <p style="text-align: center; font-size:1.25em;">BeWelcome is about real life activity and travel experiences. Don't take the information on this page too serious...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1"
                    data-385-top="opacity:0"
                    data-375-top="opacity:0.2"
                    data-365-top="transform:translateX(-110px)"
                    data-345-top="transform:translateX(-20px)"
                    data-340-top="opacity:1"
                    data-335-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-325-top="transform:translateX(-30px);transform:rotate(-5deg)"
                    data-320-top="transform:translateX(-15px);transform:rotate(5deg)"
                    data-315-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/stats_members.png"><h2>{{ stats.members }}</h2><h3>{{ 'members' | trans }}</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-400-top="opacity:0"
                    data-350-top="opacity:1"><img src="images/icons/stats_countries.png"><h2>{{ stats.countries }}</h2><h3>{{ 'countries' | trans }}</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-600-top="opacity:0"
                    data-450-top="opacity:1"><img src="images/icons/stats_languages.png"><h2>{{ stats.languages }}</h2><h3>{{ 'languages' | trans }}</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-400-top="opacity:0"
                    data-350-top="opacity:1"><img src="images/icons/stats_positives.png"><h2>{{ stats.comments }}</h2><h3>{{ 'positive comments' | trans }}</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"
                    data-385-top="opacity:0"
                    data-375-top="opacity:0.2"
                    data-365-top="transform:translateX(110px)"
                    data-345-top="transform:translateX(20px)"
                    data-340-top="opacity:1"
                    data-335-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-325-top="transform:translateX(30px);transform:rotate(5deg)"
                    data-320-top="transform:translateX(15px);transform:rotate(-5deg)"
                    data-315-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/stats_activities.png"><h2>{{ stats.activities }}</h2><h3>{{ 'Activities' | trans  }}</h3></div>
            </div>
        </div>
    </div>
    <div id="statistics_trailing" class="pad-section"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -200px;">
         <div id="search" class="pad-section"
            data-start="position:fixed; visibility:hidden;"
            data-600-end="visibility:hidden;"
            data-550-end="visibility:visible;"
            data-540-end="opacity:0;"
            data-400-end="opacity:1;"
            data-end="position:fixed">
            <div class="container" data-start="position:relative; bottom:0px" data-end="position:relative">
                <div class="row">
                    <div class="col-sm-12"><h1 style="letter-spacing:0px" data-400-end="opacity:0;" data-200-end="opacity:1; text-shadow: 0px 0px 10px rgba(185, 185, 185, 1);" data-end="text-shadow: 0px 0px 3px rgba(185, 185, 185, 0.5);">{{ 'The world is just one step from here' | trans }}</h1>
                    <p style="text-align: center; font-size:1.25em;" data-350-end="opacity:0;" data-150-end="opacity:1">{{ 'We believe that sharing creates a better world. You can let people stay over or show them around. It\'s easy and it\'s called hospitality.' | trans }}</p>
                    </div>
                    </div>
                <form method="post" class="col-sm-4 col-sm-offset-1">
                <div class="form-group" data-250-end="opacity:0;" data-50-end="opacity:1">
                    <span style="font-size: 1.625em; text-transform:uppercase; display: block; letter-spacing: 0.03em;font-weight:700;text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);">{{ 'IndexPageWord_share' | trans }}</span>
                    <span style="display: block;">{{ 'and start meeting people from everywhere.' | trans }}</span>
                </div>
                <div class="input-group" data-200-end="opacity:0;" data-0-end="opacity:1">
                    <span class="input-group-addon"><i class="fa fa-lg fa-user"></i></span>
                    <input type="text" class="form-control" name="live"
                           placeholder="{{ 'Choose your username!' | trans }}"
                           value=""/>
                    <span class="input-group-addon"><i class="fa fa-lg fa-chevron-right"></i></span>
                </div>
                </form>
                <form method="post" class="col-sm-4 col-sm-offset-1">
                <div class="form-group" data-250-end="opacity:0;" data-50-end="opacity:1">
                    <span style="font-size: 1.625em; text-transform:uppercase; display: block; letter-spacing: 0.03em;font-weight:700;text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);">{{ 'Find a place to stay' | trans }}</span>
                    <span style="display: block;">{{ 'and meet locals when traveling worldwide.' | trans }}</span>
                </div>
                <div class="input-group" data-200-end="opacity:0;" data-0-end="opacity:1">
                    <span class="input-group-addon"><i class="fa fa-lg fa-bed"></i></span>
                    <input type="text" class="form-control" name="go"
                           placeholder="{{ 'Where do you want to go?' | trans }}"
                           value=""/>
                    <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="statistics_trailing_blur"
            data-540-end="opacity:0;background-position: 0px -190px;"
            data-200-end="opacity:1;"
            data-end="background-position: 0px -200px;"
            >
    </div>
    <div id="bottom"></div>
    <!-- /third section -->
    <!-- fourth section - Information -->
    
    <!-- /fourth section -->
    <!-- fourth section - Information -->
    <!-- /fifth section -->
</div>
</body>
</html>