{% import '@macros/macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ language.ShortCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>

    <title>{{ title }} - BeWelcome</title>
    <meta name="description"
          content="{{ 'default_meta_description'|trans }}"/>
    <meta name="keywords"
          content="{{ 'default_meta_keyword'|trans }}"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    {% include '@base/stylesheets.html.twig' %}
    {% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include '@base/loginbar.html.twig' %}
<!-- Section #1 -->
    <!-- first section - Home -->
    <div id="home"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -300px;">
        <div class="container">
        <div class="row" style="width: 100%">
                    <a href="#about" class="chevron_down"
                       data-50-start="opacity:0"
                       data-80-start="opacity:1">
                       <i class="chevron_icon fa fa-3x fa-chevron-down"></i>
                   </a>
                   <img class="chevron_down_img" src="http://i64.tinypic.com/978twn.png"
                        data-20-start="opacity:0"
                        data-50-start="opacity:1"
                        data-80-start="opacity:0">
        </div>
            </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
                    <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
                    <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
                    <a href="impressum">{{ 'Impressum' | trans }}</a> •
                    <a href="faq">{{  'faq' | trans }}</a> •
                    <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
                    <a href="about/feedback?IdCategory=1&RequestURI={{ url('start') }}">{{ 'Reportbug' | trans }}</a><br>
                    &copy; 2007-2015 BeVolunteer and contributors - Running on open source BW Rox rev. ca44ccc (27 Jun 2015)
                </div>
            </div>
        </div>
    </div>
    <!-- /first section -->
    <!-- second section - About -->
    <div id="about" class="pad-section"
         data-450-top="background-color:rgb(127, 68, 0)"
         data-400-top="background-color:rgb(255, 136, 0)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" 
                    data-bottom="opacity:0"
                    data--100-bottom="opacity:1"><h1>What is BeWelcome?</h1>
                <p style="text-align: center">BeWelcome is a culture crossing network that lets you share a place to sleep, meet up and help others on their way. Let is show you how!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1"
                    data-250-top="opacity:0"
                    data-240-top="opacity:0.2"
                    data-230-top="transform:translateX(-155px);"
                    data-210-top="transform:translateX(-20px);"
                    data-205-top="opacity:1"
                    data-200-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-190-top="transform:translateX(-30px);transform:rotate(-5deg)"
                    data-185-top="transform:translateX(-15px);transform:rotate(5deg)"
                    data-180-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/share.png"><h2>Share</h2><p>At BeWelcome we believe sharing creates a better world. We share experiences, moments, knowledge and we welcome guests in our homes, if we can...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/meet.png"><h2>Meet</h2><p>BeWelcome is about meeting others. You can get to know people online through the website or meet them in real life...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-500-top="opacity:0"
                    data-350-top="opacity:1"><img src="images/icons/travel.png"><h2>Travel</h2><p>You want to travel the world or just visit the city down the road? Organise your journey through BeWelcome and meet nice people on the way...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-300-top="opacity:0"
                    data-250-top="opacity:1"><img src="images/icons/inform.png"><h2>Information</h2><p>We want to make sharing and meeting not only fun but also easy. Our tools and features help with that...</p></div>
                <div class="col-xs-12 col-sm-6 col-md-2"
                    data-250-top="opacity:0"
                    data-240-top="opacity:0.2"
                    data-230-top="transform:translateX(155px)"
                    data-210-top="transform:translateX(20px)"
                    data-205-top="opacity:1"
                    data-200-top="transform:translateX(0px);transform:rotate(0deg)"
                    data-190-top="transform:translateX(30px);transform:rotate(5deg)"
                    data-185-top="transform:translateX(15px);transform:rotate(-5deg)"
                    data-180-top="transform:translateX(0px);transform:rotate(0deg)"><img src="images/icons/decide.png"><h2>Open and fair</h2><p>We are an open community. We work democratically and share our opinions, ideas and ambitions...</p></div>
            </div>
        </div>
    </div>
    <!-- /second section -->
    <!-- third section - Services -->
    <div id="about_trailing" class="pad-section"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -300px;">
    </div>
    <div id="statistics" class="pad-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1 style="text-align: center">Some statistics</h1>
                <p style="text-align: center">BeWelcome is about real life activity and travel experiences. Don't take the information on this page too serious...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1"><img src="images/icons/stats_members.png"><h2>62,078</h2><h3>members</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"><img src="images/icons/stats_countries.png"><h2>135</h2><h3>countries</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"><img src="images/icons/stats_languages.png"><h2>121</h2><h3>languages</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"><img src="images/icons/stats_positives.png"><h2>129,339</h2><h3>positive comments</h3></div>
                <div class="col-xs-4 col-sm-3 col-md-2"><img src="images/icons/stats_activities.png"><h2>4,509</h2><h3>activities</h3></div>
            </div>
        </div>
    </div>
    <div id="statistics_trailing" class="pad-section"
         data-start="background-position: 0px 0px;"
         data-end="background-position: 0px -300px;">
    </div>
    <!-- /third section -->
    <!-- fourth section - Information -->
    <div id="search" class="pad-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><h1>The world is just one step from here</h1>
                <p style="text-align: center">We believe that sharing creates a better world. You can let people stay over or show them around. It's easy and it's called hospitality.</p>
                </div>
                </div>
            <form method="post" class="col-sm-4 col-sm-offset-1">
            <div class="form-group">
            <span style="font-size: 2em; font-stretch: condensed; display: block;">Open your door</span>
            <span style="display: block;">and start meeting people from everywhere.</span>
</div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lg fa-user"></i></span>
                <input type="text" class="form-control" name="live"
                       placeholder="Choose your username!"
                       value=""/>
                <span class="input-group-addon"><i class="fa fa-lg fa-chevron-right"></i></span>
            </div>
            </form>
            <form method="post" class="col-sm-4 col-sm-offset-1">
            <div class="form-group">
                <span style="font-size: 2em; font-stretch: condensed; display: block;">Find a place to stay</span>
                <span style="display: block;">and meet locals when traveling worldwide.</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lg fa-bed"></i></span>
                <input type="text" class="form-control" name="go"
                       placeholder="Where do you want to go?"
                       value=""/>
                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
            </div>
            </form>
        </div>
    </div>
    <!-- /fourth section -->
    <!-- fourth section - Information -->
    <div id="search_trailing" class="pad-section">
    </div>
    <!-- /fifth section -->
</div>
</body>
</html>

<script type="text/javascript">
    if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
    skrollr.init({
        forceHeight: false
    });
    var s = skrollr.init(); 
}
</script> 