{% extends ':emails:email.html.twig' %}

{% block content%}
    <p>Hi,<br />
    A new group named "{{ group.name }}" has been created by member "{{ member.Username }}".</p>
    <p>The group's description is:</p>
    <div>
        {% for locale, description in group.descriptions %}
        <small class="text-muted">{{ description.Language.WordCode|trans }} ({{ locale }})</small><br>{{ description.Sentence|purify }}
        {% endfor %}
    </div>
    <p>Please use the <a href="{{ url('admin_groups_approval') }}">group administration tool</a> to approve or dismiss the group as soon as possible.</p>
    <p>Cheers,<br>
    Your mailer daemon</p>
{% endblock content %}