<div id="accommodation" class="l-hosting-toggle">
    <a id="{{ constant('App\\Doctrine\\AccommodationType::YES') }}"
       class="hosting l-hosting-toggle__opt l-hosting-toggle__opt--yes{% if member.Accommodation == constant('App\\Doctrine\\AccommodationType::YES') %} l-hosting-toggle__opt--active{% endif %}"
       href="#" title="{{ 'dashboard.hosting.yes'|trans }}">
        <i class="fas fa-house-user"></i>
        <span>{{ 'hosting'|trans }}</span>
    </a>
    <a id="{{ constant('App\\Doctrine\\AccommodationType::NO') }}"
       class="hosting l-hosting-toggle__opt l-hosting-toggle__opt--no{% if member.Accommodation == constant('App\\Doctrine\\AccommodationType::NO') %} l-hosting-toggle__opt--active{% endif %}"
       href="#" title="{{ 'dashboard.hosting.no'|trans }}">
        <i class="fas fa-house"></i>
        <span>{{ 'not hosting'|trans }}</span>
    </a>
</div>
