<div id="activitiesdisplay" class="c-dashboard">
    {% for activity in activities %}
        <div class="c-dashboard__item u-p-0">

            <div class="u-flex u-flex-col u-items-center u-justify-center u-px-16 u-bg-gray-10 u-h-full">
                <span class="fa-layers fa-fw fa-2x u-mb-8">
                    <i class="fas fa-calendar"></i>
                    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">{{ activity.starts | date("d") }}</span>
                </span>
                <p class="u-text-14 u-font-300"><span class="u-font-400">{{ activity.starts | date("m") }}</span>/{{ activity.starts | date("Y") }}</p>
            </div>

            <div class="u-flex u-items-center u-mx-16">
                {% if activity.online %}<img class="u-w-32 u-h-32 u-mr-16 u-text-gray-70" src="images/online_meeting_noun_3384309.svg">{% else %}<i class="fa fa-2x fa-map-marker-alt"></i>{% endif %}
                <div class="u-flex u-flex-col">
                    <p class="u-ellipsis"><strong><a href="activities/{{ activity.id }}">{{ activity.title }}</a></strong></p>
                    <p class="u-ellipsis u-text-14 u-font-300"> {{ activity.location.name }}, {{ activity.location.country.name }}</p>
                </div>
            </div>

            <div class="u-ml-auto u-px-24 u-flex u-flex-col u-justify-center u-items-center u-bg-gray-10 u-h-full">
                <div class="u-w-40 u-h-40 u-rounded-full u-bg-gray-15 u-flex u-items-center u-justify-center">
                    <i class="fa fa-user u-text-gray-70 u-text-22"></i>
                </div>
                {% if activity.attendeesYes.count != 0 %}
                    <p class="u-font-300 u-text-14 u-leading-20">
                    {{ activity.attendeesYes.count }}&nbsp;{{ 'activitiesnumbattendeesyes' | trans }}
                    </p>
                {% endif %}
                {% if activity.attendeesMaybe.count != 0 %}
                    <p class="u-font-300 u-text-14 u-leading-20">
                        {{ activity.attendeesMaybe.count }}&nbsp;{{ 'activitiesnumbattendeesmaybe' | trans }}
                    </p>
                {% endif %}       
                </div>
            </div>
        </div>

    {% else %}
        <p class="u-my-24 u-font-display u-text-center">{{ 'dashboard.activities.none' | trans }}</p>
    {% endfor %}
</div>
