<div id="activitiesdisplay" class="scrollcontent">

    {% for activity in activities %}
        <div class="d-flex flex-row justify-content-between align-items-center p-2">

            <div class="relative pr-2">
                <span class="fa-layers fa-fw fa-2x">
                    <i class="fas fa-calendar"></i>
                    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">{{ activity.starts | date("d") }}</span>
                </span>
                <div class="d-block"><small>{{ activity.starts | date("m") }} {{ activity.starts | date("Y") }}</small></div>
            </div>

            <div class="text-truncate mr-2 ml-5" style="white-space: normal;">
                <p class="m-0 p-0 dashentry"><strong><a href="activities/{{ activity.id }}">{{ activity.title }}</a></strong></p>
                <p class="p-0 m-0"><small>{% if activity.public %}<i class="fa fa-2x fa-wifi">{% else %}<i class="fa fa-2x fa-map-marker-alt">{% endif %}</i> {{ activity.location.name }}, {{ activity.location.country.name }}</small></p>
            </div>

            <div class="ml-auto relative">
                <div class="mr-5rem"><i class="fa fa-2x fa-user"></i></div>
                <div class="absolute attendees">
                    <small>{{ activity.attendeesyes.count }} yes
                        <br>{% if activity.attendeesmaybe.count==0 %}{{ activity.attendeesmaybe.count }} maybe{% endif %}</small>
                </div>
            </div>
        </div>

    {% else %}
        <p>{{ 'dashboard.activities.none' | trans }}</p>
    {% endfor %}
</div>
