{% import 'macros.twig' as macros %}
<div id="messagesdisplay" class="c-dashboard">
	{% for message in messages %}
		{% set unread = (message.firstRead is null) or (message.firstRead == '0000-00-00 00:00.00') %}
		<div class="c-dashboard__message-item">
			<div class="o-avatar o-avatar--m o-avatar--noname o-avatar--shadow-s u-mr-8">{{ macros.roundedavatarstack(message.sender.username, 72, true) }}</div>
            <div class="d-flex d-flex-row">
                {% if message.request %}
                    <div class="u-h-full u-py-4 u-pr-8">
                        {% if message.request.inviteForLeg is null %}
                            {{ 'conversations.request'|trans }}
                        {% else %}
                            {{ 'conversations.invitation'|trans }}
                        {% endif %}
                            <p class="u-font-300 u-text-14 u-leading-20">{{ message.request.arrival | format_date( 'medium') }}</p>
                            <p class="u-font-300 u-text-14 u-leading-20">{{ message.request.departure | format_date( 'medium') }}</p>
                    </div>
                {% endif %}
                <div class="u-h-full u-py-4 u-w-full u-overflow-hidden {% if unread %}unread{% endif %}">
                    <p class="u-ellipsis">{% if message.subject %}{{ message.subject.subject|raw }}<br>{% endif %}
                    {{ message.message|striptags|truncate(50) }}<br>
                    {{ 'from' | trans}} {% if message.sender %}{{ macros.profilelink(message.sender.username) }}{% else %} BeWelcome {% endif %}<span title="{{ message.created.toDateTimeString }}">{{ message.created.DiffForHumans }}</span>
                    </p>
                </div>
            </div>
			<div class="u-pl-4"><a href="{{ path('conversation_show', { id: message.id } ) }}"><i
							class="fa fa-chevron-right"></i></a></div>
		</div>
	{% else %}
		<p class="u-my-24 u-font-display u-text-center">{{ 'dashboard.messages.none' | trans }}</p>
	{% endfor %}
</div>
