{% import 'macros.twig' as macros %}
<div id="threadsdisplay" class="c-dashboard">

    {# 5 most recent forum messages #}
    {% for thread in threads %}
        <div class="c-dashboard__item">
            <div class="o-avatar o-avatar--m o-avatar--noname  o-avatar--shadow-s u-mr-16  u-min-w-0">{{ macros.roundedavatarstack(thread.firstPost.author.Username, 72, false) }}</div>
            <div class="u-flex u-flex-col u-h-full u-justify-center u-px-8 u-w-min-0 u-overflow-hidden">
                <p class="u-ellipsis">
                    {% if thread.group %}
                        <a href="{{ url('group_forum_thread', {'thread': thread.id, 'group_id': thread.group.id}) }}">
                    {% else %}
                        <a href="{{ url('forum_thread', {'threadId': thread.id}) }}">
                    {% endif %}
                    {{ thread.title|striptags }}</a>
                </p>
                <p class="u-ellipsis u-font-300 u-text-14">in
                    {%- if thread.group %}
                        <a href="{{ url('group_start', {'group_id': thread.group.id}) }}">{{ thread.group.name }}</a>
                    {% else %}
                        <a href="{{ url('bwforum') }}">{{ 'dashboard.bwforum' | trans }}</a>
                    {% endif %}
                </p>
                <p class="u-ellipsis u-font-300 u-text-14">
                    {{ 'thread.lastpostby' | trans }} {{ macros.profilelink(thread.lastpost.author.Username) }} <span title="{{ thread.lastpost.updated.toDateTimeString }}">{{ thread.lastpost.updated.diffForHumans }}</span>
                </p>
            </div>
            {% set page = 1 %}
            {% if ascending %}
                {% set lastpost = 'post' ~ thread.lastpost.id %}
                {% set page = thread.replies // constant('\\Forums::CV_POSTS_PER_PAGE') + 1 %}
            {% else %}
                {% set lastpost = '' %}
            {% endif %}
            <div class="u-ml-auto u-flex-shrink-0">
                {% if thread.group %}
                    {% if page == 1 %}
                        <a href="{{ url('group_forum_thread', {'thread': thread.id, 'group_id': thread.group.id,  '_fragment': lastpost})  }}">
                    {% else %}
                        <a href="{{ url('group_forum_thread_pages', {'thread': thread.id, 'group_id': thread.group.id, 'page_id': page, '_fragment': lastpost})  }}">
                    {% endif %}
                {% else %}
                    {% if page == 1 %}
                        <a href="{{ url('forum_thread', {'threadId': thread.id, '_fragment': lastpost}) }}">
                    {% else %}
                         <a href="{{ url('forum_thread_pages', {'threadId': thread.id, 'pageId': page, '_fragment': lastpost}) }}">
                    {% endif %}
                {% endif %}
                <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    {% endfor %}
</div>
