{% import 'macros.twig' as macros %}
<div id="threadsdisplay" class="scrollcontent">

    {# 5 most recent forum messages #}
    {% for thread in threads %}
        <div class="d-flex flex-row justify-content-start align-items-center p-2">
            <div class="pr-2">{{ macros.avatar(thread.firstPost.author.Username, 50, true) }}</div>
            <div class="dashentry">
                <div class="text-truncate text">
                    {% if thread.group %}
                        <a href="{{ url('group_forum_thread', {'thread': thread.id, 'group_id': thread.group.id}) }}">
                    {% else %}
                        <a href="{{ url('forum_thread', {'threadId': thread.id}) }}">
                    {% endif %}
                    {{ thread.title|striptags }}</a>
                </div>
                <div>
                    <small>in
                    {%- if thread.group %}
                        <a href="{{ url('group_start', {'group_id': thread.group.id}) }}">{{ thread.group.name }}</a>
                    {% else %}
                        <a href="{{ url('bwforum') }}">{{ 'dashboard.bwforum' | trans }}</a>
                    {% endif %} {{ 'thread.lastpostby' | trans }} {{ macros.profilelink(thread.lastpost.author.Username) }} <span title="{{ thread.lastpost.updated.toDateTimeString }}">{{ thread.lastpost.updated.diffForHumans }}</span>
                    </small>
                </div>

            </div>
            <div class="ml-auto">{% if thread.group %}
                    <a href="{{ url('group_forum_thread', {'thread': thread.id, 'group_id': thread.group.id}) }}">
                {% else %}
                    <a href="{{ url('forum_thread', {'threadId': thread.id}) }}">
                {% endif %}
                <i class="fa fa-chevron-right"></i></a></div>
        </div>
    {% endfor %}
</div>
