{% import 'macros.twig' as macros %}
<div id="messagesdisplay" class="scrollcontent">
    {% for message in messages %}
        {% if message.request %}{% set route = 'hosting_request_show' %}{% else %}{% set route = 'message_show' %}{% endif %}
        {% set unread = (message.firstRead == '0000-00-00 00:00.00') or (message.firstRead is null) %}
        <div class="d-flex flex-row justify-content-start align-items-center p-2">
            <div class="pr-2">{{ macros.avatar( message.sender.username, 50, true) }}</div>
            <div class="dashentry w-100">

                {% if message.request %}
                    <div class="d-flex justify-content-start align-items-center">
                        <div><i class="fa fa-lg fa-bed"></i></div>
                        <div class="small mx-2 alert alert-dark my-0 px-1 py-0 text-nowrap">
                            {{ message.request.arrival | localizeddate( 'medium', 'none') }}<br>
                            {{ message.request.departure | localizeddate( 'medium', 'none') }}
                        </div>
                        <div class="text-truncate text">
                            <a href="{{ path(route, { id: message.id } ) }}" {% if unread %}class="unread"{% endif %}>
                                <span class="text-truncate"><em>{{ message.subject.subject|raw }}</em></span>
                                <span class="text-truncate">{{ message.message|raw }}</span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="text-truncate text">
                        <a href="{{ path(route, { id: message.id } ) }}" class="{%- if unread %}unread{% else %}read{% endif %}">
                            {% if message.subject %}<span class="text-truncate"><em>{{ message.subject.subject|raw }}</em></span>{% endif %}
                            <span class="text-truncate">{{ message.message|raw }}</span>
                        </a>
                    </div>
                {% endif %}
                    <div class="small">
                        {{ 'from' | trans}} {% if message.sender %}{{ macros.profilelink(message.sender.username) }}{% else %} BeWelcome {% endif %}<span title="{{ message.created.toDateTimeString }}">{{ message.created.DiffForHumans }}</span>
                    </div>
            </div>
            <div class="ml-auto"><a href="{{ path(route, { id: message.id } ) }}"><i
                            class="fa fa-chevron-right"></i></a></div>
        </div>
    {% else %}
        <em>{{ 'dashboard.messages.none' | trans }}</em>
    {% endfor %}
</div>
