{% import 'macros.twig' as macros %}
<div id="notificationsdisplay" class="c-dashboard">
    {% for notification in notifications %}
        <div class="c-dashboard__item">
            <div class="o-avatar o-avatar--m o-avatar--noname u-mr-16">{{ macros.roundedavatarstack(notification.relMember.Username, 72, true) }}</div>
            <div class="u-flex u-flex-col u-h-full u-justify-center">
                {% if notification.Type == "message" %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.TranslationParameters)|raw }}{% endset %}
                {% elseif notification.Type == "profile_comment" %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.relMember.Username)|raw }}{% endset %}
                {% else %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.relMember.Username)|raw }}{% endset %}
                {% endif %}
                <p  class="u-ellipsis"><a href="{{ notification.link }}" title="{{ notificationText }}">{{ notificationText }}</a><br>
                <p class="u-font-300 u-text-14" title="{{ notification.created|format_date('medium') }}">{{ notification.created.DiffForHumans }}</p></p>
            </div>
            <div class="ml-auto"><a class="notify" id="notify-{{ notification.id }}" href="#"><i class="fas fa-times"></i></a></div>
        </div>
    {% else %}
        <p class="u-my-24 u-font-display u-text-center">{{ 'dashboard.notifications.none' | trans }}</p>
    {% endfor %}

</div>
