{% import 'macros.twig' as macros %}
<div id="notificationsdisplay" class="scrollcontent">
    {% for notification in notifications %}
        <div class="d-flex flex-row justify-content-start align-items-center p-2">
            <div class="pr-2">{{ macros.avatar( notification.relMember.Username, 50, true ) }}</div>
            <div class="pr-2">
                {% if notification.Type == "message" %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.TranslationParameters)|raw }}{% endset %}
                {% elseif notification.Type == "profile_comment" %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.relMember.Username)|raw }}{% endset %}
                {% else %}
                    {% set notificationText %}{{ notification.translationcode|lower|trans|raw|format(notification.relMember.Username)|raw }}{% endset %}
                {% endif %}
                <p class="m-0 p-0"><a href="{{ notification.link }}" title="{{ notificationText }}">{{ notificationText }}</a><br>
                <small title="{{ notification.created|format_date('medium') }}">{{ notification.created.DiffForHumans }}</small></p>
            </div>
            <div class="ml-auto"><a class="notify" id="notify-{{ notification.id }}" href="#"><i class="fas fa-times"></i></a></div>
        </div>
    {% else %}
        <em>{{ 'dashboard.notifications.none' | trans }}</em>
    {% endfor %}

</div>
