{% block stylesheets %}
  {{ encore_entry_link_tags('tailwind') }}
{% endblock %}

<div id="legsdisplay">
    <div class="u-flex u-items-center u-mx-8 u-mb-8">
        <i class="fa fa-bullseye u-text-white u-text-16 u-text-gray-50 u-mr-4"></i>
        <label class="u-mb-0 u-mr-16" for="trips_radius">{{ 'trips.radius' }}</label>
        <select id="trips_radius"
                name="trips_radius" class="select2">
            <option {% if radius == 0 %}selected="selected"{% endif %} value="0">{{ 'trips.legs.exact'|trans }}</option>
            <option {% if radius == 5 %}selected="selected"{% endif %} value="5">{{ 'search.radius.5km'|trans }}</option>
            <option {% if radius == 10 %}selected="selected"{% endif %} value="10">{{ 'search.radius.10km'|trans }}</option>
            <option {% if radius == 20 %}selected="selected"{% endif %} value="20">{{ 'search.radius.20km'|trans }}</option>
            <option {% if radius == 50 %}selected="selected"{% endif %} value="50">{{ 'search.radius.50km'|trans }}</option>
            <option {% if radius == 100 %}selected="selected"{% endif %} value="100">{{ 'search.radius.100km'|trans }}</option>
            <option {% if radius == 200 %}selected="selected"{% endif %} value="200">{{ 'search.radius.200km'|trans }}</option>
            <option {% if radius == 500 %}selected="selected"{% endif %} value="500">{{ 'search.radius.500km'|trans }}</option>
            <option {% if radius == 1000 %}selected="selected"{% endif %} value="1000">{{ 'search.radius.1000km'|trans }}</option>
            <option {% if radius == 2000 %}selected="selected"{% endif %} value="2000">{{ 'search.radius.2000km'|trans }}</option>
            <option {% if radius == 5000 %}selected="selected"{% endif %} value="5000">{{ 'search.radius.5000km'|trans }}</option>
        </select>
    </div>
    <div class="c-trip-legs--landing">
        {% for leg in legs  %}
            {% include 'trip/leg.html.twig' with {'leg': leg} %}
        {% else %}
                {{ 'landing.bevisited.none' }}
        {% endfor %}
    </div>
</div>
