{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
<script type="text/javascript">
    $(window).on('load', function () {
        $('#checkAllNoSpam').click(function () {
            $('input:checkbox.checkableNoSpam').prop('checked', this.checked);
        });
        $('#checkAllSpam').click(function () {
            $('input:checkbox.checkableSpam').prop('checked', this.checked);
        });
    });
</script>
{% endblock %}

{% block content %}
    {% if reported.nbResults == 0 %}
        <div class="alert alert-warning">{{ 'admin.checker.no.messages' | trans }}</div>
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% if reported.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( reported, 'rox_default') }}
            </div>
        {% endif %}
        <table class="table table-striped table-hover">

            <tr>
                <th>Sender</th>
                <th>Message</th>
                <th>Receiver</th>
                <th>Created</th>
                <th>{{ 'ok' | trans }}</th>
                <th>{{ 'spam' | trans }}</th>
            </tr>
            <tr>
                <th colspan="4"></th>
                <th><input type="checkbox" id="checkAllNoSpam"></th>
                <th><input type="checkbox" id="checkAllSpam"></th>
            </tr>
        {% for message in reported.currentPageResults %}
            <tr>
                <td>{{ macros.avatarstack(message.Sender.Username, 30) }}</td>
                <td>{{ message.Message|purify }}</td>
                <td>{{ macros.avatarstack(message.Receiver.Username, 30) }}</td>
                <td>{{ message.created.DiffForHumans }}<br>
                ({{  message.created | format_datetime('short', 'short') }})</td>
                <td>{{ form_widget(form.noSpamMessages[loop.index0], {'attr': {'class': 'checkableNoSpam'}}) }}</td>
                <td>{{ form_widget(form.spamMessages[loop.index0], {'attr': {'class': 'checkableSpam'}}) }}</td>
            </tr>
        {% endfor %}
        </table>
        <div class="row">
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary">{{ 'button.update' | trans }}</button>
            </div>
        </div>
        {% if reported.haveToPaginate %}
            <div class="float-left">
                {{ pagerfanta( reported, 'rox_default') }}
            </div>
        {% endif %}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
