{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    {% if groups|length %}
        <div class="table-responsive ">
            <table class="table table-striped w-100">
                <colgroup>
                    <col style="width:30%">
                    <col style="width:60%">
                    <col style="width:10%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">{{ 'Group Name'|trans }}</th>
                        <th scope="col" class="w-100">{{ 'Group Description'|trans }}</th>
                        <th scope="col">{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.Name }}</td>
                            <td>{{ group.IdDescription|truncate(100) }}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_groups_approve', { 'id': group.id }) }}"><i class="fa fa-check"></i></a><br>
                                <a href="{{ path('admin_groups_dismiss', { 'id': group.id }) }}"><i class="fa fa-ban"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ 'No groups need to be approved' | trans }}
    {% endif %}
{% endblock %}