{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('leaflet') }}
    {{ encore_entry_script_tags('search/searchpicker') }}
    {{ encore_entry_script_tags('search/loadcontent') }}
    {{ encore_entry_script_tags('search/locations') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('leaflet') }}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block content %}
    {% if pager is not null and pager.nbResults == 0 %}
    <div class="row no-gutters">
        <div class="col-12">
            <div class="alert alert-notice">
                {{ 'search.no.members'|trans }}
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'm-1 search_form', 'onkeypress': 'return event.keyCode != 13;'}}) }}
    {{ form_errors(form) }}
    <div class="row mb-3">
        <div class="col-12">
            {{ form_row(form.location, {'attr': {'class': 'search-picker'}, 'required': false }) }}
        </div>
        <div class="col-6 col-sm-4">
            {{ form_row(form.show_options, {'label_attr': {'class':'switch-custom'}, 'attr': {'class':'show_options'}}) }}
        </div>
        <div class="col-6 col-sm-4">
            {{ form_row(form.show_map, {'label_attr': {'class':'switch-custom'}, 'attr': {'class':'show_map'}}) }}
        </div>
        <div class="col-sm-4">
            {% if form.show_options.vars.checked %}
                {% set class = 'search btn-primary float-right d-none'  %}
            {% else %}
                {% set class = 'search btn-primary float-right d-block'  %}
            {% endif %}
            {{ form_widget(form.updateMap, { 'attr': { 'class': class }}) }}
        </div>
        <div id="search_options"
             class="col-12 {% if form.show_options.vars.checked %}d-block{% else %}d-none{% endif %}">
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="row no-gutters">
                        <div class="col-12 mb-2">
                            <span class="font-weight-bolder">{{ 'accommodation'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accommodation_anytime) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accommodation_neverask) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accessible) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="font-weight-bolder">{{ 'profile.information'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.profile_picture) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.about_me) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.has_comments) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="font-weight-bolder">{{ 'restrictions'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_alcohol) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_smoking) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_drugs) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row no-gutters">
                        <div class="col-12">
                            {{ form_row(form.can_host) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.keywords) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.groups) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.languages) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.last_login) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row no-gutters">
                        <div class="col-12">
                            {{ form_row(form.distance) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.min_age) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.max_age) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.gender) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="font-weight-bolder">{{ 'offers'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.offerdinner) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.offertour) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.order) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.direction) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.items) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="submit" id="search_updateMap_second" name="search[updateMap]" class="btn btn-primary float-right search
                {% if form.show_options.vars.checked %}d-block{% else %}d-none{% endif %}">{{ 'search.find.members'|trans }}</button>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div id="map-box"></div>

    <script>
        var mapMembers =
            {% if results %}
                {{ results.map | json_encode | raw }}
            {% else %}
                null
            {% endif %}
        ;
    </script>

    {% if pager is not null and pager.nbResults > 0 %}
        <div class="row no-gutters">
            {% include 'member/results.html.twig' %}
        </div>
    {% endif %}
{% endblock content %}
