{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('member/autocomplete') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'search.members'|trans }}</h1>
    <p>{{ 'search.member.abstract'|trans }}</p>
    {{ form(form) }}
    {% if members %}
        <div class="row">
        {% for member in members %}
            {% set fields = member.memberFields %}
            <div class="col-12 col-md-6 mb-2">
                <div class="media">
                    {{ macros.avatar(member.username, 100, true) }}
                    <div class="ml-3 media-body">
                        <h5 class="mt-0">{{ member.username }}</h5>
                        <p>{{ member.city.name }}, {{ member.country.name }}</p>
                        {% if fields|length %}
                            {% if fields[app.request.locale] is defined %}
                                <p>{{ fields[app.request.locale]['ProfileSummary']|truncate(500) }}</p>
                            {% else %}
                                <p>{{ (fields|first)['ProfileSummary']|truncate(500) }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
