{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('search/loadcontent') }}
    {{ encore_entry_script_tags('search/locations') }}
{% endblock javascripts %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
    {{ encore_entry_link_tags('search/locations') }}
{% endblock stylesheets %}

{% block content %}
  {% dump(searchParams) %}
    {% if pager is not null and pager.nbResults == 0 %}
    <div class="row g-0">
        <div class="col-12">
            <div class="alert alert-notice">
                {{ 'search.no.members'|trans }}
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'm-1 search_form', 'onkeypress': 'return event.keyCode != 13;'}}) }}
    {{ form_errors(form) }}
    {{ form_label(form.location) }}
    <div class="auto-search-wrapper max-height loupe">
        <input type="text" id="{{ form.location.vars.id}}" name="{{ form.location.vars.full_name }}"
           class="o-input js-location-picker" autocomplete="off"
           placeholder="{{ 'trip.leg.location'|trans }}"
           aria-label="{{ 'trip.leg.location'|trans }}"
           {% if form.location.vars.value %}value="{{ form.location.vars.value }}"{% endif %}
        >
    </div>
    <div class="u:block">{{ form_errors(form.location) }}</div>
    <div class="u:mb-8">{{ form_help(form.location) }}</div>
    {% do form.location.setRendered %}
    <div class="row g-3 mb-3">
      <div class="col-12">
        <div class="row g-3">
      <div class="col-sm-4">
          <div class="form-check form-switch d-flex align-items-center">
            <input class="form-check-input show_options mt-0 me-2" type="checkbox" role="switch" id="{{ form.show_options.vars.id }}" name="{{ form.show_options.vars.full_name }}"
                   {% if form.show_options.vars.checked %}checked="checked"{% endif %}
                   switch>
            <label class="form-check-label mb-0" for="{{ form.show_options.vars.id }}">{{ form.show_options.vars.label|trans }}</label>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-check form-switch d-flex align-items-center">
            <input class="form-check-input show_map mt-0 me-2" type="checkbox" role="switch" id="{{ form.show_map.vars.id }}" name="{{ form.show_map.vars.full_name }}"
                   {% if form.show_map.vars.checked %}checked="checked"{% endif %}
                   switch>
            <label class="form-check-label mb-0" for="{{ form.show_map.vars.id }}">{{ form.show_map.vars.label|trans }}</label>
          </div>
          {% do form.show_options.setRendered %}
          {% do form.show_map.setRendered %}
        </div>
        </div>
    </div>
        <div id="search_options"
             class="col-12  {% if form.show_options.vars.checked %}d-block{% else %}d-none{% endif %}">
            <div class="row g-3">
                <div class="col-sm-4">
                    <div class="row g-0">
                        <div class="col-12 mb-2">
                            <span class="fw-bolder">{{ 'accommodation'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accommodation_yes) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accommodation_no) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.accessible) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="fw-bolder">{{ 'profile.information'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.has_profile_picture) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.has_about_me) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.has_comments) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="fw-bolder">{{ 'restrictions'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_alcohol) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_smoking) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.no_drugs) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row g-0">
                        <div class="col-12">
                            {{ form_row(form.can_host) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.keywords) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.groups) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.languages) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.last_active) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row g-0">
                        <div class="col-12">
                            {{ form_row(form.distance) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.min_age) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.max_age) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.gender) }}
                        </div>
                        <div class="col-12 mb-2">
                            <span class="fw-bolder">{{ 'offers'|trans }}</span>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.offers_dinner) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.offers_tour) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.order) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.direction) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.items) }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="u:flex u:justify-end">
                {% if form.resetOptions is defined %}
                    {{ form_widget(form.resetOptions) }}
                {% endif %}
                {{ form_widget(form.updateMap) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
  <input type="hidden" id="min_latitude" value="{{ searchParams.min_latitude }}">
  <input type="hidden" id="max_latitude" value="{{ searchParams.max_latitude }}">
  <input type="hidden" id="min_longitude" value="{{ searchParams.min_longitude }}">
  <input type="hidden" id="max_longitude" value="{{ searchParams.min_longitude }}">

   <div id="map-box"></div>

    <script>
        var mapMembers =
            {% if map_members %}
                {{ map_members | json_encode | raw }}
            {% else %}
                null
            {% endif %}
        ;
    </script>

    {% if members is not null and members.nbResults > 0 %}
        <div class="row g-0">
            {% include 'member/results.html.twig' %}
        </div>
    {% endif %}
{% endblock content %}
