{% extends 'base-lite.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    <h1>{{ 'Reset Password' | trans }}</h1>
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary pull-right">{{ 'Reset Password' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}