{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ menuItem.url }}">{{ menuItem.key | lower | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% if edit %}
        <h1>{{ 'admin.faq.edit.category' | trans}}</h1>
    {% else %}
        <h1>{{ 'admin.faq.create.category' | trans }}</h1>
    {% endif %}
    {{ form_start(form) }}
    <div class="o-form-group">
        {{ form_row(form.wordCode) }}
    </div>
    <div class="o-form-group">
        {{ form_row(form.description) }}
    </div>
    {{ form_end(form) }}
{% endblock %}