{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block subnav %}
    {% for filter,menuItem in submenu.items %}
        <a class="list-group-item nav-link {% if submenu.active == filter %}active{% endif %}"
           href="{{ menuItem.url }}">{{ menuItem.key | lower | trans }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% if edit %}
        <h1>{{ 'admin.faq.edit.category' | trans}}</h1>
    {% else %}
        <h1>{{ 'admin.faq.create.category' | trans }}</h1>
    {% endif %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.wordCode) }}
        {{ form_widget(form.wordCode) }}
        <small class="form-text text-muted">The word code to be used for the FAQ category. ("faq_cat_" will automatically be added at the start.)</small>
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <small class="form-text text-muted">The title of the category as shown in the menu of the faq pages.</small>
    </div>
    {{ form_end(form) }}
{% endblock %}