{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('admin/faqs') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ faqCategory.description | lower | trans({}, 'messages', 'en') }}<a class="float-right" href="{{ path('admin_faqs_category_edit', {'id' : faqCategory.id}) }}"><button class="btn btn-primary">{{ 'button.edit' | trans }}</button></a></h1>
    {% if faqs|length == 0 %}
        <p>{{ 'faqs.none' | trans }}</p>
        <p>{{ 'faqs.none.create' | trans }}<a class="float-right" href="{{ path('admin_faqs_faq_create', {'categoryId' : faqCategory.id}) }}"><button class="btn btn-primary">{{ 'faqs.button.create' | trans }}</button></a></p>
    {% else %}
        {{ form_start(form) }}
            {{ form_row(form.sortOrder) }}
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">FAQ</h5>
                    <p class="card-text">This shows the list of all FAQ in the above category. You can drag the cards to change the sort order.</p>
                    <p class="card-text text-right">
                        <a class="btn btn-primary" href="{{ path('admin_faqs_faq_create', {'categoryId' : faqCategory.id}) }}">{{ 'faqs.button.create' | trans }}</a>
                        <button type="submit" class="btn btn-primary">{{ 'label.admin.faq.update.order' | trans }}</button>
                    </p>
                </div>
            </div>
            <div id="faqs">
            {% for faq in faqs %}
                <div id="faq_{{ faq.id }}" class="card mb-1 {% if faq.Active == "Not Active" %}bg-secondary{% endif %}">
                    <div class="card-body">
                        <small {% if faq.Active == "Active" %}class="text-muted card-title"{% endif %}>{{ faq.QandA }}</small>
                        <div class="card-text"><em>Q: </em>{{ ('faqq_' ~ faq.QandA)|lower|trans|truncate(50)|purify }}</div>
                        <div class="card-text"><em>A: </em>{{ ('faqa_' ~ faq.QandA)|lower|trans|truncate(100)|purify }}</div>
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('admin_faqs_faq_edit', {'id' : faq.id}) }}">{{ 'faqs.button.edit' | trans }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">{{ 'label.admin.faq.update.order' | trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
