{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
    {{ 'admin.tools.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'admin.tools.headline' | trans }}</h1>
    <h2>{{ 'admin.tools.damage_done' | trans }}</h2>

    {% if damageDone|length %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th colspan="2">Spammer</th>
                    <th>Status</th>
                    <th colspan="2">Target</th>
                    <th>Status</th>
                </tr>
                {% for result in damageDone %}
                    <tr>
                        <td>{{ macros.avatar(result.Sender) }}</td>
                        <td>{{ macros.profilelink(result.Sender) }}</td>
                        <td>{{ result.SenderStatus }}<br/>{{ result.LastUpdated }}</td>
                        <td>{{ macros.avatar(result.Receiver) }}</td>
                        <td>{{ macros.profilelink(result.Receiver) }}</td>
                        <td>{{ result.ReceiverStatus }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        {{ 'admin.tools.nothing' | trans }}
    {% endif %}
{% endblock content %}