{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
    {{ 'admin.tools.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'admin.tools.headline' | trans }}</h1>
    <h2>{{ 'admin.tools.find_user' | trans }}</h2>

    {{ form(form) }}
    {% if members is defined %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                {% for member in members %}
                    <tr>
                        <td>{{ macros.avatar(member.username, 48) }}</td>
                        <td>{{ macros.profilelink(member.username) }}</td>
                        <td>{{ member.email }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock content %}
