{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
    {{ 'admin.tools.title' | trans }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/jquery_ui.js') }}"></script>
    <script src="{{ asset('build/member/autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}" />
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'admin.tools.headline' | trans }}</h1>
    <h2>{{ 'admin.tools.messages_last_week' | trans }}</h2>

    {{ form(form) }}

    {% if results|length %}
        <div class="row"><div class="col-12 table-responsive">
        <table class="table">
            <tr>
                <th colspan="2">Member 1</th>
                <th>Direction</th>
                <th colspan="2">Member 2</th>
            </tr>
        {%  for result in results %}
            <tr>
                <td>{{ macros.avatar(member.Username) }}</td>
                <td>{{ macros.profilelink(member.Username) }}<br>{% if (result.direction == 2) or (result.direction == 3) %}{{ result.last_received|date("Y-m-d") }}{% endif %}</td>
                <td>{{ result.direction }}<i class="fas fa-fw {% if (result.direction == 1) or (result.direction == 3) %}fa-arrow-left{% endif %}"></i><i class="fas fa-fw {% if (result.direction == 2) or (result.direction == 3)%}fa-arrow-right{% endif %}"></i></td>
                <td>{{ macros.avatar(result.username) }}</td>
                <td>{{ macros.profilelink(result.username) }}<br>{% if (result.direction == 1) or (result.direction == 3) %}{{ result.last_sent|date("Y-m-d") }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
            </div></div>
    {% endif %}
{% endblock content %}
