{% extends 'base.html.twig' %}

{% block title %}
    {{ 'wiki' | trans }}
{% endblock %}

{% block content %}
    {# Wiki form to create page content... #}
    {# Idea: Use CKEditor and map html to Wiki content #}

    <h1>{{ title | title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form.wiki_markup, {'attr': { 'rows': 20, 'class': 'mb-3' }}) }}
    {{ form_widget(form.submit, {'attr': { 'class': 'btn-primary mb-3' }}) }}
    {{ form_end(form) }}
{% endblock content %}
