{% extends 'base.html.twig' %}

{% block title %}
    {{ 'wiki' | trans }}
{% endblock %}

{% block content %}
    <h5><a href="{{ path('wiki_front_page') }}">Wiki</a></h5>
    <h1>{{ title | title }}</h1>

    {% if wikipage %}
        <div id="wiki" class="o-text">
            {{ content | raw }}
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <a class="btn btn-primary mb-3" href="{{ url('wiki_page_edit', { 'pageTitle': title}) }}">{{ 'wiki.page.edit' | trans }}</a>
            </div>
            <div class="col-12 col-sm-6 text-right">{{ 'version'| trans| capitalize }}: {{ wikipage.version }} -
                {{ 'wiki.page.created.by.on'|trans({'by': wikipage.author, 'on': wikipage.created|date('U')|format_datetime('short', 'short')}) }}
            </div>
        </div>

      <div class="u-flex u-justify-end u-my-8">
          {{ pagerfanta( history, 'rounded_pagination', { 'routeName': 'wiki_page', 'pageParameter': '[version]', 'routeParams': {'pageTitle': title} }) }}
      </div>

    {% else %}
       <div class="row">
           <div class="col-12">
               {{ 'wiki.version.not.found'|trans }}
           </div>
       </div>
    {% endif %}
{% endblock content %}
