{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.comments.all' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ headline | trans }}</h1>
    {% if comments.nbResults == 0 %}
        <p>{{ 'admin.comments.no.comments' | trans }}</p>
    {% else %}
        {% if comments.haveToPaginate %}
            <div class="row">
                <div class="col-12 pull-right">{{ pagerfanta( comments, 'rox_default') }}</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'from' | trans | capitalize }}</th>
                        <th>{{ 'comment' | trans | capitalize }}</th>
                        <th>{{ 'about' | trans | capitalize }}</th>
                        <th>{{ 'action' | trans | capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ macros.avatarstack(comment.fromMember.Username, 50) }}</td>
                        <td class="w-100">
                            <small class="text-muted">{{ 'comment.quality' | trans }}</small><br>
                            {{ ('CommentQuality_' ~ comment.Quality) | lower | trans }} ({{ 'written' | trans }} {{ comment.created }}{% if not comment.updated is null and comment.created != comment.updated %} &mdash; {{ 'updated' | trans }} {{ comment.updated }}{% endif %})<hr style="margin-top:.125rem; margin-bottom:.125rem;">
                            <small class="text-muted">{{ 'comment.text' | trans }}</small><br>
                            {{ comment.TextFree | nl2br }}<hr style="margin-top:.125rem; margin-bottom:.125rem;">
                            <small class="text-muted">{{ 'comment.know' | trans }}</small><br>
                            {% set relations = comment.relations | split(',') %}
                            {% for relation in relations %}{{ ('profile.comment.relation.' ~ relation) | lower | trans({'username': comment.toMember.Username}) }} {% endfor %}

                        </td>
                        <td>{{ macros.avatarstack(comment.toMember.Username, 50) }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_comment', { 'to_member' : comment.toMember.Username, 'from_member' : comment.fromMember.Username }) }}"><i class="fa fa-edit" title="{{ 'admin.comment.edit' | trans }}"></i></a><br/>
                            {% if comment.displayinpublic %}
                                <a href="{{ path('admin_comment_hide', { 'to_member' : comment.toMember.Username, 'from_member' : comment.fromMember.Username }) }}"><i class="fa fa-eye-slash" title="{{ 'admin.comment.hide' | trans }}"></i></a>
                            {% else %}
                                <a href="{{ path('admin_comment_show', { 'to_member' : comment.toMember.Username, 'from_member' : comment.fromMember.Username }) }}"><i class="fa fa-eye" title="{{ 'admin.comment.show' | trans }}"></i></a>
                            {% endif %}<br>
                            {% if comment.adminaction != constant('App\\Doctrine\\CommentAdminActionType::SAFETY_TEAM_CHECK') %}
                                <a href="{{ path('admin_comment_assign_safetyteam', { 'to_member' : comment.toMember.Username, 'from_member' : comment.fromMember.Username }) }}"><i class="fa fa-arrow-right" title="{{ 'admin.comment.assign.safety' | trans }}"></i></a><br/>
                            {% endif %}
                            {% if comment.adminaction != constant('App\\Doctrine\\CommentAdminActionType::ADMIN_CHECKED') %}
                                <a href="{{ path('admin_comment_mark_checked', { 'to_member' : comment.toMember.Username, 'from_member' : comment.fromMember.Username }) }}"><i class="fa fa-check" title="{{ 'admin.comment.checked' | trans }}"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
        {% if comments.haveToPaginate %}
            <div class="row">
                <div class="col-12 pull-right">{{ pagerfanta( comments, 'rox_default') }}</div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
