{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    <script>
        var delay = (function(){
            var timer = 0;
            return function(callback, ms, that){
                clearTimeout (timer);
                timer = setTimeout(callback.bind(that), ms);
            };
        })();
        $('#group_name').keyup(function() {
            delay(function(){
                var name = $('#group_name').val();

                $.ajax({
                    type: 'POST',
                    url: '/new/group/check',
                    data: {
                        name: name
                    },
                    success: function(data) {
                        $('#duplicates').html(data.html);
                    }
                });
            }, 1000, this);
        });
    </script>
{{ encore_entry_script_tags('bsfileselect.js') }}
{% endblock javascripts %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'group.create' | trans}}</h1>
    <p>{{ 'group.create.warning'|
        trans| escape | replace({'%link_start%': '<a href="/forums/rules#groups" target="_blank" class="text-primary">', '%link_end%': '</a>'})|raw }}</p>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}

    <div id="duplicates"></div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}
