{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    <h5><a href="{{ url('forums') }}">{{ 'communitydiscussions'|trans }}</a> &raquo; <a href="{{ url('groups_forums_overview') }}">{{ 'groups'|trans }}</a> &raquo; <a href="{{ url('group_start', {'group_id': group.id}) }}">{{ group.name }}</a></h5>
    <h3>{{ 'wiki' }}: {{ title | title }}</h3>

    {% if wikipage %}
        <div id="wiki">{{ wikipage | raw }}</div>

        <a class="btn btn-primary mb-3 float-right" href="{{ url('group_wiki_page_edit', { 'id': group.id} ) }}">{{ 'wiki.page.edit' | trans }}</a>
    {% else %}
        <div id="wiki">{{ 'group.wiki.no.wiki'|trans }}</div>
        <a class="btn btn-primary mb-3 float-right" href="{{ url('group_wiki_page_create', { 'id': group.id}) }}">{{ 'wiki.page.create' | trans }}</a>
    {% endif %}

{% endblock content %}