{% filter inline_css(source('emails/email.css')) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ subject }}</title>
</head>
<body>
<div id="message">
    <div class="header">
            <a href="{{ url('homepage') }}"><img
                        src="{{ email.image('@images/logo_index_top.png') }}" class="logo"></a>

    </div>

    <div class="content">
        {%- block content -%}{%- endblock content -%}
    </div>
    <div class="footer">
        <p>{{ "now" | date("Y") }} - <a class="footer_a" href="{{ url('homepage') }}" target="_blank">BeWelcome</a></p>
    </div>
</div>

</body>
</html>
{% endfilter %}
