{% extends 'emails/email.html.twig' %}

{% block content%}
    <p>Hi {{ creator.Username }},<br />
    Unfortunately the group named "{{ group.name }}" hasn't been approved.</p>
    <p>The group's description is:</p>
    <div>
        {% for locale, description in group.descriptions %}
        <small class="text-muted">{{ description.Language.WordCode|trans }} ({{ locale }})</small><br>{{ description.Sentence|purify }}
        {% endfor %}
    </div>
    <p>If you do not like this decision please contact the Forum moderators using the contact us form.</p>
    <p>Cheers,<br>
    Your mailer daemon</p>
{% endblock content %}