{% extends 'emails/email.html.twig' %}

{% block content%}
    <p>{% trans with {'%username%': creator.Username} %}email.greeting{% endtrans %}<br>
        <br>
    The group named "{{ group.name }}" you requested has been approved.</p>
    <p>The group's description is:</p>
    <div>
        {% for locale, description in group.descriptions %}
        <small class="text-muted">{{ description.Language.WordCode|lower|trans }} ({{ locale }})</small><br>{{ description.Sentence|purify }}
        {% endfor %}
    </div>
    <p>You should see the new group on your profile now. To go to the group pages directly please follow this <a href="{{ url('group_start', { 'group_id' : group.id}) }}">link</a></p>
    <p>Cheers,<br>
    Your mailer daemon</p>
{% endblock content %}
