{% extends 'emails/email_no_greeting.html.twig' %}

{% block content %}
    <p>{{ message.message | raw }}</p>
    <p><a href="{{ url('members_profile', {'username': message.sender.username}) }}">{{ 'message.profile'|trans({'username': sender.username}) }}</a>&nbsp;&bull;
        <a href="{{ url('message_reply', { 'id': message.id }) }}">{{ 'reply' | trans }}</a></p>
{% endblock %}
