{% apply inky_to_html|inline_css(encore_entry_css_source('email')) %}
    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns small="12" valign="middle">
                    <a href="{{ url('homepage') }}"><img
                                src="{{ email.image('@images/logo_index_top.png') }}"><</a>
                </columns>
            </row>
        </container>
    </wrapper>

    <container class="secondary">

        <spacer size="16"></spacer>

        <row>
            <columns>
                {{ wordcode|trans({'gender': receiver.gender, 'username': receiver.username})|prepare_newsletter }}
            </columns>
        </row>

        <wrapper>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <p>{{ 'newsletter.receive'|trans }}</p>
                    {% apply spaceless %}
                        <p>
                        {% if constant('\\App\\Entity\\Newsletter::SPECIFIC_NEWSLETTER') == newsletter_type  %}
                            <a href="{{ url('local_newsletter_unsubscribe', {'username': receiver.username, 'unsubscribeKey': unsubscribe_key }) }}">{{ 'newsletter.local.unsubscribe'|trans }}</a>
                        {% elseif constant('\\App\\Entity\\Newsletter::REGULAR_NEWSLETTER') == newsletter_type %}
                            <a href="{{ url('regular_newsletter_unsubscribe', {'username': receiver.username, 'unsubscribeKey': unsubscribe_key }) }}">{{ 'newsletter.regular.unsubscribe'|trans }}</a>
                        {% else %}
                            <a href="{{ url('newsletter_no_unsubscribe') }}">{{ 'newsletter.no.unsubscribe'|trans }}</a>
                        {% endif %}
                        </p>
                    {% endapply %}
                    <p>{{ "now" | date("Y") }} - <a href="{{ url('homepage') }}" target="_blank">BeWelcome</a></p>
                </columns>
            </row>
        </wrapper>

    </container>
{% endapply %}
