{% extends 'emails/email_no_greeting.html.twig' %}

{% block content %}
    <p>{{ 'relation.sender.says.exist'|trans({username:sender.Username}) }}</p>
    {% if not comment is empty %}
        <p>{{ 'relation.sender.added.comment'|trans }}</p>
        <p>{{ comment|purify }}</p>
    {% endif %}
    <row>
        <columns>
            <center>
        <button class="rounded" href="{{ url('confirm_relation', { 'username': receiver.Username }) }}">{{ 'relation.confirm'|trans }}</button>
            </center>
        </columns>
        <columns>
            <center>
            <button class="rounded" href="{{ url('delete_relation', { 'username': receiver.Username }) }}">{{ 'relation.dismiss'|trans }}</button>
        </center>
        </columns>
    </row>
{% endblock %}
