{% extends 'emails/email.html.twig' %}

{% block content%}
    {% trans with {'%username%': receiver.Username} %}email.greeting{% endtrans %}<br>
    {% trans with {'%username%': sender.Username} %}email.request.stay{% endtrans %}<br>
    <br>
    {{ 'request.arrival' | trans }}: {{ request.arrival.toDateString }}<br>
    {% if request.departure %}{{ 'request.departure' | trans }}: {{ request.departure.toDateString }}<br>{% endif %}
    {% if request.flexible %}{{ 'request.flexible' }}<br>{% endif %}
    {{ 'request.number_of_travellers' | trans}}: {{ request.numberOfTravellers }}<br>
    <br>
    {{ message | raw }}<br>
    <br>
    <a href="{{ url('hosting_request_reply', { 'id': message.id }) }}">{{ 'reply' | trans }}</a>
{% endblock %}