{% block content %}
    {% apply inline_css %}
        <style>
            {{ encore_entry_css_source('email') }}
        </style>
        {% apply inky_to_html %}
            {% if not initial is defined %}{% set initial = false %}{% endif %}
            <wrapper class="header" bgcolor="#f37000">
                <container>
                    <row class="collapse">
                        <columns small="12" valign="middle">
                            <a href="{{ url('homepage') }}"><img
                                    src="{{ email.image('@images/logo_index_top.png') }}"><</a>
                        </columns>
                    </row>
                </container>
            </wrapper>

            <container class="secondary">

                <spacer size="16"></spacer>

                <row>
                    <columns small="12" large="7" class="first">
                        <h4>{{ 'email.greeting'|trans({ 'username': receiver.Username, 'gender': receiver.gender}) }}</h4>
                        {% block message %}{% endblock %}
                    </columns>
                    <columns small="12" large="5" class="last">
                        <callout class="secondary">
                            <h5>{{ 'request.details'|trans }}</h5>
                            {% block request %}{% endblock %}
                        </callout>
                    </columns>
                </row>
                {% include 'emails/_buttons.html.twig' with {message: message, initial: initial} %}
                <row>
                    <columns>
                        <center>
                                <p>{{ "now" | date("Y") }} - <a href="{{ url('homepage') }}" target="_blank">BeWelcome</a></p>
                        </center>
                    </columns>
                </row>
            </container>
        {% endapply %}
    {% endapply %}
{% endblock content %}
