{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ 'admin.treasurer.campaign.start' | trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ 'button.start' | trans }}</button>
    <a href="{{ path('admin_treasurer_overview') }}" class="btn btn-secondary">{{ 'button.cancel' | trans }}</a>
    {{ form_end(form) }}
{% endblock %}
