{% extends 'base.html.twig' %}

{% block javascripts %}
{% endblock javascripts %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.subject.subject) }}
            {{ form_errors(form.subject) }}
            {{ form_row(form.message) }}
            {{ form_rest(form) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">{{ 'label.message.button.send' | trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

    {% include 'message/thread.html.twig' %}

{% endblock content %}
