{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="row no-gutters sticky-top py-1 bg-white messageheader mb-1 px-1 justify-content-between">
        {% set original = thread | last %}{% set request = original.Request %}
        {% set myself = app.user %}
        {% if original.Sender.Username == myself.Username %}{% set otherUser = original.Receiver %}{% else %}{% set otherUser = original.Sender %}{% endif %}
        {% if current.subject %}{% set currentSubject = current.Subject.Subject %}{% else %}{% set currentSubject = 'Conversation with ' ~ otherUser.Username %}{% endif %}
            <div>{{ macros.avatarstack(otherUser.Username, 50, false) }}</div>
            <div>
                <h3 id="MessageSubject" class="px-3 pt-1 text-truncate">{{ currentSubject }}</h3>
            </div>
        <div class="text-right">{{ macros.avatarstack(myself.Username, 50, true) }}</div>
    </div>
    <div class="row no-gutters justify-content-between mb-1">
        <div>{# Always add <div> so that the reply button is on the right hand side for larger displays #}
            {% if current.Sender == myself %}
                {% if thread|length > 1 %}
                    {% if current.folder == constant('App\\Doctrine\\InFolderType::SPAM') %}
                        <a class="btn btn-sm btn-primary" href="{{ path('message_mark_nospam', { id: thread[1].id }) }}">{{ 'marknospam' | trans }}</a>
                    {% else %}
                        <a class="btn btn-sm btn-primary" href="{{ path('message_mark_spam', { id: thread[1].id }) }}"><i class="fas fa-flag"></i> {{ 'markspam' | trans }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if current.folder == constant('App\\Doctrine\\InFolderType::SPAM') %}
                    <a class="btn btn-sm btn-primary" href="{{ path('message_mark_nospam', { id: thread[0].id }) }}">{{ 'marknospam' | trans }}</a>
                {% else %}
                    <a class="btn btn-sm btn-primary" href="{{ path('message_mark_spam', { id: thread[0].id }) }}"><i class="fas fa-flag"></i> {{ 'markspam' | trans }}</a>
                {% endif %}
            {%  endif %}
        </div>
        <div><a class="btn btn-sm btn-primary ml-auto" href="{{ path('message_reply', { id: thread[0].id }) }}">{{ 'message.button.reply' | trans }}</a></div>
    </div>

    {% include 'message/thread.html.twig' %}

    <div class="row no-gutters justify-content-between mb-1">
        {% if current.Sender != myself %}
            {% if current.folder == constant('App\\Doctrine\\InFolderType::SPAM') %}
                <div><a class="btn btn-sm btn-primary" href="{{ path('message_mark_nospam', { id: thread[0].id }) }}">{{ 'marknospam' | trans }}</a></div>
            {% else %}
                <div><a class="btn btn-sm btn-primary" href="{{ path('message_mark_spam', { id: thread[0].id }) }}"><i class="fas fa-flag"></i> {{ 'markspam' | trans }}</a></div>
            {% endif %}
        {%  endif %}
        <div><a class="btn btn-sm btn-primary ml-auto" href="{{ path('message_reply', { id: thread[0].id }) }}">{{ 'message.button.reply' | trans }}</a></div>
    </div>

{% endblock content %}
