{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="auto">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('/images/favicon.svg') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/images/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="beWelcome" />

    <title>
        {%- if block('title') is defined -%}
            {{ block('title') | trim }} |
        {%- endif -%} BeWelcome
    </title>

    <meta name="description" content="{{ 'default_meta_description' | trans }}">
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
    <meta name="robots" content="{{ 'robots' | trans }}">

    {#{% include '@base/stylesheets.html.twig' %}#}
    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}#}

    {{ encore_entry_link_tags('bewelcome') }}
    {{ encore_entry_link_tags('tailwind') }}
    {% block stylesheets %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-sticky-top navbar-expand-md navbar-dark bg-primary bordert-1 borderb-1">
        <div class="container-lg">
            <a class="navbar-brand" href="{{ url('homepage') }}">
                <div class="u:flex u:flex-row u:h-[40px] u:w-[220px]">
                    <img class="u:pl-4 u:md:pl-8 u:md:pr-8" src="{{ asset('images/logo_icon_2025.svg') }}" alt="BeWelcome logo"/>
                    <img class="" src="{{ asset('images/logo_text_2025.svg') }}" alt="BeWelcome text"/>
                </div>
            </a>
        </div>
    </nav>
    <main role="main">
        <noscript><div class="container-lg"><div class="alert alert-danger"><p class="h5">You need to activate Javascript for bewelcome.org</p><small>Without it some function won't work.</small></div></div></noscript>
        <div class="container-lg">
            {% for label, messages in app.flashes %}
                <div class="row">
                    {% for message in messages %}
                        <div class="col-12">
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="container-lg">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
    {{ encore_entry_script_tags('bewelcome') }}
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
