{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>
        {%- spaceless -%}
            {% if block('title') is defined %}
                {{ block('title') | trim }} |
            {% endif %} BeWelcome
        {%- endspaceless -%}
    </title>

    <meta name="description" content="{{ 'default_meta_description' | trans }}">
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
    <meta name="robots" content="{{ 'robots' | trans }}">

    {#{% include '@base/stylesheets.html.twig' %}#}
    {#{% include '@base/scriptfiles.html.twig' with {scriptFiles : earlyScriptFiles} %}#}

    {{ encore_entry_link_tags('bewelcome') }}
</head>
<body>
    <nav class="navbar navbar-sticky-top navbar-expand-md navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
        <div class="container-lg">
            <a class="navbar-brand mr-3 float-left" href="{{ url('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}" alt="BeWelcome"/></a>
        </div>
    </nav>
    <main role="main">
        <noscript><div class="container-lg"><div class="alert alert-danger"><p class="h5">You need to activate Javascript for bewelcome.org</p><small>Without it some function won't work.</small></div></div></noscript>
        <div class="container-lg">
            {% for label, messages in app.flashes %}
                <div class="row">
                    {% for message in messages %}
                        <div class="col-12">
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="container-lg">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
    {{ encore_entry_script_tags('bewelcome') }}
    <script type="application/javascript">
        $(".select2").select2({
            theme: 'bootstrap',
            containerCssClass: 'form-control'
        });
    </script>
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
