{%- import _self as helper -%}
{% if app.user %}
{%- set hasEnglishRights = app.user.hasRightsForLocale('en') -%}
{%- set hasCurrentLocaleRights = app.user.hasRightsForLocale(app.request.locale) -%}
{% endif %}
<footer>
    <div id="footer_content" class="stickyfooter my-0 py-0">
        <div class="container my-1">
            <div class="row align-items-center row justify-content-end">
                <div class="col-sm-8">
                    <form method="post">
                        <div class="form-group form-row">
                            <label for="language" class="col-auto col-form-label">
                            {{ 'footer.site.language' | trans }}
                            </label>
                            <select id="language" name="language" class="col-auto form-control-sm select2"
                                onchange="window.location.href=this.value; return false">
                                {% for lang in locales %}
                                    <option {% if lang == app.request.locale %}selected="selected"{% endif %}
                                            value="{{ path('language', { locale: lang }) }}">{{ language_name(lang) }}
                                        ({{ language_name_translated(lang, app.request.locale) }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-row float-md-right">
                            {% if is_granted('ROLE_ADMIN_WORDS') and hasCurrentLocaleRights %}
                                <label for="translation_mode" class="col-auto col-form-label">
                                    {{ 'translation.mode' | trans }}
                                </label>
                                <select id="translation_mode" name="translation_mode" class="form-control-sm select2"
                                        data-minimum-results-for-search="-1"
                                        onchange="window.location.href=this.value; return false">
                                    <option {% if app.session.get('translation_mode') == 'on' %}selected="selected"{% endif %}
                                            value="{{ url('translation_mode', {mode: 'on'}) }}">
                                        {{ 'on' | trans }}
                                    </option>
                                    <option {% if app.session.get('translation_mode') != 'on' %}selected="selected"{% endif %}
                                            value="{{ url('translation_mode', {mode: 'off'}) }}">
                                        {{ 'off' | trans }}
                                    </option>
                                </select>
                            {% else %}
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-sm btn-outline-primary pull-right"
                                    href="groups/60">{{ 'translation.help' | trans }}</a>
                                {% endif %}
                            {% endif %}
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <a href="{{ url('about') }}" class="font-weight-bold">{{ 'aboutuspage' | trans }}</a> &bull;
                    <a href="{{ url('donate') }}">{{ 'donate' | trans }}</a> &bull;
                    <a href="{{ url('terms_of_use', {'locale': app.request.locale}) }}" class="footnav" target="new">{{ 'termsofuse' | trans }}</a> &bull;
                    <a href="{{ url('privacy_policy', {'locale': app.request.locale}) }}" class="footnav" target="new">{{ 'privacy' | trans }}</a> &bull;
                    <a href="{{ url('data_rights', {'locale': app.request.locale}) }}" class="footnav" target="new">{{ 'datarights' | trans }}</a> &bull;
                    <a href="{{ url('imprint') }}" class="footnav">{{ 'impressum' | trans }}</a> &bull;
                    <a href="{{ url('about_faq') }}" class="footnav">{{ 'faq' | trans }}</a> &bull;
                    <a href="{{ url('feedback') }}" class="footnav">{{ 'contactus' | trans }}</a> &bull;
                    <a href="{{ url('feedback', { IdCategory: 1, RequestURI: url('homepage')}) }}" class="footnav">{{ 'footer.reportbug' | trans }}</a>
                </div>
                <div class="col-12 mt-1">
                    &copy; 2007 &mdash; {{ "now" | date("Y") }} <a href="https://www.bevolunteer.org/"
                                                                   target="_blank">BeVolunteer</a> and contributors

                    - <em>Running on open source <a class="d-inline" href="https://github.com/bewelcome/rox">BW
                            Rox</a> rev. <a
                                href="https://github.com/BeWelcome/rox/commit/{{ version }}">{{ version }}</a>
                        ({{ version_dt }})</em>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN_WORDS') and app.session.get('translation_mode') == 'on' %}
        <div id="translations" class="container-lg">
            {% set translations = getTranslations() %}
            {% set collector = translations.collector %}
            {% if collector.messages|length %}
                <div class="row">
                    <div class="col-12">
                        <h2>{{ 'translation.information' | trans }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 metrics">
                        <div class="metric">
                            <span class="value">{{ app.request.locale }}</span>
                            <span class="label">Locale</span>
                        </div>
                        <div class="metric">
                            <span class="value">en</span>
                            <span class="label">Fallback Locale</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>{{ 'translation.translatable' | trans }}</h2>
                    </div>
                </div>
                {% block messages %}
                    {% set messages_defined, messages_missing, messages_fallback = [], [], [] %}
                    {% for message in collector.messages %}
                        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
                            {% set messages_defined = messages_defined|merge([message]) %}
                        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
                            {% set messages_missing = messages_missing|merge([message]) %}
                        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
                            {% set messages_fallback = messages_fallback|merge([message]) %}
                        {% endif %}
                    {% endfor %}
                    <ul class="nav mb-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link pl-0" id="defined-tab" data-toggle="tab" href="#defined" role="tab"
                               aria-controls="defined" aria-selected="true">
                                <div class="metric">
                                    <span class="value">{{ collector.countDefines }}</span>
                                    <span class="label">Existing translations</span>
                                </div>
                            </a>
                        </li>
                        {# Show fallback count only if any exist #}
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#fallback" role="tab"
                               aria-controls="fallback" aria-selected="false">
                                <div class="metric">
                                    <span class="value">{{ collector.countFallbacks }}</span>
                                    <span class="label">Fallback translations</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#missing" role="tab"
                               aria-controls="missing" aria-selected="false">
                                <div class="metric">
                                    <span class="value">{{ collector.countMissings }}</span>
                                    <span class="label">Missing IDs</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="row tab-pane fade mb-2" id="defined" role="tabpanel"
                             aria-labelledby="defined-tab">
                            {% if messages_defined is empty %}
                                <div class="col-12">
                                    <p>None of the used translation messages are defined for the given locale.</p>
                                </div>
                            {% else %}
                                <div class="col-12"><h1>{{ 'translation.existing' | trans }}</h1>
                                    <small class="text-muted">{{ 'translation.existing.info' | trans }}</small>
                                </div>
                                {% block defined_messages %}
                                    {{ helper.render_table(messages_defined, hasEnglishRights) }}
                                {% endblock %}
                            {% endif %}
                        </div>
                        <div class="row tab-pane fade mb-2" id="fallback" role="tabpanel"
                             aria-labelledby="fallback-tab">
                            {% if messages_fallback is empty %}
                                <div class="col-12">
                                    <p>No fallback translation messages were used.</p>
                                </div>
                            {% else %}
                                <h1>{{ 'translation.fallback' | trans }}</h1>
                                <small class="text-muted">{{ 'translation.fallback.info' | trans }}</small>
                                {% block fallback_messages %}
                                    {{ helper.render_table(messages_fallback, hasEnglishRights) }}
                                {% endblock %}
                            {% endif %}
                        </div>
                        <div class="row tab-pane fade mb-2" id="missing" role="tabpanel"
                             aria-labelledby="missing-tab">
                            {% if messages_missing is empty %}
                                <div class="col-12">
                                    <p>There are no messages of this category.</p>
                                </div>
                            {% else %}
                                {{ 'translation.keyword.doesnt.exist' | trans }}
                                {% block missing_messages %}
                                    {{ helper.render_table(messages_missing, hasEnglishRights) }}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                {% endblock messages %}
            {% endif %}
        </div>
    {% endif %}
</footer>
{% macro render_table(messages, hasEnglishRights) %}
    {# We should always get messages but better be safe than sorry. #}
    {% if messages|length %}
        {% set state = messages[0].state %}
    <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                {% if state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
                <th>{{ 'translations.id.and.message' | trans }}</th>
                <th>{{ 'translations.translated.message' | trans }}</th>
                <th></th>
                {% else %}
                <th>{{ 'translations.id.and.message' | trans }}</th>
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td {% if state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}class="w-25"{% else %}class="w-100"{% endif %}>
                        <small class="text-muted m-0">{{ message.id }}
                            {% if not state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}|{{ message.domain }}{% endif %}
                        </small>
                        <p class="m-0">{{ message.id | trans( {}, message.domain, 'en' ) | truncate(50) }}</p>
                        {% if message.transChoiceNumber is not null %}
                            <small class="newline">(pluralization is used)</small>
                        {% endif %}

                        {% if message.parameters|length > 0 %}
                            {% for parameter in message.parameters %}
                                {# dump(parameters) #}
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% if state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
                        <td class="w-75">
                            <small class="m-0 text-muted">{{ message.domain }}</small>
                            <p class="m-0">{{ message.translation | truncate(50)  }}</p>
                        </td>
                    {% endif %}
                    <td class="text-right">
                        <small class="m-0">&nbsp;</small>
                        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
                            <a href="{{ url('translation_edit', { code: message.id, locale: app.request.locale }) }}" target="_blank"><i class="fa fa-edit"></i></a>
                        {% endif %}
                        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') and hasEnglishRights %}
                            {% if message.id %}
                                <a href="{{ url('translation_create', { translationId: message.id, domain: message.domain, locale: locale }) }}" target="_blank"><i class="fa fa-plus"></i></a>
                            {% else %}
                                message.id not correctly set.
                            {% endif %}
                        {% endif %}
                        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
                            <a href="{{ url('translation_add', { code: message.id, locale: app.request.locale }) }}" target="_blank"><i class="fa fa-plus"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endmacro %}
