{% import 'macros.twig' as macros %}
<!-- #nav: main navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-primary bordert-1 borderb-1">
    <div class="container">

        <a class="navbar-brand ml-3" href="{{ path('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}"
                                                                        alt="{{ 'bewelcome' | trans }}"></a>

        <button class="navbar-toggler btn btn-primary mr-3" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
            <span><i class="fa fa-sign-in-alt pr-1"></i>{{ 'login' | trans }}</span>
        </button>

        <div class="collapse navbar-collapse my-1" id="navbarToggler">
            <div class="d-sm-block d-md-none">
                <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                    {{ macros.input('_username', 'Username') }}
                    {{ macros.input('_password', 'Password', '', 'password') }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {{ macros.submit('Login') }}
                </form>
            </div>
            <div>
                <ul class="nav navbar-nav mr-auto ml-md-3">
                    <li class="nav-item float-left d-none d-md-block">
                        <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                            {{ macros.input('_username', 'Username') }}
                            {{ macros.input('_password', 'Password', '', 'password') }}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {{ macros.submit('Login') }}
                        </form>
                    </li>
                    <li class="d-none d-md-inline-block mt-2"><span class="mt-1 mr-2">{{ 'or' | trans }}</span><a
                                href="/signup" class="btn btn-primary">{{ 'navbar.button.signup'|trans }}</a></li>
                    <li class="d-block d-md-none mx-1"><a href="/signup"
                                                          class="btn btn-block btn-outline-light">{{ 'navbar.button.signup'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto float-right">
                {% set langsel -%}
                    <select id="language" name="language" class="col-auto small select2 combo"
                            onchange="window.location.href=this.value; return false">
                        {% for lang in languages %}
                            <option {% if lang['ShortCode'] == app.request.locale %}selected="selected"{% endif %}
                                    value="{{ path('language', { locale: lang['ShortCode'] }) }}">{{ lang['Name']|raw }}
                                ({{ lang['TranslatedName']|raw }})
                            </option>
                        {% endfor %}
                    </select>
                {%- endset %}
                {{ langsel }}
            </div>
        </div>
    </div>
</nav>
