{% import 'macros.twig' as macros %}
{% set slim_nav = slim_nav|default(false) %}
<nav id="main_menu" class="navbar sticky-top navbar-dark navbar-expand bg-primary justify-content-between{% if slim_nav %} loginbar--slim{% endif %}">
    <div class="container-lg bw-topbar__container">
        <ul id="collapsing_menu" class="navbar navbar-nav">
            <li class="nav-item">
                <a id="brand_image" class="navbar-brand" href="{{ url('homepage') }}">
                    {% include 'logo.html.twig' %}
                </a>
            </li>
            {% if not slim_nav %}
                {% include 'login_form_navbar.html.twig' %}
            {% endif %}
        </ul>
        <ul id="static_menu" class="navbar navbar-nav align-items-center">
            {% if not slim_nav %}
                {% include 'login_form_dropdown.html.twig' %}
            {% endif %}
            {% if slim_nav %}
                <li class="nav-item d-flex align-items-center flex-wrap justify-content-end loginbar-slim__cta text-right px-1 px-sm-2">
                    <span class="small text-white-50 mr-1 d-none d-sm-inline">{{ 'menu.already.a.member' | trans }}</span>
                    <a class="small font-weight-bold text-white text-nowrap" href="{{ url('security_login') }}">{{ 'login' | trans }}</a>
                </li>
            {% endif %}
            {% if slim_nav %}
                <li class="nav-item d-flex align-items-center loginbar-slim__sep text-white-50 px-1" aria-hidden="true"><span>|</span></li>
            {% endif %}
            <li class="nav-item dropdown">
                <button type="button"
                        class="text-nowrap dropdown-toggle{% if slim_nav %} btn btn-sm text-white border-0 shadow-none bg-transparent loginbar-slim__lang-toggle{% else %} btn btn-primary border{% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'menu.language.toggle'|trans }}">{{ language_name(app.request.locale) }}</button>
                <div id="language_dropdown" class="dropdown-menu dropdown-menu-right u-w-150 md:u-w-300 u-max-h-[50vh] u-overscroll-contain u-overflow-y-auto">
                    <div class="u-grid u-grid-cols-1 md:u-gap-8 md:u-grid-cols-2 u-p-8">
                        {% for lang in locales %}
                            <a class="dropdown-item {% if lang == app.request.locale %}u:bg-bewelcome{% endif %} u:my-4 u:p-4" href="{{ path('language', { locale: lang }) }}">
                                {{ language_name(lang) }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
