{% import 'macros.twig' as macros %}
<nav id="main_menu" class="navbar sticky-top navbar-dark navbar-expand bg-primary justify-content-between">
    <div class="container-lg">
        <ul id="collapsing_menu" class="navbar navbar-nav">
            <li class="nav-item">
                <a id="brand_image" class="navbar-brand" href="{{ url('homepage') }}">
                    <img class="d-none d-lg-block" src="{{ asset('images/logo_index_top.png') }}" alt="BeWelcome"/>
                    <img class="pl-1 d-block d-lg-none" src="{{ asset('images/logo_no_text.png') }}" alt="BeWelcome"/>
                </a>
            </li>
            {% include 'login_form_navbar.html.twig' %}
        </ul>
        <ul id="static_menu" class="navbar navbar-nav">
            {% include 'login_form_dropdown.html.twig' %}
            <li class="nav-item dropdown">
                <button class="btn btn-primary border text-nowrap dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'menu.language.toggle'|trans }}">{{ language_name(app.request.locale) }}</button>
                <ul id="language_dropdown" class="dropdown-menu dropdown-menu-right" style="max-height:100vh; overflow-y: auto; column-count: 2">
                    {% for lang in locales %}
                        <li><a class="dropdown-item {% if lang == app.request.locale %}bg-primary{% endif %} m-1" href="{{ path('language', { locale: lang }) }}">
                                {{ language_name(lang) }}
                            </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
                <button class="border bg-primary mr-1 d-none" id="hamburger" type="button" data-toggle="collapse" data-target="#hamburger_collapse" aria-controls="hamburger_collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="collapse navbar-dark bg-primary" id="hamburger_collapse">{#  style="position:relative; top: 100%; right: 0" #}
    <div class="container-lg">
        <ul id="hamburger_menu" class="navbar-nav text-right"></ul>
    </div>
</div>
