{% import 'macros.twig' as macros %}
<!-- #nav: main navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-primary bordert-1 borderb-1">
    <div class="container">

        <a class="navbar-brand ml-3" href="{{ path('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}"
                                                                        alt="{{ 'bewelcome' | trans }}"></a>

        <button class="navbar-toggler btn btn-primary mr-3" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
            <span><i class="fa fa-sign-in-alt pr-1"></i>{{ 'login' | trans }}</span>
        </button>

        <div class="collapse navbar-collapse my-1" id="navbarToggler">
            <div class="d-sm-block d-md-none">
                <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                    <div class="form-group floating-label mr-1">
                        <label for="_username_1" class="sr-only">Username</label>
                        <input class="form-control m-1" type="text" id="_username_1" name="_username" placeholder="{{ 'username'|trans }}" value="" />
                    </div>
                    <div class="form-group floating-label mr-1">
                        <label for="_password_1" class="sr-only"></label>
                        <input class="form-control m-1" type="password" id="_password_1" name="_password" placeholder="{{ 'password'|trans }}" value="">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="login-r-1" value="1"
                               name="_remember_me"><label for="login-r-1" class="form-check-label">
                            &nbsp;{{ 'stayloggedin' | trans }}
                        </label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {{ macros.submit('Login') }}
                </form>
            </div>
            <div>
                <ul class="nav navbar-nav mr-auto ml-md-3">
                    <li class="nav-item d-none d-md-block">
                        <form class="form-inline p-1" method="post" action="{{ url('security_check') }}">
                            <div class="form-group floating-label mr-1">
                                <input class="form-control" type="text" id="_username_2" name="_username" placeholder="{{ 'username'|trans }}" autofocus>
                                <label for="_username_2">{{ 'username'|trans }}</label>
                            </div>
                            <div class="form-group floating-label mr-1">
                                <input class="form-control" type="password" id="_password_2" name="_password" placeholder="{{ 'password'|trans }}">
                                <label for="_password_2">{{ 'password'|trans }}</label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary border-white" id="loginDropdownButton">{{ 'indexpageloginsubmit' | trans }}</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu white">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="login-r-2" value="1"
                                               name="_remember_me"><label for="login-r-2" class="form-check-label">
                                            &nbsp;{{ 'stayloggedin' | trans }}
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="d-none d-md-inline-block p-1"><span class="mx-2">{{ 'or' | trans }}</span><a
                                href="{{ url('signup') }}" class="btn btn-primary border-white">{{ 'navbar.button.signup'|trans }}</a></li>
                    <li class="d-block d-md-none mx-1"><a href="{{ url('signup') }}"
                                                          class="btn btn-block btn-outline-light">{{ 'navbar.button.signup'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto float-right">
                {% set langsel -%}
                    <select id="language" name="language" class="col-auto small select2 combo"
                            onchange="window.location.href=this.value; return false">
                        {% for lang in languages %}
                            <option {% if lang['ShortCode'] == app.request.locale %}selected="selected"{% endif %}
                                    value="{{ path('language', { locale: lang['ShortCode'] }) }}">{{ lang['Name']|raw }}
                                ({{ lang['TranslatedName']|raw }})
                            </option>
                        {% endfor %}
                    </select>
                {%- endset %}
                {{ langsel }}
            </div>
        </div>
    </div>
</nav>
