<li id="login_signup" class="nav-item">
    <form class="ml-auto form-inline" method="post" action="{{ url('security_check') }}">
        <div class="form-label-group my-1 ml-md-1 mr-0 m-lg-1">
            <input class="form-control" type="text" id="_username_1" name="_username" placeholder="{{ 'username'|trans }}" autofocus="">
            <label for="_username_1">{{ 'username'|trans }}</label>
        </div>
        <div class="form-label-group my-1 ml-md-1 mr-0 m-lg-1">
            <input class="form-control" type="password" id="_password_1" name="_password" placeholder="{{ 'login.password'|trans }}">
            <label for="_password_1">{{ 'password'|trans }}</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="btn-group m-1">
            <button type="submit" class="btn btn-primary border-white" id="login">{{ 'indexpageloginsubmit' | trans }}</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu text-white">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="login-r-1" value="1"
                           name="_remember_me"><label for="login-r-1" class="form-check-label">
                        &nbsp;{{ 'stayloggedin' | trans }}
                    </label>
                </div>
            </div>
        </div>
        <a class="btn btn-primary border-white m-1" href="{{ url('signup') }}">{{ 'navbar.button.signup'|trans }}</a>
    </form>
</li>
