{% macro input(name, placeholder, value, type) %}
    <label for="{{ name }}" class="sr-only">{{ placeholder|trans }}</label>
    <input class="o-input m-1" type="{{ type|default('text') }}" name="{{ name }}" placeholder="{{ placeholder|trans }}"
           value="{{ value|e }}" />
{% endmacro %}

{% macro submit(text, class = false) %}
    <button class="o-input btn btn-primary{%  if class %}{{ class }}{% endif %}" type="submit">{{ text|trans }}</button>
{% endmacro %}

{% macro select(name, values, value, class) %}
    {# Source: https://github.com/joomla/jissues/blob/master/templates/fields.twig #}
    <select name="{{ name }}" {% if class %} class="{{ class }}"{% endif %}>
        {% for key, name in values %}
            <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2(name, class, placeholder, values, value, allowClear, noSearchBox, width) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}select2"
            {% if placeholder %}data-placeholder="{{ placeholder }}"{% endif %}
            {% if allowClear %}data-allow-clear="{{ allowClear }}"{% endif %}
            {% if noSearchBox %}data-minimum-results-for-search="-1"{% endif %}
            {% if width %}style="width: {{ width }}em;"{% endif %}>
        {% for key, name in values %}
            {% if key == -1 %}
                <option></option>
            {% else %}
                <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2ajax(name, class, placeholder, value, text) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}" style="width: 100%"
            {% if placeholder %}data-placeholder="{{ placeholder }}"{% endif %}
        >

        <option value="{{ value }}" selected="selected">{{ text }}</option>
    </select>
{% endmacro %}

{% macro avatar(username, size, linked = false, addimage = false, addlink = false, newpage = false) %}
    {% import _self as macros %}
    {% set imgclasses %}profileimg{% if addimage %} {{ addimage }}{% endif %}{% endset %}
    {% set linkclasses %}{% if addlink %} {{ addlink }}{% endif %}{% endset %}
    {% set img %}<img class="{{ imgclasses }} avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {% if linked %}
        {{ macros.profilelink(username, img, linkclasses, newpage) }}
    {% else %}
        {{ img }}
    {% endif %}
{% endmacro %}

{# \todo align left/right depending on right parameter #}
{% macro avatarstack(username, size = 50, right, displayname = true) %}
    {% import _self as macros %}
    {% set img %}<img class="profileimg avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {{ macros.profilelink(username, img) }}
    {% if displayname %}<br><small>{{ macros.profilelink(username) }}</small>{% endif %}
{% endmacro %}

{# \new avatar for trip pages #}
{% macro roundedavatarstack(username, size, right, displayname = true) %}
    {% import _self as macros %}
    {% set img %}<img class="o-avatar__img" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {{ macros.profilelink(username, img, 'o-avatar__img-wrapper') }}
    {% if displayname %}
        {{ macros.profilelink(username, username, 'o-avatar__name') }}
    {% endif %}
{% endmacro %}

{% macro profilelink(username, displayname = false, classes = false, newpage = false) %}
<a href="{{ path( 'members_profile', { 'username': username }) }}"
   {% if classes %}class="{{ classes }}" {% endif %}
   {% if newpage %}target="_blank"{% endif %}>{% if displayname %}{{ displayname }}{% else %}{{ username }}{% endif %}</a>
{% endmacro %}

{% macro link( route, type ) %}
    {% set class = 'default' %}
    {% if type == 'dropdown'  %}
        {% set class = 'dropdown-item' %}
    {% endif %}
    <a class="{{ class }}" href="{{ path( route | lower ) }}">{{ route | trans }}</a>
{% endmacro %}

{% macro messageheader(thread, show_deleted = false, show_buttons = true) %}
    {% import _self as macros %}
    {% set myself = app.user %}
    {% set current = thread|first %}
    {% set correspondent = (current.sender == myself) ? current.receiver : current.sender %}
    {% if current.subject %}{% set subject = current.Subject.Subject %}{% else %}{% set subject = 'conversation.with'|trans({'username':correspondent.Username}) %}{% endif %}
    <div class="u-flex u-justify-between bg-white p-1 u-rounded-4 mb-1">
        <div class="o-avatar">{{ macros.roundedavatarstack(correspondent.Username, 48, false) }}</div>
        <div class="u-text-32 u-leading-48 u-self-center u-text-center u-text-black u-font-700 u-line-clamp-3">{{ subject }}</div>
        <div class="o-avatar">{{ macros.roundedavatarstack(myself.Username, 48, true) }}</div>
    </div>
    {% if show_buttons %}
    <div class="u-flex u-justify-between bg-white p-1 mb-1 u-rounded-4">
        <div>{# Always add <div> so that the reply button is on the right hand side for larger displays #}
            {% if not show_deleted %}
                <a class="btn btn-sm btn-outline-secondary mr-1" href="{{ url('conversation_delete', {'id': current.id}) }}"><i class="fa fa-trash"></i> {{ 'delete'|trans }}</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary mr-1" href="{{ url('conversation_recover', {'id': current.id}) }}">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-trash"></i>
                        <i class="fas fa-slash" style="color:red"></i>
                    </span> {{ 'recover'|trans }}</a>
            {% endif %}
            {% if current.Sender == myself %}
                {% if thread|length > 1 %}
                    {% if current.folder == constant('App\\Doctrine\\InFolderType::SPAM') %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('conversation_mark_nospam', { id: thread[1].id }) }}">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-flag"></i>
                            <i class="fas fa-slash" style="color:red"></i>
                        </span> {{ 'marknospam' | trans }}</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('conversation_mark_spam', { id: thread[1].id }) }}"><i class="fas fa-flag"></i> {{ 'markspam' | trans }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if current.folder == constant('App\\Doctrine\\InFolderType::SPAM') %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('conversation_mark_nospam', { id: thread[0].id }) }}">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-flag"></i>
                            <i class="fas fa-slash" style="color:red"></i>
                        </span> {{ 'marknospam' | trans }}</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('conversation_mark_spam', { id: thread[0].id }) }}"><i class="fas fa-flag"></i> {{ 'markspam' | trans }}</a>
                {% endif %}
            {%  endif %}
        </div>
        <div><a class="btn btn-sm btn-primary ml-1" href="{{ path('conversation_reply', { id: thread[0].id }) }}">{{ 'message.button.reply' | trans }}</a></div>
    </div>
    {% endif %}
{% endmacro %}

{% macro messageheader_no_buttons(thread) %}
    {% import _self as macros %}
    {{ macros.messageheader(thread, false, false) }}
{% endmacro %}

{% macro new_conversation_header(sender, receiver, headline) %}
    {% import _self as macros %}
    <div class="u-flex u-justify-between bg-white p-1 mb-2">
        <div class="o-avatar">{{ macros.roundedavatarstack(receiver.Username, 50, false) }}</div>
        <div class="u-items-between">
            <div class="u-text-32  u-text-center u-leading-48 u-text-black u-font-700 u-ellipsis">{{ headline | trans | format(receiver.Username) }}
                <a class="u-text-16 u-align-top" href="{{ url('all_conversations_with', {'username': receiver.Username}) }}">
                    <i class="fas fa-mail-bulk"
                       title="{{ 'messages_allmessageswith' | trans | format(receiver.Username) }}"></i>
                </a>
            </div>
            {% set languages %}{% for level in receiver.languageLevels %}
                {% apply spaceless %}
                    {{ ('lang_' ~ level.language.shortcode) | trans }}<span class="d-none d-md-inline">
                    ({{ ('languagelevel_' ~ level.level) | lower | trans }})</span>
                    {%- if not loop.last -%}
                        ,
                    {%- endif -%}
                {% endapply %}
            {% endfor %}{% endset %}
            <div class="u-text-16 u-line-clamp-2">{{ 'lives.and.speaks' | trans({'city': receiver.city.name ~ ', ' ~ receiver.city.country.name | capitalize, 'languages': languages }) | raw }}</div>
        </div>
        <div class="o-avatar">{{ macros.roundedavatarstack(sender.Username, 50, true) }}</div>
    </div>
{% endmacro %}
