{% macro input(name, placeholder, value, type) %}
    <label for="{{ name }}" class="visually-hidden">{{ placeholder|trans }}</label>
    <input class="o-input m-1" type="{{ type|default('text') }}" name="{{ name }}" placeholder="{{ placeholder|trans }}" value="{{ value|e }}"/>
{% endmacro %}

{% macro submit(text, class = false) %}
    <button class="o-input btn btn-primary{%  if class %}{{ class }}{% endif %}" type="submit">{{ text|trans }}</button>
{% endmacro %}

{% macro select(name, values, value, class) %}
    {# Source: https://github.com/joomla/jissues/blob/master/templates/fields.twig #}
    <select name="{{ name }}" {% if class %} class="{{ class }}" {% endif %}>
        {% for key, name in values %}
            <option value="{{ key }}" {% if value == key %} selected="selected" {% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2(name, class, placeholder, values, value, allowClear, noSearchBox, width) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}js-tom-select" {% if placeholder %} data-placeholder="{{ placeholder }}" {% endif %} {% if allowClear %} data-allow-clear="{{ allowClear }}" {% endif %} {% if noSearchBox %} data-minimum-results-for-search="-1" {% endif %} {% if width %} style="width: {{ width }}em;" {% endif %}>
        {% for key, name in values %}
            {% if key == -1 %}
                <option></option>
            {% else %}
                <option value="{{ key }}" {% if value == key %} selected="selected" {% endif %}>{{ name }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2ajax(name, class, placeholder, value, text) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}" style="width: 100%" {% if placeholder %} data-placeholder="{{ placeholder }}" {% endif %}>

        <option value="{{ value }}" selected="selected">{{ text }}</option>
    </select>
{% endmacro %}

{% macro avatar(username, size = 48, linked = false, addimage = false, addlink = false, newpage = false) %}
  {% import _self as macros %}
    {% set imgclasses %}profileimg
    {% if addimage %}
        {{ addimage }}
    {% endif %}
    {% endset %}
    {% set linkclasses %}
    {% if addlink %}
        {{ addlink }}
    {% endif %}
    {% endset %}
    {% set img %}<img class="{{ imgclasses }} avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {% if linked %}
        {{ macros.profilelink(username, img, linkclasses, newpage) }}
    {% else %}
        {{ img }}
    {% endif %}
{% endmacro %}

{# \todo align left/right depending on right parameter #}
{% macro avatarstack(username, size = 50, right, displayname = true) %}
    {% import _self as macros %}
    {% set img %}<img class="profileimg avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {{ macros.profilelink(username, img) }}
    {% if displayname %}<br><small>{{ macros.profilelink(username) }}</small>
    {% endif %}
{% endmacro %}

{# \new avatar for trip pages #}
{% macro roundedavatarstack(username, size, displayname = true, link = false) %}
    {% import _self as macros %}
    {% set img %}<img class="o-avatar__img" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}" loading="lazy">{% endset %}
    {% if link %}
        {{ macros.profilelink(username, img, 'o-avatar__img-wrapper o-avatar--shadow-s') }}
    {% else %}
        <div class="o-avatar__img-wrapper o-avatar--shadow-s">{{ img }}</div>
    {% endif %}
    {% if displayname %}
        {{ macros.profilelink(username, username, 'o-avatar__name u:break-all') }}
    {% endif %}
{% endmacro %}

{% macro profilelink(username, displayname = false, classes = false, newpage = false) %}
    <a href="{{ path( 'members_profile', { 'username': username }) }}" {% if classes %} class="{{ classes }}" {% endif %} {% if newpage %} target="_blank" {% endif %}>
        {% if displayname %}
            {{ displayname }}
        {% else %}
            {{ username }}
        {% endif %}
    </a>
{% endmacro %}

{% macro link( route, type ) %}
    {% set class = 'default' %}
    {% if type == 'dropdown'  %}
        {% set class = 'dropdown-item' %}
    {% endif %}
    <a class="{{ class }}" href="{{ path( route | lower ) }}">{{ route | trans }}</a>
{% endmacro %}

{% macro messageheader(thread, options) %}
    {% import _self as macros %}
    {% set options = { show_deleted:false, show_buttons:true, is_spam:false }|merge(options) %}
    {% set myself = app.user %}
    {% set current = thread|first %}
    {% set correspondent = (current.sender == myself) ? current.receiver : current.sender %}
    {% if current.subject %}
        {% set subject = current.Subject.Subject %}
    {% else %}
        {% set subject = 'conversation.with'|trans({'username':correspondent.Username}) %}
    {% endif %}
    <div class="u:flex u:justify-start u:bg-gray-200 u:p-8 u:rounded-8 u:mb-8 u:items-center">
        <div class="u:ms-auto u:shrink-0 u:me-24">
            <a href="{{ url( 'conversations', { 'conversationsType': 'conversations' } ) }}">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="o-avatar u:mt-8">{{ macros.roundedavatarstack(correspondent.Username, 100) }}</div>
        <div class="u:md:text-32 u:md:leading-48 u:self-center u:text-center u:text-black u:font-700 u:line-clamp-3 u:place-self-center u:w-full">{{ subject }}</div>
    </div>
    {% if options.show_buttons %}
        <div class="u:flex u:justify-between u:bg-gray-200 u:p-8 u:rounded-8 u:mb-8">
            <div class="u:flex u:flex-row">
                {# Always add <div> so that the reply button is on the right hand side for larger displays #}
                {% if not options.show_deleted %}
                    <a class="o-button--s md:o-button o-button--outline-gray md:o-button--outline-gray u:me-8" href="{{ url('conversation_delete', {'id': current.id}) }}">
                        <i class="fa fa-trash u:me-8"></i>
                        {{ 'delete'|trans }}</a>
                {% else %}
                    <a class="o-button--s md:o-button u:me-8" href="{{ url('conversation_recover', {'id': current.id}) }}">
                        <span class="fa-layers fa-fw u:me-8">
                            <i class="fas fa-trash"></i>
                            <i class="fas fa-slash u:text-red"></i>
                        </span>
                        {{ 'recover'|trans }}</a>
                {% endif %}
                {% if options.is_spam %}
                    <a class="o-button--s md:o-button" href="{{ path('conversation_mark_nospam', { id: current.id }) }}">
                        <span class="fa-layers fa-fw u:me-8">
                            <i class="fas fa-flag"></i>
                            <i class="fas fa-slash u:text-red"></i>
                        </span>
                        {{ 'marknospam' | trans }}</a>
                {% else %}
                    <a class="o-button--s md:o-button js-modal-trigger" data-micromodal-trigger="report-modal">
                        <i class="fas fa-flag u:me-8"></i>
                        {{ 'markspam' | trans }}</a>
                {% endif %}
            </div>
            <div>
                <a class="o-button--s md:o-button u:ms-8" href="{{ path('conversation_reply', { id: current.id }) }}">
                    <i class="fas fa-reply u:me-8"></i>
                    {{ 'message.button.reply' | trans }}</a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro messageheader_no_buttons(thread) %}
    {% import _self as macros %}
    {{ macros.messageheader(thread, {show_buttons:false}) }}
{% endmacro %}

{% macro new_conversation_header(receiver, headline, displayplacelang = true ) %}
    {% import _self as macros %}
    <div class="u:flex u:justify-start u:bg-gray-200 u:p-8 u:rounded-8 u:mb-8 u:items-center">
        <div class="u:ms-auto u:shrink-0 u:me-24">
            <a href="{{ url( 'members_profile', {'username': receiver.Username}) }}">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="u:md:text-32 u:md:leading-32 u:self-center u:text-center u:text-black u:font-700 u:line-clamp-3 u:place-self-center u:w-full">
            {{ headline | trans | format(receiver.shortNameOrUsername) }}
            <a class="u:text-16 u:align-top" href="{{ url('conversations_with', {'username': receiver.Username}) }}">
                <i class="fas fa-mail-bulk" title="{{ 'messages_allmessageswith' | trans | format(receiver.shortNameOrUsername) }}"></i>
            </a>
            {% if displayplacelang %}
                {% set languages %}
                {%- for level in receiver.languageLevels -%}
                    {{ ('lang_' ~ level.language.shortCode) | lower | trans }}<span class="d-none d-md-inline">
                        ({{ ('language.level.' ~ level.level) | lower | trans }})</span>
                    {%- if not loop.last -%}, {%  endif -%}
                {% endfor %}
                {%- endset -%}
              {% set address = receiver.activeAddress %}
                <div class="u:leading-20 u:sm:text-14 u:md:text-16 u:font-400 u:line-clamp-2">{{ 'lives.and.speaks' | trans({'city': address.location.name ~ ', ' ~ address.location.country.name | capitalize, 'languages': languages }) | raw }}</div>
            {% endif %}
        </div>
        <div class="o-avatar u:mt-8">{{ macros.roundedavatarstack(receiver.Username, 100) }}</div>
    </div>
{% endmacro %}

{% macro field_ui_language(uiLanguage, language, field, translations) %}
  {% if uiLanguage not in translations|keys %}
    {% set uiLanguage = 'en' %}
  {% endif %}
  {% if language != uiLanguage %}
    <div class="u:relative u:border u:border-gray-500 u:p-4 u:pt-8 u:w-[40%] u:flex-1">
      <span class="u:absolute u:-top-14 u:left-8 u:bg-white u:px-2 u:text-12">
        {{ ('lang_' ~ uiLanguage)|lower|trans({}, "messages", language) }}
      </span>
      <div class="u:text-sm u:w-full">
        <small class="form-text text-muted">
          {% if translations[uiLanguage][field] is defined %}
            {{ translations[uiLanguage][field]|purify }}
            {% else %}
               &nbsp;
          {% endif %}
        </small>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro field_translation(form, uiLanguage, language, field, username, translations) %}
  {% import _self as macros %}
  <div class="u:mb-16">
    <div class="u:inline-block u:mb-8">{{ form.vars.label|trans({}, 'messages', language) }}</div>
    <div class="u:flex u:flex-col u:md:flex-row u:gap-16 u:items-stretch">
      {% set attr = form.vars.attr|merge({'data-language': language}) %}
      {% set attr = attr|merge({'data-field': field}) %}
      {% set attr = attr|merge({'data-username': username}) %}
      {{ form_widget(form, {attr: attr}) }}
      {{ _self.field_ui_language(uiLanguage, language, field, translations) }}
    </div>
  </div>
{% endmacro %}

{% macro hostingInterest(hostingInterest, profileLanguage) %}
  {% set translationId = 'hosting_interest.not_set' %}
  {% if  hostingInterest == 1 %}
    {% set translationId = 'hosting_interest.very_low' %}
  {% elseif hostingInterest == 2 %}
    {% set translationId = 'hosting_interest.low' %}
  {% elseif hostingInterest == 3 %}
    {% set translationId = 'hosting_interest.lower' %}
  {% elseif hostingInterest == 4 %}
    {% set translationId = 'hosting_interest.low_to_medium' %}
  {% elseif hostingInterest == 5 %}
    {% set translationId = 'hosting_interest.medium' %}
  {% elseif hostingInterest == 6 %}
    {% set translationId = 'hosting_interest.medium_to_high' %}
  {% elseif hostingInterest == 7 %}
    {% set translationId = 'hosting_interest.high' %}
  {% elseif hostingInterest == 8 %}
    {% set translationId = 'hosting_interest.higher' %}
  {% elseif hostingInterest == 9 %}
    {% set translationId = 'hosting_interest.very_high' %}
  {% elseif hostingInterest == 10 %}
    {% set translationId = 'hosting_interest.cant_wait' %}
  {% endif %}
  {{ translationId|trans({}, 'messages', profileLanguage) }}
{% endmacro %}