{% macro input(name, placeholder, value, type) %}
    <label for="{{ name }}" class="sr-only">{{ placeholder|trans }}</label>
    <input class="o-input m-1" type="{{ type|default('text') }}" name="{{ name }}" placeholder="{{ placeholder|trans }}"
           value="{{ value|e }}" />
{% endmacro %}

{% macro submit(text, class = false) %}
    <button class="o-input btn btn-primary{%  if class %}{{ class }}{% endif %}" type="submit">{{ text|trans }}</button>
{% endmacro %}

{% macro select(name, values, value, class) %}
    {# Source: https://github.com/joomla/jissues/blob/master/templates/fields.twig #}
    <select name="{{ name }}" {% if class %} class="{{ class }}"{% endif %}>
        {% for key, name in values %}
            <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2(name, class, placeholder, values, value, allowClear, noSearchBox, width) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}select2"
            {% if placeholder %}data-placeholder="{{ placeholder }}"{% endif %}
            {% if allowClear %}data-allow-clear="{{ allowClear }}"{% endif %}
            {% if noSearchBox %}data-minimum-results-for-search="-1"{% endif %}
            {% if width %}style="width: {{ width }}em;"{% endif %}>
        {% for key, name in values %}
            {% if key == -1 %}
                <option></option>
            {% else %}
                <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}

{% macro select2ajax(name, class, placeholder, value, text) %}
    <select name="{{ name }}" class="{% if class %}{{ class }} {% endif %}" style="width: 100%"
            {% if placeholder %}data-placeholder="{{ placeholder }}"{% endif %}
        >

        <option value="{{ value }}" selected="selected">{{ text }}</option>
    </select>
{% endmacro %}

{% macro avatar(username, size, linked = false, addimage = false, addlink = false, newpage = false) %}
    {% import _self as macros %}
    {% set imgclasses %}profileimg{% if addimage %} {{ addimage }}{% endif %}{% endset %}
    {% set linkclasses %}{% if addlink %} {{ addlink }}{% endif %}{% endset %}
    {% set img %}<img class="{{ imgclasses }} avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {% if linked %}
        {{ macros.profilelink(username, img, linkclasses, newpage) }}
    {% else %}
        {{ img }}
    {% endif %}
{% endmacro %}

{# \todo align left/right depending on right parameter #}
{% macro avatarstack(username, size, right, displayname = true) %}
    {% import _self as macros %}
    {% set img %}<img class="profileimg avatar-{{ size }}" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    {{ macros.profilelink(username, img, 'prueba') }}
    {% if displayname %}<br><small>{{ macros.profilelink(username) }}</small>{% endif %}
{% endmacro %}

{# \new avatar for trip pages #}
{% macro roundedavatarstack(username, size, right, displayname = true) %}
    {% import _self as macros %}
        {% set img %}<img class="o-avatar__img" src="{{ path( 'avatar', { 'username': username , 'size': size }) }}" title="{{ username }}" alt="{{ 'profile' | trans }}: {{ username }}">{% endset %}
    <div class="o-avatar__img-wrapper">{{ macros.profilelink(username, img) }}</div>
    {% if displayname %}
    <p class="o-avatar__name">{{ macros.profilelink(username) }}</p>
    {% endif %}
{% endmacro %}

{% macro profilelink(username, displayname = false, classes = false, newpage = false) %}
<a href="{{ path( 'members_profile', { 'username': username }) }}"
   {% if classes %}class="{{ classes }}" {% endif %}
   {% if newpage %}target="_blank"{% endif %}>{% if displayname %}{{ displayname }}{% else %}{{ username }}{% endif %}</a>
{% endmacro %}

{% macro link( route, type ) %}
    {% set class = 'default' %}
    {% if type == 'dropdown'  %}
        {% set class = 'dropdown-item' %}
    {% endif %}
    <a class="{{ class }}" href="{{ path( route | lower ) }}">{{ route | trans }}</a>
{% endmacro %}
