{% import 'macros.twig' as macros %}
{% set member = app.user %}
{% if member %}
    <nav class="navbar navbar-sticky-top navbar-expand-md navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
        <div class="container">
            <a class="navbar-brand mr-3 pl-3 pl-md-0 float-left" href="{{ url('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}" alt="{{ 'BeWelcome' | trans }}"/></a>

            <button class="navbar-toggler mr-auto mr-md-0" type="button" data-toggle="collapse" data-target="#smallNavBar" aria-controls="smallNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="float-right d-md-none small px-0">
                {% include 'widgets/messagescount.hml.twig' %}
            </div>
            <div class="float-right d-md-none small px-0">
                {% include 'widgets/requestscount.html.twig' %}
            </div>

            {# Navbar small screens #}
            <div class="collapse d-xl-none px-0 w-100" id="smallNavBar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item bordert-1">
                        <a href="{{ url( 'search_members' ) }}" class="nav-link pl-1">{{ 'MapSearch' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('members_profile', { username: member.Username }) }}" class="nav-link pl-1">{{ member.Username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url( 'messages' ) }}" class="nav-link pl-4">{{ 'MyMessages' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('my_preferences') }}" class="nav-link pl-4">{{ 'MyPreferences' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('members_show_all_notes') }}" class="nav-link pl-4">{{ 'MyNotes' | trans }}</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url('community') }}" class="nav-link pl-1">{{ 'CommunityMenu' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('safety') }}" class="nav-link pl-1">{{ 'Safety' | trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('about') }}" class="nav-link pl-1">{{ 'GetAnswers' | trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('volunteer') }}" class="nav-link pl-1">{{ 'Volunteer' | trans}}</a>
                    </li>
                    {% for team in teams if teams %}
                        {% if team.route starts with '/' %}
                        <li class="nav-item">
                            <a href="{{ team.route }}" class="nav-link pl-3">{{ team.trans | trans}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ path(team.route) }}" class="nav-link pl-3">{{ team.trans | trans}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    <li class="nav-item">
                        <a href="{{ url( 'security_logout') }}" class="nav-link pl-1">{{ 'Logout' | trans }}</a>
                    </li>
                </ul>
            </div>

            {# Navbar big screens #}
            <div class="collapse navbar-collapse d-none d-md-block" id="mainNavBar">

                <ul class="navbar-nav mr-auto">
                    <li class="menuborder">
                        <a href="{{ url( 'search_members' ) }}" class="nav-link px-3">{{ 'FindMembers' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('community') }}" class="nav-link px-3">{{ 'CommunityMenu' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('safety') }}" class="nav-link px-3">{{ 'Safety' | trans}}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('volunteer') }}" class="nav-link px-3">{{ 'Volunteer' | trans}}</a>
                    </li>
                    <li class="menuborder dropdown d-none d-md-flex">
                        <a class="nav-link px-3" id="subNavBar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            &#9776;
                        </a>

                        <div class="dropdown-menu subnav py-0 bordert-1 borderb-1" aria-labelledby="subNavBar">

                            <div class="container">

                                <div class="d-flex flex-row justify-content-between">
                                    <div class="py-3">
                                        <a href="{{ url('search_members') }}" class="h4">{{ 'FindMembers' | trans }}</a>

                                        <a href="{{ url('search_members') }}" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'MapSearch' | trans }}</a>
                                        <a href="{{ url('places') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'BrowseCountries' | trans}}</a>
                                    </div>
                                    <div class="py-3">
                                        <a href="{{ url('community') }}" class="h4">{{ 'CommunityMenu' | trans }}</a>

                                        <a href="{{ url('forums') }}" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'CommunityDiscussions' | trans }}</a>
                                        <a href="{{ url('groups_overview') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'Groups' | trans }}</a>
                                        <a href="{{ url('activities') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'Activities' | trans}}</a>
                                        <a href="{{ url('newsletters') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'Newsletters' | trans}}</a>
                                    </div>
                                    <div class="py-3">
                                        <a href="{{ url('about') }}" class="h4">{{ 'GetAnswers' | trans}}</a>

                                        <a href="{{ url('faq') }}" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'FAQ' | trans }}</a>
                                        <a href="{{ url('feedback') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'ContactUs' | trans}}</a>
                                        <a href="{{ url('stats') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'StatsPage' | trans}}</a>
                                        <a href="{{ url('terms_french') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'TermsOfUse'  | trans}}</a>
                                    </div>
                                    <div class="py-3">
                                        <a href="{{ url('volunteer') }}" class="h4">{{ 'Volunteer' | trans}}</a>

                                        <a href="{{ url('getactive') }}" class="btn btn-block py-0 pl-1 text-left mt-1">{{ 'About_GetActive' | trans}}</a>
                                        <a href="{{ url('donate') }}" class="btn btn-block py-0 pl-1 text-left">{{ 'DonateLink'  | trans}}</a>
                                        {% for team in teams if teams %}
                                            {% if team.route starts with '/' %}
                                                <a href="{{ team.route }}" class="btn btn-block py-0 pl-1 text-left">{{ team.trans | trans}}</a>
                                            {% else %}
                                                <a href="{{ path(team.route) }}" class="btn btn-block py-0 pl-1 text-left">{{ team.trans | trans}}</a>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="subnavborder py-3">
                                        <div class="pl-5 pr-0">
                                            {{ macros.avatar( member.Username, 50, true) }} <span class="h4">{{ member.Username }}</span>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between pl-5 pr-0">
                                            <div>
                                                <a href="{{ url('edit_my_profile') }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left mt-1"><i class="fa fa-edit"></i> {{ 'EditMyProfile' | trans }}</a>
                                                <a href="{{ url('mypreferences') }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-cogs"></i> {{ 'MyPreferences' | trans }}</a>
                                                <a href="{{ url('groups_overview') }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-users"></i> {{ 'MyGroups' | trans }}</a>
                                            </div>
                                            <div>
                                                <a href="{{ url('messages') }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left mt-1"><i class="fa fa-envelope"></i> {{ 'MyMessages' | trans }}</a>
                                                <a href="{{ url('members_show_all_notes') }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-list"></i> {{ 'ProfileMyNotes' | trans }}</a>
                                                <a href="{{ url( 'security_logout' ) }}" class="btn btn-block btn-primary-outline py-0 pl-1 text-left"><i class="fa fa-power-off"></i> {{ 'Logout' | trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <button type="button" class="close pull-right float-md-right" aria-label="Close" data-toggle="collapse" data-target="#mainNavBar2">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav mr-0">

                    {# profile link on smaller screens #}
                    <li class="nav-item float-right d-block d-lg-none">
                        <a href="{{ path( 'members_profile' , { username: member.Username } ) }}" class="nav-link"><i class="fa fa-lg fa-user"></i></a>
                    </li>

                    {# member dropdown on bigger screens #}
                    <li class="nav-item dropdown float-right d-none d-lg-block">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ member.Username }}</a>
                        <ul id="member_menu" class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="text-right"><a href="{{ path( 'members_profile' , { username: member.Username } ) }}" class="dropdown-item">{{ 'Profile' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('edit_my_profile') }}" class="dropdown-item">{{ 'EditMyProfile' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('my_preferences') }}" class="dropdown-item">{{ 'MyPreferences' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('members_show_all_notes') }}" class="dropdown-item">{{ 'ProfileMyNotes' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('groups_mygroups') }}" class="dropdown-item">{{ 'MyGroups' | trans }}</a></li>
                            {# <li class="text-right"><a href="/trips" class="dropdown-item">{{ 'TripsShowMy' | trans }}</a></li> #}
                            <li class="text-right"><a href="{{ url( 'security_logout' ) }}" class="dropdown-item">{{ 'Logout' | trans }}</a></li>
                        </ul>
                    </li>

                    {# messages #}
                    <li class="nav-item float-right">
                        {% include 'widgets/messagescount.hml.twig' %}
                    </li>
                    <li class="nav-item float-right">
                        {% include 'widgets/requestscount.html.twig' %}
                    </li>

                    {# logout #}
                    <li class="nav-item float-right"><a href="{{ url( 'security_logout' ) }}" class="nav-link"><i class="fa fa-lg fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if is_granted('ROLE_ADMIN_CHECKER') or is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}
        <div class="container">
            <div class="row no-gutters justify-content-end">
                <div class="col-12 p-2 text-right">
                    {% if is_granted('ROLE_ADMIN_GROUP')  %}<a class="btn btn-primary btn-sm" href="{{ path('admin_groups_approval') }}">{% transchoice groupsInApprovalQueue %}admin.groups.awaiting.approval{% endtranschoice %}</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}<a class="btn btn-primary btn-sm" href="{{ path('admin_comment_reported_overview') }}">{% transchoice reportedCommentsCount %}admin.comments.reported{% endtranschoice %}</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}<a class="btn btn-primary btn-sm" href="{{ path('admin_spam_overview') }}">{% transchoice reportedMessagesCount %}admin.spam.reported{% endtranschoice %}</a>{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {# navbar not logged in, showing main links #}
    <nav class="navbar navbar-sticky-top navbar-expand-lg navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
        <div class="container">
            <a class="navbar-brand mr-3 pl-3 pl-md-0 float-left" href="{{ url('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}" alt="{{ 'BeWelcome' | trans }}"/></a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#NavbarNotLoggedIn" aria-controls="NavbarNotLoggedIn" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="NavbarNotLoggedIn" aria-expanded="false">
                <ul class="navbar-nav mr-auto">
                    <li class="about">
                        <a href="{{ url('about') }}" class="nav-link px-3 menuborder">{{ 'About' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('safety') }}" class="nav-link px-3">{{ 'Safety' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('volunteer') }}" class="nav-link px-3 menuborder-r">{{ 'Volunteer' | trans }}</a>
                    </li>
                </ul>

                <form id="main-login-form" role="form" class="form-inline" method="post" action="{{ path('security_check') }}">
                    <label class="sr-only" for="login-u">{{ 'Username' | trans }}</label>
                    <input type="text" id="login-u" name="_username" autofocus required placeholder="{{ 'Username' | trans }}" class="form-control mx-1">

                    <label class="sr-only" for="login-p">{{ 'Password' | trans }}</label>
                    <input type="password" id="login-p" name="_password" placeholder="{{ 'Password' | trans }}" class="form-control mx-1">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                    <button type="submit" class="btn btn-primary">{{ 'IndexPageLoginSubmit' | trans }}</button>
                </form>
            </div>
        </div>
    </nav>
{% endif %}
