{% set loggedInMember = app.user %}
{% include 'layout/main_navigation.html.twig' %}
{% if loggedInMember %}
{% if is_granted('ROLE_ADMIN_CHECKER') or is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM')
    or is_granted('ROLE_ADMIN_GROUP')%}
    <div class="container-lg u:z-10 u:relative">
        <div class="row no-gutters justify-content-end">
            <div class="py-2">
                {% if not groupsInApprovalQueue is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_groups_approval') }}">{{ 'label.admin.groups.awaiting.approval' | trans({'groups':groupsInApprovalQueue}) }}</a>{% endif %}
                {% if not reportedCommentsCount is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_comment_reported_overview') }}">{{ 'label.admin.comments.reported'|trans({'comments':reportedCommentsCount}) }}</a>{% endif %}
                {% if not reportedMessagesCount is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_spam_messages') }}">{{ 'label.admin.messages.reported'|trans({'messages': reportedMessagesCount}) }}</a>{% endif %}
            </div>
        </div>
    </div>
{% endif %}
<noscript><div class="container-lg"><div class="alert alert-danger"><p class="h5">You need to activate Javascript for bewelcome.org</p><small>Without it some function won't work.</small></div></div></noscript>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="container-lg">{% for loginmessage in loginmessages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ loginmessage.message|raw }}
            <button data-alert="{{ loginmessage.id }}" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
{% endif %}
    {% if loggedInMember.username == 'SafetyTeam' %}
        <div class="container-lg">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Be careful, you're using the SafetyTeam profile.
                <button class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endif %}
