{% import 'macros.twig' as macros %}
{% set member = app.user %}
{% if member %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
        <div class="container">
            <a class="navbar-brand d-none d-lg-inline" href="{{ url('homepage') }}"><img src="{{ asset('images/logo_index_top.png') }}"
                                                                                         alt="BeWelcome"/></a>
            <a class="navbar-brand d-inline d-lg-none" href="{{ url('homepage') }}"><img src="{{ asset('images/logo_no_text.png') }}"
                                                                                         alt="BeWelcome"/></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#smallNavBar"
                    aria-controls="smallNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>&nbsp;<i class="fas fa-caret-down"></i>
            </button>

            {# Navbar small screens #}
            <div class="collapse d-lg-none px-0 w-100" id="smallNavBar">
                <ul class="navbar-nav mr-auto mt-2 pl-1">
                    <li class="nav-item bordert-1">
                        <a href="{{ url( 'search_members' ) }}" class="nav-link"><i
                                    class="fa fa-globe-americas"></i>&nbsp;{{ 'findmembers' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('community') }}" class="nav-link"><i
                                    class="fa fa-users"></i>&nbsp;{{ 'communitymenu' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('safety') }}" class="nav-link"><i
                                    class="fa fa-shield-alt"></i>&nbsp;{{ 'safety' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('about') }}" class="nav-link"><i
                                    class="fa fa-info-circle"></i>&nbsp;{{ 'getanswers' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#vol_menu" class="nav-link dropdown-toggle" data-target="vol_menu"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-hands-helping"></i>&nbsp;{{ 'volunteer' | trans }}</a>
                        <ul id="vol_member_menu" class="dropdown-menu" role="menu">
                            <li class="nav-item"><a href="{{ url('getactive') }}"
                               class="nav-link">{{ 'about_getactive' | trans }}</a></li>
                            <li class="nav-item"><a href="{{ url('donate') }}"
                                                    class="nav-link">{{ 'donatelink'  | trans }}</a></li>
                            {% for team in teams if teams %}
                                {% if team.route starts with '/' %}
                                    <li class="nav-item">
                                        <a href="{{ team.route }}" class="nav-link">&nbsp;<i
                                                    class="fa fa-angle-double-right"></i>&nbsp;{{ team.trans | trans }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path(team.route) }}" class="nav-link">&nbsp;<i
                                                    class="fa fa-angle-double-right"></i>&nbsp;{{ team.trans | trans }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url( 'security_logout') }}" class="nav-link"><i
                           class="fa fa-sign-out-alt"></i>&nbsp;{{ 'logout' | trans }}</a>
                    </li>
                </ul>
            </div>

            {# Navbar big screens #}
            <div class="collapse navbar-collapse d-none d-lg-block" id="mainNavBar">
                <ul class="navbar-nav mr-auto">
                    <li class="menuborder">
                        <a href="{{ url( 'search_members' ) }}" class="nav-link">{{ 'findmembers' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('community') }}" class="nav-link">{{ 'communitymenu' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('safety') }}" class="nav-link">{{ 'safety' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('volunteer') }}" class="nav-link">{{ 'volunteer' | trans }}</a>
                    </li>
                    <li class="menuborder dropdown d-none d-md-flex">
                        <a href="#subNavBar" class="nav-link btn-outline-secondary dropdown-toggle" id="subNavBarToggle" data-target="subNavBar"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>&nbsp;<i class="fas fa-caret-down"></i>
                        </a>

                        <div id="subNavBar" class="dropdown-menu subnav py-1 bordert-1 borderb-1"
                             aria-labelledby="subNavBarToggle">

                            <div class="container">

                                <div class="d-flex flex-row justify-content-between">
                                    <div class="py-3 pr-3">
                                        <a href="{{ url('search_members') }}" class="h4">{{ 'findmembers' | trans }}</a>

                                        <a href="{{ url('search_members') }}"
                                           class="btn btn-block py-1 text-left">{{ 'mapsearch' | trans }}</a>
                                        <a href="{{ url('places') }}"
                                           class="btn btn-block py-1 text-left">{{ 'browsecountries' | trans }}</a>
                                    </div>
                                    <div class="py-3 pr-3">
                                        <a href="{{ url('community') }}" class="h4">{{ 'communitymenu' | trans }}</a>
                                        <a href="{{ url('forums') }}"
                                           class="btn btn-block py-1 text-left mt-1">{{ 'communitydiscussions' | trans }}</a>
                                        <a href="{{ url('groups_overview') }}"
                                           class="btn btn-block py-1 text-left">{{ 'groups' | trans }}</a>
                                        <a href="{{ url('activities') }}"
                                           class="btn btn-block py-1 text-left">{{ 'activities' | trans }}</a>
                                        <a href="{{ url('newsletters') }}"
                                           class="btn btn-block py-1 text-left">{{ 'newsletters' | trans }}</a>
                                    </div>
                                    <div class="py-3 pr-3">
                                        <a href="{{ url('about') }}" class="h4">{{ 'getanswers' | trans }}</a>

                                        <a href="{{ url('faq') }}"
                                           class="btn btn-block py-1 text-left mt-1">{{ 'menu.faq' | trans }}</a>
                                        <a href="{{ url('feedback') }}"
                                           class="btn btn-block py-1 text-left">{{ 'contactus' | trans }}</a>
                                        <a href="{{ url('stats') }}"
                                           class="btn btn-block py-1 text-left">{{ 'statspage' | trans }}</a>
                                        <a href="{{ url('terms_french') }}"
                                           class="btn btn-block py-1 text-left">{{ 'termsofuse'  | trans }}</a>
                                    </div>
                                    <div class="py-3 pr-3 border-right border-white">
                                        <a href="{{ url('volunteer') }}" class="h4">{{ 'volunteer' | trans }}</a>

                                        <a href="{{ url('getactive') }}"
                                           class="btn btn-block py-1 text-left mt-1">{{ 'about_getactive' | trans }}</a>
                                        <a href="{{ url('donate') }}"
                                           class="btn btn-block py-1 text-left">{{ 'donatelink'  | trans }}</a>
                                        {% for team in teams if teams %}
                                            {% if team.route starts with '/' %}
                                                <a href="{{ team.route }}"
                                                   class="btn btn-block py-1 text-left">{{ team.trans | trans }}</a>
                                            {% else %}
                                                <a href="{{ path(team.route) }}"
                                                   class="btn btn-block py-1 text-left">{{ team.trans | trans }}</a>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="py-3 pl-3">
                                        <div>
                                            {{ macros.avatar( member.Username, 50, true) }} <span
                                                    class="h4">{{ member.Username }}</span>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between">
                                            <div>
                                                <a href="{{ url('edit_my_profile') }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left mt-1"><i
                                                            class="fa fa-edit"></i> {{ 'editmyprofile' | trans }}</a>
                                                <a href="{{ url('mypreferences') }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left"><i
                                                            class="fa fa-cogs"></i> {{ 'mypreferences' | trans }}</a>
                                                <a href="{{ url('groups_mygroups') }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left"><i
                                                            class="fa fa-users"></i> {{ 'mygroups' | trans }}</a>
                                            </div>
                                            <div>
                                                <a href="{{ url('messages') }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left mt-1"><i
                                                            class="fa fa-envelope"></i> {{ 'mymessages' | trans }}</a>
                                                <a href="{{ url('members_show_all_notes') }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left"><i
                                                            class="fa fa-sticky-note"></i> {{ 'mynotes' | trans }}</a>
                                                <a href="{{ url( 'security_logout' ) }}"
                                                   class="btn btn-block btn-primary-outline py-1 text-left"><i
                                                            class="fa fa-power-off"></i> {{ 'logout' | trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <button type="button" class="close pull-right float-md-right" aria-label="Close"
                                                data-toggle="collapse" data-target="#mainNavBar2">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
                <ul class="nav mr-0">
                    <li class="nav-item dropdown">
                        <a href="#member_menu" class="nav-link dropdown-toggle" style="padding-left: .25rem; padding-right: .25rem;"
                           data-target="member_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fa fa-user"></i><span
                                    class="d-none d-sm-inline">&nbsp;{{ member.Username }}</span></a>
                        <ul id="member_menu" class="dropdown-menu" role="menu">
                            <li class="text-right"><a
                                        href="{{ path( 'members_profile' , { username: member.Username } ) }}"
                                        class="dropdown-item">{{ 'profile' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('edit_my_profile') }}"
                                                      class="dropdown-item">{{ 'editmyprofile' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('my_preferences') }}"
                                                      class="dropdown-item">{{ 'mypreferences' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('members_show_all_notes') }}"
                                                      class="dropdown-item">{{ 'mynotes' | trans }}</a></li>
                            <li class="text-right"><a href="{{ path('groups_mygroups') }}"
                                                      class="dropdown-item">{{ 'mygroups' | trans }}</a></li>
                            {# <li class="text-right"><a href="/trips" class="dropdown-item">{{ 'TripsShowMy' | trans }}</a></li> #}
                            <li class="text-right"><a href="{{ url( 'security_logout' ) }}"
                                                      class="dropdown-item">{{ 'logout' | trans }}</a></li>
                        </ul>
                    </li>

                    {# messages #}
                    <li class="nav-item">
                        {% include 'widgets/messagescount.hml.twig' %}
                    </li>
                    {# requests #}
                    <li class="nav-item">
                        {% include 'widgets/requestscount.html.twig' %}
                    </li>
                    {# logout #}
                    <li class="nav-item"><a href="{{ url( 'security_logout' ) }}" class="nav-link" style="padding-left: .25rem; padding-right: .25rem;"><i
                                    class="fa fa-lg fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if is_granted('ROLE_ADMIN_CHECKER') or is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}
        <div class="container">
            <div class="row no-gutters justify-content-end">
                <div class="py-2">
                    {% if is_granted('ROLE_ADMIN_GROUP') %}<a class="btn btn-primary btn-sm"
                                                              href="{{ path('admin_groups_approval') }}">{% transchoice groupsInApprovalQueue %}admin.groups.awaiting.approval{% endtranschoice %}</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}<a
                        class="btn btn-primary btn-sm"
                        href="{{ path('admin_comment_reported_overview') }}">{% transchoice reportedCommentsCount %}admin.comments.reported{% endtranschoice %}</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM') %}<a
                        class="btn btn-primary btn-sm"
                        href="{{ path('admin_spam_overview') }}">{% transchoice reportedMessagesCount %}admin.spam.reported{% endtranschoice %}</a>{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {# navbar not logged in, showing main links #}
    <nav class="navbar navbar-sticky-top navbar-expand-lg navbar-dark bg-primary navbar-shadow bordert-1 borderb-1">
        <div class="container">
            <a class="navbar-brand mr-3 pl-3 pl-md-0 float-left" href="{{ url('homepage') }}"><img
                        src="{{ asset('images/logo_index_top.png') }}" alt="BeWelcome"/></a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#NavbarNotLoggedIn" aria-controls="NavbarNotLoggedIn" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="NavbarNotLoggedIn" aria-expanded="false">
                <ul class="navbar-nav mr-auto">
                    <li class="about">
                        <a href="{{ url('about') }}" class="nav-link px-3 menuborder">{{ 'menu.about' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('safety') }}" class="nav-link px-3">{{ 'safety' | trans }}</a>
                    </li>
                    <li class="menuborder">
                        <a href="{{ url('volunteer') }}"
                           class="nav-link px-3 menuborder-r">{{ 'volunteer' | trans }}</a>
                    </li>
                </ul>

                <form id="main-login-form" role="form" class="form-inline" method="post"
                      action="{{ path('security_check') }}">
                    <label class="sr-only" for="login-u">{{ 'username' | trans }}</label>
                    <input type="text" id="login-u" name="_username" autofocus required
                           placeholder="{{ 'username' | trans }}" class="form-control mx-1">

                    <label class="sr-only" for="login-p">{{ 'password' | trans }}</label>
                    <input type="password" id="login-p" name="_password" placeholder="{{ 'password' | trans }}"
                           class="form-control mx-1">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-primary">{{ 'indexpageloginsubmit' | trans }}</button>
                </form>
            </div>
        </div>
    </nav>
{% endif %}
