{% import 'macros.twig' as macros %}

{% set member = app.user %}
<nav id="main_menu" class="navbar sticky-top navbar-dark navbar-expand bg-primary justify-content-between">
    <div class="container-lg">
        <ul id="collapsing_menu" class="navbar navbar-nav">
            <li class="nav-item">
                <a id="brand_image" class="navbar-brand" href="{{ url('homepage') }}">
                    <img class="d-none d-lg-block" src="{{ asset('images/logo_index_top.png') }}" alt="BeWelcome"/>
                    <img class="pl-1 d-block d-lg-none" src="{{ asset('images/logo_no_text.png') }}" alt="BeWelcome"/>
                </a>
            </li>
            {% if member %}
            <li class="nav-item dropdown">
                <a href="#search_menu" class="nav-link dropdown-toggle"
                   data-target="search_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'findmembers' | trans }}">
                    &nbsp;{{ 'findmembers'|trans }}
                </a>
                <ul id="search_menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ url( 'search_locations' ) }}" class="dropdown-item"><i class="fa fa-fw fa-globe mr-1"></i>{{ 'search.locations' | trans }}</a></li>
                    <li><a href="{{ path('search_members') }}" class="dropdown-item"><i class="fa fa-fw fa-users mr-1"></i>{{ 'search.members' | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="{{ url('places') }}" class="dropdown-item"><i class="fa fa-fw fa-globe mr-1"></i>{{ 'browsecountries' | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="{{ url('visitors') }}" class="dropdown-item"><i class="fa fa-fw fa-users mr-1"></i>{{ 'menu.visitors' | trans }}</a></li>
                    <li><a href="{{ url('trips') }}" class="dropdown-item"><i class="fa fa-fw fa-map mr-1"></i>{{ 'trips.mytrips' | trans }}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#community_menu" class="nav-link dropdown-toggle"
                   data-target="community_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'communitymenu' | trans }}">
                    {{ 'communitymenu'|trans }}
                </a>
                <ul id="community_menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ path('forums')}}" class="dropdown-item"><i class="fa fa-fw fa-comment mr-1"></i>{{ 'communitydiscussions' | trans }}</a></li>
                    <li><a href="{{ path('groups_mygroups')}}" class="dropdown-item"><i class="fa fa-fw fa-users mr-1"></i>{{ 'groups' | trans }}</a></li>
                    <li><a href="{{ path('activities')}}" class="dropdown-item"><i class="fa fa-fw fa-calendar mr-1"></i>{{ 'activities' | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="{{ path('wiki_front_page')}}" class="dropdown-item"><i class="fab fa-wikipedia-w mr-1"></i>{{ 'wiki' | trans }}</a></li>
                    <li><a href="{{ path('newsletters')}}" class="dropdown-item"><i class="fa fa-fw fa-newspaper mr-1"></i>{{ 'newsletters' | trans }}</a></li>
                    <li><a href="{{ path('communitynews')}}" class="dropdown-item"><i class="fa fa-fw fa-newspaper mr-1"></i>{{ 'communitynews' | trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a href="#safety_menu" class="nav-link dropdown-toggle"
                   data-target="safety_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'safety' | trans }}">
                    {{ 'safety' | trans }}
                </a>
                <ul id="safety_menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ url('safety') }}" class="dropdown-item"><i class="fa fa-fw fa-info mr-1"></i>{{ 'menu.safety.information'| trans }}</a></li>
                    <li><a href="{{ url('safety_contact_no_modal') }}" class="dropdown-item"><i class="fa fa-fw fa-flag mr-1"></i>{{ 'menu.safety.report'| trans }}</a></li>
                </ul>
            </li>
            {% if member and teams|length != 0 %}
                <li class="nav-item dropdown">
                    <a href="#volunteer_menu" class="nav-link dropdown-toggle"
                       data-target="volunteer_menu" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" aria-label="{{ 'volunteer' | trans }}">
                        {{ 'volunteer' | trans }}
                    </a>
                    <ul id="volunteer_menu" class="dropdown-menu" role="menu">
                        {% for team in teams %}
                            <li>
                                {% if team.route starts with '/' %}
                                    <a href="{{ team.route }}" class="dropdown-item">{{ team.trans | trans }}</a>
                                {% else %}
                                    <a href="{{ path(team.route) }}" class="dropdown-item">{{ team.trans | trans }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ url('getactive') }}" class="dropdown-item">{{ 'about_getactive' | trans }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a href="#about_menu" class="nav-link dropdown-toggle" id="subNavBarToggle"
                   data-target="about_menu"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'getanswers'|trans }}
                </a>
                <ul id="about_menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ url('about') }}" class="dropdown-item">{{ 'getanswers' | trans }}</a></li>
                    <li><a href="{{ url('about_faq') }}" class="dropdown-item">{{ 'menu.faq' | trans }}</a></li>
                    <li><a href="{{ url('feedback') }}" class="dropdown-item">{{ 'contactus' | trans }}</a></li>
                    <li><a href="{{ url('stats') }}" class="dropdown-item">{{ 'statspage' | trans }}</a></li>
                    <li><a href="{{ url('terms_of_use', {'locale': locale }) }}" class="dropdown-item">{{ 'termsofuse'  | trans }}</a></li>
                    <li><a href="{{ url('getactive') }}" class="dropdown-item">{{ 'about_getactive' | trans }}</a></li>
                    <li><a href="{{ url('donations') }}" class="dropdown-item">{{ 'donatelink'  | trans }}</a></li>
                </ul>
            </li>
            {% if member and teams|length == 0 %}
                <li class="nav-item">
                    <a href="{{ url('getactive') }}" class="nav-link">{{ 'volunteer' | trans }}</a>
                </li>
            {% endif %}
            {% if not member %}
                {% include 'login_form_navbar.html.twig' %}
            {% endif %}
        </ul>
        <ul id="static_menu" class="navbar navbar-nav">
            {% if member %}
            {# conversations #}
            <li class="nav-item">
                <div id="conversationCount" class="nav-link pl-0 pl-md-1" data-count="-1">
                    <a href="{{ path('conversations', {'conversationsType': 'conversations'}) }}" aria-label="{{ 'conversations' | trans }}" class="text-white align-items-center">
                        <i class="fas fa-envelope"></i>
                        <span class="badge badge-warning"><i class="fa fa-fw fa-spinner"></i></span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#member_menu" class="nav-link dropdown-toggle pl-0 pl-md-1"
                   data-target="member_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'profile' | trans }}">
                    <span class="d-none d-md-inline">{{ member.Username }}&nbsp;</span>
                    <img class="profileimg px-0 js-profile-picture" src="{{ url('avatar', { username: member.username, size: 36 })}}" width="36" height="36" alt="{{ 'profile.picture' }}">
                </a>
                <ul id="member_menu" class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="text-right"><a
                            href="{{ path('conversations', {'conversationsType': 'conversations'}) }}"
                            class="dropdown-item">{{ 'conversations' | trans }}</a></li>
                    <li class="text-right"><a
                            href="{{ path( 'members_profile' , { username: member.Username } ) }}"
                            class="dropdown-item">{{ 'profile' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('edit_my_profile') }}"
                                              class="dropdown-item">{{ 'editmyprofile' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('preferences', {'username': member.username}) }}"
                                              class="dropdown-item">{{ 'profile.preferences.menu' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('notes', {'username': member.username}) }}"
                                              class="dropdown-item">{{ 'profile.notes.menu' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('groups_mygroups') }}"
                                              class="dropdown-item">{{ 'mygroups' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('trips') }}"
                                              class="dropdown-item">{{ 'trips.mytrips' | trans }}</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li class="text-right"><a href="{{ path('change_password', {'username': member.username}) }}"
                                              class="dropdown-item">{{ 'profile.change.password.menu' | trans }}</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li class="text-right"><a href="{{ url( 'security_logout' ) }}"
                                              class="dropdown-item">{{ 'logout' | trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if not member %}
                {% include 'login_form_dropdown.html.twig' %}
            {% endif %}
            <li class="nav-item">
                <button class="btn btn-primary border px-2 py-1 mr-1 d-none" id="hamburger" type="button" data-toggle="collapse" data-target="#hamburger_collapse" aria-controls="hamburger_collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars white"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="collapse navbar-dark bg-primary" id="hamburger_collapse" style="position:sticky; top: 46px; z-index: 1020;">
    <div class="container-lg">
        <ul id="hamburger_menu" class="navbar-nav text-right"></ul>
    </div>
</div>
{% if member %}
{% if is_granted('ROLE_ADMIN_CHECKER') or is_granted('ROLE_ADMIN_COMMENTS') or is_granted('ROLE_ADMIN_SAFETYTEAM')
    or is_granted('ROLE_ADMIN_GROUP')%}
    <div class="container-lg u-z-10 u-relative">
        <div class="row no-gutters justify-content-end">
            <div class="py-2">
                {% if not groupsInApprovalQueue is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_groups_approval') }}">{{ 'label.admin.groups.awaiting.approval' | trans({'groups':groupsInApprovalQueue}) }}</a>{% endif %}
                {% if not reportedCommentsCount is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_comment_reported_overview') }}">{{ 'label.admin.comments.reported'|trans({'comments':reportedCommentsCount}) }}</a>{% endif %}
                {% if not reportedMessagesCount is null %}<a class="btn btn-primary btn-sm"
                                                             href="{{ path('admin_spam_messages') }}">{{ 'label.admin.messages.reported'|trans({'messages': reportedMessagesCount}) }}</a>{% endif %}
            </div>
        </div>
    </div>
{% endif %}
<noscript><div class="container-lg"><div class="alert alert-danger"><p class="h5">You need to activate Javascript for bewelcome.org</p><small>Without it some function won't work.</small></div></div></noscript>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="container-lg">{% for loginmessage in loginmessages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ loginmessage.message|raw }}
            <button data-alert="{{ loginmessage.id }}" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
{% endif %}
    {% if member.username == 'SafetyTeam' %}
        <div class="container-lg">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Be careful, you're using the SafetyTeam profile.
                <button class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endif %}
