{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.edit.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.wordCode) }}
    {{ form_row(form.locale) }}
    {{ form_row(form.domain) }}
    {{ form_row(form.description) }}
    {{ form_row(form.englishText) }}
    {{ form_row(form.translatedText, {'attr':{'autofocus':true}}) }}
    {% if form.isMajorUpdate is defined %}
        {{ form_row(form.isMajorUpdate) }}
    {% endif %}
    {% if form.isArchived is defined %}
        {{ form_row(form.isArchived) }}
    {% endif %}
    {% if form.doNotTranslate is defined %}
        {{ form_row(form.doNotTranslate) }}
    {% endif %}
    {{ form_row(form.update) }}
    {{ form_end(form) }}
{% endblock content %}
