{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    <p>{% trans with { '%locale%': locale } %}translations.abstract{% endtrans %}</p>
    {{ form(form) }}
    {% if translations.nbResults == 0  %}
    {% else %}
        {% if translations.haveToPaginate %}
            <div class="row">
                <div class="col-12 float-left">
                    {{ pagerfanta( translations , 'rox_default') }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="w-25">{{ 'translations.id.and.message' | trans }}</th>
                        <th>{{ 'translations.translated.message' | trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for translation in translations.currentPageResults %}
                        <tr>
                            <td class="w-25">
                                <p class="m-0"><small class="text-muted">{{ translation.code }}</small></p>
                                <p class="m-0">{{ translation.code | trans( {}, 'messages', 'en' ) | purify | truncate(50) }}</p>
                            </td>
                            <td class="w-75">
                                <p class="m-0"><small class="invisible text-muted">&nbsp;</small></p>
                                {% if translation.shortcode == locale %}
                                    <p class="m-0">{{ translation.Sentence | purify | truncate(50) }}</p>
                                {% else %}
                                    <p class="m-0">{{ 'translations.missing' | trans }}</p>
                                {% endif %}
                            </td>
                            <td>
                                <p class="m-0"><small>&nbsp;</small></p>
                                {% if translation.shortcode == locale %}
                                    <p class="m-0"><a href="{{ url('translations_edit', { code: translation.code, locale: locale }) }}"><i class="fa fa-edit"></i></a></p>
                                {% else %}
                                    <p class="m-0"><a href="{{ url('translation_add', { code: translation.code, locale: locale }) }}"><i class="fa fa-plus"></i></a></p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if translations.haveToPaginate %}
            <div class="row">
                <div class="float-right">
                    {{ pagerfanta( translations, 'rox_default') }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}