{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ ('translation.headline.' ~ type) | trans }}</h1>
    <p>
        {%- if type == 'missing' %}
            {% trans with { '%locale%': locale } %}translation.abstract.missing{% endtrans %}
        {% elseif type == 'update' %}
            {% trans with { '%locale%': locale } %}translation.abstract.update.needed{% endtrans %}
        {% else %}
            {% trans with { '%locale%': locale } %}translation.abstract{% endtrans %}
        {% endif -%}
    </p>
    {{ form(form) }}
    {% if translations.nbResults == 0  %}
        {% if code %}
            <br>
            {{ 'translation.search.no.results'|trans({
                'code': code,
                'link_start': '<a href="' ~ path('translation_create', {
                    'domain': 'messages',
                    'locale': 'en',
                    'translationId': code
                }) ~ '">',
                'link_end': '</a>'
                })|raw
            }}
        {% else %}
            {{ 'translation.no.results'|trans }}
        {% endif %}
    {% else %}
        {% if translations.haveToPaginate %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="py-2"><strong>{{ 'translation.ratio'|trans }}:</strong> {{ 'translations.out.of'|trans({'percent': (count_translated/count_all*100)|number_format(2), 'translated':count_translated, 'all': count_all}) }}</p>
                </div>
                <div class="col-12 col-sm-6">
                    {{ pagerfanta( translations , 'rox_default', { 'routeName': routeName, 'routeParams': routeParams }) }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="w-25">{{ 'translations.id.and.message' | trans }}</th>
                        <th>{{ 'translations.translated.message' | trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for translation in translations.currentPageResults %}
                        <tr>
                            <td class="w-25">
                                <p class="m-0"><small class="text-muted">{{ translation.code }}</small></p>
                                <p class="m-0">{{ translation.code | trans( {}, 'messages', 'en' ) | striptags | truncate(50) }}</p>
                            </td>
                            <td class="w-75">
                                <p class="m-0"><small class="text-muted">{{ translation.domain }}</small></p>
                                <p class="m-0">{% if translation.shortcode == locale %}
                                        {% if translation.majorUpdate is defined %}<i class="fas {% if translation.majorUpdate %}fa-arrow-up{% else %}fa-arrow-down{% endif %} fa-fw"></i>{% endif %}
                                    {{ translation.sentence | striptags | truncate(50) }}
                                {% else %}
                                    {{ 'translations.missing' | trans }}
                                {% endif %}
                                </p>
                            </td>
                            <td class="text-right">
                                <p class="m-0"><small class="text-muted">{{ translation.created|format_date('medium') }}</small></p>
                                <p class="m-0">
                                {% if translation.shortcode == locale %}
                                    <a href="{{ url('translation_edit', { code: translation.code, locale: locale }) }}"><i class="fa fa-edit"></i></a>
                                {% else %}
                                    <a href="{{ url('translation_add', { code: translation.code, locale: locale }) }}"><i class="fa fa-plus"></i></a>
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if translations.haveToPaginate %}
            <div class="row">
                <div class="col-12">
                    {{ pagerfanta( translations, 'rox_default', { 'routeName': routeName, 'routeParams': routeParams }) }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
