{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.mockup.title' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind') }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    <p class="u-mb-8">{{ 'translation.mockup.abstract'|trans }}</p>
    <p class="u-mb-8 u-text-24">{{ name }}</p>
    {% if url != '' %}<p class="u-mb-8">{{ 'translations.mockup.url'|trans }}: {{ url }}</p>{% endif %}
    <p class="u-mb-8">{{ 'translations.mockup.template'|trans }}: {{ template}}</p>
    {% if description != '' %}<p class="u-mb-8">{{ description }}</p>{% endif %}
    <div id="mockup" class="u-my-8 u-p-8">{{ block("content", html_template)|raw }}</div>
    <div class="u-flex u-justify-end"><a class="o-button" href="{{ url('translations_mockups_feature', { feature: feature }) }}">{{ 'mockup.back.feature'|trans({ feature: feature })|humanize }}</a></div>
{% endblock content %}
