{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.mockups.title' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tailwind')  }}
{% endblock stylesheets %}

{% block content %}
    <h1>{{ 'translations.headline.mockups' | trans }}</h1>
    <div class="u-grid u-grid-cols-2 u-gap-8">
    {% for feature in features %}
        <a class="o-button" href="{{url('translations_mockups_feature', {'feature': feature})}}"><i class="fas fa-folder"></i>&nbsp;{{ feature|humanize }}</a>
    {% endfor %}
    </div>
{% endblock content %}
