{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.mockup.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    <p>{{ 'translation.mockup.abstract'|trans }}</p>
    <p>{{ 'translations.mockup.url'|trans }}: {{ html_template }}</p>
    <div id="mockup" class="p-2">{{ block("content", html_template)|raw }}</div>
{% endblock content %}
