{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    <p>{% trans with {'%locale%': app.request.locale} %}admin.translation.no_right{% endtrans %}</p>
    <p>{{ 'admin.translations.select.locale' | trans }}<br>
        <br>
        {%- for locale in locales -%}
            <a href="{{ path('translations_locale_code', { 'locale' : locale}) }}" class="btn btn-primary mr-2">{{ ('lang_' ~ locale) | trans }} ({{ locale }})</a>&nbsp;
        {%- endfor -%}
    </p>
{% endblock content %}