{% import 'macros.twig' as macros %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>
        {% apply spaceless %}
            {% if block('title') is defined %}
                {{ block('title') | trim }} |
            {% endif %} BeWelcome
        {% endapply %}
    </title>

    <meta name="description" content="{{ 'default_meta_description' | trans }}">
    <meta name="keywords" content="{{ 'default_meta_keyword' | trans }}">
    <meta name="robots" content="{{ robots }}">
    {% block redirect %}{% endblock %}

    {{ encore_entry_link_tags('bewelcome') }}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block matomo %}{% endblock %}
    <base id="baseuri" href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}">

    <link rel="manifest" href="{{ asset('manifest.webmanifest') }}">
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('{{ asset('service-worker.js') }}');
            });
        }
    </script>
</head>
<body>
{% block menu %}hallo{% endblock menu %}
<main role="main">
    {% set sidebar = (submenu is defined) %}
    {% set contentBlock %}
        {% for label, messages in app.flashes %}
            <div class="row">
                {% for message in messages %}
                    <div class="col-12">
                        <div class="alert alert-{{ label }}">
                            {{ message | raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {{ block("content", 'about/getactive.html.twig')|raw }}
    {% endset %}
    <div class="container-lg">
        {% if sidebar %}
            <div class="row mt-2">
                <div class="col-12 col-md-9">
                    <p class="float-right d-md-none">
                        <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="offcanvas"><span class="navbar-dark navbar-toggler-icon"></span></button>
                    </p>
                    {{  contentBlock | raw }}
                </div>
                <div class="col-md-3 offcanvas-collapse mb-2" id="sidebar">
                    <div class="w-100 p-1 text-right d-md-none">
                        <button type="button" class="btn btn-sm" aria-label="Close" data-toggle="offcanvas">
                            <i class="fa fa-lg fa-times white" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="list-group mb-2">
                        {% for filter,menuItem in submenu.items %}
                        {% if (filter is same as ('separator') or filter is same as ('separator2')) %}
                    </div><h3 class="mt-3 h3-canvas-color">{{ menuItem.key | lower | trans }}</h3><div class="list-group mb-2">
                        {% else %}
                            <a class="list-group-item nav-link{% if submenu.active == filter %} active{% endif %}"
                               href="{{ menuItem.url }}">{{ menuItem.key | lower | trans }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="pull-right"><a href="{{ url(menu_url, { number: next })}}" style="font-size:20px;">Switch to number {{ next }}</a></div>
            <div class="clearfix"></div>
            {{ block("content", 'about/getactive.html.twig')|raw }}
        {% endif %}
    </div>
</main>
{% include 'footer.html.twig' %}
{{ encore_entry_script_tags('bewelcome') }}
{{ encore_entry_script_tags('updatecounters') }}
{% if sidebar %}
    {{ encore_entry_script_tags('offcanvas') }}
{% endif %}
<script type="application/javascript">
    $(".select2").select2({
        theme: 'bootstrap4',
        width: 'auto',
        dropdownAutoWidth: true
    });
    $(".toast").toast('show');
</script>
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
