{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('tailwind') }}
{% endblock stylesheets %}

{% block title %}
    {{ 'safety' | trans }}
{% endblock %}



{% block content %}
<div class="o-text">
<h1><a href="{{ url('safety') }}">{{ 'safety' | trans }}</a></h1>
<span class="clearfix"></span>
<div class="row">
    <div class="col-12 col-lg-6">
        <h3>{{ 'safety_tipsgeneral' | trans | purify }}</h3>
        <p>{{ 'safety_tipsgeneraltext' | trans | purify }}</p>
        <p>{{ 'safety_tipsgeneraltext_cont' | trans 
            ({ 'safety.tipsgeneraltext_cont.contact.us' : '<a href="' ~ url('safety_contact') ~ '">' ~ 'safety.tipsgeneraltext_cont.contact.us'|trans ~ '</a>' })
            | purify }}
        </p>
    </div>
    <div class="col-12 col-lg-6">
        <h3>{{ 'safety_tipsfemale' | trans | purify }}</h3>
        <p>{{ 'safety_tipsfemaletext' | trans | purify }}</p>
        <p>{{ 'safety_tipsfemaletext_cont' | trans 
            ({ 'safety.tipsfemaletext_cont.contact.us' : '<a href="' ~ url('safety_contact') ~ '">' ~ 'safety.tipsfemaletext_cont.contact.us'|trans ~ '</a>' })
            | purify }}
        </p>
        <p><a class="btn btn-outline-primary" href="{{ path('safety')}}"><i class="fa fa-user-shield mr-1"></i>{{'safety_learnaboutsafety' | trans }}</a></p>
    </div>
</div>
</div>
{% endblock content %}
