{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block stylesheets %}
    {{ encore_entry_link_tags('jquery_ui') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing') }}
    {{ encore_entry_script_tags('jquery_ui') }}
    {{ encore_entry_script_tags('search/searchpicker') }}
{% endblock javascripts %}

{% block content %}
    <div class="row welcomeback mx-0 mb-4 p-2">
        {% include 'landing/widget/profilepicturewithaccommodation.html.twig' with {
        member: app.user
        } only %}

        <div class="col-12 col-lg-6 align-self-center">
            <div class="d-flex flex-column">
                <div class="d-inline-flex h2 my-2">
                    <span class="d-none d-md-flex mr-md-2">{{ 'landing.welcomeback' | trans }}</span>{{ macros.profilelink(app.user.Username) }}
                </div>
                <div class="d-inline-flex align-items-center h4">
                    <span class="d-none d-md-flex">{{ 'landing.yourhostingstatus' | trans }}</span>
                    {% include 'landing/widget/accommodation.html.twig' with {
                    member: app.user
                    } only %}
                    in
                    {# Provide a way to search in member's location #}
                    {{ form_start( searchLocation, { 'action': path('search_members'), 'attr' : {'style' : 'display: inline;'}} ) }}
                    {{ form_widget(searchLocation.updateMap, {'attr' : {'class' : 'searchsubmit ml-1 mb-0 homecity'},
                        'label': searchLocation.vars.value.location } ) }}
                    <div class="d-none invisible">{{ form_rest(searchLocation) }}</div>
                    {{ form_end(searchLocation) }}
                </div>
            </div>


        </div>
        {# where do you want to go? #}
        <div class="col-12 col-lg-4 align-self-center ml-auto">
            {{ form_start( tinySearch, { 'action': path('search_members') } ) }}

            <label for="search_goto_location_form_search" class="sr-only">{{ 'landing.whereyougo' | trans }}</label>
            <div class="input-group">
                {{ form_widget( tinySearch.location, { 'attr' : { 'class' : 'search-picker form-control' } } ) }}
                <span class="input-group-append">
                                {{ form_widget( tinySearch.updateMap, { 'action': path('search_members'), 'attr' : { 'class' : 'btn btn-primary' },
                                    'label': 'Go' } ) }}
                </span>
            </div>
            <div class="d-none invisible">{{ form_rest( tinySearch ) }}</div>
            {{ form_end( tinySearch ) }}

        </div>
    </div>

    <div class="d-flex row align-items-stretch flex-wrap pb-3">

        {# messages box #}
        <div class="col-12 col-lg-5 align-items-stretch">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" aria-controls="messages" href="#messages" role="tab" data-toggle="tab">{{ 'landing.tab.messagesreceived' | trans }}{% if messageCount + requestCount %} <span
                                class="badge badge-primary">{{ messageCount + requestCount }}</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-controls="notifications" href="#notifications" role="tab"
                       data-toggle="tab">{{ 'landing.tab.notifications' | trans }}{% if notificationCount %} <span
                                class="badge badge-primary">{{ notificationCount }}</span>{% endif %}</a>
                </li>
            </ul>

            <div class="dashbox h-100 tab-content p-1">

                {# messages #}
                <div role="tabpanel" class="tab-pane h-100 active" id="messages">
                    {# all / unread messages toggle #}
                    <div class="d-flex btn-group justify-content-center m-1" data-toggle="buttons" role="radiogroup">
                        <label class="btn btn-primary btn-radio{% if messageFilter == 'All' %} active{% endif %}" id="all" role="radio">
                            <input type="radio" name="options" autocomplete="off" onclick="updateMessages()"
                                   {% if messageFilter == 'All' %}checked{% endif %} hidden>{{ 'landing.button.all' | trans }}
                        </label>
                        <label for="unread" class="btn btn-primary btn-radio{% if messageFilter == 'Unread' %} active{% endif %}" id="unread" role="radio">
                            <input type="radio" name="options" autocomplete="off" onclick="updateMessages()" {% if messageFilter == 'Unread' %}checked{% endif %} hidden>{{ 'landing.button.unread' | trans }}
                        </label>
                    </div>

                    {# received messages #}
                    <div id="messagesdisplay" class="scrollcontent">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br>
                            {{ 'dashboard.load.messages' | trans }}</p>
                    </div>

                    {# message buttons #}
                    <div class="text-center">
                        <a href="{{ url( 'both' )}}" class="btn btn-outline-primary btn-homewhite">
                            <i class="fa fa-envelope mr-1"></i>{{ 'landing.button.myinbox' | trans }}{% if messageCount + requestCount %} <span
                                    class="badge badge-primary">{{ messageCount + requestCount }}</span>{% endif %}</a>
                    </div>
                </div>

                {# notifications #}
                <div role="tabpanel" class="tab-pane h-100 p-2" id="notifications">
                    <div id="notificationsdisplay">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br/>
                            {{ 'dashboard.load.notifications' | trans }}</p>
                    </div>
                </div>

            </div>
        </div>

        {# community box #}
        <div class="col-12 col-lg-7 align-items-stretch mt-sm-5 mt-lg-0">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#threads" class="nav-link active" aria-controls="threads" role="tab" data-toggle="tab">{{ 'landing.tab.forum' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="#activities" class="nav-link" aria-controls="activities" role="tab" data-toggle="tab">{{ 'landing.tab.activities' | trans }}{% if activityCount %} <span
                                class="badge badge-primary">{{ activityCount }}</span>{% endif %}</a>
                </li>
            </ul>

            <div class="dashbox h-100 tab-content p-1">
                {# forum discussions #}
                <div role="tabpanel" class="tab-pane h-100 active" id="threads">

                    {# display settings#}
                    <div class="d-flex btn-group justify-content-center m-1" data-toggle="buttons">
                        <label class="btn btn-primary btn-radio{% if forumFilter == 'GroupsAndForums' or forumFilter == 'Groups' %} active{% endif %}" id="groupsButton">
                            <input type="checkbox" autocomplete="off"{% if forumFilter == 'GroupsAndForums' or forumFilter == 'Groups' %} checked{% endif %} hidden>{{ 'landing.button.groups' | trans }}
                        </label>
                        <label class="btn btn-primary btn-radio{% if forumFilter == 'GroupsAndForums' or forumFilter == 'Forums' %} active{% endif %}" id="forumButton">
                            <input type="checkbox" autocomplete="off"{% if forumFilter == 'GroupsAndForums' or forumFilter == 'Forums' %} checked{% endif %} hidden>{{ 'landing.button.forum' | trans }}
                        </label>
                    </div>

                    {# received messages #}
                    <div id="threadsdisplay">
                        <p class="text-center">
                            <i class="fa fa-4x fa-spin fa-spinner my-5 align-middle"></i><br/>
                            {{ 'dashboard.load.threads' | trans }}</p>
                    </div>

                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="/forums" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-comments mr-1"></i>{{ 'landing.button.discussions' | trans }}</a>
                            <a href="/groups/mygroups" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-users mr-1"></i>{{ 'landing.button.mygroups' | trans }}</a>
                            <a href="/forums/subscriptions" class="btn btn-outline-primary btn-homewhite"><i
                                        class="fa fa-check-square mr-1"></i>{{ 'landing.button.subscriptions' | trans }}</a>
                        </div>
                    </div>

                </div>

                {# load activities #}
                <div role="tabpanel" class="tab-pane h-100" id="activities">
                    <div class="d-flex btn-group justify-content-center m-1" role="group">
                        <a href="/activities" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-map-o"></i> {{ 'landing.activities.allactivities' | trans }}</a>
                        <a href="/activities/myactivities" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-calendar"></i> {{ 'landing.activities.myactivities' | trans }}</a>
                        <a href="/activities/create" class="btn btn-outline-primary btn-homewhite"><i
                                    class="fa fa-calendar-plus-o"></i> {{ 'landing.activities.create' | trans }}</a>
                    </div>
                    <div id="activitiesdisplay" class="col-12">
                        <p class="text-center my-3">
                            <i class="fa fa-4x fa-spin fa-spinner my-3"></i><br/>
                            {{ 'dashboard.load.activities' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pt-4">
        &nbsp; {# rendering fix #}
    </div>

    {# 4 widgets#}
    <div class="d-flex row flex-wrap">

        <div class="col-12 col-lg-5 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">{{ 'landing.beinvolved.title' | trans }}<br/><span class="homesubt">{{ 'landing.beinvolved.subtitle' | trans }}</span></h4>

                {% if campaign.yearDonated < campaign.yearNeeded %}
                    <p class="text-center mb-0">{{ 'landing.beinvolved.goalfor' | trans }} {{ campaign.year }} - {{ campaign.year + 1 }}:
                        <strong>€{{ campaign.yearNeeded }}</strong></p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ (campaign.yearDonated / campaign.yearNeeded) * 100 }}%;" aria-valuenow="{{ campaign.yearDonated }}" aria-valuemin="0" aria-valuemax="{{ campaign.yearNeeded }}"></div>
                    </div>
                    <p class="text-center">
                        {{ '€ ' ~ campaign.yearDonated ~ ''}}
                        <span class="ml-1">{{ 'dashboard.donation.received' | trans }}</span></p>
                    <p><a href="{{ url('donate') }}" class="btn btn-outline-primary btn-homewhite btn-block mb-1"><i
                                    class="fa fa-euro-sign"></i> {{ 'landing.beinvolved.pleasedonate' | trans }}</a></p>


                {% endif %}

                <p>{{ 'landing.beinvolved.intro' | trans }}</p>
                <p><a href="{{ url('getactive') }}" class="btn btn-outline-primary btn-homewhite btn-block"><i
                            class="fa fa-wrench"></i> {{ 'landing.beinvolved.helpbewelcome' | trans }}</a></p>
                <p><a href="{{ url('donate') }}" class="btn btn-outline-primary btn-homewhite btn-block mb-1"><i
                                class="fa fa-euro-sign"></i> {{ 'landing.beinvolved.pleasedonate' | trans }}</a></p>

            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">{{ 'landing.bwnews.title' | trans }}<br/><span class="homesubt">{{ 'landing.bwnews.subtitle' | trans }}</span></h4>

                <h5>
                    <a href="{{ url('communitynews_show', { id: communityNews.id} ) }}">{{ communityNews.title }}</a>
                </h5>
                {{ communityNews.text | truncate(200) | raw }}<a
                            href="{{ url('communitynews_show', { id: communityNews.id} ) }}"
                            class="btn btn-sm btn-primary">{{ 'label.read.more' | trans }}</a>
                <div>
                    <small>{{ communityNews.createdAt.diffForHumans }}</small>
                    {% set commentsCount = communityNews.comments | length %}<small class="float-right">{% trans with {'commentsCount': commentsCount} %}bewelcome_news.nrcomments{% endtrans %}</small>
                </div>
                <a href="{{ url('communitynews') }}" class="btn btn-outline-primary btn-homewhite btn-block mt-2"><i
                            class="far fa-newspaper"></i> {{ 'landing.bwnews.allnews' | trans }}</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2 mb-3">
            <div class="card p-2 h-100">
                <h4 class="homehfour">{{ 'landing.beinformed.title' | trans }}<br/><span class="homesubt">{{ 'landing.beinformed.subtitle' | trans }}</span></h4>
                <a href="{{ url('about') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-question mr-2"></i>{{ 'landing.beinformed.about' | trans }}</a>
                <a href="{{ url('about_faq') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-question mr-2"></i>{{ 'landing.beinformed.faq' | trans }}</a>
                <a href="{{ url('safety') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block mb-1 text-truncate"><i
                            class="fa fa-user-shield mr-2"></i>{{ 'landing.beinformed.safety' | trans }}</a>
                <a href="https://www.bevolunteer.org/" target="_blank" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-bullseye mr-2"></i>{{ 'landing.beinformed.bevolunteer' | trans }}</a>
                <a href="https://www.bevolunteer.org/reports/annual-reports/" target="_blank" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book mr-2"></i>{{ 'landing.beinformed.annualreport' | trans }}</a>
                <a href="https://www.bevolunteer.org/reports/financial-reports/" target="_blank" class="btn btn-outline-primary btn-homewhite btn-sm btn-block mb-1 text-truncate"><i
                            class="fa fa-money-bill-wave-alt mr-2"></i>{{ 'landing.beinformed.finances' | trans }}</a>
                <a href="{{ url('terms_language', {'language': app.request.locale }) }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book mr-2"></i>{{ 'landing.beinformed.termsofuse' | trans }}</a>
                <a href="{{ url('privacy') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book mr-2"></i>{{ 'landing.beinformed.privacypolicy' | trans }}</a>
                <a href="{{ url('credits') }}" class="btn btn-outline-primary btn-homewhite btn-sm btn-block text-truncate"><i
                            class="fa fa-book mr-2"></i>{{ 'credits.title' | trans }}</a>
            </div>
        </div>
    </div>

{% endblock content %}

