{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('signup/finalize') }}
{% endblock stylesheets %}

{% block content %}
<div class="u:min-w-[320px] u:max-w-[640px] u:m-auto">

<h1>{{ 'members.confirm.email'|trans }}</h1>
    {{ 'members.confirm.email.blurb'|trans|raw }}
    {{ form_start(confirm_email, { 'attr': { autocomplete: 'off', class: 'u:mt-8' } }) }}
    {{ form_row(confirm_email.registration_key) }}

    <div class="u:flex u:justify-end u:mt-8">
        <input type="submit" class="o-button" value="{{ 'members.confirm.email.button'|trans }}">
    </div>

    {{ form_end(confirm_email) }}
</div>
{% endblock content %}
