{% extends 'base-lite.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
    BeWelcome - {{ 'signup' | trans }}
{% endblock title %}

{% block javascripts %}
    {{ encore_entry_script_tags('password/showhide') }}
    {{ encore_entry_script_tags('password/check') }}
{% endblock javascripts %}

{% block content %}
    <h1>{{ 'signup'|trans }}</h1>
    {{ form_start(signup, { 'attr': { autocomplete: 'off' } }) }}
    {% if signup.username.vars.value is empty %}
        {{ form_row(signup.username, {'attr': {autofocus: 'autofocus'}}) }}

        {{ form_row(signup.email) }}
    {% else %}
        {{ form_row(signup.username) }}

        {{ form_row(signup.email, {'attr': {autofocus: 'autofocus'}}) }}
    {% endif %}

    <div class="o-form-group u-mt-8">
        {{ form_label(signup.password) }}
        <div class="u-relative">
            {{ form_widget(signup.password) }}
            <button type="button" id="password_show_hide" class="js-password-show-hide u-absolute u-text-gray-50 u-border-0 u-bg-white u-h-full u-top-0 u-end-0" style="height: 38px; margin: 1px; background-color: transparent">
                <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path class="block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                    <circle class="block" cx="12" cy="12" r="3"></circle>
                </svg>
            </button>
        </div>
        <div class="u-flex u-flex-row u-space-x-4 u-my-4 u-px-8 js-password-strength">
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
            <div class="u-grow u-bg-gray-20 u-rounded-4 u-h-4"></div>
        </div>
        {{ form_help(signup.password) }}
    </div>

    {{ form_row(signup.terms_privacy) }}
    <div class="u-flex u-justify-end">
        <input type="submit" class="o-button" value="{{ 'signup.join'|trans }}">
    </div>
    {{ form_end(signup) }}
{% endblock content %}
