{% extends 'base-lite.html.twig' %}
{% import 'macros.twig' as macros %}

{% block title %}
    BeWelcome - {{ 'signup' | trans }}
{% endblock title %}

{% block javascripts %}
    {{ encore_entry_script_tags('password/showhide') }}
    {{ encore_entry_script_tags('password/check') }}
{% endblock javascripts %}

{% block main_class %}main--bare{% endblock %}

{% block main_content %}
<div class="signup-layout">
    <div class="signup-layout__image" aria-hidden="true">
        <img class="signup-layout__img"
             srcset="{{ asset('images/homepicture-1200px_2-min.jpg') }} 1200w, {{ asset('images/homepicture-576px_2-min.jpg') }} 576w"
             src="{{ asset('images/homepicture-1200px_2-min.jpg') }}"
             alt="">
        <div class="signup-layout__overlay">
            <div class="signup-layout__brand">
                <img class="signup-layout__logo-icon" src="{{ asset('images/logo_icon_2025.svg') }}" alt="" width="56" height="56">
                <img class="signup-layout__logo-text" src="{{ asset('images/logo_text_2025.svg') }}" alt="BeWelcome">
            </div>
            <p class="signup-layout__tagline">{{ 'home.abstract.bewelcome.cultural' | trans }}</p>
            <p class="signup-layout__subheading">{{ 'home.bewelcome.free' | trans | escape | replace({
                '%link_start%': '',
                '%link_end%': ''
            }) }}</p>
        </div>
    </div>

    <div class="signup-layout__form-panel">
        <div class="signup-layout__form-inner">
            <h1 class="signup-layout__heading">{{ 'signup' | trans }}</h1>

            {{ form_start(signup, { 'attr': { autocomplete: 'off' } }) }}

            {% if signup.username.vars.value is empty %}
                {{ form_row(signup.username, {'attr': {autofocus: 'autofocus'}}) }}
                {{ form_row(signup.email) }}
            {% else %}
                {{ form_row(signup.username) }}
                {{ form_row(signup.email, {'attr': {autofocus: 'autofocus'}}) }}
            {% endif %}

            <div class="o-form-group u:mt-8">
                {{ form_label(signup.password) }}
                <div class="u:relative">
                    {{ form_widget(signup.password) }}
                    <button type="button" id="password_show_hide" class="js-password-show-hide u:absolute u:text-gray-50 u:border-0 u:bg-white u:h-full u:top-0 u:end-0" style="height: 38px; margin: 1px; background-color: transparent">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path class="block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                            <circle class="block" cx="12" cy="12" r="3"></circle>
                        </svg>
                    </button>
                </div>
                <div class="u:flex u:flex-row u:space-x-4 u:my-4 u:px-8 js-password-strength">
                    <div class="u:grow u:bg-gray-300 u:rounded-4 u:h-4"></div>
                    <div class="u:grow u:bg-gray-300 u:rounded-4 u:h-4"></div>
                    <div class="u:grow u:bg-gray-300 u:rounded-4 u:h-4"></div>
                    <div class="u:grow u:bg-gray-300 u:rounded-4 u:h-4"></div>
                    <div class="u:grow u:bg-gray-300 u:rounded-4 u:h-4"></div>
                </div>
                {{ form_help(signup.password) }}
            </div>

            <div class="signup-layout__terms">
                <div class="o-form-group">
                    {{ form_widget(signup.terms_privacy, {
                        'label': signup.terms_privacy.vars.label|trans ~ ' ' ~ 'help.terms'|trans,
                        'label_html': true
                    }) }}
                </div>
            </div>

            <div class="signup-layout__actions">
                <p class="signup-layout__login-link">
                    {{ 'menu.already.a.member' | trans }}
                    <a href="{{ url('homepage') }}">{{ 'login' | trans }}</a>
                </p>
                <input type="submit" class="o-button signup-layout__submit" value="{{ 'signup.join' | trans }}">
            </div>

            {{ form_end(signup) }}
        </div>
    </div>
</div>
{% endblock main_content %}
