{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'bewelcome_news.header' | trans }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 mb-3">

        <div class="card o-card">
            <div class="media">

                {{ macros.avatar( communityNews.createdBy.Username, 100, true) }}<br>

                <div class="media-body ml-2">
                    <h1 class="my-0">{{ communityNews.title }}</h1>
                    <small class="text-muted">{{ 'bewelcome_news.writtenby' | trans }} {{ macros.profilelink( communityNews.createdBy.Username ) }} {{ communityNews.createdAt.DiffForHumans }}
                        {% if communityNews.updatedBy and communityNews.updatedBy.Username != communityNews.createdBy.Username %}{{ 'bewelcome_news.lastupdater' | trans}}{{ macros.avatar( communityNews.updatedBy.Username, 30, true) }} {{ communityNews.updatedAt.DiffForHumans }}{% endif %}</small>

                        {{ communityNews.text| raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
</div>
{% endblock content %}
