{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'bewelcome_news.header' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ communityNews.title }}</h1>
    <p class="small text-muted">{{ 'bewelcome_news.writtenby' | trans }}{{ macros.avatar( communityNews.createdBy.Username, 30, true) }} {{ communityNews.createdAt.DiffForHumans }}
        {% if communityNews.updatedBy and communityNews.updatedBy.Username != communityNews.createdBy.Username %} {{ 'bewelcome_news.lastupdater' | trans}}{{ macros.avatar( communityNews.updatedBy.Username, 30, true) }} {{ communityNews.updatedAt.DiffForHumans }}{% endif %}</p>
    <p class="my-0">{{ communityNews.text| raw }}</p>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock content %}
