{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'error.html.twig' %}

{% block content %}
    <h1>{{ 'error.page.server.error'|trans }}</h1>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>Hi {{ app.user.Username }}!<p>
        <p>{{ 'error.500'|trans }}</p>
    {% else %}
        <p>{{ 'error.500'|trans }}</p>
    {% endif %}
    <p>
        <br><a href="{{ url('homepage') }}">{{ 'error.return.home'|trans }}</a>
    </p>
{% endblock %}
