{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Wiki' | trans }}
{% endblock %}

{% block content %}

    <h1>{{ title | title }}</h1>

    <div id="wiki">{{ wikipage | raw }}</div>

    <a class="btn btn-primary mb-3" href="{{ url('wiki_page_edit', { 'pageTitle': title}) }}">{{ 'Edit page' | trans }}</a>

{% endblock content %}
