{# Primary site navigation (desktop + hamburger overflow). Expects: loggedInMember, teams (Twig globals). #}
<nav id="main_menu" class="navbar sticky-top navbar-dark navbar-expand bg-primary justify-content-between">
    <div class="container-lg">
        <ul id="collapsing_menu" class="navbar navbar-nav">
            <li class="nav-item">
                <a id="brand_image" class="navbar-brand" href="{{ url('homepage') }}">
                    {% include 'logo.html.twig' %}
                </a>
            </li>
            {% if loggedInMember %}
            <li class="nav-item dropdown">
                <a href="#search_menu" class="nav-link dropdown-toggle"
                   data-target="search_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'findmembers' | trans }}">
                    &nbsp;{{ 'findmembers'|trans }}
                </a>
                <ul id="search_menu" class="dropdown-menu" role="menu">
                    <li><a href="{{ url( 'search_locations' ) }}" class="dropdown-item"><i class="fa fa-fw fa-globe mr-1"></i>{{ 'search.locations' | trans }}</a></li>
                    <li><a href="{{ path('search_members') }}" class="dropdown-item"><i class="fa fa-fw fa-users mr-1"></i>{{ 'search.members' | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="{{ url('places') }}" class="dropdown-item"><i class="fa fa-fw fa-globe mr-1"></i>{{ 'browsecountries' | trans }}</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="{{ url('visitors') }}" class="dropdown-item"><i class="fa fa-fw fa-users mr-1"></i>{{ 'menu.visitors' | trans }}</a></li>
                    <li><a href="{{ url('trips') }}" class="dropdown-item"><i class="fa fa-fw fa-map mr-1"></i>{{ 'trips.mytrips' | trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if loggedInMember and teams|length != 0 %}
                <li class="nav-item dropdown">
                    <a href="#volunteer_menu" class="nav-link dropdown-toggle"
                       data-target="volunteer_menu" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" aria-label="{{ 'volunteer' | trans }}">
                        {{ 'volunteer' | trans }}
                    </a>
                    <ul id="volunteer_menu" class="dropdown-menu" role="menu">
                        {% for team in teams %}
                            <li>
                                {% if team.route starts with '/' %}
                                    <a href="{{ team.route }}" class="dropdown-item">{{ team.trans | trans }}</a>
                                {% else %}
                                    <a href="{{ path(team.route) }}" class="dropdown-item">{{ team.trans | trans }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ url('getactive') }}" class="dropdown-item">{{ 'about_getactive' | trans }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if not loggedInMember %}
                {% include 'login_form_navbar.html.twig' %}
            {% endif %}
        </ul>
        <ul id="static_menu" class="navbar navbar-nav">
            {% if loggedInMember %}
            {# conversations #}
            <li class="nav-item">
                <div id="conversationCount" class="nav-link pl-0 pl-md-1" data-count="-1">
                    <a href="{{ path('conversations', {'conversationsType': 'conversations'}) }}" aria-label="{{ 'conversations' | trans }}" class="text-white align-items-center">
                        <i class="fas fa-envelope"></i>
                        <span class="badge badge-warning"><i class="fa fa-fw fa-spinner"></i></span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#member_menu" class="nav-link dropdown-toggle pl-0 pl-md-1"
                   data-target="member_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ 'profile' | trans }}">
                    <span class="d-none d-md-inline">{{ loggedInMember.Username }}&nbsp;</span>
                    <img class="profileimg px-0 js-profile-picture" src="{{ url('avatar', { username: loggedInMember.username, size: 36 })}}" width="36" height="36" alt="{{ 'profile.picture' }}">
                </a>
                <ul id="member_menu" class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="text-right"><a
                            href="{{ path('conversations', {'conversationsType': 'conversations'}) }}"
                            class="dropdown-item">{{ 'conversations' | trans }}</a></li>
                    <li class="text-right"><a
                            href="{{ path( 'members_profile' , {username: loggedInMember.username} ) }}"
                            class="dropdown-item">{{ 'profile' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('profile_edit', {username: loggedInMember.username}) }}"
                                              class="dropdown-item">{{ 'profile.menu.edit.profile' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('preferences', {'username': loggedInMember.username}) }}"
                                              class="dropdown-item">{{ 'profile.menu.preferences' | trans }}</a></li>
                    <li class="text-right"><a href="{{ path('notes', {'username': loggedInMember.username}) }}"
                                              class="dropdown-item">{{ 'profile.menu.my.notes' | trans }}</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li class="text-right"><a href="{{ path('change_password', {'username': loggedInMember.username}) }}"
                                              class="dropdown-item">{{ 'profile.change.password.menu' | trans }}</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li class="text-right"><a href="{{ url( '_logout_main' ) }}"
                                              class="dropdown-item">{{ 'logout' | trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if not loggedInMember %}
                {% include 'login_form_dropdown.html.twig' %}
            {% endif %}
            <li class="nav-item">
                <button class="btn btn-primary border px-2 py-1 mr-1 d-none" id="hamburger" type="button" data-toggle="collapse" data-target="#hamburger_collapse" aria-controls="hamburger_collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars white"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="collapse navbar-dark bg-primary" id="hamburger_collapse" style="position:sticky; top: 46px; z-index: 1020;">
    <div class="container-lg">
        <ul id="hamburger_menu" class="navbar-nav text-right"></ul>
    </div>
</div>
