<h3>{{ 'tourpage' | trans }}</h3>

<h4>{{ 'tourpage_title1' | trans }}</h4>

<div class="subcolumns">
    <div class="c50l">
        <div class="subcl">
            <h4>{{ 'tour_link_share' | trans }}</h4>
            <div class="clearfix">
                <a href="{{ path('tour', { page: 'share' }) }}">
                    <img src="images/tour/arrow_share_small.png" class="float_right" alt="share">
                </a>
                <p>{{ 'tourpage_text2' | trans }}</p>
            </div>

            <h4>{{ 'tour_link_meet' | trans }}</h4>
            <div class="clearfix">
                <a href="{{ path('tour', { page: 'meet' }) }}">
                    <img src="images/tour/arrow_world_small.png" class="float_right" alt="meet">
                </a>
                <p>{{ 'tourpage_text3' | trans }}</p>
            </div>

            <h4>{{ 'tour_link_trips' | trans }}</h4>
            <div class="clearfix">
                <a href="{{ path('tour', { page: 'trips' }) }}">
                    <img src="images/tour/arrow_plan_small.png" class="float_right" alt="plan trips">
                </a>
                <p>{{ 'tourpage_text4' | trans }}</p>
            </div>
        </div> <!-- subcl -->
    </div> <!-- c50l -->

    <div class="c50r">
        <div class="subcr">
            <h4>{{ 'tour_link_maps' | trans }}</h4>
            <div class="clearfix">
                <a href="{{ path('tour', { page: 'maps' }) }}">
                    <img src="images/tour/arrow_maps_small.png" class="float_right" alt="maps">
                </a>
                <p>{{ 'tourpage_text5' | trans }}</p>
            </div>

            <h4>{{ 'tour_link_openness' | trans }}</h4>
            <div class="clearfix">
                <a href="{{ path('tour', { page: 'openness' }) }}">
                    <img src="images/tour/arrow_door_small.png" class="float_right" alt="open door">
                </a>
                <p>{{ 'tourpage_text6' | trans }}</p>
            </div>
        </div> <!-- subcr -->
    </div> <!-- c50r -->
</div> <!-- subcolumns index_row1 -->

<a class="button" href="{{ path('tour', { page: 'share' }) }}" onclick="this.blur();"
   style="margin-bottom: 20px"><span>{{ 'tour_start' | trans }}</span></a>
