<h3>{{ 'tour_maps' | trans }}</h3>

<h4>{{ 'tour_maps_title1' | trans }}</h4>
<p>{{ 'tour_maps_text1' | trans }}</p>

<div class="clearfix">
    <img src="images/tour/map2.png" class="float_left" alt="maps">
    <h4>{{ 'tour_maps_title2' | trans }}</h4>
    <p>{{ 'tour_maps_text2' | trans }}</p>
</div>

<h4>{{ 'tour_maps_title3' | trans }}</h4>
<p>{{ 'tour_maps_text3' | trans }}</p>
<a class="button" href="{{ path('tour', { page: 'openness' }) }}" onclick="this.blur();"
   style="margin-bottom: 20px"><span>{{ 'tour_goNext' | trans }} &raquo; {{ 'tour_link_openness' | trans }}</span></a>
