{% import '@macros/macros.twig' as macros %}

<h3>{{ 'tour_meet' | trans }}</h3>

<h4>{{ 'tour_meet_title1' | trans }}</h4>
<p>{{ 'tour_meet_text1' | trans }}</p>

<div class="clearfix" style="padding-top: 30px">
    <h4>{{ 'tour_meet_title2' | trans }}</h4>
    <p>{{ 'tour_meet_text2' | trans }}</p>

    {# Get 4 random members with a public profile and show their pictures+username #}
    <div class="row">
        {% for randomMember in randomMembers %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <p class="text-xs-center">
                <span class="username">
                    <a href="{{ path('member', { username: randomMember.Username }) }}">{{ randomMember.Username }}</a>
                </span>
                    <br>
                    {{ macros.avatar(randomMember.Username, 50) }}<br>
                    <span class="small grey">{{ randomMember.city.country.name }}</span>
                </p>
            </div>
        {% endfor %}
    </div>

</div>

<a class="button" href="{{ path('tour', { page: 'trips' }) }}" onclick="this.blur();"
   style="margin-bottom: 20px">{{ 'tour_goNext' | trans }} &raquo; {{ 'tour_link_trips' | trans }}</a>
