<h3>{{ 'tour_openness' | trans }}</h3>

<h4>{{ 'tour_openness_title1' | trans }}</h4>
<p>{{ 'tour_openness_text1' | trans | raw }}</p>

<div class="clearfix">
    <div class="float_left" style="padding:10px">
        <iframe width="400" height="300" src="http://www.youtube-nocookie.com/embed/aRS_wG4ZN4k?rel=0" frameborder="0"
                allowfullscreen></iframe>
    </div>

    <p>
        <a href="http://en.wikipedia.org/wiki/unconference">{{ 'tour_openness_videotext' | trans }}</a>
    </p>

    <h4>{{ 'tour_openness_title2' | trans }}</h4>
    <p>{{ 'tour_openness_text2' | trans | raw }}</p>
</div>

<h4>{{ 'tour_openness_title3' | trans }}</h4>
<p>{{ 'tour_openness_text3' | trans }}</p>
<h4><a href="signup">{{ 'tour_gosignup' | trans }}</a></h4>
<a class="button" href="signup" onclick="this.blur();"
   style="margin-bottom: 20px"><span>{{ 'signup_now' | trans }}</span></a>
