{% extends 'base-lite.html.twig' %}

{% block title %}
    {{ 'Login' | trans }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 mb-3">
            <h1 class="d-none d-md-block">BeWelcome - {{ 'IndexPageTeaserOpenDoor' | trans }}</h1>
        </div>
    </div>

    <div class="row justify-content-md-center">

        {% if error %}
            <div class="col-12 col-lg-8 offset-lg-2 mb-3 alert alert-danger mb-3">
                {{ error | trans }}
            </div>
        {% endif %}

        <div class="col-12 col-md-6 col-lg-4 card p-3 mb-3">


            <form id="main-login-form" role="form" class="form-signin" method="post" action="{{ path('security_check') }}">
                <h2 class="d-none d-md-block">{{ 'Login' | trans }}</h2>

                <label class="sr-only" for="login-u">{{ 'Username' | trans }}</label>
                <input type="text" id="login-u" name="username" autofocus required value="{{ last_username }}" placeholder="{{ 'Username' | trans }}" class="form-control">

                <label class="sr-only" for="login-p">{{ 'Password' | trans }}</label>
                <input type="password" id="login-p" name="password" placeholder="{{ 'Password' | trans }}" class="form-control">

                <label for="login-r">
                    <input type="checkbox" id="login-r" value="1" name="remember">&nbsp;{{ 'StayLoggedIn' | trans }}
                </label>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit" class="btn btn-primary btn-block">{{ 'IndexPageLoginSubmit' | trans }}</button>

                <p class="mt-3">
                    {{ 'LoginformForgetPassword' | trans | format('<a href="">', '</a>') | raw }}
                </p>
            </form>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h2 class="mb-3">{{ 'SignupNow' | trans }}</h2>
            <p>{{ 'IndexPageWord17' | trans | format('<a class="btn btn-primary btn-block" role="button" href="">', '</a>') | raw }}</p>
            <a class="btn btn-primary btn-block" role="button" href="">{{ 'tour_take' | trans }}</a>
        </div>
    </div>

{% endblock %}
