{% set langsel %}
    <select id="language" name="language" class="small select2 combo" style="padding-left: 0 2rem;" onchange="window.location.href=this.value; return false">
        {% for lang in languages %}
            <option {% if lang.ShortCode == language %}selected="selected"{% endif %} value="{{ baseuri }}/rox/in/{{ lang.ShortCode }}">{{ lang.TranslatedName|raw }} ({{ lang.NativeName|raw }})</option>
        {% endfor %}
    </select>
{% endset %}<div class="stickyfooter">
    <div class="container">
        <form class="form-inline" action="#" method="post">
            <div>Site currently displayed in {{ langsel }}.
                <a href="http://www.bewelcome.org/groups/60/wiki">{{ 'Help us Translate' | trans }}.</a>
            </div>
        </form>
<div class="m-t-1" >
    <a href="about"><strong>{{ 'AboutUsPage' | trans }}</strong></a> •
    <a href="terms" target="new">{{ 'TermsOfUse' | trans }}</a> •
    <a href="privacy" target="new">{{ 'Privacy' | trans }}</a> •
    <a href="impressum">{{ 'Impressum' | trans }}</a> •
    <a href="faq">{{  'faq' | trans }}</a> •
    <a href="about/feedback">{{ 'Contact us' | trans }}</a> •
    <a href="about/feedback?IdCategory=1&RequestURI={{ url('home') }}">{{ 'Reportbug' | trans }}</a></div>
<div class="m-t-1" >&copy; 2007-2016 <a href="http://www.bevolunteer.org/" target="_blank">BeVolunteer</a> and contributors - <em>
     Running on open source <a style="display:inline" href="http://trac.bewelcome.org/">BW Rox</a> rev. <a href="http://gitorious.org/bewelcome/rox/commit/bc93212">bc93212</a>
     (<span title="Sat, 14 Feb 2015 17:08:53 +0100">14 Feb 2015</span>)</em></div>
    </div>
</div>

