<footer>
    <div class="container">
        <form action="#" method="post">
            <div class="float_left">{{ 'FooterSiteDisplayed' | trans }}
                <select id="language" name="language" class="select2 combo" onchange="window.location.href=this.value; return false">
                    {% for lang in languages %}
                    <option {% if lang.ShortCode == language %}selected="selected"{% endif %} value="{{ baseuri }}/rox/in/{{ lang.ShortCode }}">{{ lang.TranslatedName|raw }} ({{ lang.NativeName|raw }})</option>
                    {% endfor %}
                </select>
                <a href="http://www.bewelcome.org/groups/60/wiki">Help us translate.</a>
            </div>
        </form>
    <div class="clearfix"></div>
<p>
    <a href="about"><strong>About BeWelcome</strong></a> •
    <a href="terms" target="new">Terms of use</a> •
    <a href="privacy" target="new">Privacy policy</a> •
    <a href="impressum">Legal note</a> •
    <a href="faq">FAQ</a> •
    <a href="about/feedback">Contact us</a> •
    <a href="http://localhost/feedback?IdCategory=1&amp;RequestURI=http%3A%2F%2Flocalhost%2F">Report bug</a>
<p>&copy; 2007-2015 <a style="display: inline" href="http://www.bevolunteer.org/" target="_blank">BeVolunteer</a> and contributors - <em>
     Running on open source <a style="display:inline" href="http://trac.bewelcome.org/">BW Rox</a> rev. <a href="http://gitorious.org/bewelcome/rox/commit/bc93212">bc93212</a>
     (<span title="Sat, 14 Feb 2015 17:08:53 +0100">14 Feb 2015</span>)</em></p>
    </div>
</footer>