{% import '@macros/macros.twig' as macros %}
<nav class="navbar navbar-sticky-top navbar-dark bg-primary">
        <div class="container">

            <a class="navbar-brand" href="/home"><img src="/images/logo_index_top.png" alt="{{ 'BeWelcome' | trans }}"/></a>

            <button class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" data-target="#exCollapsingNavbar1">
                &#9776;
            </button>

            <div class="collapse navbar-toggleable-md hidden-md-up" id="exCollapsingNavbar1">
                <ul class="nav navbar-nav">
                    <li class="nav-item col-xs-12">
                        <a href="/search" class="nav-link">{{ 'FindMembers' | trans }}</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a href="/trips" class="nav-link">{{ 'Trips' | trans }}</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a href="/mynotes" class="nav-link">{{ 'MyNotes' | trans }}</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a href="/messages" class="nav-link">{{ 'MyMessages' | trans }}</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a href="/logout" class="nav-link">{{ 'Logout' | trans }}</a>
                    </li>
                </ul>
            </div>

            <button class="navbar-toggler hidden-lg-up hidden-sm-down pull-xs-right" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>

            <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">

                    <ul class="nav navbar-nav">
                        <li class="navbar-divider hidden-md-down"></li>
                        <li class="nav-item">
                            <a href="/search" class="nav-link">{{ 'FindMembers' | trans }}</a>
                        </li>
                        <li class="navbar-divider hidden-md-down"></li>
                        <li class="nav-item">
                            <a href="/community" class="nav-link">{{ 'CommunityMenu' | trans }}</a>
                        </li>
                        <li class="navbar-divider hidden-md-down"></li>
                        <li class="nav-item">
                            <a href="/safety" class="nav-link">{{ 'Safety' | trans}}</a>
                        </li>
                        <li class="navbar-divider hidden-md-down"></li>
                        <li class="nav-item">
                            <a href="/volunteer" class="nav-link">{{ 'Volunteer' | trans}}</a>
                        </li>
                        <li class="navbar-divider hidden-md-down"></li>
                        <noscript><li class="nav-item"><a href="wiki/importantlinks" class="nav-link">All important links</a></li></noscript>
                        <li class="nav-item dropdown hidden-md-down">
                            <a href="#" class="nav-link" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                &#9776;
                            </a>

                            <div class="dropdown-menu subnav" aria-labelledby="dLabel">
                               <div class="container">
                                        <div class="p-t-1 p-b-1">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="button" class="close pull-xs-right" aria-label="Close" data-toggle="collapse" data-target="#exCollapsingNavbar1">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <a href="/about" class="h4">{{ 'GetAnswers' | trans}}</a>
                                                    <dl>
                                                        <a href="/faq"><dd>{{ 'Faq' | trans}}</dd></a>
                                                        <a href="/feedback"><dd>{{ 'ContactUs' | trans}}</dd></a>
                                                        <a href="/wiki"><dd>{{ 'Wiki' | trans}}</dd></a>
                                                        <a href="/stats"><dd>Statistics</dd></a>
                                                        <a href="/terms"><dd>{{ 'TermsOfUse'  | trans}}</dd></a>
                                                    </dl>
                                                </div>

                                                <div class="col-xs-2">
                                                    <a href="/search" class="h4">{{ 'FindMembers' | trans }}</a>
                                                    <dl>
                                                        <a href="/searchmembers"><dd>{{ 'MapSearch' | trans }}</dd></a>
                                                        <a href="/search"><dd>{{ 'TextSearch' | trans }}</dd></a>
                                                        <a href="/places"><dd>{{ 'BrowseCountries' | trans}}</dd></a>
                                                    </dl>
                                                </div>

                                                <div class="col-xs-2">
                                                    <a href="/community" class="h4">{{ 'CommunityMenu' | trans }}</a>
                                                    <dl>
                                                        <a href="/forums" title="{{ 'AgoraTagLine' | trans }}"><dd>{{ 'CommunityDiscussions' | trans }}</dd></a>
                                                        <a href="/groups/search" title="{{ 'GroupTagLine' | trans }}"><dd>{{ 'Groups' | trans }}</dd></a>
                                                        <a href="/activities"><dd>{{ 'Activities' | trans}}</dd></a>
                                                        <a href="/suggestions"><dd>{{ 'Suggestions' | trans}}</dd></a>
                                                        <a href="/trip"><dd>{{ 'Trips' | trans}}</dd></a>
                                                    </dl>
                                                </div>

                                                <div class="col-xs-2">
                                                    <a href="/volunteer" class="h4">{{ 'Volunteer' | trans}}</a>
                                                    <dl>
                                                        <a href="/about/getactive"><dd>{{ 'About_GetActive' | trans}}</dd></a>
                                                        <a href="/donate"><dd>{{ 'DonateLink'  | trans}}</dd></a>
                                                        {% for team in teams if teams %}
                                                            <a href="/{{ team.link }}"><dd class="m-b-0">{{ team.trans | trans}}</dd></a>
                                                        {% endfor %}
                                                    </dl>
                                                </div>

                                                <div class="col-xs-4">
                                                    <div class="col-xs-12 text-xs-center">
                                                        <a href="/members/{{ username }}" class="h4"><img src="/members/avatar/{{ username }}?50_50"> {{ username }}</a>
                                                    </div>

                                                    <div class="col-xs-6 pull-xs-left">
                                                        <a href="/editmyprofile" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-edit"></i> {{ 'EditMyProfile' | trans }}</a>
                                                        <a href="/mypreferences" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-sliders"></i> {{ 'MyPreferences' | trans }}</a>
                                                        <a href="/groups/mygroups" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-users"></i> {{ 'MyGroups' | trans }}</a>
                                                    </div>

                                                    <div class="col-xs-6 pull-xs-left">
                                                        <a href="/messages" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-envelope-o"></i> {{ 'MyMessages' | trans }}</a>
                                                        <a href="/mynotes" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-list"></i> {{ 'ProfileMyNotes' | trans }}</a>
                                                        <a href="/logout" class="btn btn-sm btn-block btn-primary-outline text-xs-left"><i class="fa fa-power-off"></i> {{ 'Logout' | trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </li>

                        {# normal member dropdown #}
                        <li class="nav-item dropdown pull-xs-right hidden-md-down">
                            <a href="/members/{{ username }}" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li class="text-xs-right"><a href="/members/{{ username }}" class="dropdown-item"><img src="members/avatar/{{ username }}?30_30"> {{ 'MyProfile' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/editmyprofile" class="dropdown-item">{{ 'EditMyProfile' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/mypreferences" class="dropdown-item">{{ 'MyPreferences' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/mynotes" class="dropdown-item">{{ 'ProfileMyNotes' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/groups/mygroups" class="dropdown-item">{{ 'MyGroups' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/trips" class="dropdown-item">{{ 'MyTrips' | trans }}</a></li>
                                <li class="text-xs-right"><a href="/logout" class="dropdown-item">{{ 'Logout' | trans }}</a></li>
                            </ul>
                        </li>

                        {# logout on smaller screens #}
                        <li class="nav-item pull-xs-right hidden-lg-up"><a href="/logout" class="nav-link"><i class="fa fa-sign-out"></i></a></li>

                        {# messages #}
                        <li class="nav-item pull-xs-right">
                            <a href="/messages" class="nav-link"><i class="fa fa-lg fa-inbox"></i><noscript>{{ 'MyInbox' | trans }}</noscript> <span class="label label-warning">{{ messages }}</span></a>
                        </li>

                        {# profile link on smaller screens #}
                        <li class="nav-item pull-xs-right hidden-lg-up">
                            <a href="/members/{{ username }}" class="nav-link"><i class="fa fa-user"></i><span class="hidden-md-down"> {{ username }} </span></a>
                        </li>

                    </ul>
            </div>

            {# Always have something for noscripters #}
            <noscript>
                <div class="hidden-lg-up">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="/search" class="nav-link">{{ 'FindMembers' | trans }}</a></li>
                        <li class="nav-item"><a href="/community" class="nav-link">{{ 'CommunityMenu' | trans }}</a></li>
                        <li class="nav-item"><a href="/safety" class="nav-link">{{ 'Safety' | trans}}</a></li>
                        <li class="nav-item"><a href="wiki/importantlinks" class="nav-link">All important links</a></li>
                        <li class="nav-item"><a href="/messages" class="nav-link">{{ 'MyMessages' | trans }}</a></li>
                        <li class="nav-item"><a href="/members/{{ username }}" class="nav-link">{{ username }}</a></li>
                    </ul>
                </div>

                {# always show a noscript logout #}
                <ul class="nav navbar-nav">
                    <li class="nav-item pull-xs-right"><a href="/logout" class="nav-link">{{ 'Logout' | trans }}</a></li>
                </ul>
            </noscript>

        </div>

    </nav>