<!-- #nav: main navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bewelcome-navbar-collapse-1">
                <span class="sr-only">{{ 'ToggleNavigation' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main"><img src="/images/logo_index_top.png"
                                                     alt="{{ 'BeWelcome' | trans }}"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bewelcome-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="search" class="dropdown-toggle" data-toggle="dropdown">{{ 'FindMembers' | trans }}<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="searchmembers">{{ 'MapSearch' | trans }}</a></li>
                        <li><a href="search">{{ 'TextSearch' | trans }}</a></li>
                        <li><a href="places">{{ 'BrowseCountries' | trans}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="community" class="dropdown-toggle" data-toggle="dropdown">{{ 'CommunityMenu' | trans }} <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="forums" title="{{ 'AgoraTagLine' | trans }}">{{ 'CommunityDiscussions' | trans }}</a></li>
                        <li><a href="groups/search" title="{{ 'GroupTagLine' | trans }}">{{ 'Groups' | trans }}</a></li>
                        <li><a href="activities">{{ 'Activities' | trans}}</a></li>
                        <li><a href="suggestions">{{ 'Suggestions' | trans}}</a></li>
                        <li><a href="trip">{{ 'Trips' | trans}}</a></li>
                        <li><a href="blog">{{ 'Blogs' | trans}}</a></li>
                        <li><a href="wiki">{{ 'Wiki' | trans}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="safety">{{ 'Safety' | trans}}</a>
                </li>
                <li class="dropdown">
                    <a href="about" class="dropdown-toggle" data-toggle="dropdown">{{ 'GetAnswers' | trans}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="faq">{{ 'Faq' | trans}}</a></li>
                        <li><a href="feedback">{{ 'ContactUs' | trans}}</a></li>
                        <li><a href="about/getactive">{{ 'About_GetActive' | trans}}Get active</a></li>
                        <li><a href="donate">{{ 'DonateLink'  | trans}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="font-weight: normal" href="main">{{ username }}</a>
                </li>
                <li>
                    <a href="/messages"><i class="fa  fa-lg fa-inbox" style="vertical-align: middle;"></i> <span
                                style="font-weight: normal">[{{ messages }}]</span></a>
                </li>
                <li class="dropdown"><a href="/logout" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<i
                                class="fa fa-lg fa-gear" style="vertical-align: middle"></i> <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="members/{{ username }}">{{ Profile | trans }}</a></li>
                        <li><a href="editmyprofile">EditMyProfile</a></li>
                        <li><a href="mypreferences">MyPreferences</a></li>
                        <li><a href="messages">MyMessages</a></li>
                        <li><a href="mynotes">ProfileMyNotes</a></li>
                        <li><a href="groups/mygroups">MyGroups</a></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script type="text/javascript">
    <!--
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    //-->
</script>
