{% extends 'base.html.twig' %}

{% block javascripts %}
    {% javascripts
        '@jquery_ui_js'
        '@leaflet_js'
        '@AppBundle/Resources/public/js/search/createmap.js'
        '@AppBundle/Resources/public/js/search/searchpicker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%  endjavascripts %}
{% endblock javascripts %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
        '@leaflet_css'
        '@jquery_ui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div>
        {{ form_start(form, {'method' : 'GET', 'attr': {'class': 'form-inline p-1 m-0 framed'}}) }}
        {{ form_errors(form) }}
        <div class="d-flex flex-wrap justify-content-between w-100">
            <div class="form-group my-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lg fa-bed"></i></span>
                    {{ form_widget(form.search, {'attr': {'class': 'search-picker form-control'}}) }}
                </div>
            </div>
            <div class="form-group my-3">
                <div class="hostcheckimg">{% image 'images/icons/anytime.png' %}<img src="{{ asset_url }}" alt="{{ 'I like to host' | trans }}"/>{% endimage %}
                    <div class="hostcheckbox">{{ form_widget(form.search_accommodation_anytime) }}</div>
                </div>
                <div class="hostcheckimg">{% image 'images/icons/dependonrequest.png' %}<img src="{{ asset_url }}" alt="{{ 'I might host you' | trans }}"/>{% endimage %}
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_dependonrequest) }}</div>
                </div>
                <div class="hostcheckimg">{% image 'images/icons/neverask.png' %}<img src="{{ asset_url }}" alt="{{ 'I can\'t host' | trans }}"/>{% endimage %}
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_neverask) }}</div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.search_can_host) }}
                {{ form_widget(form.search_can_host, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.search_distance) }}
                {{ form_widget(form.search_distance, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
                {{ form_rest(form) }}
                {{ form_widget(form.update_map) }}
        </div>
{#        <div class="row">
            <div class="col-xs mt-1">
                {{ form_widget(form.advanced_options) }}
            </div>
        </div> #}
        {{ form_end(form) }}

        <div id="map" class="framed w-100"></div>

        <script>
            var mapMembers = {% if results %}
                    {{ results.map | json_encode | raw }};
            {% else %}
                 ;
            {% endif %}
        </script>
    </div>

    <div class="col-12">
        {% if results %}
            {% include ':member:results.html.twig' %}
        {% endif %}
    </div>
{% endblock content %}
