{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/jquery_ui.js') }}"></script>
    <script src="{{ asset('build/leaflet.js') }}"></script>
    <script src="{{ asset('build/search/searchpicker.js') }}"></script>
    <script src="{{ asset('build/search/createmap.js') }}"></script>
{% endblock javascripts %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}" />
{% endblock stylesheets %}

{% block content %}

    <div>
        {{ form_start(form, {'attr': {'class': 'form-inline p-1 m-0 framed'}}) }}
        {{ form_errors(form) }}
        <div class="d-flex flex-wrap justify-content-between w-100">
            <div class="form-group my-3">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lg fa-globe"></i></span>
                    {{ form_widget(form.search, {'attr': {'class': 'search-picker form-control'}, 'required': false }) }}
                </div>
            </div>
            <div class="form-group my-3">
                <div class="hostcheckimg"><img src="{{ asset('images/icons/anytime.png') }}" alt="{{ 'I like to host' | trans }}" />
                    <div class="hostcheckbox">{{ form_widget(form.search_accommodation_anytime) }}</div>
                </div>
                <div class="hostcheckimg"><img src="{{ asset('images/icons/dependonrequest.png') }}" alt="{{ 'I might host you' | trans }}"/>
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_dependonrequest) }}</div>
                </div>
                <div class="hostcheckimg"><img src="{{ asset('images/icons/neverask.png') }}" alt="{{ 'I can\'t host' | trans }}"/>
                    <div class="hostcheckbox">
                        {{ form_widget(form.search_accommodation_neverask) }}</div>
                </div>
            </div>
            <div class="form-group">
                <i class="fa fa-lg fa-bed" alt="hosts at least"></i>
                {{ form_label(form.search_can_host) }}
                {{ form_widget(form.search_can_host, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.search_distance) }}
                {{ form_widget(form.search_distance, {'attr': {'class' : 'form-control select2',
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
                {{ form_rest(form) }}
                {{ form_widget(form.update_map) }}
        </div>
{#        <div class="row">
            <div class="col-xs mt-1">
                {{ form_widget(form.advanced_options) }}
            </div>
        </div> #}
        {{ form_end(form) }}

        <div id="map" class="framed w-100"></div>

        <script>
            var mapMembers = {% if results %}
                    {{ results.map | json_encode | raw }};
            {% else %}
                 null;
            {% endif %}
        </script>
    </div>

    <div class="col-12">
        {% if results %}
            {% include ':member:results.html.twig' %}
        {% endif %}
    </div>
{% endblock content %}
