{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
    <script src="{{ asset('build/jquery_ui.js') }}"></script>
    <script src="{{ asset('build/leaflet.js') }}"></script>
    <script src="{{ asset('build/search/searchpicker.js') }}"></script>
    <script src="{{ asset('build/search/createmap.js') }}"></script>
    <script src="{{ asset('build/search/loadcontent.js') }}"></script>
    <script src="{{ asset('build/search/clickfunctions.js') }}"></script>
{% endblock javascripts %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/jquery_ui.css') }}"/>
{% endblock stylesheets %}

{% block content %}
    <div class="container px-0">
        {{ form_start(form, {'attr': {'class': 'm-1'}}) }}
        {{ form_errors(form) }}
        <div class="form-row form-inline align-items-start mb-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-lg fa-globe"></i></span>
                    </div>
                    {{ form_widget(form.location, {'attr': {'class': 'search-picker'}, 'required': false }) }}
                </div>
            </div>
            <div class="form-group mx-2">
                <label class="mx-2"><img src="{{ asset('images/icons/anytime.png') }}"
                                         class="img-check {% if form.accommodation_anytime.vars.checked %}checked{% else %}not_checked{% endif %}"
                                         alt="{{ 'I like to host' | trans }}"/>
                    <div class="d-none">{{ form_widget(form.accommodation_anytime) }}</div>
                </label>
                <label class="mx-2"><img src="{{ asset('images/icons/dependonrequest.png') }}"
                                         class="img-check {% if form.accommodation_dependonrequest.vars.checked %}checked{% else %}not_checked{% endif %}"
                                         alt="{{ 'I might host you' | trans }}"/>
                    <div class="d-none">
                        {{ form_widget(form.accommodation_dependonrequest) }}</div>
                </label>
                <label class="mx-2"><img src="{{ asset('images/icons/neverask.png') }}"
                                         class="img-check {% if form.accommodation_neverask.vars.checked %}check{% else %}not_checked{% endif %}"
                                         alt="{{ 'I can\'t host' | trans }}"/>
                    <div class="d-none">
                        {{ form_widget(form.accommodation_neverask) }}</div>
                </label>
            </div>
            <div id="mapsearchoptions" class="form-group mx-2">
                <i class="fa fa-2x fa-bed mr-1" title="{{ 'search.hosts_at_least' | trans }}"></i> {{ form_label(form.can_host) }}
                {{ form_widget(form.can_host) }}
            </div>
            <div class="form-group mx-2">
                <i class="fa fa-2x fa-bullseye mr-1" title="{{ 'in a radius of' | trans }}"></i>
                {{ form_label(form.distance) }}
                {{ form_widget(form.distance, {'attr': {
                    'data-minimum-results-for-search': '-1'} }) }}
            </div>
            <div class="form-group ml-1">
                <a class="btn btn-primary advanced float-right" data-toggle="collapse" href="#advancedNav" role="button"
                   aria-expanded="false" aria-controls="advancedNav"
                   >{{ 'search.show.advanced' | trans }}</a>
            </div>
            <div class="form-group ml-1">
                {{ form_widget(form.updateMap, {'attr': {'class': 'btn-primary float-right'}}) }}
            </div>
        </div>
        <div class="collapse" id="advancedNav">
            <div class="form-row mb-4">
                <div class="form-group col-12 col-md-6">
                    {{ form_label(form.keywords) }}
                    {{ form_widget(form.keywords) }}
                </div>
                <div class="form-group col-4 col-md-2">
                    {{ form_row(form.offerdinner) }}
                    {{ form_row(form.offertour) }}
                </div>
                <div class="form-group col-8 col-md-4">
                    {{ form_row(form.accessible) }}
                    {{ form_row(form.inactive) }}
                </div>
                <div class="form-group col-6 col-md-3">
                    {{ form_row(form.min_age) }}
                </div>
                    <div class="form-group col-6 col-md-3">
                    {{ form_row(form.max_age) }}
                </div>
                <div class="form-group col-12 col-md-6">
                    {{ form_row(form.gender) }}
                </div>
                <div class="form-group col-12 col-md-6">
                    {{ form_label(form.groups) }}
                    {{ form_widget(form.groups) }}
                </div>
                <div class="form-group col-12 col-md-6">
                    {{ form_label(form.languages) }}
                    {{ form_widget(form.languages) }}
                </div>
                <div class="form-group col-12 col-md-6">
                    {{ form_label(form.order) }}
                    {{ form_widget(form.order) }}
                </div>
                <div class="form-group col-12 col-md-6">
                    {{ form_label(form.items) }}
                    {{ form_widget(form.items) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">

    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div id="map" class="framed w-100"></div>

    <script>
        var mapMembers = {% if results %}
                {{ results.map | json_encode | raw }};
        {% else %}
        null;
        {% endif %}
    </script>

    {% if showMemberDetails %}
        <div class="col-12">
            {% if results %}
                {% include ':member:results.html.twig' %}
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock content %}
