{% extends 'profile/profile.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('micromodal') }}
  {{ encore_entry_script_tags('readmore') }}
{% endblock javascripts %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('readmore') }}
{% endblock stylesheets %}

{% block page_content %}
  <input type="hidden" id="read.more" value="{{ 'comment.read.more'|trans }}">
  <input type="hidden" id="show.less" value="{{ 'comment.show.less'|trans }}">
  <h1>{{ 'profile.friends'|trans }}</h1>
  {% if friends.haveToPaginate %}
    {{ pagerfanta(friends, 'rounded_pagination_end') }}
  {% endif %}
  {{ dump(friends) }}
  {#
  {% for friend in friends %}
    {% include 'friend/friend.html.twig' with {friend: friend} %}
  {% else %}
    {{ 'profile.no.friends'|trans }}
  {% endfor %}
  {% if friends.haveToPaginate %}
    {{ pagerfanta(friends, 'rounded_pagination_end') }}
  {% endif %}
  #}
{% endblock page_content %}

{% block modals %}
  {% for friend in friends %}
    {% set other = friend.left == member ? friend.right : friend.left %}
    <div class="micromodal-slide" id="friendship-delete-{{ friend.left.id }}-{{ friend.right.id }}">
      <div class="modal__overlay u:bg-gray-80 u:bg-opacity-50 u:flex u:justify-center u:absolute u:inset-0 u:z-[2001]">
        <div class="u:bg-white u:p-16 u:m-16 u:rounded-8 u:w-[70%] u:sm:w-[30%] u:md:w-[20%]">
          <p class="u:text-24 u:mb-4 u:font-700 ">{{ 'profile.friend.delete.modal'|trans }}</p>
          <p class="u:text-16 u:mb-8">{{ 'profile.friend.delete'|trans }}</p>
          <hr>
          <footer class="u:flex u:flex-row u:justify-between">
            <button class="o-button"
                    data-micromodal-close>{{ 'profile.friendship.remove.no'|trans|capitalize }}</button>
            <a href="{{ url('remove_friendship', {'username': other.username }) }}"
               class="o-button">{{ 'profile.friendship.remove.yes'|trans|capitalize }}</a>
          </footer>
        </div>
      </div>
    </div>
  {% else %}
  {% endfor %}
{% endblock %}
