{% extends 'profile/profile.html.twig' %}
{% import 'macros.twig' as macros %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('micromodal') }}
  {{ encore_entry_script_tags('readmore') }}
{% endblock javascripts %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('readmore') }}
{% endblock stylesheets %}

{% block page_content %}

  <input type="hidden" id="read.more" value="{{ 'comment.read.more'|trans }}">
  <input type="hidden" id="show.less" value="{{ 'comment.show.less'|trans }}">
<div class="card">
  <div class="card-header u:flex u:flex-row u:justify-between">
    {{ 'profile.friends'|trans }}
  </div>
  <div class="card-body p-2">
    <div class="card-text m-0">
    {% if friends.haveToPaginate %}
      {{ pagerfanta(friends, 'rounded_pagination_end') }}
    {% endif %}

    <div class="u:grid u:grid-cols-3 u:md:grid-cols-6 u:gap-8">
    {% for friend in friends %}
         {% set other = friend.left == member ? friend.right : friend.left %}
        <div class="u:flex u:flex-col u:items-center">
          <div class="o-avatar o-avatar--s u:me-4">
            {{ macros.roundedavatarstack(other.username, 48, false) }}
          </div>
          <a href="{{ url('members_profile', {username: other.username}) }}"
             class="u:text-[.875em] u:text-center"
             style="word-break: break-all;">{{ other.username }}</a>
        </div>
    {% else %}
      {{ 'profile.no.friends'|trans }}
    {% endfor %}
    </div>
    {% if friends.haveToPaginate %}
      {{ pagerfanta(friends, 'rounded_pagination_end') }}
    {% endif %}
    </div>
  </div>
</div>
{% endblock page_content %}