{% extends 'private/mydata.html.twig' %}

{% block javascripts %}
    {% for jsfile in  encore_entry_js_files('gallery')%}
        <script src="{% if isSubDir is defined %}../{% endif %}{{ jsfile|trim('/') }}"></script>
    {% endfor %}
{% endblock javascripts %}

{% block content %}
    <h1>{{ 'mydata.gallery.headline' | trans }}</h1>
    <p>{{ 'mydata.gallery.abstract' | trans }}</p>
    {% if hrefs|length == 0 %}
        <p>{{ 'mydata.gallery.no.image' }}</p>
    {% else %}
        <div id="masonry-grid" class="row mb-2" data-masonry='{"percentPosition": true }'>
        {% for href in hrefs %}
            <div class="col-12 col-md-4">
                <a href="{{ href }}"><img class="img-thumbnail" src="{{ href }}"></a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
