{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.headline' | trans({'username': member.username}) }}</h1>
    <p>{{ 'mydata.abstract' | trans }}</p>

    <div class="card-columns">
        {% for current in extracted %}
            <div class="card o-card">
                <div class="card-header text-truncate">
                    {{ ('mydata.' ~ current ~ ".headline") | trans }}
                </div>
                <div class="card-body">
                    <p>{{ ('mydata.' ~ current ~ ".abstract") | trans }}</p>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-primary" href="{{ current }}.html">{{ 'showdetails'|trans }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
