{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.logs.headline'|trans }}</h1>
    <p>{{ 'mydata.logs.abstract'|trans }}</p>
    {% if logs|length == 0 %}
    <p><strong>{{ 'mydata.logs.no.logs.'|trans }}</strong></p>
    {% else %}
        <table class="table table-striped">
            <tr>
                <th>{{ 'mydata.logs.type'|trans }}</th>
                <th>{{ 'mydata.logs.message'|trans }}</th>
                <th>{{ 'created'|trans }}</th>
            </tr>
            {% for log in logs %}
                <tr>
                    <td>{{ log.type }}</td>
                    <td>{{ log.logMessage }}</td>
                    <td>{{ log.created | format_date('medium') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
