{% extends 'private/mydata.html.twig' %}

{% block content %}
{% set myself = app.user %}
{% if message.Sender.Username == myself.Username %}{% set otherUser = message.Receiver %}{% else %}{% set otherUser = message.Sender %}{% endif %}
<h3>{% if message.subject %}<a href="{{ url('message_show', { id: message.id}) }}">{{ message.subject.subject }}</a>{% else %}{{ 'mydata.message.conversation.other'|trans({'other':otherUser.Username}) }}{% endif %}</h3>
<p>
    {{ 'sender' | trans }}: <a href="{{ url('members_profile', { username: message.sender.username }) }}">{{ message.sender.username }}</a><br>
    {{ 'receiver' | trans }}: <a href="{{ url('members_profile', { username: message.receiver.username }) }}">{{ message.receiver.username }}</a>
</p>
{% if message.request %}
    <p>
        {% if message.request.status == constant('App\\Entity\\HostingRequest::REQUEST_OPEN') %}{{ 'request.open' | trans }}{% endif %}
        {% if message.request.status == constant('App\\Entity\\HostingRequest::REQUEST_CANCELLED') %}{{ 'request.cancelled' | trans }}{% endif %}
        {% if message.request.status == constant('App\\Entity\\HostingRequest::REQUEST_DECLINED') %}{{ 'request.declined' | trans }}{% endif %}
        {% if message.request.status == constant('App\\Entity\\HostingRequest::REQUEST_ACCEPTED') %}{{ 'request.accepted' | trans }}{% endif %}
        {% if message.request.status == constant('App\\Entity\\HostingRequest::REQUEST_TENTATIVELY_ACCEPTED') %}{{ 'request.tentatively_accepted' | trans }}{% endif %}
        <br>
        {{ 'request.arrival' | trans }}: {{ message.request.arrival | format_date( 'medium') }}<br>
        {%- if message.request.departure %}
            {{ 'request.departure' | trans }}: {{ message.request.departure | format_date( 'medium') }}<br>
        {%- endif %}
        {% if message.request.flexible %}{{ 'request.flexible' | trans }}<br>{% endif %}
        {{ 'request.number_of_travellers' | trans}}: {{ message.request.numberOfTravellers }}<br>
    </p>
{% endif %}
<p>
    {{ message.message | purify }}
</p>
    <p>{{ 'mydata.message.sent'|trans({'sent':message.created}) }}</p>
{% endblock content %}
