<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{{ 'mydata.page.title'|trans }}</title>
    {% for cssfile in  encore_entry_css_files('bewelcome')%}
        <link rel="stylesheet" href="{% if isSubDir is defined %}../{% endif %}{{ cssfile|trim('/') }}">
    {% endfor %}
    {% for cssfile in  encore_entry_css_files('tailwind')%}
        <link rel="stylesheet" href="{% if isSubDir is defined %}../{% endif %}{{ cssfile|trim('/') }}">
    {% endfor %}
    {% block javascripts %}
        {% for jsfile in  encore_entry_js_files('bewelcome')%}
            <script src="{% if isSubDir is defined %}../{% endif %}{{ jsfile|trim('/') }}"></script>
        {% endfor %}
    {% endblock javascripts %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-primary bordert-1 borderb-1">
    <div class="container-lg">
        <a class="navbar-brand ml-3" href="{% if isSubDir is defined %}../{% endif %}index.html"><img src="{% if isSubDir is defined %}../{% endif %}images/logo_index_top.png" alt="{{ 'bewelcome' | trans }}"></a>
    </div>
</nav>
<main>
    <div class="container-lg">
        {% block content %}{% endblock content %}
    </div>
</main>
{% include 'private/footer.html.twig' with {'date_generated': date_generated}%}
</body>
</html>
