{% extends 'profile/edit_subpage.html.twig' %}

{% block subpage_title -%}
  {{ 'mydata.headline.download'|trans }}
{%- endblock %}

{% block subpage_body %}
  <p class="p-account-section__help u:mb-16">{{ 'mydata.abstract.download'|trans }}</p>

  {{ form_start(form, {attr: {class: 'p-account-form'}}) }}
  {{ form_errors(form) }}

  <section class="p-account-section">
    <label class="p-account-section__label" for="{{ form.password.vars.id }}">{{ form.password.vars.label|trans }}</label>
    {{ form_widget(form.password, {attr: {class: 'o-input'}}) }}
    {{ form_errors(form.password) }}
    {{ form_help(form.password, {help_attr: {class: 'p-account-section__help'}}) }}
  </section>

  <div class="p-edit-subpage__actions">
    <input type="submit" class="o-button" value="{{ form.submit.vars.label|trans }}">
  </div>
  {% do form.submit.setRendered %}

  {{ form_end(form) }}
{% endblock subpage_body %}
