{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h3>{% if thread %}{{ thread.title|purify }} <a
            class="btn btn-primary" href="{{ url('forum_thread', {'threadId': thread.id}) }}">{{ 'gotothread'|trans }}</a>{% else %}Orphaned post{% endif %}
    </h3>
    {% set posted_in %}{% if group %}<a
        href="{{ url('group_start', {'group_id': group.id}) }}">{{ group.name }}</a>{% else %}the forum{% endif %}{% endset %}
    <p>{{ 'mydata.forums.posted'|trans({'in': posted_in}) }}<br>
        {{ 'mydata.forums.created'|trans({'posted':post.created}) }}{% if post.deleted == 'Deleted' %}<br>
        {{ 'mydata.forums.status'|trans }}: {{ 'mydata.post.deleted'|trans }}{% endif %}</p>
    <div class="post">
        <small class="text-muted">{{ post.language.wordcode|lower|trans|raw }} ({{ post.language.shortCode }})</small><br>
        {{ post.message | purify }}
    </div>
    {% if post.messageTranslations|length > 1 %}
        <p>{{ 'mydata.posts.translations'|trans }}</p>
        {% for locale, translation in post.messageTranslations %}
            {% if post.message != translation.message %}
            <div class="post">
                <small class="text-muted">{{ translation.language.wordcode|lower|trans|raw }} ({{ translation.language.shortCode }})</small><br>
                {{ translation.message | purify }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if thread %}
    <div class="text-right">
        <a class="btn btn-primary" href="{{ url('forum_thread', {'threadId': thread.id, '_fragment': 'post' ~ post.id}) }}">{{ 'gotopost'|trans }}</a>
    </div>
    {% endif %}
{% endblock content %}

