{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.posts.headline'|trans }}</h1>
    <p>{{ 'mydata.posts.abstract'|trans }}</p>
    {% if years|length == 0 %}
    <p><strong>{{ 'mydata.posts.no.posts'|trans }}</strong></p>
    {% else %}
        <div class="row">
            <div class="col-12">
                <p>{{ 'mydata.posts.written'|trans({'written': posts_written}) }}</p>
                <p>{{ 'mydata.threads.contributed'|trans({'contributed': threads_contributed}) }}</p>
            </div>
        </div>
        <div class="card-columns">
            {% for year in years %}
                <div class="card">
                    <div class="card-header">{{ year }}</div>
                    <div class="card-body">
                        <p>{{ 'mydata.posts.threads.contributed'|trans({'contributed':threadsPerYear[year]|length}) }}</p>
                        <p>{{ 'mydata.posts.posts.written'|trans({'written':postsPerYear[year]}) }}</p>
                    </div>
                    <div class="card-footer text-right">{{ 'mydata.posts.overview.year'|trans }} <a class="btn btn-primary" href="posts/posts-{{ year }}.html">{{ year }}</a></div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
