{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.privileges.headline' | trans }}</h1>
    <p>{{ 'mydata.privileges.abstract' | trans }}</p>
    {% if privileges|length == 0 %}
        <p>{{ 'mydata.privileges.no.privileges'|trans }}</p>
    {% else %}
        <div class="card-columns">
        {% for privilege in privileges %}
            <div class="card o-card">
                <div class="card-header text-truncate">
                    {{ privilege.privilege }}
                </div>
                <div class="card-body">
                    <p>{{ 'mydata.privileges.scope'|trans }}: {{ privilege.scope }}</p>
                    <p>{{ 'mydata.privileges.role'|trans }}: {{ privilege.role }}</p>
                    <p>{{ 'mydata.privileges.assigned'|trans }}: {{ privilege.assigned|format_date('medium') }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
