{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.rights.headline' | trans }}</h1>
    <p>{{ 'mydata.rights.abstract' | trans }}</p>
    {% if volunteerrights|length == 0 %}
        <p>{{ 'mydata.rights.no.right' }}</p>
    {% else %}
        <div class="card-columns">
        {% for volunteerright in volunteerrights %}
            <div class="card">
                <div class="card-header text-truncate">
                    {{ volunteerright.right.name }}
                </div>
                <div class="card-body">
                    <p>{{ 'mydata.rights.scope'|trans }}: {{ volunteerright.scope }}</p>
                    <p>{{ 'mydata.rights.level'|trans }}: {{ volunteerright.level }}</p>
                    <p>{{ 'mydata.rights.assigned'|trans }}: {{ volunteerright.created|format_date('medium', 'short', app.request.locale) }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
