{% extends '@base/base.html.twig' %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <div class="float-right">
        {% include '@base/pagination.html.twig' with {
        currentFilters: filter,
        currentPage: page,
        paginationPath: "admin/communitynews",
        lastPage: pages,
        showAlwaysFirstAndLast: false
        } only %}
    </div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="thead-default">
            <tr>
                <th>{{ 'Title' | trans }}</th>
                <th colspan="2"><a class="btn btn-primary float-right" href="{{ path('admin/communitynews/create') }}">{{ 'Create' | trans }}</a></th>
            </tr>
            </thead>
            {% for news in communityNews %}
                <tr>
                    <td>
                        {{ news.title }}
                    </td>
                    <td style="width: 10%"><a class="btn btn-primary" href="{{ path('admin/communitynews/edit', { id: news.id }) }}"><i class="fa fa-pencil" title="{{ 'Edit' | trans }}"></i></a></td>
                    <td style="width: 10%">
                    {%- if news.public == true -%}
                        <a class="btn btn-primary" href="{{ path('admin/communitynews/hide', { id: news.id }) }}"><i class="fa fa-ban" title="{{ 'Hide' | trans }}"></i></a>
                    {%- else -%}
                        <a class="btn btn-outline-secondary" href="{{ path('admin/communitynews/show', { id: news.id }) }}"><i class="fa fa-ban" title="{{ 'Show' | trans }}"></i></a>
                    {%- endif -%}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="float-right">
        {% include '@base/pagination.html.twig' with {
        currentFilters: filter,
        currentPage: page,
        paginationPath: "admin/communitynews",
        lastPage: pages,
        showAlwaysFirstAndLast: false
        } only %}
    </div>
{% endblock content %}
