{% extends '@base/base.html.twig' %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <div class="pull-right">
        {% include '@base/pagination.html.twig' with {
        currentFilters: filter,
        currentPage: page,
        paginationPath: "admin/communitynews",
        lastPage: pages,
        showAlwaysFirstAndLast: false
        } only %}
    </div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="thead-default">
            <tr>
                <th>{{ 'Title' | trans }}</th>
                <th colspan="3" style="text-align: center;"><a class="btn btn-primary" href="{{ path('admin/communitynews/create') }}">{{ 'Create' | trans }}</a></th>
            </tr>
            </thead>
            {% for news in communityNews %}
                <tr>
                    <td>
                        {{ news.title }}
                    </td>
                    <td><a class="btn btn-primary" href="{{ path('admin/communitynews/edit', { id: news.id }) }}"><i class="fa fa-pencil" title="{{ 'Edit' | trans }}"></i></a></td>
                    <td><a class="btn btn-primary" href="{{ path('admin/communitynews/delete', { id: news.id }) }}"><i class="fa fa-remove" title="{{ 'Delete' | trans }}"></i></a></td>
                    <td><a class="btn {% if news.public %}btn-secondary{% else %}btn-primary{% endif %}" href="{{ path('admin/communitynews/tooglepublic', { id: news.id }) }}">{% if news.public %}<i class="fa fa-ban" title="{{ 'Hide' | trans }}"></i>{% else %}<i class="fa fa-ban" title="{{ 'Show' | trans }}"></i>{% endif %}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pull-right">
        {% include '@base/pagination.html.twig' with {
        currentFilters: filter,
        currentPage: page,
        paginationPath: "admin/communitynews",
        lastPage: pages,
        showAlwaysFirstAndLast: false
        } only %}
    </div>
{% endblock content %}
