{% extends '@base/base.html.twig' %}

{% block content %}
    <div class="container">
        {#{{ macros.pagination(currentPage, lastPage, route, routeParams) }}#}
        <table class="table table-striped table-bordered">
            <thead class="thead-default">
            <tr>
                <th>{{ 'Title' | trans }}</th>
                <th colspan="3">{{ 'Actions' | trans }}</th>
            </tr>
            </thead>
            {% for news in communityNews %}
                <tr>
                    <td>
                        {{ news.title }}
                    </td>
                    <td><a href="{{ path('admin/communitynews/edit', { id: news.id }) }}">Edit</a></td>
                    <td><a href="{{ path('admin/communitynews/delete', { id: news.id }) }}">Delete</a></td>
                    <td><a href="{{ path('admin/communitynews/tooglepublic', { id: news.id }) }}">Hide/Show</a></td>
                </tr>
            {% endfor %}
        </table>
        {#{{ macros.pagination(currentPage, lastPage, route, routeParams) }}#}
    </div>
{% endblock content %}
