<div class="card">
    <a name="accommodation"></a>

    <h3 class="card-header">
        <i class="fa fa-home"></i><span class="icontext">Accommodation</span>
        <a href="#" class="btn btn-primary-outline btn-sm pull-xs-right request p-a-0"><i class="fa fa-angle-double-right"></i> Send a request</a>
    </h3>

    <div class="card-block">

        {% if member.id == my_member.id %}
        <div class="form-group row">
            <label for="maxguests" class="col-xs-12 col-md-4">Max. number of guests:</label>
            <div class="col-xs-12 col-md-8"><input class="form-control"type="number" min="0" max="20" value="{{ member.maxguest }}" id="maxguests"></div>
            <label for="maxlengthofstay" class="col-xs-12 col-md-4">Max. length of stay:</label>
            <div class="col-xs-12 col-md-8"><input class="form-control" type="text" value="{{ member.maxlenghtofstay }}" id="maxlengthofstay"></div>
            <div class="col-xs-12"><button class="btn btn-primary">Save</button></div>
        </div>

            <div class="form-group">
                <textarea class="form-control" id="ilivewith"
                        {% if not member.ilivewith  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.ilivewith }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="pleasebring"
                        {% if not member.pleasebring  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.pleasebring }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="otherrestrictions"
                        {% if not member.otherrestrictions  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.otherrestrictions }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="offerguests"
                        {% if not member.offerguests  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.offerguests }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="additionalaccomodationinfo"
                        {% if not member.additionalaccomodationinfo  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.additionalaccomodationinfo }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="publictransport"
                        {% if not member.publictransport  %}
                          placeholder="I live with..."></textarea>
                {% else %}
                    >{{ member.publictransport }}</textarea>
                {% endif %}
                <button class="btn btn-primary">Save</button>
            </div>

        {% else %}

        <p class="card-text m-b-0"><strong>Max. number of guests:</strong> {{ member.maxguest }}</p>
        <p class="card-text m-b-0"><strong>Max. length of stay:</strong> {{ member.maxlenghtofstay }}</p>

        <div id="accordion" role="tablist" aria-multiselectable="true">

            {% if member.ilivewith %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingZero">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">I live with</button>
                        </p>
                    </div>
                    <div id="collapseZero" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingZero">
                        {{ member.ilivewith }}
                    </div>
                    <noscript>{{ member.ilivewith }}</noscript>
                </div>
            {% endif %}

            {% if member.pleasebring %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingOne">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Please bring</button>
                        </p>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingOne">
                        {{ member.pleasebring }}
                    </div>
                    <noscript>{{ member.pleasebring }}</noscript>
                </div>
            {%  endif %}

            {% if member.otherrestrictions %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingTwo">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">House rules</button>
                        </p>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingTwo">
                        {{ member.otherrestrictions }}
                    </div>
                    <noscript>{{ member.otherrestrictions }}</noscript>
                </div>
            {% endif %}

            {% if member.offerguests %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingThree">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">I can offer my guests</button>
                        </p>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingThree">
                        {{ member.offerguests }}
                    </div>
                    <noscript>{{ member.offerguests }}</noscript>
                </div>
            {% endif %}

            {% if member.additionalaccomodationinfo %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingFour">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">About my accommodation</button>
                        </p>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingFour">
                        {{ member.additionalaccomodationinfo }}
                    </div>
                    <noscript>{{ member.additionalaccomodationinfo }}</noscript>
                </div>
            {% endif %}

            {% if member.publictransport %}
                <div class="panel panel-default">
                    <div class="panel-heading m-b-0" role="tab" id="headingFive">
                        <p class="panel-title m-b-0">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How to get there</button>
                        </p>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingFive">
                        {{ member.publictransport }}
                    </div>
                    <noscript>{{ member.publictransport }}</noscript>
                </div>
            {% endif %}
        </div>
            {% endif %}

    </div>
</div>
