{% extends '@base/base.html.twig' %}

{% block content %}

    {% set messages = [
    {
    'title': "Message title #1",
    'id': 12345,
    'user': 'Member-102',
    'time': '10 minutes ago',
    'read': true
    },
    {
    'title': "Message title #2",
    'id': 23456,
    'user': 'Member-103',
    'time': '1 hour ago',
    'read': false
    },
    {
    'title': "Message title #3",
    'id': 34567,
    'user': 'Member-110',
    'time': '10 days ago',
    'read': false
    },
    {
    'title': "Message title #4",
    'id': 45678,
    'user': 'Member-112',
    'time': '2 years ago',
    'read': true
    }
    ]
    %}

    {% set notifications = [
    {
    'title': "This is a system notification",
    'user': 'Member-110',
    'time': '10 minutes ago',
    'read': true
    },
    {
    'title': "Another system notification",
    'user': 'Member-111',
    'time': '1 hour ago',
    'read': true
    },
    {
    'title': "And another one",
    'user': 'Member-112',
    'time': '10 days ago',
    'read': true
    },
    {
    'title': "The fourth one",
    'user': 'Member-113',
    'time': '2 years ago',
    'read': true
    },
    {
    'title': "And the last to be shown",
    'user': 'Member-114',
    'time': '7 years ago',
    'read': true
    }
    ]
    %}

    {% set forum = [
    {
    'title': "This could well be the title of the forum thread",
    'href': 'groups/353/forum/s12345-this-is-just-a-test-link',
    'lastuser': 'Member-120',
    'time': '10 minutes ago',
    'read': true ,
    'forum': true ,
    'group': false ,
    'following': false ,
    },
    {
    'title': "The donation campaign has started!",
    'href': 'forums/s15476-Donation_campaign_for_Bewelcome_has_started_',
    'lastuser': 'Member-121',
    'time': '14 minutes ago',
    'read': true ,
    'forum': true ,
    'group': false ,
    'following': false ,
    },
    {
    'title': "The third ever to be published fake thread",
    'href': 'groups/123/forum/s12345-whatever',
    'lastuser': 'Member-122',
    'time': '20 minutes ago',
    'read': true ,
    'forum': false ,
    'group': true ,
    'following': false ,
    },
    {
    'title': "What happened if I'd make this a real, real long title, so that it would most definitely not fit",
    'href': 'groups/353/forum/s12345-this-is-just-a-test-link',
    'lastuser': 'Member-123',
    'time': '45 minutes ago',
    'read': false ,
    'forum': true ,
    'group': false ,
    'following': true ,
    }
    ]
    %}

    {% set activities = [
    {
    'title': "This is an activity near you!",
    'id': 1,
    'place': 'Berlin',
    'country': 'Germany',
    'year': 2016,
    'month': 02,
    'day': 01,
    'yes': 2,
    'maybe': 25,
    'read': true
    },
    {
    'title': "Eating peanuts with people I don't know",
    'id': 2,
    'place': 'Amsterdam',
    'country': 'Netherlands',
    'year': 2016,
    'month': 03,
    'day': 15,
    'yes': 20,
    'maybe': 400,
    'read': false
    },
    {
    'title': "What happens if the activity title is way longer than the place reserved for it?",
    'id': 3,
    'place': 'Paris',
    'country': 'France',
    'year': 2017,
    'month': 10,
    'day': 30,
    'yes': 0,
    'maybe': 1,
    'read': true
    },

    ]
    %}

        {# main: content begins here #}
        <div id="main">

            <div class="row m-b-2">
                <div class="col-xs-12">
                    <div class="container">
                        <div class="row welcomeback">
                            <div class="hidden-md-down col-lg-1 fullheight">
                                <div class="verticalalign">
                                    <div class="welcomeavatar">
                                        <a href="members/member-101" title="See profile member-101" ><img src="members/avatar/member-101?50_50"></a>
                                        <a href="#"><img src="/images/icons/nosorry.png" class="hoststatus"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-7 fullheight">
                                <div class="verticalalign">
                                    <span class="h1">Welcome back, {{ macros.memberlink('member-101') }}</span><br />
                                    <span class="h4 hidden-xs-down">Your hosting status is
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                hosting
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">hosting</a>
                                                <a class="dropdown-item" href="#">maybe hosting</a>
                                                <a class="dropdown-item" href="#">not hosting</a>
                                            </div>
                                        </div>
                                         in <a href="#">Lyon</a></span>
                                </div>
                            </div>
                            {# where do you want to go? #}
                            <div class="col-xs-12 col-md-12 col-lg-4 fullheight">
                                <div class="input-group verticalalign">
                                    <input type="text" class="form-control" placeholder="Where do you want to go?">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-globe"></i> Go</button>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Alert: only triggers at some events #}
            <div class="alert alert-info alert-dismissible fade in hidden-sm-down" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                Please <a href="#" class="alert-link">upload a profile picture</a>
            </div>

            {# two boxes: messages and community activity #}
            <div class="row m-b-2">

                <!-- entire messages box -->
                <div class="col-md-12 col-lg-5">

                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#messages" class="nav-link active" aria-controls="messages" role="tab" data-toggle="tab">Messages received <span class="label label-primary">3</span></a></li>
                        <li class="nav-item"><a href="#notifications" class="nav-link" aria-controls="sent" role="tab" data-toggle="tab">Notifications</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox m-b-1">

                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">
                                <!-- all / unread messages toggle -->
                                <div class="row text-xs-center p-a-1">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">Unread
                                        </label>
                                    </div>
                                </div>
                                {# received messages #}
                                <div class="scrollcontent">

                                    {# 4x messages data per row #}
                                    {% for message in messages %}
                                        <div class="row p-l-1 p-r-1">
                                            <div class="col-xs-12 fullheight">
                                                <div class="hidden-xs-down pull-xs-left avatarpadding">
                                                    <a href="members/{{ message.user }}"><img class="float_left framed" src="members/avatar/{{ message.user }}?50_50" alt="Profile" /></a>
                                                </div>
                                                <div class="dashentry">
                                                    <p class="text-truncate">
                                                        {% if not message.read %}<strong>{% endif %}
                                                            <a href="messages/{{ message.id }}">{{ message.title }}</a>
                                                            {% if not message.read %}</strong>{% endif %}<br>
                                                        <small>from <a href="members/{{ message.user }}">{{ message.user }}</a> {{ message.time }}</small>
                                                    </p>
                                                </div>
                                                <div class="pull-xs-right hidden-md-down chevplace">
                                                    <a href="messages/{{ message.id }}"><i class="fa fa-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <em>no messages</em>
                                    {% endfor %}

                                </div>

                            </div>

                            {# load system notifications #}
                            <div role="tabpanel" class="tab-pane" id="notifications">

                                <div class="scrollcontent">
                                    {# 5x system notification per row #}

                                    {% for notification in notifications %}

                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left avatarpadding">
                                                <a href="members/{{ notification.user }}"><img class="float_left framed" src="members/avatar/{{ notification.user }}?50_50" alt="{{ notification.user }}" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                    {% if not notification.read %}<strong>{% endif %}
                                                    <a href="#">{{ notification.title }}</a>
                                                        {% if not notification.read %}</strong>{% endif %}<br>
                                                    <small>Sent {{ notification.time }}</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right hidden-md-down chevplace">
                                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                        <em>no notifications</em>
                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                        <!-- message buttons -->
                        <div class="text-xs-center">
                                <a href="messages" class="btn btn-outline-primary"><i class="fa fa-envelope"></i> My inbox <span class="label label-primary label-pill">3</span></a>
                        </div>
                    </div>
                </div>

                {# community updates box #}
                <div class="col-md-12 col-lg-7">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#forum" class="nav-link active" aria-controls="forum" role="tab" data-toggle="tab">Forum <span class="label label-primary">2</span></a></li>
                        <li class="nav-item"><a href="#activities" class="nav-link" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
                    </ul>

                    {# bordered box #}
                    <div class="dashbox">
                        {# tabs content #}
                        <div class="tab-content">
                            {# forum discussions #}
                            <div role="tabpanel" class="tab-pane active" id="forum">

                                {# display settings#}
                                <div class="row text-xs-center p-a-1">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="checkbox" autocomplete="off" checked> groups
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> forum
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> threads I'm following
                                        </label>
                                    </div>
                                </div>

                                <div class="scrollcontent">

                                    {# 4 most recent forum messages #}
                                    {% for thread in forum %}

                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left avatarpadding">
                                                <a href="members/{{ thread.lastuser }}"><img class="float_left framed" src="members/avatar/{{ thread.lastuser }}?50_50" alt="{{ thread.lastuser }}" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                {% if not thread.read %}<strong>{% endif %}
                                                        <a href="{{ thread.href }}">{{ thread.title|e }}</a>
                                                {% if not thread.read %}</strong>{% endif %}<br>
                                                    <small>by <a href="members/{{ thread.lastuser }}">{{ thread.lastuser }}</a> {{ thread.time }}</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right hidden-md-down chevplace">
                                                <a href="{{ thread.href }}"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                        {% endfor %}

                                    {# infinite scroll??? #}

                                </div>

                                <div class="text-xs-center">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a href="forums" class="btn btn-outline-primary"><i class="fa fa-comments"></i> View forums</a>
                                        <a href="groups/mygroups" class="btn btn-outline-primary"><i class="fa fa-users"></i> My groups</a>
                                        <a href="forums/subscriptions" class="btn btn-outline-primary"><i class="fa fa-check-square-o"></i> My subscriptions</a>
                                    </div>
                                </div>

                            </div>

                            {# load activities #}
                            <div role="tabpanel" class="tab-pane" id="activities">

                                <div class="row text-xs-center p-a-1">
                                        <div class="btn-group" role="group">
                                            <a href="forums" class="btn btn-outline-primary"><i class="fa fa-map-o"></i> All activities</a>
                                            <a href="groups/mygroups" class="btn btn-outline-primary"><i class="fa fa-calendar"></i> My activities</a>
                                            <a href="forums/subscriptions" class="btn btn-outline-primary"><i class="fa fa-calendar-plus-o"></i> Create activity</a>
                                        </div>
                                </div>

                                <div class="col-xs-12">
                                    <table class="table">
                                        <tbody>

                                        {% for activity in activities %}
                                            <tr>
                                                <td class="p-l-0 p-r-0 verticalmiddle">
                                                    <div class="calendar calendar-icon-{{ activity.month }}">
                                                        <div class="calendar-day">{{ activity.day }}</div>
                                                    </div>
                                                </td>
                                                <td class="p-l-0 dateandtitle">
                                                            <small class="calendar-year">{{ activity.day }}-{{ activity.month }}-{{ activity.year }}</small><br>
                                                            <span class="text-truncate activitytitle"><strong><a href="activities/{{ activity.id }}">{{ activity.title }}</a></strong></span>
                                                </td>
                                                <td class="p-a-0 verticalmiddle">
                                                    <span class="h4"><i class="fa fa-map-marker"></i></span>
                                                </td>
                                                <td class="compacttext verticalmiddle activityinfo">
                                                    <small>{{ activity.place }}<br>{{ activity.country }}</small>
                                                </td>
                                                <td class="p-a-0 verticalmiddle">
                                                <span class="h4"><i class="fa fa-users"></i></span>
                                                </td>
                                                <td class="compacttext p-r-0 verticalmiddle activityinfo">
                                                    <small>{{ activity.yes }} yes<br>{{ activity.maybe }} maybe</small>
                                                </td>
                                            </tr>
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        <p>No activites near you</p>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# 4 widgets#}
            <div class="card-deck-wrapper m-b-2">
                <div class="card-deck">

                    {# Be Involved #}
                    <div class="card card-4">
                        <div class="card-block">
                            <h4 class="card-title">Be Involved<br /><small>help the community</small></h4>
                            <p class="card-text text-justify">BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!</p>
                            <a href="about/getactive" class="btn btn-outline-primary btn-block m-b-1"><i class="fa fa-wrench"></i> Help BeWelcome</a>
                            <a href="donate" class="btn btn-outline-primary btn-block m-b-1"><i class="fa fa-euro"></i> Please donate</a>
                            <p class="card-text text-xs-center m-b-0">Goal for 2016-2017: <strong>€1000,-</strong></p>
                            <progress class="progress progress-primary m-a-0" value="60" max="100"></progress>
                            <p class="card-text text-xs-center"><strong>€600.00</strong> received</p>
                        </div>
                    </div>

                    {# Potential guests #}
                    <div class="card card-3 hidden-md-down">
                        <div class="card-block">
                            <h4 class="card-title">Potential guests<br /><small>travelers in your area</small></h4>

                                <div class="media m-t-1">
                                    <div class="h6 m-a-0"><a href="#">Member-150</a></div>
                                    <div class="media-left p-a-0 pull-xs-left">
                                        <a href="#">
                                            <img class="float_left framed" src="members/avatar/member-150?50_50" alt="Profile" />
                                        </a>
                                    </div>
                                    <div class="media-body p-a-0">
                                        <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <small>01-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-rocket"></i> <small>04-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <small>Berlin, Germany</small></p>
                                    </div>
                                </div>

                            <div class="media m-t-1">
                                    <div class="h6 m-a-0"><a href="#">Member-161</a></div>
                                    <div class="media-left p-a-0 pull-xs-left">
                                        <a href="#">
                                            <img class="float_left framed" src="members/avatar/member-161?50_50" alt="Profile" />
                                        </a>
                                    </div>
                                    <div class="media-body p-a-0">
                                        <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <small>20-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-rocket"></i> <small>25-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <small>Paris, France</small></p>
                                    </div>
                                </div>

                           <div class="btn-group m-t-1" role="group">
                                <a href="trips" class="btn btn-outline-primary btn-block"><i class="fa fa-plus-circle"></i> View more</a>
                                <a href="trips/create" class="btn btn-outline-primary btn-block"><i class="fa fa-map-marker"></i> Plan your trip</a>
                            </div>
                        </div>
                    </div>

                    {# Community News #}
                    <div class="card card-3 hidden-md-down">
                        <div class="card-block">
                            <h4 class="card-title">Community News<br /><small>and other updates</small></h4>

                            <h5><a href="#">Outcomes GA2015</a></h5>
                            <p class="card-text text-justify">Just the first line. Maybe the second. Let's say about fourty words, so someone can read something. I have to fill up this text to get to approximately 40 words, else you won't see the effect. Then ... <a href="#" class="btn-outline-primary">Read more</a></p>
                            <div><small>01-01-2016</small><small class="pull-xs-right">3 comments</small></div>

                            <a href="mypreferences" class="btn btn-outline-primary btn-block m-t-2"><i class="fa fa-newspaper-o"></i> Older news</a>
                        </div>
                    </div>

                    {# Be Informed #}
                    <div class="card card-2">
                        <div class="card-block">
                            <h4 class="card-title">Be Informed<br /><small>Transparency</small></h4>
                            <a href="faq" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-question"></i> About</a>
                            <a href="faq" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-question"></i> FAQ</a>
                            <a href="wiki" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-book"></i> Wiki</a>
                            <a href="safety" class="btn btn-outline-primary btn-sm btn-block m-b-1"><i class="fa fa-shield"></i> Contact</a>
                            <a href="wiki/BeVolunteer" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-bullseye"></i> BeVolunteer</a>
                            <a href="wiki/Annual_Report" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-book"></i> Annual report</a>
                            <a href="wiki/Finances" class="btn btn-outline-primary btn-sm btn-block m-b-1"><i class="fa fa-money"></i> Finances</a>
                            <a href="wiki/Annual_Report" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-book"></i> Terms of Use</a>
                            <a href="wiki/Annual_Report" class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-book"></i> Privacy Policy</a>
                        </div>
                    </div>

                </div>
            </div>
            {# end of widgets #}
        </div>{# end of main #}

{% endblock content %}